# Adapted from CosmosDB SQL Bicep examples:
# https://docs.microsoft.com/en-us/azure/cosmos-db/sql/manage-with-bicep#create-sproc
apiVersion: documentdb.azure.com/v1alpha1api20210515
kind: SqlDatabaseContainerTrigger
metadata:
  name: sample-sql-trigger-alpha
  namespace: default
spec:
  location: westcentralus
  owner:
    name: sample-sql-container-alpha
  resource:
    id: sample-sql-trigger-alpha
    triggerType: Pre
    triggerOperation: Create
    body: |
      function validateToDoItemTimestamp(){
          var context=getContext();
          var request=context.getRequest();
          var itemToCreate=request.getBody();
          if(!('timestamp' in itemToCreate)) {
               var ts=new Date();
               itemToCreate['timestamp']=ts.getTime();
          }
          request.setBody(itemToCreate);
      }
