# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# go-task file hashes
.task/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.lcov

# Dependency directories (remove the comment below to include it)
# vendor/

# vscode nonsense
.vscode
# goland nonsense
.idea
# bins not allowed
bin
# osx nonsense
.DS_Store
# built from the makefile
.k8sinfra.cluster
.env

pki/certs

dist

template.json

hack/tools

.tiltbuild

hack/tools
