{{ define "crd" }}
---
title: {{ .Group }}/{{ .Version }}
linktitle: {{ .Version }}
---

{{ range .Declarations "ranked" }}

## {{ .Name }}{# {{- .ID -}}}

{{ .Description | inlineLinks | unwrap | applyEdits -}}
{{ template "usage" . }}

{{ with . | asPropertyContainer }}
{{ template "properties" . }}
{{ end }}

{{ with . | asResource }}
### {{ .Spec.Type.ID }} {# {{- .Spec.Type.ID -}} }

{{ template "properties" ( .Spec.Type.ID | lookupDeclaration | asPropertyContainer ) }}

### {{ .Status.Type.Name }}{# {{- .Status.Type.ID -}} }

{{ template "properties" ( .Status.Type.ID | lookupDeclaration | asPropertyContainer ) }}

{{ end }}

{{- with . | asEnum }}
{{ template "values" . }}
{{ end -}}

{{ end -}}
{{ end -}}
