{{ define "properties" }}
{{ if . }}
{{ if .Properties -}}

| Property | Description | Type |
| -------- | ----------- | ---- |
{{ range .Embeds -}}
{{ template "embed" . }}
{{ end -}}
{{ range .Properties -}}
{{ template "property" . }}
{{ end -}}

{{ end -}}
{{ end }}
{{ end }}
