{{ define "usage" }}

{{ if .Usage -}}
Used by: {{ range .Usage | asPropertyReferenceList -}}
{{- if not .First}}{{ if .Last }}, and {{ else }}, {{ end }}{{ end -}}
[{{ .Item.HostName }}](#{{ .Item.HostID }})
{{- end -}}.
{{- end -}}

{{ end }}
