config/crd/bases/
config/crd/patches/
config/crd/out
config/crd/kustomization.yaml
config/webhook/manifests.yaml
config/rbac/role.yaml

# Helm chart manifest
charts/azure-service-operator/templates/generated
charts/azure-service-operator/crds
