# Example showing how to use a ConfigMap to provide the IPv4 address for a PrivateDnsZonesARecord
# This is useful when:
# - Private Endpoints are managed in different subscriptions
# - Private Endpoints are managed by other tools (Terraform, Azure Portal)
# - IP addresses need to be dynamically updated without modifying the DNS record manifest

---
# ConfigMap containing the IP address(es)
apiVersion: v1
kind: ConfigMap
metadata:
  name: private-endpoint-ips
  namespace: default
data:
  external-service-ip: "10.10.0.50"
  database-endpoint-ip: "10.10.0.51"

---
# PrivateDnsZonesARecord using ConfigMap reference
apiVersion: network.azure.com/v1api20240601
kind: PrivateDnsZonesARecord
metadata:
  name: external-service
  namespace: default
spec:
  aRecords:
  - ipv4AddressFromConfig:
      name: private-endpoint-ips
      key: external-service-ip
  owner:
    name: aso-sample-pdz.com
  ttl: 300
