# Example showing how to use a ConfigMap to provide the IPv6 address for a PrivateDnsZonesAAAARecord
# This is useful when:
# - Private Endpoints are managed in different subscriptions
# - Private Endpoints are managed by other tools (Terraform, Azure Portal)
# - IPv6 addresses need to be dynamically updated without modifying the DNS record manifest

---
# ConfigMap containing the IPv6 address(es)
apiVersion: v1
kind: ConfigMap
metadata:
  name: private-endpoint-ipv6s
  namespace: default
data:
  external-service-ipv6: "2001:0db8:85a3:0000:0000:8a2e:0370:7334"
  database-endpoint-ipv6: "2001:0db8:85a3:0000:0000:8a2e:0370:7335"

---
# PrivateDnsZonesAAAARecord using ConfigMap reference
apiVersion: network.azure.com/v1api20200601
kind: PrivateDnsZonesAAAARecord
metadata:
  name: external-service-ipv6
  namespace: default
spec:
  aaaaRecords:
  - ipv6AddressFromConfig:
      name: private-endpoint-ipv6s
      key: external-service-ipv6
  owner:
    name: aso-sample-pdz.com
  ttl: 300
