apiVersion: apps/v1
kind: Deployment
metadata:
  {{- with .Values.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    app.kubernetes.io/name: azure-service-operator
    app.kubernetes.io/version: v2.14.0
    control-plane: controller-manager
  name: azureserviceoperator-controller-manager
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      control-plane: controller-manager
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8}}
        {{- end }}
        kubectl.kubernetes.io/default-container: manager
      labels:
        {{- if .Values.aadPodIdentity.enable }}
        aadpodidbinding: aso-manager-binding
        {{- end }}
        app.kubernetes.io/name: azure-service-operator
        app.kubernetes.io/version: v2.14.0
        control-plane: controller-manager
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - args:
        {{- if .Values.metrics.enable}}
        - --metrics-addr={{ tpl .Values.metrics.address . }}
        - --secure-metrics={{ .Values.metrics.secure }}
        - --profiling-metrics={{ .Values.metrics.profiling }}
        {{- end }}
        - --health-addr=:8081
        - --enable-leader-election
        - --v=2
        {{- if and (eq .Values.installCRDs true) (or (eq .Values.multitenant.enable false) (eq .Values.azureOperatorMode "webhooks")) }}
        - --crd-pattern={{ .Values.crdPattern }}
        {{- end }}
        - --webhook-port={{ .Values.webhook.port }}
        {{- if or (eq .Values.multitenant.enable false) (eq .Values.azureOperatorMode "webhooks") }}
        - --webhook-cert-dir={{ .Values.webhook.certDir }}
        {{- end }}
        {{- if (eq .Values.useJSONLogging true) }}
        - --json-logging
        {{- end }}
        env:
        {{- if .Values.go.memLimit }}
        - name: GOMEMLIMIT
          value: {{ .Values.go.memLimit }}
        {{- end }}
        - name: AZURE_CLIENT_ID
          valueFrom:
            secretKeyRef:
              key: AZURE_CLIENT_ID
              name: aso-controller-settings
        - name: AZURE_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              key: AZURE_CLIENT_SECRET
              name: aso-controller-settings
              optional: true
        - name: AZURE_TENANT_ID
          valueFrom:
            secretKeyRef:
              key: AZURE_TENANT_ID
              name: aso-controller-settings
        - name: AZURE_ADDITIONAL_TENANTS
          valueFrom:
            secretKeyRef:
              name: aso-controller-settings
              key: AZURE_ADDITIONAL_TENANTS
              optional: true
        - name: AZURE_SUBSCRIPTION_ID
          valueFrom:
            secretKeyRef:
              key: AZURE_SUBSCRIPTION_ID
              name: aso-controller-settings
        - name: AZURE_USER_ASSIGNED_IDENTITY_CREDENTIALS
          valueFrom:
            secretKeyRef:
              name: aso-controller-settings
              key: AZURE_USER_ASSIGNED_IDENTITY_CREDENTIALS
              optional: true
        - name: AZURE_CLIENT_CERTIFICATE
          valueFrom:
            secretKeyRef:
              key: AZURE_CLIENT_CERTIFICATE
              name: aso-controller-settings
              optional: true
        - name: AZURE_CLIENT_CERTIFICATE_PASSWORD
          valueFrom:
            secretKeyRef:
              key: AZURE_CLIENT_CERTIFICATE_PASSWORD
              name: aso-controller-settings
              optional: true
        - name: AZURE_AUTHORITY_HOST
          valueFrom:
            secretKeyRef:
              key: AZURE_AUTHORITY_HOST
              name: aso-controller-settings
              optional: true
        - name: AZURE_RESOURCE_MANAGER_ENDPOINT
          valueFrom:
            secretKeyRef:
              key: AZURE_RESOURCE_MANAGER_ENDPOINT
              name: aso-controller-settings
              optional: true
        - name: AZURE_RESOURCE_MANAGER_AUDIENCE
          valueFrom:
            secretKeyRef:
              key: AZURE_RESOURCE_MANAGER_AUDIENCE
              name: aso-controller-settings
              optional: true
        - name: AZURE_TARGET_NAMESPACES
          valueFrom:
            secretKeyRef:
              key: AZURE_TARGET_NAMESPACES
              name: aso-controller-settings
              optional: true
        - name: AZURE_OPERATOR_MODE
          valueFrom:
            secretKeyRef:
              key: AZURE_OPERATOR_MODE
              name: aso-controller-settings
              optional: true
        - name: AZURE_SYNC_PERIOD
          valueFrom:
            secretKeyRef:
              key: AZURE_SYNC_PERIOD
              name: aso-controller-settings
              optional: true
        - name: USE_WORKLOAD_IDENTITY_AUTH
          valueFrom:
            secretKeyRef:
              key: USE_WORKLOAD_IDENTITY_AUTH
              name: aso-controller-settings
              optional: true
        - name: AZURE_USER_AGENT_SUFFIX
          valueFrom:
            secretKeyRef:
              key: AZURE_USER_AGENT_SUFFIX
              name: aso-controller-settings
              optional: true
        - name: MAX_CONCURRENT_RECONCILES
          valueFrom:
            secretKeyRef:
              key: MAX_CONCURRENT_RECONCILES
              name: aso-controller-settings
              optional: true
        - name: RATE_LIMIT_MODE
          valueFrom:
            secretKeyRef:
              key: RATE_LIMIT_MODE
              name: aso-controller-settings
              optional: true
        - name: RATE_LIMIT_QPS
          valueFrom:
            secretKeyRef:
              key: RATE_LIMIT_QPS
              name: aso-controller-settings
              optional: true
        - name: RATE_LIMIT_BUCKET_SIZE
          valueFrom:
            secretKeyRef:
              key: RATE_LIMIT_BUCKET_SIZE
              name: aso-controller-settings
              optional: true
        - name: DEFAULT_RECONCILE_POLICY
          valueFrom:
            secretKeyRef:
              key: DEFAULT_RECONCILE_POLICY
              name: aso-controller-settings
              optional: true
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        {{- with .Values.extraEnv }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        image: {{ tpl .Values.image.repository . }}
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
        name: manager
        ports:
        - containerPort: {{ .Values.webhook.port }}
          name: webhook-server
          protocol: TCP
        - containerPort: 8081
          name: health-port
          protocol: TCP
        - containerPort: 8443
          name: metrics-port
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
        {{- with .Values.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.securityContext }}
        securityContext:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        startupProbe:
          httpGet:
            path: /healthz
            port: 8081
          periodSeconds: 10
          failureThreshold: 12
        volumeMounts:
        - mountPath: /var/run/secrets/tokens
          name: azure-identity
          readOnly: true
        {{- if or (eq .Values.multitenant.enable false) (eq .Values.azureOperatorMode "webhooks") }}
        - mountPath: {{ .Values.webhook.certDir }}
          name: cert
          readOnly: true
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: "{{ . }}"
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "azure-service-operator.serviceAccountName" . }}
      terminationGracePeriodSeconds: 10
      volumes:
      {{- if or (eq .Values.multitenant.enable false) (eq .Values.azureOperatorMode "webhooks") }}
      - name: cert
        secret:
          defaultMode: 420
          secretName: webhook-server-cert
      {{- end }}
      - name: azure-identity
        projected:
          defaultMode: 420
          sources:
          - serviceAccountToken:
              audience: api://AzureADTokenExchange
              expirationSeconds: 3600
              path: azure-identity
