{{- if and (eq .Values.installCRDs true) (or (eq .Values.multitenant.enable false) (eq .Values.azureOperatorMode "webhooks")) }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: azureserviceoperator-crd-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: azureserviceoperator-crd-manager-role
subjects:
- kind: ServiceAccount
  name: {{ include "azure-service-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
