---
version: 1
interactions:
- request:
    body: '{"name":"k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab","location":"westus2","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-06-01","name":"asotest-rg-qwiiib","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"type":"Microsoft.Resources/resourceGroups"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Resources/resourceGroups'',
      ''asotest-rg-qwiiib'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab?api-version=2019-10-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab","name":"k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab","type":"Microsoft.Resources/deployments","location":"westus2","properties":{"templateHash":"1553462447504056586","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent,
      ResponseContent"},"provisioningState":"Accepted","timestamp":"2001-02-03T04:05:06Z","duration":"PT0.711194S","correlationId":"2ea92dd8-e931-405e-aa05-24024cecaaf0","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus2"]}]}],"dependencies":[]}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab/operationStatuses/08585771334886771505?api-version=2019-10-01
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab","name":"k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab","type":"Microsoft.Resources/deployments","location":"westus2","properties":{"templateHash":"1553462447504056586","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent,
      ResponseContent"},"provisioningState":"Accepted","timestamp":"2001-02-03T04:05:06Z","duration":"PT0.711194S","correlationId":"2ea92dd8-e931-405e-aa05-24024cecaaf0","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus2"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab","name":"k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab","type":"Microsoft.Resources/deployments","location":"westus2","properties":{"templateHash":"1553462447504056586","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent,
      ResponseContent"},"provisioningState":"Succeeded","timestamp":"2001-02-03T04:05:06Z","duration":"PT3.8032229S","correlationId":"2ea92dd8-e931-405e-aa05-24024cecaaf0","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus2"]}]}],"dependencies":[],"outputs":{"resourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/resourceGroups/asotest-rg-qwiiib"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qwiiib"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qwiiib?api-version=2020-06-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qwiiib","name":"asotest-rg-qwiiib","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab?api-version=2019-10-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1HTlMtLUs4Uzo1RkE2OTVFRDY2OjJEQzM1QzoyRDUzQTE6MkQ4QUNGOjJENzNFRUJEN0YwNUFCLSIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2019-10-01
      Retry-After:
      - "15"
      X-Ms-Ratelimit-Remaining-Subscription-Deletes:
      - "14994"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab","location":"westus2","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-06-01","name":"asotest-rg-qwiiib","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z","tag1":"value1"},"type":"Microsoft.Resources/resourceGroups"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Resources/resourceGroups'',
      ''asotest-rg-qwiiib'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_a695ed66-c35c-53a1-8acf-73eebd7f05ab?api-version=2019-10-01[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "9"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qwiiib?api-version=2020-06-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-qwiiib''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
