---
version: 1
interactions:
- request:
    body: '{"name":"k8s_df555267-f893-56c9-a777-fb81bb3748d5","location":"westus","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-06-01","name":"k8sinfratest-rg-dnhfns","location":"westus","tags":{"CreatedAt":"2021-01-19T22:02:38Z"},"type":"Microsoft.Resources/resourceGroups"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Resources/resourceGroups'', ''k8sinfratest-rg-dnhfns'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_df555267-f893-56c9-a777-fb81bb3748d5?api-version=2019-10-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_df555267-f893-56c9-a777-fb81bb3748d5","name":"k8s_df555267-f893-56c9-a777-fb81bb3748d5","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"10038291771661172997","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2021-01-19T22:02:55.790435Z","duration":"PT4.4548204S","correlationId":"a2f88a52-5f58-4584-9e73-af017ac7976f","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_df555267-f893-56c9-a777-fb81bb3748d5/operationStatuses/08585905131141419981?api-version=2019-10-01
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_df555267-f893-56c9-a777-fb81bb3748d5?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_df555267-f893-56c9-a777-fb81bb3748d5","name":"k8s_df555267-f893-56c9-a777-fb81bb3748d5","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"10038291771661172997","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2021-01-19T22:02:55.790435Z","duration":"PT4.4548204S","correlationId":"a2f88a52-5f58-4584-9e73-af017ac7976f","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_df555267-f893-56c9-a777-fb81bb3748d5?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_df555267-f893-56c9-a777-fb81bb3748d5","name":"k8s_df555267-f893-56c9-a777-fb81bb3748d5","type":"Microsoft.Resources/deployments","location":"westus","properties":{"templateHash":"10038291771661172997","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Succeeded","timestamp":"2021-01-19T22:03:02.8029726Z","duration":"PT11.467358S","correlationId":"a2f88a52-5f58-4584-9e73-af017ac7976f","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus"]}]}],"dependencies":[],"outputs":{"resourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/resourceGroups/k8sinfratest-rg-dnhfns"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dnhfns"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dnhfns?api-version=2020-06-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dnhfns","name":"k8sinfratest-rg-dnhfns","type":"Microsoft.Resources/resourceGroups","location":"westus","tags":{"CreatedAt":"2021-01-19T22:02:38Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_df555267-f893-56c9-a777-fb81bb3748d5?api-version=2019-10-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1HTlMtLUs4Uzo1RkRGNTU1MjY3OjJERjg5MzoyRDU2Qzk6MkRBNzc3OjJERkI4MUJCMzc0OEQ1LSIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2019-10-01
      Retry-After:
      - "15"
      X-Ms-Ratelimit-Remaining-Subscription-Deletes:
      - "14999"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"k8s_234c5afb-56ca-5133-b1e2-9d901f2b7ea1","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2015-04-08","kind":"GlobalDocumentDB","location":"westus","name":"k8sinfratestdbhmayhx","properties":{"databaseAccountOfferType":"Standard","locations":[{"locationName":"westus"}]},"type":"Microsoft.DocumentDB/databaseAccounts"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.DocumentDB/databaseAccounts'', ''k8sinfratestdbhmayhx'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/k8sinfratest-rg-dnhfns/providers/Microsoft.Resources/deployments/k8s_234c5afb-56ca-5133-b1e2-9d901f2b7ea1?api-version=2019-10[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dnhfns/providers/Microsoft.Resources/deployments/k8s_234c5afb-56ca-5133-b1e2-9d901f2b7ea1?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dnhfns/providers/Microsoft.Resources/deployments/k8s_234c5afb-56ca-5133-b1e2-9d901f2b7ea1","name":"k8s_234c5afb-56ca-5133-b1e2-9d901f2b7ea1","type":"Microsoft.Resources/deployments","properties":{"templateHash":"6776755900857513625","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent, ResponseContent"},"provisioningState":"Accepted","timestamp":"2021-01-19T22:03:10.8614013Z","duration":"PT1.1650422S","correlationId":"735af330-dbcd-4bf7-b22c-1205b3cea15a","providers":[{"namespace":"Microsoft.DocumentDB","resourceTypes":[{"resourceType":"databaseAccounts","locations":["westus"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dnhfns/providers/Microsoft.DocumentDB/databaseAccounts/k8sinfratestdbhmayhx?api-version=2015-04-08
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dnhfns/providers/Microsoft.DocumentDB/databaseAccounts/k8sinfratestdbhmayhx","name":"k8sinfratestdbhmayhx","location":"West US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2021-01-19T22:03:48.2932101Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://k8sinfratestdbhmayhx.documents.azure.com:443/","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"instanceId":"65c2d03c-7a90-4781-ae94-221c028bd8e3","createMode":"Default","databaseAccountOfferType":"Standard","ipRangeFilter":"","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"k8sinfratestdbhmayhx-westus","locationName":"West US","documentEndpoint":"https://k8sinfratestdbhmayhx-westus.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"k8sinfratestdbhmayhx-westus","locationName":"West US","documentEndpoint":"https://k8sinfratestdbhmayhx-westus.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"k8sinfratestdbhmayhx-westus","locationName":"West US","documentEndpoint":"https://k8sinfratestdbhmayhx-westus.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"k8sinfratestdbhmayhx-westus","locationName":"West US","failoverPriority":0}],"cors":[],"capabilities":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8}}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.11.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/k8sinfratest-rg-dnhfns/providers/Microsoft.DocumentDB/databaseAccounts/k8sinfratestdbhmayhx?api-version=2015-04-08
    method: GET
  response:
    body: '{"code":"NotFound","message":"Entity with the specified id does not exist in the system. More info: https://aka.ms/cosmosdb-tsg-not-found\r\nActivityId: 38ffaf48-a385-4968-b0f6-8c606426c81e, Microsoft.Azure.Documents.Common/2.11.0"}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.11.0
    status: 404 Not Found
    code: 404
    duration: ""
[...]
