---
version: 1
interactions:
- request:
    body: '{"name":"k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42","location":"westus2","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-06-01","name":"asotest-rg-sbiboa","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"type":"Microsoft.Resources/resourceGroups"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Resources/resourceGroups'',
      ''asotest-rg-sbiboa'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42?api-version=2019-10-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42","name":"k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42","type":"Microsoft.Resources/deployments","location":"westus2","properties":{"templateHash":"13918104672835275982","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent,
      ResponseContent"},"provisioningState":"Accepted","timestamp":"2001-02-03T04:05:06Z","duration":"PT0.6648599S","correlationId":"73634254-41a2-4191-8f6d-a6f0341955b9","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus2"]}]}],"dependencies":[]}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42/operationStatuses/08585771334886818542?api-version=2019-10-01
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42","name":"k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42","type":"Microsoft.Resources/deployments","location":"westus2","properties":{"templateHash":"13918104672835275982","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent,
      ResponseContent"},"provisioningState":"Accepted","timestamp":"2001-02-03T04:05:06Z","duration":"PT0.6648599S","correlationId":"73634254-41a2-4191-8f6d-a6f0341955b9","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus2"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42","name":"k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42","type":"Microsoft.Resources/deployments","location":"westus2","properties":{"templateHash":"13918104672835275982","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent,
      ResponseContent"},"provisioningState":"Succeeded","timestamp":"2001-02-03T04:05:06Z","duration":"PT3.5839244S","correlationId":"73634254-41a2-4191-8f6d-a6f0341955b9","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"resourceGroups","locations":["westus2"]}]}],"dependencies":[],"outputs":{"resourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/resourceGroups/asotest-rg-sbiboa"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-sbiboa"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-sbiboa?api-version=2020-06-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-sbiboa","name":"asotest-rg-sbiboa","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Resources/deployments/k8s_872c0e5e-ab95-5d6d-ae7d-214a32f3ae42?api-version=2019-10-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnREZWxldGlvbkpvYi1HTlMtLUs4Uzo1Rjg3MkMwRTVFOjJEQUI5NToyRDVENkQ6MkRBRTdEOjJEMjE0QTMyRjNBRTQyLSIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2019-10-01
      Retry-After:
      - "15"
      X-Ms-Ratelimit-Remaining-Subscription-Deletes:
      - "14994"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"k8s_4bc0b700-92b9-539a-a027-3bb76588f646","Properties":{"Error":null,"debugSetting":{"detailLevel":"requestContent,responseContent"},"mode":"Incremental","template":{"$schema":"https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","resources":[{"apiVersion":"2020-11-01","location":"westus2","name":"asotest-vn-fhyuzx","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/8"]}},"type":"Microsoft.Network/virtualNetworks"}],"outputs":{"resourceId":{"type":"string","value":"[resourceId(''Microsoft.Network/virtualNetworks'',
      ''asotest-vn-fhyuzx'')]"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-sbiboa/providers/Microsoft.Resources/deployments/k8s_4bc0b700-92b9-539a-a0[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-sbiboa/providers/Microsoft.Resources/deployments/k8s_4bc0b700-92b9-539a-a027-3bb76588f646?api-version=2019-10-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-sbiboa/providers/Microsoft.Resources/deployments/k8s_4bc0b700-92b9-539a-a027-3bb76588f646","name":"k8s_4bc0b700-92b9-539a-a027-3bb76588f646","type":"Microsoft.Resources/deployments","properties":{"templateHash":"14067529373820911530","mode":"Incremental","debugSetting":{"detailLevel":"RequestContent,
      ResponseContent"},"provisioningState":"Accepted","timestamp":"2001-02-03T04:05:06Z","duration":"PT0.2942117S","correlationId":"989eaaf7-bd00-495c-bc78-d79d1b2cc96f","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["westus2"]}]}],"dependencies":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/asotest-vn-fhyuzx?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotest-vn-fhyuzx\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/asotest-vn-fhyuzx\",\r\n
      \ \"etag\": \"W/\\\"49d04db3-ee93-44d0-81f7-ff219d844813\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7b661aa3-cb3e-4312-a939-6b5d122c0806\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/8\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":
      [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49d04db3-ee93-44d0-81f7-ff219d844813"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/asotest-vn-fhyuzx?api-version=2020-11-01
    method: DELETE
  response:
    body: ""
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/10cb2501-c8dd-4f13-bd66-06f909f66511?api-version=2020-11-01
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operationResults/10cb2501-c8dd-4f13-bd66-06f909f66511?api-version=2020-11-01
      Retry-After:
      - "10"
      X-Ms-Ratelimit-Remaining-Subscription-Deletes:
      - "14989"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/asotest-vn-fhyuzx?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\":
      \"Resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-sbiboa/providers/Microsoft.Network/virtualNetworks/asotest-vn-fhyuzx
      not found.\",\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "19"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-sbiboa?api-version=2020-06-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-sbiboa''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
