---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-gwixyz","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gwixyz?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gwixyz","name":"asotest-rg-gwixyz","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotestuzefrx","properties":{"createMode":"Default","publicNetworkAccess":"Disabled"},"sku":{"name":"standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gwixyz/providers/Microsoft.AppConfiguration/configurationStores/asotestuzefrx?api-version=2022-05-01
    method: PUT
  response:
    body: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"westus2","properties":{"provisioningState":"Creating","creationDate":"2022-10-19T17:54:32.308613+00:00","endpoint":null,"encryption":null,"privateEndpointConnections":null,"disableLocalAuth":null,"softDeleteRetentionInDays":null,"enablePurgeProtection":null},"sku":{"name":"standard"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gwixyz/providers/Microsoft.AppConfiguration/configurationStores/asotestuzefrx","name":"asotestuzefrx","tags":{}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus2/operationsStatus/d9C3zhetW1huLa7-8uKnJ5gr32CZotj4Onn3qYUElsQ?api-version=2022-05-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus2/operationsStatus/d9C3zhetW1huLa7-8uKnJ5gr32CZotj4Onn3qYUElsQ?api-version=2022-05-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus2/operationsStatus/d9C3zhetW1huLa7-8uKnJ5gr32CZotj4Onn3qYUElsQ","name":"d9C3zhetW1huLa7-8uKnJ5gr32CZotj4Onn3qYUElsQ","status":"Succeeded","error":null}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppConfiguration/locations/westus2/operationsStatus/d9C3zhetW1huLa7-8uKnJ5gr32CZotj4Onn3qYUElsQ?api-version=2022-05-01
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gwixyz/providers/Microsoft.AppConfiguration/configurationStores/asotestuzefrx?api-version=2022-05-01
    method: GET
  response:
    body: '{"type":"Microsoft.AppConfiguration/configurationStores","location":"westus2","properties":{"provisioningState":"Succeeded","creationDate":"2022-10-19T17:54:32+00:00","endpoint":"https://asotestuzefrx.azconfig.io","encryption":{"keyVaultProperties":null},"privateEndpointConnections":null,"publicNetworkAccess":"Disabled","disableLocalAuth":false,"softDeleteRetentionInDays":7,"enablePurgeProtection":false},"sku":{"name":"standard"},"systemData":{"createdBy":"99de824c-b6d0-4769-af94-8819d4093b83","createdByType":"Application","createdAt":"2022-10-19T17:54:32+00:00","lastModifiedBy":"99de824c-b6d0-4769-af94-8819d4093b83","lastModifiedByType":"Application","lastModifiedAt":"2022-10-19T17:54:33+00:00"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gwixyz/providers/Microsoft.AppConfiguration/configurationStores/asotestuzefrx","name":"asotestuzefrx","tags":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5b009b0e-0000-0800-0000-635039d90000"'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gwixyz?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRHV0lYWVotV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRHV0lYWVotV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRHV0lYWVotV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gwixyz/providers/Microsoft.AppConfiguration/configurationStores/asotestuzefrx?api-version=2022-05-01
    method: DELETE
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-gwixyz''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
