---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-abbxks","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks","name":"asotest-rg-abbxks","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"kind":"StorageV2","location":"westcentralus","name":"asotestyhvgvw","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw?api-version=2021-04-01
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/0911ce36-9ec3-4982-81ba-a22f135027fe?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/0911ce36-9ec3-4982-81ba-a22f135027fe?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/0911ce36-9ec3-4982-81ba-a22f135027fe?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westcentralus/asyncoperations/0911ce36-9ec3-4982-81ba-a22f135027fe?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw","name":"asotestyhvgvw","type":"Microsoft.Storage/storageAccounts","location":"westcentralus","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asotestyhvgvw.dfs.core.windows.net/","web":"https://asotestyhvgvw.z4.web.core.windows.net/","blob":"https://asotestyhvgvw.blob.core.windows.net/","queue":"https://asotestyhvgvw.queue.core.windows.net/","table":"https://asotestyhvgvw.table.core.windows.net/","file":"https://asotestyhvgvw.file.core.windows.net/"},"primaryLocation":"westcentralus","statusOfPrimary":"available"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/queueServices/default?api-version=2021-04-01
    method: PUT
  response:
    body: '{"name":"default"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"default"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/blobServices/default?api-version=2021-04-01
    method: PUT
  response:
    body: '{"name":"default"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"default","properties":{"policy":{"rules":[{"definition":{"actions":{"version":{"delete":{"daysAfterCreationGreaterThan":30}}},"filters":{"blobIndexMatch":null,"blobTypes":["blockBlob"],"prefixMatch":["sample-container/blob1"]}},"enabled":true,"name":"test-rule","type":"Lifecycle"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/managementPolicies/default?api-version=2021-04-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/managementPolicies/default","name":"DefaultManagementPolicy","type":"Microsoft.Storage/storageAccounts/managementPolicies","properties":{"policy":{"rules":[{"enabled":true,"name":"test-rule","type":"Lifecycle","definition":{"actions":{"version":{"delete":{"daysAfterCreationGreaterThan":30.0}}},"filters":{"blobTypes":["blockBlob"],"prefixMatch":["sample-container/blob1"]}}}]},"lastModifiedTime":"2001-02-03T04:05:06Z"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/queueServices/default?api-version=2021-04-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/queueServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/queueServices","properties":{"cors":{"corsRules":[]}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/blobServices/default?api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestpfarbj"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/queueServices/default/queues/asotestpfarbj?api-version=2021-04-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/queueServices/default/queues/asotestpfarbj","name":"asotestpfarbj","type":"Microsoft.Storage/storageAccounts/queueServices/queues","properties":{"metadata":{}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotestsdayuf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/blobServices/default/containers/asotestsdayuf?api-version=2021-04-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/blobServices/default/containers/asotestsdayuf","name":"asotestsdayuf","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0x8DB6BCE86E73AF4"'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/queueServices/default/queues/asotestpfarbj?api-version=2021-04-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/queueServices/default/queues/asotestpfarbj","name":"asotestpfarbj","type":"Microsoft.Storage/storageAccounts/queueServices/queues","properties":{"metadata":{},"approximateMessageCount":0}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/blobServices/default/containers/asotestsdayuf?api-version=2021-04-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw/blobServices/default/containers/asotestsdayuf","name":"asotestsdayuf","type":"Microsoft.Storage/storageAccounts/blobServices/containers","etag":"\"0x8DB6BCE86E73AF4\"","properties":{"deleted":false,"remainingRetentionDays":0,"defaultEncryptionScope":"$account-encryption-key","denyEncryptionScopeOverride":false,"publicAccess":"None","leaseStatus":"Unlocked","leaseState":"Available","lastModifiedTime":"2001-02-03T04:05:06Z","legalHold":{"hasLegalHold":false,"tags":[]},"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0x8DB6BCE86E73AF4"'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRBQkJYS1MtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRBQkJYS1MtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-abbxks/providers/Microsoft.Storage/storageAccounts/asotestyhvgvw?api-version=2021-04-01
    method: DELETE
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-abbxks''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
