apiVersion: azure.microsoft.com/v1alpha1
kind: CosmosDB
metadata:
  name: cosmosdb-sample-1
spec:
  # possible values are 'GlobalDocumentDB', 'MongoDB'. 
  kind: GlobalDocumentDB
  location: westus
  resourceGroup: resourcegroup-azure-operators
  # Start of properties
  properties:
    databaseAccountOfferType: Standard

    # optionally turn on multi-region writes
    # enableMultipleWriteLocations: true

    # Optionally set the capabilities name to the following options: (the default is SQL)
    # "EnableCassandra", "EnableTable", "EnableGremlin", "EnableMongo"
    # NOTE: If using "EnableMongo" kind must be set to MongoDB for this to take effect
    #capabilities: 
    # - name: "EnableCassandra"

    # optionally set the mongoDBVersion to "3.2" or "3.6", if omitted the default is "3.2"
    # NOTE: kind must be set to MongoDB for this to take effect
    # mongoDBVersion: "3.6"

    # enable virtual network rules if configured below
    isVirtualNetworkFilterEnabled: true
  # End of properties

  # optionally restrict access to specific virtual networks
  virtualNetworkRules:
    - subnetID: /subscriptions/{subscription_id}/resourceGroups/{resourcegroup}/providers/Microsoft.Network/virtualNetworks/{vnet_name}/subnets/{subnet_name}
      ignoreMissingVNetServiceEndpoint: true

  # optionally configure different CIDR IP ranges for allowed-list, omitting allows all or falls back to vNetRules
  ipRules:
  #   # the ips in this rule are needed to access your db from the portal
    - 104.42.195.92
  #   # add additional ips you would like to grant access
    - 1.2.3.4

  # optionally configure multiple regions and availability zone redundancy
  # locations:
  #   - locationName: eastus
  #     failoverPriority: 0
  #     isZoneRedundant: true
  #   - locationName: westus
  #     failoverPriority: 1