apiVersion: azure.microsoft.com/v1alpha2
kind: MySQLAADUser
metadata:
  name: mysqlaaduser-sample
spec:
  server: mysqlserver-sample
  dbName: mysqldatabase-sample
  resourceGroup: resourcegroup-azure-operators
  # AAD ID is the ID of the user in Azure Active Directory.
  # When creating a user for a managed identity this must be the
  # client id (sometimes called app id) of the managed identity.
  # When creating a user for a "normal" (non-managed identity) user or
  # group, this is the OID of the user or group.
  aadId: 00000000-0000-0000-0000-000000000000
  # Specify a list of server-level privileges with roles. Privileges
  # can be one or more of the following: RELOAD, PROCESS, SHOW
  # DATABASES, REPLICATION SLAVE, REPLICATION CLIENT, CREATE USER
  # roles:
  #  - PROCESS

  # Specify the database-level privileges this user should have.
  databaseRoles:
    mysqldatabase-sample:
      # The privileges can be one or more of the following: SELECT,
      # INSERT, UPDATE, DELETE, CREATE, DROP, REFERENCES, INDEX,
      # ALTER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, CREATE
      # VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, EVENT, TRIGGER
      # This adds the privileges to the specified database
      - SELECT
