apiVersion: azure.microsoft.com/v1alpha2
kind: MySQLUser
metadata:
  name: mysqluser-sample
spec:
  server: mysqlserver-sample
  dbName: mysqldatabase-sample
  resourceGroup: resourcegroup-azure-operators
  # Specify a list of server-level privileges with roles. Privileges
  # can be one or more of the following: RELOAD, PROCESS, SHOW
  # DATABASES, REPLICATION SLAVE, REPLICATION CLIENT, CREATE USER
  # roles:
  #  - PROCESS

  # Specify the database-level privileges this user should have.
  databaseRoles:
    mysqldatabase-sample:
      # The privileges can be one or more of the following: SELECT,
      # INSERT, UPDATE, DELETE, CREATE, DROP, REFERENCES, INDEX,
      # ALTER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, CREATE
      # VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, EVENT, TRIGGER
      # This adds the privileges to the specified database
      - SELECT
  # Specify a specific username for the user
  # username: mysqluser-sample
  # Specify adminSecret and adminSecretKeyVault if you want to
  # read the MYSQL server admin creds from a specific keyvault secret
  # adminSecret: mysqlserver-sample
  # adminSecretKeyVault: asokeyvault

  # Use the field below to optionally specify a different keyvault
  # to store the secrets in
  # keyVaultToStoreSecrets: asokeyvault
