apiVersion: azure.microsoft.com/v1alpha1
kind: MySQLUser
metadata:
  name: mysqluser-sample
spec:
  server: mysqlserver-sample
  dbName: mysqldatabase-sample
  resourceGroup: resourcegroup-azure-operators
  roles: 
  #now only supports to grant privileges to a new user, the privileges could be one or more of the below
  #SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, PROCESS, REFERENCES, INDEX, ALTER, SHOW DATABASES, 
  #CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, 
  #CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER
  # This adds the privileges to all databases
    - SELECT
  # Specify a specific username for the user
  # username: mysqluser-sample
  # Specify adminSecret and adminSecretKeyVault if you want to 
  # read the MYSQL server admin creds from a specific keyvault secret
  # adminSecret: mysqlserver-sample
  # adminSecretKeyVault: asokeyvault

  # Use the field below to optionally specify a different keyvault 
  # to store the secrets in
  # keyVaultToStoreSecrets: asokeyvault
