---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-gvksbm","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm","name":"asotest-rg-gvksbm","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 579.933756ms
[...]
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-redisent-cffave","properties":{"minimumTlsVersion":"1.2"},"sku":{"capacity":2,"name":"Enterprise_E10"},"tags":{"elks":"stranger"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-cffave?api-version=2023-07-01
        method: PUT
      response:
        body: "{\r\n  \"location\": \"West US 2\",\r\n  \"name\": \"asotest-redisent-cffave\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-cffave\",\r\n  \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": {\r\n    \"elks\": \"stranger\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Enterprise_E10\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"minimumTlsVersion\": \"1.2\",\r\n    \"hostName\": \"asotest-redisent-cffave.westus2.redisenterprise.cache.azure.net\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceState\": \"Running\",\r\n    \"privateEndpointConnections\": []\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rp-Server-Mvid:
                - cbdee50e-5ab0-4406-911f-fca02051ab32
        status: 200 OK
        code: 200
        duration: 2.193618336s
[...]
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-redisent-cffave","properties":{"minimumTlsVersion":"1.2"},"sku":{"capacity":2,"name":"Enterprise_E10"},"tags":{"elks":"stranger","nomai":"vessel"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-cffave?api-version=2023-07-01
        method: PUT
      response:
        body: "{\r\n  \"location\": \"West US 2\",\r\n  \"name\": \"asotest-redisent-cffave\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-cffave\",\r\n  \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": {\r\n    \"elks\": \"stranger\",\r\n    \"nomai\": \"vessel\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Enterprise_E10\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"minimumTlsVersion\": \"1.2\",\r\n    \"hostName\": \"asotest-redisent-cffave.westus2.redisenterprise.cache.azure.net\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceState\": \"Running\",\r\n    \"privateEndpointConnections\": []\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"None\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rp-Server-Mvid:
                - cbdee50e-5ab0-4406-911f-fca02051ab32
        status: 200 OK
        code: 200
        duration: 1.647060369s
[...]
    - id: 6
      request:
        host: management.azure.com
        body: '{"name":"default","properties":{"clientProtocol":"Encrypted","clusteringPolicy":"EnterpriseCluster","evictionPolicy":"AllKeysLRU","modules":[{"args":"ERROR_RATE 0.1 INITIAL_SIZE 400","name":"RedisBloom"}],"persistence":{"aofEnabled":true,"aofFrequency":"always","rdbEnabled":false},"port":10000}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-cffave/databases/default?api-version=2023-07-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"default\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-cffave/databases/default\",\r\n  \"type\": \"Microsoft.Cache/redisEnterprise/databases\",\r\n  \"properties\": {\r\n    \"clientProtocol\": \"Encrypted\",\r\n    \"port\": 10000,\r\n    \"provisioningState\": \"Creating\",\r\n    \"resourceState\": \"Creating\",\r\n    \"clusteringPolicy\": \"EnterpriseCluster\",\r\n    \"evictionPolicy\": \"AllKeysLRU\",\r\n    \"modules\": [\r\n      {\r\n        \"name\": \"RedisBloom\",\r\n        \"args\": \"ERROR_RATE 0.1 INITIAL_SIZE 400\",\r\n        \"version\": \"2.2.4\"\r\n      }\r\n    ],\r\n    \"persistence\": {\r\n      \"aofEnabled\": true,\r\n      \"rdbEnabled\": false,\r\n      \"aofFrequency\": \"always\",\r\n      \"rdbFrequency\": null\r\n    }\r\n  }\r\n}"
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationsStatus/db119f2b-ce8c-4f79-8631-fbf4947ce334?api-version=2023-07-01
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-cffave/databases/default?api-version=2023-07-01
            X-Rp-Server-Mvid:
                - cbdee50e-5ab0-4406-911f-fca02051ab32
        status: 201 Created
        code: 201
        duration: 1.066671341s
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationsStatus/db119f2b-ce8c-4f79-8631-fbf4947ce334?api-version=2023-07-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West US 2/operationsStatus/db119f2b-ce8c-4f79-8631-fbf4947ce334","name":"db119f2b-ce8c-4f79-8631-fbf4947ce334","status":"InProgress","startTime":"2023-09-14T21:16:50.1763769+00:00","endTime":"2023-09-14T21:16:51.7628573+00:00"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Rp-Server-Mvid:
                - cbdee50e-5ab0-4406-911f-fca02051ab32
        status: 200 OK
        code: 200
        duration: 707.470199ms
[...]
    - id: 28
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-cffave/databases/default?api-version=2023-07-01
        method: DELETE
      response:
        body: "{\r\n  \"StatusCode\": 202\r\n}"
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationsStatus/47c42c1f-140b-465c-b2c7-b6a701936517?api-version=2023-07-01
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-cffave/databases/default/operationresults/47c42c1f-140b-465c-b2c7-b6a701936517?api-version=2023-07-01
            X-Rp-Server-Mvid:
                - cbdee50e-5ab0-4406-911f-fca02051ab32
        status: 202 Accepted
        code: 202
        duration: 973.821481ms
[...]
    - id: 48
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gvksbm/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-cffave?api-version=2023-07-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Cache/redisEnterprise/asotest-redisent-cffave'' under resource group ''asotest-rg-gvksbm'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 224.556795ms
[...]
    - id: 50
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRHVktTQk0tV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=2023-09-14T22%3a04%3a33&c=MIIHHjCCBgagAwIBAgITOgHdEa6m-L-OzhMS4gAEAd0RrjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwE[...]
