---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-hhzexp","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp","name":"asotest-rg-hhzexp","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"kind":"StorageV2","location":"westus2","name":"asoteststorjxiuwy","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.Storage/storageAccounts/asoteststorjxiuwy?api-version=2021-04-01
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/d02bc82b-dd9e-422e-b2a3-3b9da778137a?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/d02bc82b-dd9e-422e-b2a3-3b9da778137a?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/d02bc82b-dd9e-422e-b2a3-3b9da778137a?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/d02bc82b-dd9e-422e-b2a3-3b9da778137a?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.Storage/storageAccounts/asoteststorjxiuwy","name":"asoteststorjxiuwy","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asoteststorjxiuwy.dfs.core.windows.net/","web":"https://asoteststorjxiuwy.z5.web.core.windows.net/","blob":"https://asoteststorjxiuwy.blob.core.windows.net/","queue":"https://asoteststorjxiuwy.queue.core.windows.net/","table":"https://asoteststorjxiuwy.table.core.windows.net/","file":"https://asoteststorjxiuwy.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-keyvault-yglpaa","properties":{"accessPolicies":[{"applicationId":"00000000-0000-0000-0000-000000000000","objectId":"00000000-0000-0000-0000-000000000000","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]},"tenantId":"00000000-0000-0000-0000-000000000000"}],"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.KeyVault/vaults/asotest-keyvault-yglpaa?api-version=2021-04-01-preview
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.KeyVault/vaults/asotest-keyvault-yglpaa","name":"asotest-keyvault-yglpaa","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{},"systemData":{"createdBy":"e99b5771-87b0-473b-b919-9b70e36ece7a","createdByType":"Application","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"e99b5771-87b0-473b-b919-9b70e36ece7a","lastModifiedByType":"Application","lastModifiedAt":"2001-02-03T04:05:06Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"00000000-0000-0000-0000-000000000000","applicationId":"00000000-0000-0000-0000-000000000000","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"vaultUri":"https://asotest-keyvault-yglpaa.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"identity":{"type":"SystemAssigned"},"location":"westus2","name":"asotestworkdafldv","properties":{"allowPublicAccessWhenBehindVnet":false,"keyVault":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.KeyVault/vaults/asotest-keyvault-yglpaa","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.Storage/storageAccounts/asoteststorjxiuwy"},"sku":{"name":"Standard_S1","tier":"Basic"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.MachineLearningServices/workspaces/asotestworkdafldv?api-version=2021-07-01
    method: PUT
  response:
    body: ""
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus2/workspaceOperationsStatus/Sq_wdI3vqQpOsXMMRVjzOVESD9H8RSjgh1bKXg4DbsY?api-version=2021-07-01&type=async
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus2/workspaceOperationsStatus/Sq_wdI3vqQpOsXMMRVjzOVESD9H8RSjgh1bKXg4DbsY?api-version=2021-07-01&type=location
      X-Aml-Cluster:
      - vienna-westus2-02
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.141"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus2/workspaceOperationsStatus/Sq_wdI3vqQpOsXMMRVjzOVESD9H8RSjgh1bKXg4DbsY?api-version=2021-07-01&type=async
    method: GET
  response:
    body: |-
      {
        "status": "InProgress"
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus2-02
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.025"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus2/workspaceOperationsStatus/Sq_wdI3vqQpOsXMMRVjzOVESD9H8RSjgh1bKXg4DbsY?api-version=2021-07-01&type=async
    method: GET
  response:
    body: |-
      {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus2-02
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.029"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.MachineLearningServices/workspaces/asotestworkdafldv?api-version=2021-07-01
    method: GET
  response:
    body: |-
      {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.MachineLearningServices/workspaces/asotestworkdafldv",
        "name": "asotestworkdafldv",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.Storage/storageAccounts/asoteststorjxiuwy",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.Keyvault/vaults/asotest-keyvault-yglpaa",
          "applicationInsights": null,
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "containerRegistry": null,
          "notebookInfo": {
            "resourceId": "dc78bec5dc464462b6466e5bc2f06347",
            "fqdn": "ml-asotestworkdafl-westus2-c572e7e2-889e-4e66-8699-617ad9d0cec6.westus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "c572e7e2-889e-4e66-8699-617ad9d0cec6",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "allowPublicAccessWhenBehindVnet": false,
          "discoveryUrl": "https://westus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.MachineLearningServices/workspaces/asotestworkdafldv",
          "sdkTelemetryAppInsightsKey": "19f24253-9564-406c-9a1e-a48a21b145aa",
          "sasGetterUri": ""
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "8f5fcd23-d651-4c2b-ac5f-b04c39ecd845",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2001-02-03T04:05:06Z",
          "createdBy": "e99b5771-87b0-473b-b919-9b70e36ece7a",
          "createdByType": "Application",
          "lastModifiedAt": "2001-02-03T04:05:06Z",
          "lastModifiedBy": "e99b5771-87b0-473b-b919-9b70e36ece7a",
          "lastModifiedByType": "Application"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus2-02
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.024"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"location":"westus2","name":"asotest-conn-qetvny","properties":{"authType":"PAT","category":"ACR","target":"www.microsoft.com","value":"{\"user\":\"admin\",
      \"password\":\"abctest\"}","valueFormat":"JSON"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.MachineLearningServices/workspaces/asotestworkdafldv/connections/asotest-conn-qetvny?api-version=2021-07-01
    method: PUT
  response:
    body: |-
      {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.MachineLearningServices/workspaces/asotestworkdafldv/connections/asotest-conn-qetvny",
        "name": "asotest-conn-qetvny",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "category": "ACR",
          "target": "www.microsoft.com",
          "authType": "PAT",
          "value": null,
          "valueFormat": null
        },
        "systemData": null
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus2-02
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.497"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.MachineLearningServices/workspaces/asotestworkdafldv/connections/asotest-conn-qetvny?api-version=2021-07-01
    method: GET
  response:
    body: |-
      {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection asotest-conn-qetvny can't be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "5015a4c1af05794182fd7f2e85ebd881",
          "request": "5dfcf342733a95a1"
        },
        "environment": "westus2",
        "location": "westus2",
        "time": "2022-05-26T19:06:15.2688822+00:00",
        "componentName": "account-rp"
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus2-02
      X-Ms-Response-Type:
      - error
      X-Request-Time:
      - "0.039"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hhzexp/providers/Microsoft.Storage/storageAccounts/asoteststorjxiuwy?api-version=2021-04-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Storage/storageAccounts/asoteststorjxiuwy''
      under resource group ''asotest-rg-hhzexp'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
