---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-nsmdfx","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - ab12197f8f2c8df832967373ab6b2e47f50d2a14f69a90de8c1d8a38264a5ea6
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx","name":"asotest-rg-nsmdfx","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 2.756447875s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx","name":"asotest-rg-nsmdfx","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 80.393541ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/asotest-vn-lzvddq'' under resource group ''asotest-rg-nsmdfx'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 703.820959ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vn-lzvddq","properties":{"addressSpace":{"addressPrefixes":["10.100.0.0/15"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 6d9e0a86f6c982719f08ffe6459274cc670d89e84736a19fe2935827ff7fab79
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-vn-lzvddq\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq\",\r\n  \"etag\": \"W/\\\"60a645a5-b965-471e-8016-61c15cdad7bd\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"aac233ed-5868-493c-95ec-77a8768ce430\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.100.0.0/15\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/07b40e2e-5fff-4d3b-9f91-ec2639e380c0?api-version=2020-11-01&t=638560080138797549&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTU1NTQ0WhcNMjUwNjIyMTU1NTQ0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLm[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/07b40e2e-5fff-4d3b-9f91-ec2639e380c0?api-version=2020-11-01&t=638560080138797549&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMR[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "1"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq?api-version=2020-11-01
        method: GET
      response:
        body: "{\r\n  \"name\": \"asotest-vn-lzvddq\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq\",\r\n  \"etag\": \"W/\\\"e0336a70-3f45-45ec-936f-515e83854257\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"aac233ed-5868-493c-95ec-77a8768ce430\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.100.0.0/15\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e0336a70-3f45-45ec-936f-515e83854257"
        status: 200 OK
        code: 200
        duration: 814.986042ms
[...]
    - id: 7
      request:
        host: management.azure.com
        body: '{"name":"asotest-subnet-uxsdco","properties":{"addressPrefix":"10.100.70.0/23","serviceEndpoints":[{"service":"Microsoft.ContainerRegistry"}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 67be0b9b34fdd5c4eaf4f9a1725bf1c80df1285092432f39024955535e4854f8
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq/subnets/asotest-subnet-uxsdco?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-subnet-uxsdco\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq/subnets/asotest-subnet-uxsdco\",\r\n  \"etag\": \"W/\\\"b17e4837-d437-4dc4-901f-7c3019d84a79\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.100.70.0/23\",\r\n    \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Updating\",\r\n        \"service\": \"Microsoft.ContainerRegistry\",\r\n        \"locations\": [\r\n          \"*\"\r\n        ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/0606717f-daa5-4454-b56a-e7421625ae20?api-version=2020-11-01&t=638560080253139810&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0B[...]
    - id: 8
      request:
        host: management.azure.com
        body: '{"name":"asotest-subnet-nhqmss","properties":{"addressPrefix":"10.100.76.0/24","serviceEndpoints":[{"service":"Microsoft.ContainerRegistry"}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 87e9e79991684a6bd785525cf124e5d363ff3e387f508d0a16ad885cfcd01b49
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq/subnets/asotest-subnet-nhqmss?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"error\": {\r\n    \"code\": \"AnotherOperationInProgress\",\r\n    \"message\": \"Another operation on this or dependent resource is in progress. To retrieve status of the operation use uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/0606717f-daa5-4454-b56a-e7421625ae20?api-version=2020-11-01.\",\r\n    \"details\": []\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 409 Conflict
        code: 409
        duration: 1.002600209s
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/0606717f-daa5-4454-b56a-e7421625ae20?api-version=2020-11-01&t=638560080253139810&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMR[...]
    - id: 10
      request:
        host: management.azure.com
        body: '{"name":"57f98aef-1007-5280-a2aa-01c5a2fc4f6d","properties":{"principalId":"50c17c64-bc11-4fdd-a339-0ecd396bf911","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 984bc9a3e6d7a02bff874dc2f58ff51406409863b48f105a602083c757a5b436
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq/providers/Microsoft.Authorization/roleAssignments/57f98aef-1007-5280-a2aa-01c5a2fc4f6d?api-version=2020-08-01-preview
        method: PUT
      response:
        body: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"50c17c64-bc11-4fdd-a339-0ecd396bf911","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq","condition":null,"conditionVersion":null,"createdOn":"2001-02-03T04:05:06Z","updatedOn":"2001-02-03T04:05:06Z","createdBy":null,"updatedBy":"34e81c0e-d5e6-478f-8544-2686be295567","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq/providers/Microsoft.Authorization/roleAssignments/57f98aef-1007-5280-a2aa-01c5a2fc4f6d","type":"Microsoft.Authorization/roleAssignments","name":"57f98aef-1007-5280-a2aa-01c5a2fc4f6d"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 5.306046291s
[...]
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/72a7bc9f-6ac4-4941-9135-21ee1b985f8e?api-version=2020-11-01&t=638560080437701317&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 23
      request:
        host: management.azure.com
        body: '{"{SECRET}"}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - bca81d5c6bf27715120f1513e02ce8ccca49202955787f359ee8a73ba785deb8
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.RedHatOpenShift/openShiftClusters/asotest-aro-cluster-uzditq?api-version=2023-11-22
        method: PUT
      response:
        body: |
            {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.RedHatOpenShift/openShiftClusters/asotest-aro-cluster-uzditq",
                "name": "asotest-aro-cluster-uzditq",
                "type": "Microsoft.RedHatOpenShift/openShiftClusters",
                "location": "westus2",
                "systemData": {
                    "createdBy": "harshdsingh@microsoft.com",
                    "createdByType": "User",
                    "createdAt": "2001-02-03T04:05:06Z",
                    "lastModifiedBy": "harshdsingh@microsoft.com",
                    "lastModifiedByType": "User",
                    "lastModifiedAt": "2001-02-03T04:05:06Z"
                },
                "properties": {
                    "provisioningState": "Creating",
                    "clusterProfile": {
                        "domain": "aro-example.com",
                        "version": "4.14.16",
                        "resourceGroupId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-cluster-rg-kjzmai",
                        "fipsValidatedModules": "Disabled"
                    },
                    "consoleProfile": {},
                    "servicePrincipalProfile": {
                        "clientId": "c055e786-8d06-44db-90a1-31ea5767123c"
                    },
                    "networkProfile": {
                        "podCidr": "10.128.0.0/14",
                        "serviceCidr": "172.30.0.0/16",
                        "outboundType": "Loadbalancer",
                        "loadBalancerProfile": {
                            "managedOutboundIps": {
                                "count": 1
                            }
                        },
                        "preconfiguredNSG": "Disabled"
                    },
                    "masterProfile": {
                        "vmSize": "Standard_D8s_v3",
                        "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq/subnets/asotest-subnet-nhqmss",
                        "encryptionAtHost": "Disabled"
                    },
                    "workerProfiles": [
                        {
                            "name": "worker",
                            "vmSize": "Standard_D4s_v3",
                            "diskSizeGB": 128,
                            "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx/providers/Microsoft.Network/virtualNetworks/asotest-vn-lzvddq/subnets/asotest-subnet-uxsdco",
                            "count": 3,
                            "encryptionAtHost": "Disabled"
                        }
                    ],
                    "apiserverProfile": {
                        "visibility": "Private"
                    },
                    "ingressProfiles": [
                        {
                            "name": "default",
                            "visibility": "Private"
                        }
                    ]
                }
            }
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/westus2/operationsstatus/3f6032b6-1042-4b50-8cdd-d0f8115ab7b4?api-version=2023-11-22&t=6385600805[...]
    - id: 24
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/westus2/operationsstatus/3f6032b6-1042-4b50-8cdd-d0f8115ab7b4?api-version=2023-11-22&t=638560080503930189&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
[...]
    - id: 75
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.redhatopenshift/locations/westus2/operationsstatus/7ad029cd-54c0-4a60-8eb1-b49110dce17b?api-version=2023-11-22&t=638560107655254036&c=MIIHpTCCBo2gAwIBAgITfwOBz9VxJW5D6n0qeQAEA4HP1TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
[...]
    - id: 90
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nsmdfx?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkROU01ERlgtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638560113495033428&c=MIIHpTCCBo2gAwIBAgITfwOBz9VxJW5D6n0qeQAEA4HP1TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI5MDUyNTUyWhcNMjUwNjI0MDUyNTUyWjBAMT4wPAYDVQQDE[...]
    - id: 91
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkROU01ERlgtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638560113495033428&c=MIIHpTCCBo2gAwIBAgITfwOBz9VxJW5D6n0qeQAEA4HP1TANBgkqh[...]
[...]
