---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-guayou","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - bb0c82c2b86a3029b959fbce922294708a69f3cde1d6efb4f4919eca8446329c
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou","name":"asotest-rg-guayou","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.408270324s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou","name":"asotest-rg-guayou","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 773.591596ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/virtualNetworks/asotest-vn-eaqymv?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/asotest-vn-eaqymv'' under resource group ''asotest-rg-guayou'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 410.314385ms
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz'' under resource group ''asotest-rg-guayou'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 440.569267ms
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vn-eaqymv","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/8"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 8b5d16db4e8a04cf1bff56d255acb8fa9feba8e976c476969d94c040a2d45da2
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/virtualNetworks/asotest-vn-eaqymv?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"asotest-vn-eaqymv","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/virtualNetworks/asotest-vn-eaqymv","etag":"W/\"42be9b44-cb2f-4a2e-bb86-5a937e17d111\"","type":"Microsoft.Network/virtualNetworks","location":"westus2","properties":{"provisioningState":"Updating","resourceGuid":"8040e722-696b-4bdd-b5f2-c6a932e0a1f4","addressSpace":{"addressPrefixes":["10.0.0.0/8"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/cb0b1c59-a471-4150-a6ca-9318b31eb0e4?api-version=2020-11-01&t=638990975769580268&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLm[...]
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-loadbalancer-evfdyz","properties":{"frontendIPConfigurations":[{"name":"LoadBalancerFrontend","properties":{"publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/publicIPAddresses/asotest-publicip-znjpdb"}}}],"inboundNatPools":[{"name":"MyFancyNatPool","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz/frontendIPConfigurations/LoadBalancerFrontend"},"frontendPortRangeEnd":51000,"frontendPortRangeStart":50000,"protocol":"Tcp"}}]},"sku":{"name":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 8d7869e5cfef441bb6b1c973603d515a59539c5ac52146a34768ae4245f95438
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz?api-version=2020-11-01
        method: PUT
      response:
        body: '{"error":{"code":"InvalidResourceReference","message":"Resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ASOTEST-RG-GUAYOU/providers/Microsoft.Network/publicIPAddresses/ASOTEST-PUBLICIP-ZNJPDB referenced by resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz was not found. Please make sure that the referenced resource exists, and that both resources are in the same region.","details":[{"code":"NotFound","message":"Resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ASOTEST-RG-GUAYOU/providers/Microsoft.Network/publicIPAddresses/ASOTEST-PUBLICIP-ZNJPDB not found."}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 400 Bad Request
        code: 400
        duration: 1.033203167s
    - id: 6
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-publicip-znjpdb","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 6cfed702d0bb74502d5502f9cf2f791f501397cce9cca5278229d72a9c30e42e
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/publicIPAddresses/asotest-publicip-znjpdb?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"asotest-publicip-znjpdb","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/publicIPAddresses/asotest-publicip-znjpdb","etag":"W/\"cb374147-baf7-4bff-b566-dde20cc0cb17\"","location":"westus2","properties":{"provisioningState":"Updating","resourceGuid":"ef6240d0-caf1-4ede-8616-84e68d8d8ec0","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[]},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/e4a09b16-6147-4bf9-b2a6-012dbd8ef835?api-version=2020-11-01&t=638990975786994396&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQ[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/cb0b1c59-a471-4150-a6ca-9318b31eb0e4?api-version=2020-11-01&t=638990975769580268&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMR[...]
[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "1"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/virtualNetworks/asotest-vn-eaqymv?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"asotest-vn-eaqymv","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/virtualNetworks/asotest-vn-eaqymv","etag":"W/\"d1cdd8a1-6b2f-460a-8e28-88c40985f7bd\"","type":"Microsoft.Network/virtualNetworks","location":"westus2","properties":{"provisioningState":"Succeeded","resourceGuid":"8040e722-696b-4bdd-b5f2-c6a932e0a1f4","addressSpace":{"addressPrefixes":["10.0.0.0/8"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"d1cdd8a1-6b2f-460a-8e28-88c40985f7bd"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
        status: 200 OK
        code: 200
        duration: 499.599863ms
[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/e4a09b16-6147-4bf9-b2a6-012dbd8ef835?api-version=2020-11-01&t=638990975786994396&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/publicIPAddresses/asotest-publicip-znjpdb?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"asotest-publicip-znjpdb","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/publicIPAddresses/asotest-publicip-znjpdb","etag":"W/\"1c90d688-264f-4324-9a6f-6d936d44f823\"","location":"westus2","properties":{"provisioningState":"Succeeded","resourceGuid":"ef6240d0-caf1-4ede-8616-84e68d8d8ec0","ipAddress":"4.155.70.14","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[]},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1c90d688-264f-4324-9a6f-6d936d44f823"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 834.366109ms
[...]
    - id: 15
      request:
        host: management.azure.com
        body: '{"name":"asotest-subnet-jdrtjs","properties":{"addressPrefix":"10.0.0.0/24"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - baf976f3a42ca857269f0416cf2698b5412840555ad118da742a66df9858467d
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/virtualNetworks/asotest-vn-eaqymv/subnets/asotest-subnet-jdrtjs?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"asotest-subnet-jdrtjs","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/virtualNetworks/asotest-vn-eaqymv/subnets/asotest-subnet-jdrtjs","etag":"W/\"4e552753-c3ab-49b8-b696-10bdc0a22da3\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/7a362f57-a366-4eb7-86b4-e0811426e0ec?api-version=2020-11-01&t=638990975916499883&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/7a362f57-a366-4eb7-86b4-e0811426e0ec?api-version=2020-11-01&t=638990975916499883&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 18
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "2"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"asotest-loadbalancer-evfdyz","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz","etag":"W/\"fddb2b04-9b8a-49d0-9fce-55f31a23b324\"","type":"Microsoft.Network/loadBalancers","location":"westus2","properties":{"provisioningState":"Succeeded","resourceGuid":"39be4149-576b-48e8-be7a-1c10095fe1df","frontendIPConfigurations":[{"name":"LoadBalancerFrontend","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz/frontendIPConfigurations/LoadBalancerFrontend","etag":"W/\"fddb2b04-9b8a-49d0-9fce-55f31a23b324\"","type":"Microsoft.Network/loadBalancers/frontendIPConfigurations","properties":{"provisioningState":"Succeeded","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/publicIPAddresses/asotest-publicip-znjpdb"},"inboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz/inboundNatPools/MyFancyNatPool"}]}}],"backendAddressPools":[],"loadBalancingRules":[],"probes":[],"inboundNatRules":[],"outboundRules":[],"inboundNatPools":[{"name":"MyFancyNatPool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz/inboundNatPools/MyFancyNatPool","etag":"W/\"fddb2b04-9b8a-49d0-9fce-55f31a23b324\"","properties":{"provisioningState":"Succeeded","frontendPortRangeStart":50000,"frontendPortRangeEnd":51000,"backendPort":22,"protocol":"Tcp","idleTimeoutInMinutes":4,"enableFloatingIP":false,"enableDestinationServiceEndpoint":false,"enableTcpReset":false,"allowBackendPortConflict":false,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz/frontendIPConfigurations/LoadBalancerFrontend"}},"type":"Microsoft.Network/loadBalancers/inboundNatPools"}]},"sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"fddb2b04-9b8a-49d0-9fce-55f31a23b324"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 346.25379ms
[...]
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Compute/virtualMachineScaleSets/asotest-vmss-aemidm?api-version=2022-03-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Compute/virtualMachineScaleSets/asotest-vmss-aemidm'' under resource group ''asotest-rg-guayou'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 390.170244ms
    - id: 21
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vmss-aemidm","properties":{"platformFaultDomainCount":3,"singlePlacementGroup":false,"upgradePolicy":{"mode":"Automatic"},"virtualMachineProfile":{"networkProfile":{"networkInterfaceConfigurations":[{"name":"mynicconfig","properties":{"ipConfigurations":[{"name":"myipconfiguration","properties":{"loadBalancerInboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz/inboundNatPools/MyFancyNatPool"}],"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/virtualNetworks/asotest-vn-eaqymv/subnets/asotest-subnet-jdrtjs"}}}],"primary":true}}]},"osProfile":{"adminUsername":"adminUser","computerNamePrefix":"computer","linuxConfiguration":{"disablePasswordAuthentication":true,"ssh":{"publicKeys":[{"keyData":"ssh-rsa {KEY}\n","path":"/home/adminUser/.ssh/authorized_keys"}]}}},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"18.04-lts","version":"latest"}}}},"sku":{"capacity":1,"name":"STANDARD_D1_v2"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7c6a7ba604afe3c9667129ea2267131c912a44d23b4f126043c84033c366fd03
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Compute/virtualMachineScaleSets/asotest-vmss-aemidm?api-version=2022-03-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-vmss-aemidm\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Compute/virtualMachineScaleSets/asotest-vmss-aemidm\",\r\n  \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"azsecpack\": \"nonprod\",\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"STANDARD_D1_v2\",\r\n    \"tier\": \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\": false,\r\n    \"orchestrationMode\": \"Uniform\",\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n    \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\": \"computer\",\r\n        \"adminUsername\": \"adminUser\",\r\n        \"linuxConfiguration\": {\r\n          \"disablePasswordAuthentication\": true,\r\n          \"ssh\": {\r\n            \"publicKeys\": [\r\n              {\r\n                \"path\": \"/home/adminUser/.ssh/authorized_keys\",\r\n                \"keyData\": \"ssh-rsa {KEY}\\n\"\r\n              }\r\n            ]\r\n          },\r\n          \"provisionVMAgent\": true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\": true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\": {\r\n        \"osDisk\": {\r\n          \"osType\": \"Linux\",\r\n          \"createOption\": \"FromImage\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\": {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n          \"diskSizeGB\": 30\r\n        },\r\n        \"imageReference\": {\r\n          \"publisher\": \"Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\n          \"sku\": \"18.04-lts\",\r\n          \"version\": \"latest\"\r\n        }\r\n      },\r\n      \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"mynicconfig\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"disableTcpStateTracking\":false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"myipconfiguration\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/virtualNetworks/asotest-vn-eaqymv/subnets/asotest-subnet-jdrtjs\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-evfdyz/inboundNatPools/MyFancyNatPool\"}]}}]}}]},\r\n      \"extensionProfile\": {\r\n        \"extensions\": [\r\n          {\r\n            \"name\": \"Microsoft.Azure.Monitor.AzureMonitorLinuxAgent\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"enableAutomaticUpgrade\": true,\r\n              \"publisher\": \"Microsoft.Azure.Monitor\",\r\n              \"type\": \"AzureMonitorLinuxAgent\",\r\n              \"typeHandlerVersion\": \"1.0\",\r\n              \"settings\": {\"GCS_AUTO_CONFIG\":true}\r\n            }\r\n          },\r\n          {\r\n            \"name\": \"Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent\",\r\n            \"properties\": {\r\n              \"autoUpgradeMinorVersion\": true,\r\n              \"enableAutomaticUpgrade\": true,\r\n              \"publisher\": \"Microsoft.Azure.Security.Monitoring\",\r\n              \"type\": \"AzureSecurityLinuxAgent\",\r\n              \"typeHandlerVersion\": \"2.0\",\r\n              \"settings\": {\"enableGenevaUpload\":true,\"enableAutoConfig\":true,\"reportSuccessOnUnsupportedDistro\":true}\r\n            }\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"overprovision\": true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\": \"50ffed10-4359-4929-826e-a22c6044c266\",\r\n    \"platformFaultDomainCount\": 3,\r\n    \"timeCreated\": \"2025-11-18T21:20:04.8459937+00:00\"\r\n  }\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/5e0ed243-0ac0-4cb3-8cb5-b9000132d438?p=b26caeba-1a35-4884-92ce-d47b44b28157&api-version=2022-03-01&t=638990976070034872&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9[...]
    - id: 22
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/5e0ed243-0ac0-4cb3-8cb5-b9000132d438?p=b26caeba-1a35-4884-92ce-d47b44b28157&api-version=2022-03-01&t=638990976070034872&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w[...]
[...]
    - id: 30
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-setting-nggybg","properties":{"name":"asotest-setting-nggybg","profiles":[{"capacity":{"default":"1","maximum":"3","minimum":"1"},"name":"profile","rules":[{"metricTrigger":{"metricName":"Percentage CPU","metricResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Compute/virtualMachineScaleSets/asotest-vmss-aemidm","operator":"GreaterThan","statistic":"Average","threshold":75,"timeAggregation":"Average","timeGrain":"PT1M","timeWindow":"PT5M"},"scaleAction":{"cooldown":"PT1M","direction":"Increase","type":"ChangeCount","value":"1"}}]}],"targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Compute/virtualMachineScaleSets/asotest-vmss-aemidm"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - a10c6f654d827d2d6312414e1016b4559631ce322b5c3eaff82675d797d9fa15
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Insights/autoscalesettings/asotest-setting-nggybg?api-version=2022-10-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/microsoft.insights/autoscalesettings/asotest-setting-nggybg","name":"asotest-setting-nggybg","type":"Microsoft.Insights/autoscaleSettings","location":"westus2","tags":{},"properties":{"profiles":[{"name":"profile","capacity":{"minimum":"1","maximum":"3","default":"1"},"rules":[{"metricTrigger":{"metricName":"Percentage CPU","metricNamespace":"","metricResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Compute/virtualMachineScaleSets/asotest-vmss-aemidm","timeGrain":"PT1M","statistic":"Average","timeWindow":"PT5M","timeAggregation":"Average","operator":"GreaterThan","threshold":75.0,"dimensions":null,"dividePerInstance":false},"scaleAction":{"direction":"Increase","type":"ChangeCount","value":"1","cooldown":"PT1M"}}]}],"enabled":false,"name":"asotest-setting-nggybg","targetResourceUri":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Compute/virtualMachineScaleSets/asotest-vmss-aemidm","notifications":null,"predictiveAutoscalePolicy":{"scaleMode":"Disabled","scaleLookAheadTime":null}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 4.508402041s
    - id: 31
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-guayou/providers/Microsoft.Insights/autoscalesettings/asotest-setting-nggybg?api-version=2022-10-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
[...]
    - id: 33
      request:
        host: management.azure.com
[...]
