---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westeurope","name":"asotest-rg-ibybct","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct","name":"asotest-rg-ibybct","type":"Microsoft.Resources/resourceGroups","location":"westeurope","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 2.879536223s
[...]
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/virtualNetworks/asotest-vn-csgfji?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/asotest-vn-csgfji'' under resource group ''asotest-rg-ibybct'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 2.754597446s
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"westeurope","name":"asotest-vn-csgfji","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/virtualNetworks/asotest-vn-csgfji?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-vn-csgfji\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/virtualNetworks/asotest-vn-csgfji\",\r\n  \"etag\": \"W/\\\"ff700c65-dc27-4bb5-be41-fbfb096b08f5\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"6ece3502-484a-4410-bd0a-69af62446030\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westeurope/operations/675c7296-fb19-47d9-bc21-a8abf6db7d38?api-version=2020-11-01
            Content-Type:
                - application/json; charset=utf-8
            Retry-After:
                - "3"
        status: 201 Created
        code: 201
        duration: 6.678913705s
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westeurope/operations/675c7296-fb19-47d9-bc21-a8abf6db7d38?api-version=2020-11-01
        method: GET
      response:
        body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 315.544166ms
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/virtualNetworks/asotest-vn-csgfji?api-version=2020-11-01
        method: GET
      response:
        body: "{\r\n  \"name\": \"asotest-vn-csgfji\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/virtualNetworks/asotest-vn-csgfji\",\r\n  \"etag\": \"W/\\\"93182393-72a0-491d-a629-1be7450284eb\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"6ece3502-484a-4410-bd0a-69af62446030\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"93182393-72a0-491d-a629-1be7450284eb"
        status: 200 OK
        code: 200
        duration: 1.282839293s
[...]
    - id: 7
      request:
        host: management.azure.com
        body: '{"name":"asotest-subnet-ellekj","properties":{"addressPrefix":"10.0.0.0/24"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/virtualNetworks/asotest-vn-csgfji/subnets/asotest-subnet-ellekj?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-subnet-ellekj\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/virtualNetworks/asotest-vn-csgfji/subnets/asotest-subnet-ellekj\",\r\n  \"etag\": \"W/\\\"0f916c5d-2d2a-44bb-b71f-e150de16962d\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westeurope/operations/ed698a25-34fe-43a2-9ccc-2faa2105b0a7?api-version=2020-11-01
            Content-Type:
                - application/json; charset=utf-8
            Retry-After:
                - "3"
        status: 201 Created
        code: 201
        duration: 1.717215897s
    - id: 8
      request:
        host: management.azure.com
        body: '{"location":"westeurope","name":"asotest-nic-tzylhp","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/virtualNetworks/asotest-vn-csgfji/subnets/asotest-subnet-ellekj"}}}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/networkInterfaces/asotest-nic-tzylhp?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-nic-tzylhp\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/networkInterfaces/asotest-nic-tzylhp\",\r\n  \"etag\": \"W/\\\"c81ec706-d179-4f01-a079-fc6bbf6faa10\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"62567f4d-e38d-4a96-8b20-c503de2e2edb\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/networkInterfaces/asotest-nic-tzylhp/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"c81ec706-d179-4f01-a079-fc6bbf6faa10\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/virtualNetworks/asotest-vn-csgfji/subnets/asotest-subnet-ellekj\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"ai0221skjaiejpikngxwerdaga.ax.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"westeurope\"\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westeurope/operations/455b45a3-40e1-4954-967c-8567271cafda?api-version=2020-11-01
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.934749068s
[...]
    - id: 13
      request:
        host: management.azure.com
        body: '{"location":"westeurope","name":"asotest-vm-guihjc","properties":{"hardwareProfile":{"vmSize":"Standard_D1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/networkInterfaces/asotest-nic-tzylhp"}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"bloom","computerName":"poppy"},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"18.04-LTS","version":"latest"}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Compute/virtualMachines/asotest-vm-guihjc?api-version=2020-12-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-vm-guihjc\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Compute/virtualMachines/asotest-vm-guihjc\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westeurope\",\r\n  \"properties\": {\r\n    \"vmId\": \"7425910a-d58b-43eb-b4db-843abf8c095f\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"18.04-LTS\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"18.04.202306070\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"poppy\",\r\n      \"adminUsername\": \"bloom\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\"\r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/networkInterfaces/asotest-nic-tzylhp\"}]},\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westeurope/operations/29536c36-d0bb-4ad1-84e6-d31f543195e1?p=b7d3e07c-4f3a-4827-a850-d0342faa33b2&api-version=2020-12-01
            Content-Type:
                - application/json; charset=utf-8
            Retry-After:
                - "10"
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199
        status: 201 Created
        code: 201
        duration: 6.637295806s
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westeurope/operations/29536c36-d0bb-4ad1-84e6-d31f543195e1?p=b7d3e07c-4f3a-4827-a850-d0342faa33b2&api-version=2020-12-01
        method: GET
      response:
        body: "{\r\n  \"startTime\": \"2023-09-13T03:43:56.6778977+00:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"29536c36-d0bb-4ad1-84e6-d31f543195e1\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Retry-After:
                - "35"
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999
        status: 200 OK
        code: 200
        duration: 1.037337007s
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westeurope/operations/29536c36-d0bb-4ad1-84e6-d31f543195e1?p=b7d3e07c-4f3a-4827-a850-d0342faa33b2&api-version=2020-12-01
        method: GET
      response:
        body: "{\r\n  \"startTime\": \"2023-09-13T03:43:56.6778977+00:00\",\r\n  \"endTime\": \"2023-09-13T03:44:36.162935+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"29536c36-d0bb-4ad1-84e6-d31f543195e1\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29997
        status: 200 OK
        code: 200
        duration: 1.260046213s
[...]
    - id: 18
      request:
        host: management.azure.com
        body: '{"location":"westeurope","name":"asotest-vm-guihjc","properties":{"diagnosticsProfile":{"bootDiagnostics":{"enabled":true}},"hardwareProfile":{"vmSize":"Standard_D1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Network/networkInterfaces/asotest-nic-tzylhp"}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"bloom","computerName":"poppy"},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"18.04-LTS","version":"latest"}}}}'
        form: {}
        headers[...]
[...]
    - id: 22
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibybct/providers/Microsoft.Compute/virtualMachines/asotest-vm-guihjc?api-version=2020-12-01
        method: DELETE
      response:
        body: ""
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westeurope/operations/8398f818-c60b-4955-a35f-5387b3dff380?p=b7d3e07c-4f3a-4827-a850-d0342faa33b2&api-version=2020-12-01
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westeurope/operations/8398f818-c60b-4955-a35f-5387b3dff380?p=b7d3e07c-4f3a-4827-a850-d0342faa33b2&monitor=true&api-version=2020-12-01
            Retry-After:
                - "10"
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/DeleteVM3Min;239,Microsoft.Compute/DeleteVM30Min;1199
        status: 202 Accepted
        code: 202
        duration: 1.353086029s
[...]
    - id: 27
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRJQllCQ1QtV0VTVEVVUk9QRSIsImpvYkxvY2F0aW9uIjoid2VzdGV1cm9wZSJ9?api-version=2020-06-01&t=2023-09-13T03%3a46%3a04&c=MIIHHjCCBgagAwIBAgITOgHdEa6m-L-OzhMS4gAEAd0RrjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR[...]
[...]
