---
version: 1
interactions:
- request:
    body: '{"location":"eastus","name":"asotest-rg-fucqkw","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw","name":"asotest-rg-fucqkw","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"eastus","name":"asotest-sqlserver-mtsojo","properties":{"administratorLogin":"myadmin","administratorLoginPassword":"{PASSWORD}","version":"12.0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertLogicalServer","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/d16ea89d-57f8-4fa7-8096-99e387b05ab8?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/serverOperationResults/d16ea89d-57f8-4fa7-8096-99e387b05ab8?api-version=2021-11-01
      Retry-After:
      - "1"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/d16ea89d-57f8-4fa7-8096-99e387b05ab8?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"d16ea89d-57f8-4fa7-8096-99e387b05ab8","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo?api-version=2021-11-01
    method: GET
  response:
    body: '{"kind":"v12.0","properties":{"administratorLogin":"myadmin","version":"12.0","state":"Ready","fullyQualifiedDomainName":"asotest-sqlserver-mtsojo.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo","name":"asotest-sqlserver-mtsojo","type":"Microsoft.Sql/servers"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"kind":"StorageV2","location":"eastus","name":"asoteststorvupbxd","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd?api-version=2021-04-01
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/4d292a6e-a1d5-4cbe-86b0-064bc13146a2?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/4d292a6e-a1d5-4cbe-86b0-064bc13146a2?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/4d292a6e-a1d5-4cbe-86b0-064bc13146a2?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/4d292a6e-a1d5-4cbe-86b0-064bc13146a2?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd","name":"asoteststorvupbxd","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asoteststorvupbxd.dfs.core.windows.net/","web":"https://asoteststorvupbxd.z13.web.core.windows.net/","blob":"https://asoteststorvupbxd.blob.core.windows.net/","queue":"https://asoteststorvupbxd.queue.core.windows.net/","table":"https://asoteststorvupbxd.table.core.windows.net/","file":"https://asoteststorvupbxd.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/listKeys?api-version=2021-09-01
    method: POST
  response:
    body: '{"keys":[{"creationTime":"2001-02-03T04:05:06Z","keyName":"key1","value":"{KEY}","permissions":"FULL"},{"creationTime":"2001-02-03T04:05:06Z","keyName":"key2","value":"{KEY}","permissions":"FULL"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "11999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"default"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default?api-version=2021-04-01
    method: PUT
  response:
    body: '{"name":"default"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default?api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"vulnerabilityassessments"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default/containers/vulnerabilityassessments?api-version=2021-04-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default/containers/vulnerabilityassessments","name":"vulnerabilityassessments","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0x8DAFB44ED5F7A21"'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default/containers/vulnerabilityassessments?api-version=2021-04-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Storage/storageAccounts/asoteststorvupbxd/blobServices/default/containers/vulnerabilityassessments","name":"vulnerabilityassessments","type":"Microsoft.Storage/storageAccounts/blobServices/containers","etag":"\"0x8DAFB44ED5F7A21\"","properties":{"deleted":false,"remainingRetentionDays":0,"defaultEncryptionScope":"$account-encryption-key","denyEncryptionScopeOverride":false,"publicAccess":"None","leaseStatus":"Unlocked","leaseState":"Available","lastModifiedTime":"2001-02-03T04:05:06Z","legalHold":{"hasLegalHold":false,"tags":[]},"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0x8DAFB44ED5F7A21"'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"Default","properties":{"state":"Enabled"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/securityAlertPolicies/Default?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertServerThreatDetectionPolicy","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/securityAlertPoliciesAzureAsyncOperation/8db14c89-7be6-4e7d-897a-282c31c93826?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/securityAlertPoliciesOperationResults/8db14c89-7be6-4e7d-897a-282c31c93826?api-version=2021-11-01
      Retry-After:
      - "3"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"asotest-firewall-cskfjr","properties":{"endIPv6Address":"2001:db8:0000:0000:0000:0000:00ff:ffff","startIPv6Address":"2001:db8::"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/ipv6FirewallRules/asotest-firewall-cskfjr?api-version=2021-11-01
    method: PUT
  response:
    body: '{"properties":{"startIPv6Address":"2001:db8::","endIPv6Address":"2001:db8:0000:0000:0000:0000:00ff:ffff"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/ipv6FirewallRules/asotest-firewall-cskfjr","name":"asotest-firewall-cskfjr","type":"Microsoft.Sql/servers/ipv6FirewallRules"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-firewall-hpmpki","properties":{"endIpAddress":"0.0.0.0","startIpAddress":"0.0.0.0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/firewallRules/asotest-firewall-hpmpki?api-version=2021-11-01
    method: PUT
  response:
    body: '{"properties":{"startIpAddress":"0.0.0.0","endIpAddress":"0.0.0.0"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/firewallRules/asotest-firewall-hpmpki","name":"asotest-firewall-hpmpki","type":"Microsoft.Sql/servers/firewallRules"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"location":"eastus","name":"asotest-db-hnbpdp","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/databases/asotest-db-hnbpdp?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"CreateLogicalDatabase","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/4b90e4e5-3563-4a78-acfa-80b67477f017?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/databaseOperationResults/4b90e4e5-3563-4a78-acfa-80b67477f017?api-version=2021-11-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"location":"eastus","name":"asotest-pool-dqziht","properties":{"perDatabaseSettings":{"maxCapacity":100,"minCapacity":0}},"sku":{"capacity":100,"name":"StandardPool","tier":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/elasticPools/asotest-pool-dqziht?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"CreateLogicalElasticPool","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/elasticPoolAzureAsyncOperation/1fbbda02-110a-4586-8561-4ea5aec0bf19?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/elasticPoolOperationResults/1fbbda02-110a-4586-8561-4ea5aec0bf19?api-version=2021-11-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: '{"location":"eastus","name":"asotest-vn-gsaxis","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Network/virtualNetworks/asotest-vn-gsaxis?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-vn-gsaxis\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Network/virtualNetworks/asotest-vn-gsaxis\",\r\n
      \ \"etag\": \"W/\\\"419bf251-35b4-4aff-a41b-736b4105b1e3\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"3da0d116-3040-4b24-937c-84a42c5b7283\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":
      [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/4b5803e9-bfe1-44ee-b783-2b757e734710?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/securityAlertPoliciesAzureAsyncOperation/8db14c89-7be6-4e7d-897a-282c31c93826?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"8db14c89-7be6-4e7d-897a-282c31c93826","status":"Succeeded","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/securityAlertPolicies/Default?api-version=2021-11-01
    method: GET
  response:
    body: '{"properties":{"state":"Enabled","disabledAlerts":[""],"emailAddresses":[""],"emailAccountAdmins":false,"storageEndpoint":"","storageAccountAccessKey":"","retentionDays":0,"creationTime":"2001-02-03T04:05:06Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/securityAlertPolicies/Default","name":"Default","type":"Microsoft.Sql/servers/securityAlertPolicies"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/4b90e4e5-3563-4a78-acfa-80b67477f017?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"4b90e4e5-3563-4a78-acfa-80b67477f017","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "15"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/elasticPoolAzureAsyncOperation/1fbbda02-110a-4586-8561-4ea5aec0bf19?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"1fbbda02-110a-4586-8561-4ea5aec0bf19","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "15"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/4b5803e9-bfe1-44ee-b783-2b757e734710?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","properties":{"recurringScans":{"isEnabled":false},"storageAccountAccessKey":"{KEY}","storageContainerPath":"https://asoteststorvupbxd.blob.core.windows.net/vulnerabilityassessments"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/vulnerabilityAssessments/default?api-version=2021-11-01
    method: PUT
  response:
    body: '{"properties":{"storageContainerPath":"https://asoteststorvupbxd.blob.core.windows.net/vulnerabilityassessments/","recurringScans":{"isEnabled":false,"emailSubscriptionAdmins":true}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/vulnerabilityAssessments/Default","name":"Default","type":"Microsoft.Sql/servers/vulnerabilityAssessments"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/vulnerabilityAssessments/default?api-version=2021-11-01
    method: GET
  response:
    body: '{"properties":{"storageContainerPath":"https://asoteststorvupbxd.blob.core.windows.net/vulnerabilityassessments/","recurringScans":{"isEnabled":false,"emailSubscriptionAdmins":true,"emails":[]}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/vulnerabilityAssessments/Default","name":"Default","type":"Microsoft.Sql/servers/vulnerabilityAssessments"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/ipv6FirewallRules/asotest-firewall-cskfjr?api-version=2021-11-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The requested resource of
      type ''Microsoft.Sql/servers/ipv6FirewallRules'' with name ''asotest-firewall-cskfjr''
      was not found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"name":"Default","properties":{"state":"Enabled"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/advancedThreatProtectionSettings/Default?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertServerThreatDetectionPolicy","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/advancedThreatProtectionAzureAsyncOperation/b77069cb-9f95-4f44-8c3f-920724bbe124?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/advancedThreatProtectionOperationResults/b77069cb-9f95-4f44-8c3f-920724bbe124?api-version=2021-11-01
      Retry-After:
      - "3"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"server.database.windows.net"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/servers/asotest-sqlserver-mtsojo/outboundFirewallRules/server.database.windows.net?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"CreateLogicalServerOutboundFirewallRule","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/outboundFirewallRulesAzureAsyncOperation/42f519ae-cd59-476f-a461-696bc8fc8d1c?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/outboundFirewallRulesOperationResults/42f519ae-cd59-476f-a461-696bc8fc8d1c?api-version=2021-11-01
      Retry-After:
      - "5"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/advancedThreatProtectionAzureAsyncOperation/b77069cb-9f95-4f44-8c3f-920724bbe124?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"b77069cb-9f95-4f44-8c3f-920724bbe124","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Sql/locations/eastus/outboundFirewallRulesAzureAsyncOperation/42f519ae-cd59-476f-a461-696bc8fc8d1c?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"42f519ae-cd59-476f-a461-696bc8fc8d1c","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-subnet-qmdxpo","properties":{"addressPrefix":"10.0.0.0/24","privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Disabled","serviceEndpoints":[{"service":"Microsoft.Sql"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-fucqkw/providers/Microsoft.Network/virtualNetworks/asotest-vn-gsaxis/subnets/asotest-subnet-qmdxpo?api-version=2020-11-01
    method: PUT
  response:
[...]
