---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-ecveqt","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 31ec9675ef9256f471ef7b89245f30d5a724e5b0d4bb61ff0fd5db8e7614182f
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt","name":"asotest-rg-ecveqt","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.589485112s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt","name":"asotest-rg-ecveqt","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 304.470994ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"kind":"web","location":"westus2","name":"asotest-component-bbpfnz","properties":{"Application_Type":"other"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 3f8e75871a9f63c089aced76a723ad4fdd7784b931e77a2d2726ff760fe57997
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/Microsoft.Insights/components/asotest-component-bbpfnz?api-version=2020-02-02
        method: PUT
      response:
        body: "{\r\n  \"kind\": \"web\",\r\n  \"etag\": \"\\\"4705c6bf-0000-0800-0000-68747b150000\\\"\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/microsoft.insights/components/asotest-component-bbpfnz\",\r\n  \"name\": \"asotest-component-bbpfnz\",\r\n  \"type\": \"microsoft.insights/components\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"ApplicationId\": \"asotest-component-bbpfnz\",\r\n    \"AppId\": \"2426da44-c19d-43bc-90ac-249a34eb9d85\",\r\n    \"Application_Type\": \"other\",\r\n    \"Flow_Type\": null,\r\n    \"Request_Source\": null,\r\n    \"InstrumentationKey\": \"b91b1e4c-60c2-4794-9488-1824dbe88ab4\",\r\n    \"ConnectionString\": \"InstrumentationKey=b91b1e4c-60c2-4794-9488-1824dbe88ab4;IngestionEndpoint=https://westus2-2.in.applicationinsights.azure.com/;LiveEndpoint=https://westus2.livediagnostics.monitor.azure.com/;ApplicationId=2426da44-c19d-43bc-90ac-249a34eb9d85\",\r\n    \"Name\": \"asotest-component-bbpfnz\",\r\n    \"CreationDate\": \"2025-07-14T03:35:38.3643673+00:00\",\r\n    \"TenantId\": \"00000000-0000-0000-0000-000000000000\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"SamplingPercentage\": null,\r\n    \"RetentionInDays\": 90,\r\n    \"WorkspaceResourceId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ai_asotest-component-bbpfnz_2426da44-c19d-43bc-90ac-249a34eb9d85_managed/providers/Microsoft.OperationalInsights/workspaces/managed-asotest-component-bbpfnz-ws\",\r\n    \"IngestionMode\": \"LogAnalytics\",\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\": \"Enabled\",\r\n    \"Ver\": \"v2\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "12000"
        status: 200 OK
        code: 200
        duration: 13.487214487s
[...]
    - id: 6
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-webtest-mwlxeg","properties":{"Enabled":true,"Frequency":300,"Kind":"standard","Locations":[{"Id":"us-ca-sjc-azr"}],"Name":"mywebtest","Request":{"HttpVerb":"GET","RequestUrl":"https://github.com/Azure/azure-service-operator"},"SyntheticMonitorId":"asotest-webtest-mwlxeg","ValidationRules":{"ExpectedHttpStatusCode":200,"SSLCertRemainingLifetimeCheck":7,"SSLCheck":true}},"tags":{"hidden-link:/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/microsoft.insights/components/asotest-component-bbpfnz":"Resource"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 1230d6c61f5bff2e43e123be04c1d46312de987a544065ccc9fc3b167fb2e576
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/Microsoft.Insights/webtests/asotest-webtest-mwlxeg?api-version=2022-06-15
        method: PUT
      response:
        body: "{\r\n  \"kind\": null,\r\n  \"etag\": \"\\\"4705afc9-0000-0800-0000-68747b370000\\\"\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/microsoft.insights/webtests/asotest-webtest-mwlxeg\",\r\n  \"name\": \"asotest-webtest-mwlxeg\",\r\n  \"type\": \"microsoft.insights/webtests\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"hidden-link:/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/microsoft.insights/components/asotest-component-bbpfnz\": \"Resource\"\r\n  },\r\n  \"properties\": {\r\n    \"SyntheticMonitorId\": \"asotest-webtest-mwlxeg\",\r\n    \"Name\": \"mywebtest\",\r\n    \"Description\": null,\r\n    \"Enabled\": true,\r\n    \"Frequency\": 300,\r\n    \"Timeout\": 30,\r\n    \"Kind\": \"standard\",\r\n    \"RetryEnabled\": null,\r\n    \"Locations\": [\r\n      {\r\n        \"Id\": \"us-ca-sjc-azr\"\r\n      }\r\n    ],\r\n    \"Configuration\": null,\r\n    \"Request\": {\r\n      \"RequestUrl\": \"https://github.com/Azure/azure-service-operator\",\r\n      \"Headers\": null,\r\n      \"HttpVerb\": \"GET\",\r\n      \"RequestBody\": null,\r\n      \"ParseDependentRequests\": null,\r\n      \"FollowRedirects\": null\r\n    },\r\n    \"ValidationRules\": {\r\n      \"ExpectedHttpStatusCode\": 200,\r\n      \"IgnoreHttpStatusCode\": null,\r\n      \"ContentValidation\": null,\r\n      \"SSLCheck\": true,\r\n      \"SSLCertRemainingLifetimeCheck\": 7\r\n    },\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 4.479656051s
    - id: 7
      request:
        host: management.azure.com
        body: '{"name":"current","properties":{"planType":"Basic","stopSendNotificationWhenHitCap":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 70cd276aea25f5a3e6eecd22dbaa01aa48092b5a1260327375dc028601cb53e4
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/microsoft.insights/components/asotest-component-bbpfnz/pricingPlans/current?api-version=2017-10-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/microsoft.insights/components/asotest-component-bbpfnz/pricingPlans/current","name":"current","type":"microsoft.insights/components/pricingPlans","location":null,"tags":null,"kind":null,"etag":null,"properties":{"planType":"Basic","PricingType":"Basic","cap":0.0,"maxHistoryCap":1000.0,"resetHour":0,"warningThreshold":0,"stopSendNotificationWhenHitThreshold":false,"stopSendNotificationWhenHitCap":true,"DataVolumeCap":0.0,"MaxHistoryCap":1000.0,"ResetHour":0,"WarningThreshold":0,"DisableNotificationWhenHitThreshold":false,"DisableNotificationWhenHitCap":true,"IsDreamSpark":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 4.710579627s
[...]
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/Microsoft.Insights/webtests/asotest-webtest-mwlxeg?api-version=2022-06-15
        method: GET
      response:
        body: "{\r\n  \"kind\": null,\r\n  \"etag\": \"\\\"4705afc9-0000-0800-0000-68[...]
[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/Microsoft.Insights/webtests/asotest-webtest-nlulpz?api-version=2018-05-01-preview
        method: GET
      response:
        body: "{\r\n  \"kind\": null,\r\n  \"etag\": \"\\\"4705f1c9-0000-080[...]
[...]
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/microsoft.insights/webtests/asotest-webtest-mwlxeg?api-version=2022-06-15
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''microsoft.insights/webtests/asotest-webtest-mwlxeg'' under resource group ''asotest-rg-ecveqt'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 285.26597ms
    - id: 21
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/microsoft.insights/webtests/asotest-webtest-nlulpz?api-version=2018-05-01-preview
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''microsoft.insights/webtests/asotest-webtest-nlulpz'' under resource group ''asotest-rg-ecveqt'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 298.249385ms
[...]
    - id: 23
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt/providers/microsoft.insights/components/asotest-component-bbpfnz?api-version=2020-02-02
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''microsoft.insights/components/asotest-component-bbpfnz'' under resource group ''asotest-rg-ecveqt'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 286.904891ms
    - id: 24
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ecveqt?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRFQ1ZFUVQtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638880610388460804&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ2[...]
    - id: 25
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRFQ1ZFUVQtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638880610388460804&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqh[...]
[...]
