---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-mulbes","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-mulbes?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-mulbes","name":"asotest-rg-mulbes","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"asotest-rg-rjzjbd","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rjzjbd?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rjzjbd","name":"asotest-rg-rjzjbd","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-mi-vdvckd"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-mulbes/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-vdvckd?api-version=2018-11-30
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-mulbes/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-vdvckd","name":"asotest-mi-vdvckd","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus2","tags":{},"properties":{"tenantId":"00000000-0000-0000-0000-000000000000","principalId":"fe37d5cb-8562-4f9f-a884-3eab6f541d46","clientId":"5250fc90-a30d-4462-ae5a-ec5970e14c68"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-mulbes/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-vdvckd
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"location":"westus2","name":"asotest-mi-qgibnx"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rjzjbd/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-qgibnx?api-version=2018-11-30
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-rjzjbd/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-qgibnx","name":"asotest-mi-qgibnx","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus2","tags":{},"properties":{"tenantId":"00000000-0000-0000-0000-000000000000","principalId":"f31621aa-ea2d-4352-8648-dcf69feae3bb","clientId":"3d38b4b7-ad42-47d6-8cb6-820eec442527"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-rjzjbd/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-qgibnx
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"d8026a10-d501-48c0-a422-1b39bcecf3bb","properties":{"principalId":"fe37d5cb-8562-4f9f-a884-3eab6f541d46","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-mulbes/providers/Microsoft.Authorization/roleAssignments/d8026a10-d501-48c0-a422-1b39bcecf3bb?api-version=2020-08-01-preview
    method: PUT
  response:
    body: '{"error":{"code":"PrincipalNotFound","message":"Principal fe37d5cb85624f9fa8843eab6f541d46
      does not exist in the directory 00000000-0000-0000-0000-000000000000. Check
      that you have the correct principal ID. If you are creating this principal and
      then immediately assigning a role, this error might be related to a replication
      delay. In this case, set the role assignment principalType property to a value,
      such as ServicePrincipal, User, or Group.  See https://aka.ms/docs-principaltype"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"name":"d8026a10-d501-48c0-a422-1b39bcecf3bb","properties":{"principalId":"fe37d5cb-8562-4f9f-a884-3eab6f541d46","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "4"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-mulbes/providers/Microsoft.Authorization/roleAssignments/d8026a10-d501-48c0-a422-1b39bcecf3bb?api-version=2020-08-01-preview
    method: PUT
  response:
    body: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"fe37d5cb-8562-4f9f-a884-3eab6f541d46","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-mulbes","condition":null,"conditionVersion":null,"createdOn":"2001-02-03T04:05:06Z","updatedOn":"2001-02-03T04:05:06Z","createdBy":null,"updatedBy":"84f47115-7605-44df-accf-7e01c55e425f","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-mulbes/providers/Microsoft.Authorization/roleAssignments/d8026a10-d501-48c0-a422-1b39bcecf3bb","type":"Microsoft.Authorization/roleAssignments","name":"d8026a10-d501-48c0-a422-1b39bcecf3bb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"d8026a10-d501-48c0-a422-1b39bcecf3bb","properties":{"principalId":"f31621aa-ea2d-4352-8648-dcf69feae3bb","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rjzjbd?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRSSlpKQkQtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRSSlpKQkQtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRSSlpKQkQtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRNVUxCRVMtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRNVUxCRVMtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-mulbes/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-vdvckd?api-version=2018-11-30
    method: DELETE
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-mulbes''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
