---
version: 2
interactions:
    - id: 0
      request:
        host: graph.microsoft.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://graph.microsoft.com/v1.0/groups?%24filter=displayName%20eq%20%27ASO%20Test%20Security%20Group%27
        method: GET
      response:
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups","value":[]}'
        headers:
            Content-Type:
                - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
            Odata-Version:
                - "4.0"
            X-Ms-Ags-Diagnostic:
                - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SY1PEPF00005341"}}'
            X-Ms-Resource-Unit:
                - "1"
        status: 200 OK
        code: 200
        duration: 1.395381198s
    - id: 1
      request:
        host: graph.microsoft.com
        body: '{"@odata.type":"#microsoft.graph.group","displayName":"ASO Test Security Group","groupTypes":["Unified"],"mailEnabled":false,"mailNickname":"asotest-security-group","securityEnabled":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7e51a3eea7dc8d8445aba017df39473d4c3dcf740f8e35176b36abde22d239fc
        url: https://graph.microsoft.com/v1.0/groups
        method: POST
      response:
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups/$entity","id":"dcdd63ee-9f84-4cb2-92df-0b007a2ca81a","deletedDateTime":null,"classification":null,"createdDateTime":"2001-02-03T04:05:06Z","creationOptions":[],"description":null,"displayName":"ASO Test Security Group","expirationDateTime":null,"groupTypes":["Unified"],"isAssignableToRole":null,"mail":"asotest-security-group@microsoft.onmicrosoft.com","mailEnabled":true,"mailNickname":"asotest-security-group","membershipRule":null,"membershipRuleProcessingState":null,"onPremisesDomainName":null,"onPremisesLastSyncDateTime":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"onPremisesSyncEnabled":null,"preferredDataLocation":"APC","preferredLanguage":null,"proxyAddresses":["SMTP:asotest-security-group@microsoft.onmicrosoft.com"],"renewedDateTime":"2001-02-03T04:05:06Z","resourceBehaviorOptions":[],"resourceProvisioningOptions":[],"securityEnabled":true,"securityIdentifier":"S-1-12-1-3705496558-1286774660-778130-447229050","theme":null,"uniqueName":null,"visibility":"Public","onPremisesProvisioningErrors":[],"serviceProvisioningErrors":[]}'
        headers:
            Content-Type:
                - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
            Location:
                - https://graph.microsoft.com/v2/00000000-0000-0000-0000-000000000000/directoryObjects/dcdd63ee-9f84-4cb2-92df-0b007a2ca81a/Microsoft.DirectoryServices.Group
            Odata-Version:
                - "4.0"
            X-Ms-Ags-Diagnostic:
                - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SY1PEPF00005341"}}'
            X-Ms-Resource-Unit:
                - "1"
        status: 201 Created
        code: 201
        duration: 2.986316166s
    - id: 2
      request:
        host: graph.microsoft.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://graph.microsoft.com/v1.0/groups/dcdd63ee-9f84-4cb2-92df-0b007a2ca81a
        method: GET
      response:
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups/$entity","id":"dcdd63ee-9f84-4cb2-92df-0b007a2ca81a","deletedDateTime":null,"classification":null,"createdDateTime":"2001-[...]
[...]
    - id: 4
      request:
        host: graph.microsoft.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://graph.microsoft.com/v1.0/groups/dcdd63ee-9f84-4cb2-92df-0b007a2ca81a
        method: DELETE
      response:
        body: '{"error":{"code":"InternalServerError","message":"{\"odata.error\":{\"code\":\"ResourceNotFound\",\"message\":{\"lang\":\"en-US\",\"value\":\"Group with identifier dcdd63ee-9f84-4cb2-92df-0b007a2ca81a not found\"}}}","innerError":{"date":"2025-06-13T04:21:47","request-id":"0fe727d5-1542-4e2d-b634-5da696cbe7a7","client-request-id":"0fe727d5-1542-4e2d-b634-5da696cbe7a7"}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ags-Diagnostic:
                - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SY1PEPF00005341"}}'
        status: 404 Not Found
        code: 404
        duration: 1.264353114s
