---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-czjvyk","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-czjvyk?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-czjvyk","name":"asotest-rg-czjvyk","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"identity":{"type":"SystemAssigned"},"location":"westus2","name":"asotestdatafactoryccuhbb","properties":{"globalParameters":{"testKey":{"type":"String","value":{"foo":"value"}}}},"tags":{"cheese":"blue"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-czjvyk/providers/Microsoft.DataFactory/factories/asotestdatafactoryccuhbb?api-version=2018-06-01
    method: PUT
  response:
    body: |-
      {
        "name": "asotestdatafactoryccuhbb",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-czjvyk/providers/Microsoft.DataFactory/factories/asotestdatafactoryccuhbb",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2001-02-03T04:05:06Z",
          "version": "2018-06-01",
          "globalParameters": {
            "testKey": {
              "type": "String",
              "value": {
                "foo": "value"
              }
            }
          }
        },
        "eTag": "\"0d007d07-0000-0800-0000-643f054a0000\"",
        "location": "westus2",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "6b7e083d-daca-4dc6-8ccd-362f568d9bed",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "tags": {
          "cheese": "blue"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-czjvyk/providers/Microsoft.DataFactory/factories/asotestdatafactoryccuhbb?api-version=2018-06-01
    method: GET
  response:
    body: |-
      {
        "name": "asotestdatafactoryccuhbb",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-czjvyk/providers/Microsoft.DataFactory/factories/asotestdatafactoryccuhbb",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2001-02-03T04:05:06Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          },
          "globalParameters": {
            "testKey": {
              "type": "String",
              "value": {
                "foo": "value"
              }
            }
          }
        },
        "eTag": "\"0d007d07-0000-0800-0000-643f054a0000\"",
        "location": "westus2",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "6b7e083d-daca-4dc6-8ccd-362f568d9bed",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "tags": {
          "cheese": "blue"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "2"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-czjvyk/providers/Microsoft.DataFactory/factories/asotestdatafactoryccuhbb?api-version=2018-06-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.DataFactory/factories/asotestdatafactoryccuhbb''
      under resource group ''asotest-rg-czjvyk'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-czjvyk?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRDWkpWWUstV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRDWkpWWUstV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
    status: 200 OK
    code: 200
    duration: ""
