---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-rpjuxd","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 4adca3e4736dcc2c5c9248d1b4b289fd18e6113c747aa5842a87965030fcb422
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd","name":"asotest-rg-rpjuxd","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.566933837s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd","name":"asotest-rg-rpjuxd","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
        status: 200 OK
        code: 200
        duration: 410.396943ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/asotest-vn-javcjf'' under resource group ''asotest-rg-rpjuxd'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 398.396795ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vn-javcjf","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 76637c4e28bcdf88bbe7b4e88497b7f4416128be4dc54dc9b950083710ea80de
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"asotest-vn-javcjf","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf","etag":"W/\"9e3ce598-a8b7-413a-98d8-87ae0fcbec8d\"","type":"Microsoft.Network/virtualNetworks","location":"westus2","properties":{"provisioningState":"Updating","resourceGuid":"242f9a77-c757-4d45-b332-68e7a5a8a6b2","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/303c8f0c-547d-4c1f-b1ec-9d79921a1b59?api-version=2020-11-01&t=638990970295150373&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLm[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/303c8f0c-547d-4c1f-b1ec-9d79921a1b59?api-version=2020-11-01&t=638990970295150373&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMR[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "1"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"asotest-vn-javcjf","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf","etag":"W/\"7ddd0164-8779-491e-9975-cd4e30bce188\"","type":"Microsoft.Network/virtualNetworks","location":"westus2","properties":{"provisioningState":"Succeeded","resourceGuid":"242f9a77-c757-4d45-b332-68e7a5a8a6b2","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"7ddd0164-8779-491e-9975-cd4e30bce188"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 1.614290354s
[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc'' under resource group ''asotest-rg-rpjuxd'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 365.508731ms
    - id: 8
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-loadbalancer-kxfeqc","properties":{"frontendIPConfigurations":[{"name":"LoadBalancerFrontend","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf/subnets/asotest-subnet-koyhfp"}}}],"inboundNatPools":[{"name":"MyFancyNatPool","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc/frontendIPConfigurations/LoadBalancerFrontend"},"frontendPortRangeEnd":51000,"frontendPortRangeStart":50000,"protocol":"Tcp"}}]},"sku":{"name":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 4a87fdae404a4a7118b168397a47ad01d2aca5608add4c7faebae72c1179cce5
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc?api-version=2020-11-01
        method: PUT
      response:
        body: '{"error":{"code":"NotFound","message":"Resource /children//subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ASOTEST-RG-RPJUXD/providers/Microsoft.Network/virtualNetworks/ASOTEST-VN-JAVCJF/subnets/ASOTEST-SUBNET-KOYHFP not found.","details":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 404 Not Found
        code: 404
        duration: 611.67131ms
    - id: 9
      request:
        host: management.azure.com
        body: '{"name":"asotest-subnet-koyhfp","properties":{"addressPrefix":"10.0.0.0/24","privateLinkServiceNetworkPolicies":"Disabled"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - e8c91f344196b008a9048fad716f27104ea273f4aeed9542af21e7221e3265d5
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf/subnets/asotest-subnet-koyhfp?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"asotest-subnet-koyhfp","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf/subnets/asotest-subnet-koyhfp","etag":"W/\"3743c4b8-e31b-49c0-a12c-fc4196e3143a\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Disabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/04f4346a-3751-4f02-adae-187559157402?api-version=2020-11-01&t=638990970450841381&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0b[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/04f4346a-3751-4f02-adae-187559157402?api-version=2020-11-01&t=638990970450841381&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/2319148d-3e1d-4155-b546-968d0f4a69ca?api-version=2020-11-01&t=638990970630050804&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "2"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"asotest-loadbalancer-kxfeqc","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc","etag":"W/\"c930f8a2-ae5f-43cb-9cb0-1c10bb7bd9b4\"","type":"Microsoft.Network/loadBalancers","location":"westus2","properties":{"provisioningState":"Succeeded","resourceGuid":"c583cfa9-e598-4a9d-b080-1f0aa62c6a8b","frontendIPConfigurations":[{"name":"LoadBalancerFrontend","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc/frontendIPConfigurations/LoadBalancerFrontend","etag":"W/\"c930f8a2-ae5f-43cb-9cb0-1c10bb7bd9b4\"","type":"Microsoft.Network/loadBalancers/frontendIPConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf/subnets/asotest-subnet-koyhfp"},"inboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc/inboundNatPools/MyFancyNatPool"}],"privateIPAddressVersion":"IPv4"}}],"backendAddressPools":[],"loadBalancingRules":[],"probes":[],"inboundNatRules":[],"outboundRules":[],"inboundNatPools":[{"name":"MyFancyNatPool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc/inboundNatPools/MyFancyNatPool","etag":"W/\"c930f8a2-ae5f-43cb-9cb0-1c10bb7bd9b4\"","properties":{"provisioningState":"Succeeded","frontendPortRangeStart":50000,"frontendPortRangeEnd":51000,"backendPort":22,"protocol":"Tcp","idleTimeoutInMinutes":4,"enableFloatingIP":false,"enableDestinationServiceEndpoint":false,"enableTcpReset":false,"allowBackendPortConflict":false,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc/frontendIPConfigurations/LoadBalancerFrontend"}},"type":"Microsoft.Network/loadBalancers/inboundNatPools"}]},"sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"c930f8a2-ae5f-43cb-9cb0-1c10bb7bd9b4"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 508.078369ms
[...]
    - id: 18
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-pls-zzmgdj","properties":{"autoApproval":{"subscriptions":["00000000-0000-0000-0000-000000000000"]},"ipConfigurations":[{"name":"config","properties":{"privateIPAddressVersion":"IPv4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf/subnets/asotest-subnet-koyhfp"}}}],"loadBalancerFrontendIpConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc/frontendIPConfigurations/LoadBalancerFrontend"}],"visibility":{"subscriptions":["00000000-0000-0000-0000-000000000000"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 3ffe1378ad8bbadae44722d89c687aac6db36545cc513940b22969e1e110a291
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/privateLinkServices/asotest-pls-zzmgdj?api-version=2022-07-01
        method: PUT
      response:
        body: '{"name":"asotest-pls-zzmgdj","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/privateLinkServices/asotest-pls-zzmgdj","etag":"W/\"a421130c-0db0-48e9-a229-13d3662f0425\"","type":"Microsoft.Network/privateLinkServices","location":"westus2","properties":{"provisioningState":"Updating","resourceGuid":"8fd0018a-bf46-4a2e-aadb-1d02195e1a77","fqdns":[],"alias":"asotest-pls-zzmgdj.a10e01b2-c09f-4685-abb4-6bea261b7842.westus2.azure.privatelinkservice","visibility":{"subscriptions":["00000000-0000-0000-0000-000000000000"]},"autoApproval":{"subscriptions":["00000000-0000-0000-0000-000000000000"]},"enableProxyProtocol":false,"loadBalancerFrontendIpConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc/frontendIPConfigurations/LoadBalancerFrontend"}],"ipConfigurations":[{"name":"config","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/privateLinkServices/asotest-pls-zzmgdj/ipConfigurations/config","etag":"W/\"a421130c-0db0-48e9-a229-13d3662f0425\"","type":"Microsoft.Network/privateLinkServices/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf/subnets/asotest-subnet-koyhfp"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"privateEndpointConnections":[],"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/networkInterfaces/asotest-pls-zzmgdj.nic.7ab8d307-f418-4132-8ba6-49e8bd83f5b5"}]}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/c98195a6-8906-48f5-92aa-c0[...]
    - id: 19
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/c98195a6-8906-48f5-92aa-c016826d2244?api-version=2022-07-01&t=638990970778972750&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 23
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-pls-zzmgdj","properties":{"autoApproval":{"subscriptions":["00000000-0000-0000-0000-000000000000"]},"ipConfigurations":[{"name":"config","properties":{"privateIPAddressVersion":"IPv4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/virtualNetworks/asotest-vn-javcjf/subnets/asotest-subnet-koyhfp"}}}],"loadBalancerFrontendIpConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-kxfeqc/frontendIPConfigurations/LoadBalancerFrontend"}],"visibility":{"subscriptions":["00000000-0000-0000-0000-000000000000"]}},"tags":{"foo":"bar"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5df963e74b9a3a59980164f17ee917aaafd04a6c524ef956777e63bcb83bb97b
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd/providers/Microsoft.Network/privateLinkServices/asotest-pls-zzmgdj?api-version=2022-07-01
        method: PUT
      response:
        body: '{"name":"asotes[...]
[...]
    - id: 27
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/46a0f106-c666-439d-b2a8-e320403cb77e?api-version=2022-07-01&t=638990971186524169&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 30
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rpjuxd?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRSUEpVWEQtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638990971376127983&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUxMDIyMTAyMjQ3WhcNMjYwNDIwMTAyMjQ3WjBAMT4wPAYDVQQDE[...]
    - id: 31
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRSUEpVWEQtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638990971376127983&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqh[...]
[...]
