---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-bcetkf","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bcetkf?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bcetkf","name":"asotest-rg-bcetkf","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"global","name":"asotest-group-lolxoh","properties":{"enabled":false,"groupShortName":"aso"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bcetkf/providers/Microsoft.Insights/actionGroups/asotest-group-lolxoh?api-version=2023-01-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/82ACD5BB-4206-47D4-9C12-A65DB028483D/resourceGroups/asotest-rg-bcetkf/providers/microsoft.insights/actionGroups/asotest-group-lolxoh","type":"Microsoft.Insights/ActionGroups","name":"asotest-group-lolxoh","location":"Global","kind":null,"tags":null,"properties":{"groupShortName":"aso","enabled":false,"emailReceivers":[],"smsReceivers":[],"webhookReceivers":[],"eventHubReceivers":[],"itsmReceivers":[],"azureAppPushReceivers":[],"automationRunbookReceivers":[],"voiceReceivers":[],"logicAppReceivers":[],"azureFunctionReceivers":[],"armRoleReceivers":[]}}'
    headers:
      Api-Supported-Versions:
      - 2016-09-01-preview, 2017-03-01-preview, 2017-04-01, 2018-03-01, 2018-09-01,
        2019-03-01, 2019-06-01, 2021-09-01, 2022-04-01, 2022-06-01, 2023-01-01, 2023-03-01-preview,
        2023-05-01-preview, 2023-05-01, 2023-08-01-preview, 2023-09-01-preview
      Content-Type:
      - application/json; charset=utf-8
      X-Activityid:
      - d8e5d057-5897-4e47-9909-8e9860f027eb
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "24"
      X-Servedby:
      - WUS2ONEIM000006
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"global","name":"asotest-group-lolxoh","properties":{"enabled":false,"groupShortName":"aso"},"tags":{"foo":"bar"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bcetkf/providers/Microsoft.Insights/actionGroups/asotest-group-lolxoh?api-version=2023-01-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/82ACD5BB-4206-47D4-9C12-A65DB028483D/resourceGroups/asotest-rg-bcetkf/providers/microsoft.insights/actionGroups[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/82ACD5BB-4206-47D4-9C12-A65DB028483D/resourceGroups/asotest-rg-bcetkf/providers/microsoft.insights/actionGroups/asotest-group-lolxoh?api-version=2023-01-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''microsoft.insights/actiongroups/asotest-group-lolxoh''
      under resource group ''asotest-rg-bcetkf'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bcetkf?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRCQ0VUS0YtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=2023-09-22T08%3a52%3a39&c=MIIHHjCCBgagAwIBAgITOgHdEa6m-L-OzhMS4gAEAd0RrjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAyMTQ1MzE1WhcNMjQwNzI3MTQ1MzE1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvb[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRCQ0VUS0YtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=2023-09-22T08%3a52%3a39&c=MIIHHjCCBgagAwIBAgITOgHdEa6m-L-OzhMS4gAEAd0RrjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYD[...]
