---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-bmnvxf","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf","name":"asotest-rg-bmnvxf","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 601.376704ms
[...]
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-vobftw","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vobftw?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vobftw","name":"asotest-rg-vobftw","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 631.917475ms
[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/virtualNetworks/asotest-vn-uhxsxe?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/asotest-vn-uhxsxe'' under resource group ''asotest-rg-bmnvxf'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 231.137121ms
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vn-uhxsxe","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/virtualNetworks/asotest-vn-uhxsxe?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-vn-uhxsxe\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/virtualNetworks/asotest-vn-uhxsxe\",\r\n  \"etag\": \"W/\\\"053cf142-633d-41de-8b81-f3667c0a9c0e\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"9923455d-dbe0-4c10-9758-9740fd7690ae\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/f12944a5-8585-4247-ad1f-066a4be856e1?api-version=2020-11-01
            Content-Type:
                - application/json; charset=utf-8
            Retry-After:
                - "3"
        status: 201 Created
        code: 201
        duration: 2.939478816s
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/f12944a5-8585-4247-ad1f-066a4be856e1?api-version=2020-11-01
        method: GET
      response:
        body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 733.283929ms
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/virtualNetworks/asotest-vn-uhxsxe?api-version=2020-11-01
        method: GET
      response:
        body: "{\r\n  \"name\": \"asotest-vn-uhxsxe\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/virtualNetworks/asotest-vn-uhxsxe\",\r\n  \"etag\": \"W/\\\"be364e4c-7be5-46fa-891b-734fd5ee55ee\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"9923455d-dbe0-4c10-9758-9740fd7690ae\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"be364e4c-7be5-46fa-891b-734fd5ee55ee"
        status: 200 OK
        code: 200
        duration: 1.007993693s
[...]
    - id: 9
      request:
        host: management.azure.com
        body: '{"name":"asotest-subnet-oxvumj","properties":{"addressPrefix":"10.0.0.0/24"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/virtualNetworks/asotest-vn-uhxsxe/subnets/asotest-subnet-oxvumj?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-subnet-oxvumj\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/virtualNetworks/asotest-vn-uhxsxe/subnets/asotest-subnet-oxvumj\",\r\n  \"etag\": \"W/\\\"51f89e9f-f4f3-4b64-8066-642f72f0cb9d\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/746e80ca-7006-44b3-8580-1ad6c23987d7?api-version=2020-11-01
            Content-Type:
                - application/json; charset=utf-8
            Retry-After:
                - "3"
        status: 201 Created
        code: 201
        duration: 1.136224652s
    - id: 10
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-nic-ynhqji","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/virtualNetworks/asotest-vn-uhxsxe/subnets/asotest-subnet-oxvumj"}}}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/networkInterfaces/asotest-nic-ynhqji?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-nic-ynhqji\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/networkInterfaces/asotest-nic-ynhqji\",\r\n  \"etag\": \"W/\\\"1e117713-8efb-4885-bc6a-68f71ed12004\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"9b627c1d-0814-4292-a17c-001341e6b805\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/networkInterfaces/asotest-nic-ynhqji/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"1e117713-8efb-4885-bc6a-68f71ed12004\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/virtualNetworks/asotest-vn-uhxsxe/subnets/asotest-subnet-oxvumj\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"lvcshgpa1miezf0ys3ap03uqvg.xx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"westus2\"\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/d5c7d51e-8c0d-4f00-a972-753d6a033cdc?api-version=2020-11-01
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 2.787136154s
[...]
    - id: 15
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vm-elimho","properties":{"hardwareProfile":{"vmSize":"Standard_D1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/networkInterfaces/asotest-nic-ynhqji"}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"bloom","computerName":"poppy"},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"18.04-LTS","version":"latest"}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Compute/virtualMachines/asotest-vm-elimho?api-version=2020-12-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-vm-elimho\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Compute/virtualMachines/asotest-vm-elimho\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"vmId\": \"7d9a8907-0e59-4260-8d39-4be2329b5fb9\",\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D1_v2\"\r\n    },\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"18.04-LTS\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"18.04.202306070\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"poppy\",\r\n      \"adminUsername\": \"bloom\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\"\r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Network/networkInterfaces/asotest-nic-ynhqji\"}]},\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/7c40a2cd-68f0-4277-a00a-a47bd5c04d9b?p=b26caeba-1a35-4884-92ce-d47b44b28157&api-version=2020-12-01
            Content-Type:
                - application/json; charset=utf-8
            Retry-After:
                - "10"
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199
        status: 201 Created
        code: 201
        duration: 4.19316005s
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/7c40a2cd-68f0-4277-a00a-a47bd5c04d9b?p=b26caeba-1a35-4884-92ce-d47b44b28157&api-version=2020-12-01
        method: GET
      response:
        body: "{\r\n  \"startTime\": \"2023-09-13T03:25:48.7295699+00:00\",\r\n  \"status\": \"InProgress\",\r\n  \"name\": \"7c40a2cd-68f0-4277-a00a-a47bd5c04d9b\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Retry-After:
                - "35"
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29993
        status: 200 OK
        code: 200
        duration: 724.426297ms
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/7c40a2cd-68f0-4277-a00a-a47bd5c04d9b?p=b26caeba-1a35-4884-92ce-d47b44b28157&api-version=2020-12-01
        method: GET
      response:
        body: "{\r\n  \"startTime\": \"2023-09-13T03:25:48.7295699+00:00\",\r\n  \"endTime\": \"2023-09-13T03:26:29.2609792+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\": \"7c40a2cd-68f0-4277-a00a-a47bd5c04d9b\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/GetOperation3Min;14996,Microsoft.Compute/GetOperation30Min;29992
        status: 200 OK
        code: 200
        duration: 707.780343ms
[...]
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-bmnvxf/providers/Microsoft.Compute/virtualMachines/asotest-vm-elimho?api-version=2020-12-01
        method: DELETE
      response:
        body: ""
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/1ee8bf32-d375-4b51-87b8-0bd281f5de2f?p=b26caeba-1a35-4884-92ce-d47b44b28157&api-version=2020-12-01
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/1ee8bf32-d375-4b51-87b8-0bd281f5de2f?p=b26caeba-1a35-4884-92ce-d47b44b28157&monitor=true&api-version=2020-12-01
            Retry-After:
                - "10"
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/DeleteVM3Min;239,Microsoft.Compute/DeleteVM30Min;1199
        status: 202 Accepted
        code: 202
        duration: 1.161320554s
[...]
    - id: 23
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vobftw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ptndoc?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/asotest-vn-ptndoc'' under resource group ''asotest-rg-vobftw'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 287.370933ms
[...]
    - id: 28
      request:
        host: management.azure.com
        body: '{"name":"asotest-subnet-scbhrt","properties":{"addressPrefix":"10.0.0.0/24"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vobftw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ptndoc/subnets/asotest-subnet-scbhrt?api-version=2020-11-01
       [...]
    - id: 29
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-nic-jqmifc","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vobftw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ptndoc/subnets/asotest-subnet-scbhrt"}}}]}}'
        form: {}
        headers:
            Content-Type:
     [...]
[...]
    - id: 34
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vm-kugeex","properties":{"hardwareProfile":{"vmSize":"Standard_D1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vobftw/providers/Microsoft.Network/networkInterfaces/asotest-nic-jqmifc"}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"bloom","computerName":"poppy"},"storageProfile":{"imag[...]
[...]
    - id: 42
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRCTU5WWEYtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=2023-09-13T03%3a28%3a49&c=MIIHHjCCBgagAwIBAgITOgHdEa6m-L-OzhMS4gAEAd0RrjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwE[...]
    - id: 43
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRWT0JGVFctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=2023-09-13T03%3a28%3a49&c=MIIHHjCCBgagAwIBAgITOgHdEa6m-L-OzhMS4gAEAd0RrjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwE[...]
[...]
