---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-akvqna","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 34d62df598075eed3b52f30137d345fff9c6538c09699ee3a5c9d68c5012fcc9
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-akvqna?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-akvqna","name":"asotest-rg-akvqna","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "2999"
        status: 201 Created
        code: 201
        duration: 1.899273856s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-akvqna?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-akvqna","name":"asotest-rg-akvqna","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
        status: 200 OK
        code: 200
        duration: 212.997142ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"kind":"AIServices","location":"eastus","name":"asotestcogsvcxmhrwi","properties":{"publicNetworkAccess":"Enabled"},"sku":{"name":"S0"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - d3c46bb34944818dec12702e7e2971d232b15c233a4744bc7e3e51676aa094f1
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-akvqna/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcxmhrwi?api-version=2024-10-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-akvqna/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcxmhrwi","name":"asotestcogsvcxmhrwi","type":"Microsoft.CognitiveServices/accounts","etag":"\"aa005d49-0000-0100-0000-685430c30000\"","location":"eastus","sku":{"name":"S0"},"kind":"AIServices","properties":{"endpoint":"https://eastus.api.cognitive.microsoft.com/","internalId":"8f712a09ef2c4079a8c5e9062b0ff13a","dateCreated":"2001-02-03T04:05:06Z","apiProperties":{"qnaAzureSearchEndpointKey":null},"callRateLimit":{"rules":[{"key":"documentTranslation.post","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"POST"}]},{"key":"documentTranslation.get","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"GET"}]},{"key":"documentTranslation.default","renewalPeriod":1,"count":20,"matchPatterns":[{"path":"translator/text/batch/*","method":"*"}]},{"key":"textTranslation","renewalPeriod":1,"count":100,"matchPatterns":[{"path":"translator/text/*","method":"*"}]},{"key":"singledocumentTranslation.default","renewalPeriod":1,"count":20,"ma[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/2b7c4675-81b9-4f56-8207-23efe0518055?api-version=2017-04-18&t=638859447722687121&c=MIIHhzCCBm-gAwIBAgITHgbGQ8iUUHaIEuL0_AAABsZDyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZP[...]
[...]
    - id: 10
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"kind":"AIServices","location":"eastus","name":"asotestcogsvcxmhrwi","properties":{"publicNetworkAccess":"Enabled"},"sku":{"name":"S0"},"tags":{"env":"test"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - d0e77c3272d57b1fa86c7dfa962062dfad24c79237913edd73fa77d477512045
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-akvqna/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcxmhrwi?api-version=2024-10-01
        method: PUT
      response:
        body: '{"id":"/subscr[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/eastus/operationResults/2b21862c-b1bc-431a-b1e0-5a3386fdc871?api-version=2017-04-18&t=638859448509472358&c=MIIHhzCCBm-gAwIBAgITHgbGQ8iUUHaIEuL0_AAABsZDyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZ[...]
[...]
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "4"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-akvqna/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcxmhrwi?api-version=2024-10-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.CognitiveServices/accounts/asotestcogsvcxmhrwi'' under resource group ''asotest-rg-akvqna'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 214.963776ms
    - id: 21
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-akvqna?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRBS1ZRTkEtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638859449412878858&c=MIIHhzCCBm-gAwIBAgITHgbGQ8iUUHaIEuL0_AAABsZDyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE2MDYzMDI5WhcNMjUxMDEzMDYzMDI5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ2[...]
    - id: 22
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRBS1ZRTkEtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638859449412878858&c=MIIHhzCCBm-gAwIBAgITHgbGQ8iUUHaIEuL0_AAABsZDyDANBgkqh[...]
