---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-cleldp","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 641e708819d7ad1f0321a110d812750d2de5e424feb967505573cac60464956f
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp","name":"asotest-rg-cleldp","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 742.950275ms
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp","name":"asotest-rg-cleldp","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 225.347997ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"kind":"StorageV2","location":"westus2","name":"asoteststorogimjc","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 123f22d929d5a5faad300654fa8dc9c0e45f9e21e1dd5ccad56a9419345bbdd4
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc?api-version=2023-01-01
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/89d64f61-0834-43ec-b7e9-0407ead6f542?monitor=true&api-version=2023-01-01&t=638790576004747073&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTIzMjA0ODUxWhcNMjUwNzIyMjA0ODUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5h[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/89d64f61-0834-43ec-b7e9-0407ead6f542?monitor=true&api-version=2023-01-01&t=638790576004747073&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZIm[...]
[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc?api-version=2023-01-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc","name":"asoteststorogimjc","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asoteststorogimjc.dfs.core.windows.net/","web":"https://asoteststorogimjc.z5.web.core.windows.net/","blob":"https://asoteststorogimjc.blob.core.windows.net/","queue":"https://asoteststorogimjc.queue.core.windows.net/","table":"https://asoteststorogimjc.table.core.windows.net/","file":"https://asoteststorogimjc.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 523.968826ms
    - id: 6
      request:
        host: management.azure.com
        body: '{"name":"default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/blobServices/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"name":"default"}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 346.590583ms
    - id: 7
      request:
        host: management.azure.com
        body: '{"name":"default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/tableServices/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"name":"default"}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 513.026615ms
    - id: 8
      request:
        host: management.azure.com
        body: '{"name":"default","properties":{"policy":{"rules":[{"definition":{"actions":{"version":{"delete":{"daysAfterCreationGreaterThan":30}}},"filters":{"blobIndexMatch":null,"blobTypes":["blockBlob"],"prefixMatch":["sample-container/blob1"]}},"enabled":true,"name":"test-rule","type":"Lifecycle"}]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - d999cd6a94c74b20094b1f220109c48150d1c26baa1c2b0dbd2c0a804f485148
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/managementPolicies/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/managementPolicies/default","name":"DefaultManagementPolicy","type":"Microsoft.Storage/storageAccounts/managementPolicies","properties":{"policy":{"rules":[{"enabled":true,"name":"test-rule","type":"Lifecycle","definition":{"actions":{"version":{"delete":{"daysAfterCreationGreaterThan":30.0}}},"filters":{"blobTypes":["blockBlob"],"prefixMatch":["sample-container/blob1"]}}}]},"lastModifiedTime":"2001-02-03T04:05:06Z"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 524.601731ms
    - id: 9
      request:
        host: management.azure.com
        body: '{"name":"default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/fileServices/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"name":"default"}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 651.713208ms
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/blobServices/default?api-version=2023-01-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 317.979944ms
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/fileServices/default?api-version=2023-01-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/fileServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/fileServices","properties":{"protocolSettings":{"smb":{}},"cors":{"corsRules":[]},"shareDeleteRetentionPolicy":{"enabled":true,"days":7}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 512.627615ms
    - id: 13
      request:
        host: management.azure.com
        body: '{"name":"default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/queueServices/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"name":"default"}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.48714317s
[...]
    - id: 15
      request:
        host: management.azure.com
        body: '{"name":"asotest-container-gybpmv"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 9e9d18925f79bcf75304046bc91d751867e1196f7b8b887d49bd1b725b4c8385
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/fileServices/default/shares/asotest-container-gybpmv?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/fileServices/default/shares/asotest-container-gybpmv","name":"asotest-container-gybpmv","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DD70A50C5A9918"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.37359303s
    - id: 16
      request:
        host: management.azure.com
        body: '{"name":"testtable"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - d04818e730db71f5894b2a70f83da141e7b6023b2e84a88bd90fe6af6207f678
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/tableServices/default/tables/testtable?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/tableServices/default/tables/testtable","name":"testtable","type":"Microsoft.Storage/storageAccounts/tableServices/tables","properties":{"tableName":"testtable"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.490193194s
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/queueServices/default?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/queueServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/queueServices","properties":{"logging":{"version":"1.0","delete":false,"read":false,"write":false,"retentionPolicy":{"enabled":false}},"cors":{"corsRules":[]}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 2.046299477s
    - id: 18
      request:
        host: management.azure.com
        body: '{"name":"asotest-container-xgblfl"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - a657c9283154de40b0aad4a304945e2d78965098eb5e8674993ac152735c82ec
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/blobServices/default/containers/asotest-container-xgblfl?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/blobServices/default/containers/asotest-container-xgblfl","name":"asotest-container-xgblfl","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DD70A50D17AA02"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.764484188s
    - id: 19
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/tableServices/default/tables/testtable?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/tableServices/default/tables/testtable","name":"testtable","type":"Microsoft.Storage/storageAccounts/tableServices/tables","properties":{"signedIdentifiers":[],"tableName":"testtable"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 308.075335ms
[...]
    - id: 22
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/fileServices/default/shares/asotest-container-gybpmv?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/fileServices/default/shares/asotest-container-gybpmv","name":"asotest-container-gybpmv","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DD70A50C5A9918\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"accessTier":"TransactionOptimized","accessTierChangeTime":"2001-02-03T04:05:06Z","lastModifiedTime":"2001-02-03T04:05:06Z","shareQuota":102400}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DD70A50C5A9918"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 796.866827ms
[...]
    - id: 24
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/blobServices/default/containers/asotest-container-xgblfl?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/blobServices/default/containers/asotest-container-xgblfl","name":"asotest-container-xgblfl","type":"Microsoft.Storage/storageAccounts/blobServices/containers","etag":"\"0x8DD70A50D17AA02\"","properties":{"deleted":false,"remainingRetentionDays":0,"defaultEncryptionScope":"$account-encryption-key","denyEncryptionScopeOverride":false,"publicAccess":"None","leaseStatus":"Unlocked","leaseState":"Available","lastModifiedTime":"2001-02-03T04:05:06Z","legalHold":{"hasLegalHold":false,"tags":[]},"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DD70A50D17AA02"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 985.817502ms
[...]
    - id: 27
      request:
        host: management.azure.com
        body: '{"name":"asotest-queue-osvcjq"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - c5493418623064d0b1cb1b5a39b0c9e7a0a18f1256671db8d201c72acd38d4e2
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/queueServices/default/queues/asotest-queue-osvcjq?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/queueServices/default/queues/asotest-queue-osvcjq","name":"asotest-queue-osvcjq","type":"Microsoft.Storage/storageAccounts/queueServices/queues","properties":{"metadata":{}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.121909101s
    - id: 28
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/queueServices/default/queues/asotest-queue-osvcjq?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc/queueServices/default/queues/asotest-queue-osvcjq","name":"asotest-queue-osvcjq","type":"Microsoft.Storage/storageAccounts/queueServices/queues","properties":{"metadata":{},"approximateMessageCount":0}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 572.126919ms
[...]
    - id: 32
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "1"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cleldp/providers/Microsoft.Storage/storageAccounts/asoteststorogimjc?api-version=2023-01-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Storage/storageAccounts/asoteststorogimjc'' under resource group ''asotest-rg-cleldp'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 749.851002ms
[...]
    - id: 34
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRDTEVMRFAtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638790576638885440&c=MIIHpTCCBo2gAwIBAgITfwTYu0qoRwcN0bP8jwAEBNi7SjANBgkqh[...]
[...]
