---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-xqkkzu","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7500600ba75fb21f169c57a89bd386248fefd380fe451e5b56d74d3ed7a98df8
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu","name":"asotest-rg-xqkkzu","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 785.22257ms
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu","name":"asotest-rg-xqkkzu","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 374.683248ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"asotest-function-aoofoc","properties":{"enabled":true,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu/providers/Microsoft.Web/serverfarms/asotest-appservice-ebbsbc"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 3f222e1859de7a027036f878273cbb37b8846ced03763cfab3d56f5ec11490e9
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu/providers/Microsoft.Web/sites/asotest-function-aoofoc?api-version=2022-03-01
        method: PUT
      response:
        body: '{"Code":"NotFound","Message":"Cannot find serverFarm with name asotest-appservice-ebbsbc.","Target":null,"Details":[{"Message":"Cannot find serverFarm with name asotest-appservice-ebbsbc."},{"Code":"NotFound"},{"ErrorEntity":{"ExtendedCode":"51004","MessageTemplate":"Cannot find {0} with name {1}.","Parameters":["serverFarm","asotest-appservice-ebbsbc"],"Code":"NotFound","Message":"Cannot find serverFarm with name asotest-appservice-ebbsbc."}}],"Innererror":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "799"
        status: 404 Not Found
        code: 404
        duration: 1.16483596s
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"asotest-appservice-ebbsbc","sku":{"name":"P1v2"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 46ac4b16d868c41ea9cf6349581739fdeeb2c2d849a5b73d7b7ade470328eaa4
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu/providers/Microsoft.Web/serverfarms/asotest-appservice-ebbsbc?api-version=2022-03-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu/providers/Microsoft.Web/serverfarms/asotest-appservice-ebbsbc","name":"asotest-appservice-ebbsbc","type":"Microsoft.Web/serverfarms","kind":"app","location":"westus3","properties":{"serverFarmId":23148,"name":"asotest-appservice-ebbsbc","sku":{"name":"P1v2","tier":"PremiumV2","size":"P1v2","family":"Pv2","capacity":1},"workerSize":"D1","workerSizeId":3,"workerTierName":null,"numberOfWorkers":1,"currentWorkerSize":"D1","currentWorkerSizeId":3,"currentNumberOfWorkers":1,"status":"Ready","webSpace":"asotest-rg-xqkkzu-WestUS3webspace","subscription":"00000000-0000-0000-0000-000000000000","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dedicated","siteMode":null,"geoRegion":"West US 3","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"asotest-rg-xqkkzu","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-usw3-027_23148","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":1,"currentNumberOfZonesUtilized":1,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2026-01-19T20:38:41.2233333","asyncScalingEnabled":false,"isCustomMode":false,"powerState":"Running","eligibleLogCategories":""},"sku":{"name":"P1v2","tier":"PremiumV2","size":"P1v2","family":"Pv2","capacity":1}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"1DC89839930B720"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 4.466972271s
[...]
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"asotest-function-aoofoc","properties":{"enabled":true,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu/providers/Microsoft.Web/serverfarms/asotest-appservice-ebbsbc"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 3f222e1859de7a027036f878273cbb37b8846ced03763cfab3d56f5ec11490e9
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu/providers/Microsoft.Web/sites/asotest-function-aoofoc?api-version=2022-03-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu/providers/Microsoft.Web/sites/asotest-function-aoofoc","name":"asotest-function-aoofoc","type":"Microsoft.Web/sites","kind":"app","location":"westus3","properties":{"name":"asotest-function-aoofoc","state":"Running","hostNames":["asotest-function-aoofoc.azurewebsites.net"],"webSpace":"asotest-rg-xqkkzu-WestUS3webspace","selfLink":"https://waws-prod-usw3-027.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/asotest-rg-xqkkzu-WestUS3webspace/sites/asotest-function-aoofoc","repositorySiteName":"asotest-function-aoofoc","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["asotest-function-aoofoc.azurewebsites.net","asotest-function-aoofoc.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"asotest-function-aoofoc.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"asotest-function-aoofoc.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu/providers/Microsoft.Web/serverfarms/asotest-appservice-ebbsbc","reserved":false,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2026-01-19T20:38:44.3666667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"asotest-function-aoofoc","slotName":null,"trafficManagerHostNames":null,"sku":"PremiumV2","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"EFF02641736216A6CF4A85BE2625D8D075D5E5C45BBE094AB95EC8CC9DC473BF","kind":"app","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.118.138.139","possibleInboundIpAddresses":"20.118.138.139","inboundIpv6Address":"2603:1030:504:3::3","possibleInboundIpv6Addresses":"2603:1030:504:3::3","ftpUsername":"asotest-function-aoofoc\\$asotest-function-aoofoc","ftpsHostName":"ftps://waws-prod-usw3-027.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"20.14.25.70,20.14.25.156,20.14.25.205,20.14.26.136,20.14.27.13,20.14.27.43,20.118.138.139","possibleOutboundIpAddresses":"20.14.24.96,20.14.24.173,20.14.24.253,20.14.25.49,20.14.25.64,20.14.25.67,20.14.31.169,20.14.31.194,20.14.31.217,20.14.64.48,20.14.64.55,20.14.64.70,20.14.64.80,20.14.64.96,20.14.64.98,20.14.64.106,20.14.64.117,20.14.65.1,4.236.56.52,20.14.25.70,20.14.25.156,20.14.25.205,20.14.26.136,20.14.27.13,20.14.27.43,20.14.27.158,20.14.27.246,20.14.28.65,20.14.28.204,20.14.29.150,20.14.29.170,20.14.30.40,20.14.30.163,20.14.30.201,20.14.31.105,20.14.31.123,20.14.31.147,20.14.65.6,20.14.65.82,20.14.65.188,20.14.66.10,20.14.66.17,20.14.66.39,20.118.138.139","outboundIpv6Addresses":"2603:1030:501::44d,2603:1030:501:15::63,2603:1030:501:10::a7,2603:1030:501:15::64,2603:1030:501:15::65,2603:1030:501:15::66,2603:1030:504:3::3,2603:10e1:100:2::1476:8a8b","possibleOutboundIpv6Addresses":"2603:1030:501::44b,2603:1030:501:10::a4,2603:1030:501:15::62,2603:1030:501:10::a5,2603:1030:501::44c,2603:1030:501:10::a6,2603:1030:501:15::6d,2603:1030:501::457,2603:1030:501:10::ab,2603:1030:501::45a,2603:1030:501:10::ac,2603:1030:501:10::ad,2603:1030:501::45c,2603:1030:501::45d,2603:1030:501:10::ae,2603:1030:501::465,2603:1030:501:15::6e,2603:1030:501:15::6f,2603:1030:501::44d,2603:1030:501:15::63,2603:1030:501:10::a7,2603:1030:501:15::64,2603:1030:501:15::65,2603:1030:501:15::66,2603:1030:501:15::67,2603:1030:501:10::a8,2603:1030:501::452,2603:1030:501:15::68,2603:1030:501:15::69,2603:1030:501::453,2603:1030:501:15::6a,2603:1030:501::456,2603:1030:501:10::a9,2603:1030:501:10::aa,2603:1030:501:15::6b,2603:1030:501:15::6c,2603:1030:501:15::70,2603:1030:501:10::af,2603:1030:501:15::71,2603:1030:501::46a,2603:1030:501::46b,2603:1030:501:15::72,2603:1030:504:3::3,2603:10e1:100:2::1476:8a8b","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-usw3-027","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"asotest-rg-xqkkzu","defaultHostName":"asotest-function-aoofoc.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceAuditLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServiceIPSecAuditLogs,AppServicePlatformLogs,ScanLogs,AppServiceFileAuditLogs,AppServiceAntivirusScanAuditLogs,AppServiceAuthenticationLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"1DC89839AC38C20"'
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "800"
        status: 200 OK
        code: 200
        duration: 21.163752279s
[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "2"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu/providers/Microsoft.Web/sites/asotest-function-aoofoc?api-version=2022-03-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Web/sites/asotest-function-aoofoc'' under resource group ''asotest-rg-xqkkzu'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 212.737979ms
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xqkkzu?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRYUUtLWlUtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=639044520162333123&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ2[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRYUUtLWlUtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=639044520162333123&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqh[...]
[...]
