---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-flygms","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 30bedcf6cdf680880c2cbcb86ae76d62e1907297b8ddf4c101b904a487cb7567
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms","name":"asotest-rg-flygms","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.005721789s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms","name":"asotest-rg-flygms","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 231.399549ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-namespace-zuxzhe","properties":{"isAutoInflateEnabled":true,"maximumThroughputUnits":1},"sku":{"name":"Standard","tier":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 9ac68e2cf6d594d65e9c686779f24937535fe97bc93c50d0c4a06092e8a8c202
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe?api-version=2021-11-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe","name":"asotest-namespace-zuxzhe","type":"Microsoft.EventHub/Namespaces","location":"westus2","tags":{},"properties":{"disableLocalAuth":false,"zoneRedundant":true,"isAutoInflateEnabled":true,"maximumThroughputUnits":1,"kafkaEnabled":true,"provisioningState":"Updating","status":"Updating","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","metricId":"00000000-0000-0000-0000-000000000000:asotest-namespace-zuxzhe","serviceBusEndpoint":"https://asotest-namespace-zuxzhe.servicebus.windows.net:443/"},"sku":{"name":"Standard","tier":"Standard","capacity":1}}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventHub/locations/westus2/namespaceOperationResults/e352a5d9-e6b0-4453-8399-e7cb3ca4c734?isAsyncHeader=true&resourceName=asotest-namespace-zuxzhe&resourceType=namespace&api-version=2021-11-01&operationType=Active&t=638991180548159280&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxM[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventHub/locations/westus2/namespaceOperationResults/e352a5d9-e6b0-4453-8399-e7cb3ca4c734?isAsyncHeader=true&resourceName=asotest-namespace-zuxzhe&resourceType=namespace&api-version=2021-11-01&operationType=Active&t=63[...]
[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe?api-version=2021-11-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe","name":"asotest-namespace-zuxzhe","type":"Microsoft.EventHub/Namespaces","location":"westus2","tags":{},"properties":{"disableLocalAuth":false,"zoneRedundant":true,"isAutoInflateEnabled":true,"maximumThroughputUnits":1,"kafkaEnabled":true,"provisioningState":"Succeeded","status":"Active","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","metricId":"00000000-0000-0000-0000-000000000000:asotest-namespace-zuxzhe","serviceBusEndpoint":"https://asotest-namespace-zuxzhe.servicebus.windows.net:443/"},"sku":{"name":"Standard","tier":"Standard","capacity":1}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 6b8f3341-6538-41fa-a4df-128a97cfea76
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G9|2025-11-19T03:01:31
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 396.343677ms
[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventHub/locations/westus2/namespaceOperationResults/e352a5d9-e6b0-4453-8399-e7cb3ca4c734?isAsyncHeader=true&resourceName=asotest-namespace-zuxzhe&resourceType=namespace&api-version=2021-11-01&operationType=Active&t=6[...]
[...]
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe/authorizationRules/RootManageSharedAccessKey/listKeys?api-version=2024-01-01
        method: POST
      response:
        body: '{"primaryConnectionString":"Endpoint=sb://asotest-namespace-zuxzhe.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={KEY}","secondaryConnectionString":"Endpoint=sb://asotest-namespace-zuxzhe.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={KEY}","primaryKey":"{KEY}","secondaryKey":"{KEY}","keyName":"RootManageSharedAccessKey"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - c577d54e-6b95-4424-832e-90f88d5caa95
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G14|2025-11-19T03:02:09
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 936.371424ms
    - id: 18
      request:
        host: management.azure.com
        body: '{"name":"asotest-eventhub-buqdvc","properties":{"messageRetentionInDays":7,"partitionCount":1}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - b359456cd5b33fdfaf59c6fb3b6cc36ea515871773778645b933d1af48931bc2
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe/eventhubs/asotest-eventhub-buqdvc?api-version=2021-11-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe/eventhubs/asotest-eventhub-buqdvc","name":"asotest-eventhub-buqdvc","type":"Microsoft.EventHub/namespaces/eventhubs","location":"westus2","properties":{"messageRetentionInDays":7,"partitionCount":1,"status":"Active","createdAt":"0001-01-01T00:00:00","updatedAt":"2001-02-03T04:05:06Z","partitionIds":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 3d700713-53a7-4ce6-921c-cffb029523e9
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G4|2025-11-19T03:02:16
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.62894939s
[...]
    - id: 20
      request:
        host: management.azure.com
        body: '{"name":"asotest-eventhub-cooxhh","properties":{"rights":["Listen","Send"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 68d73a25469cf78f62e4c9e0890db342c487ee1e00f4cb4db149810973aee7d9
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe/authorizationRules/asotest-eventhub-cooxhh?api-version=2021-11-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe/authorizationRules/asotest-eventhub-cooxhh","name":"asotest-eventhub-cooxhh","type":"Microsoft.EventHub/Namespaces/AuthorizationRules","location":"westus2","properties":{"rights":["Listen","Send"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 25375108-39f7-4e58-8ca9-dea86b34e069
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G13|2025-11-19T03:02:22
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "12000"
        status: 200 OK
        code: 200
        duration: 7.795165651s
    - id: 21
      request:
        host: management.azure.com
        body: '{"name":"asotest-eventhub-vekpux","properties":{"rights":["Listen","Send"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 0ada0beec2f0cccfd0d171dfdb1872757470a91f53e06816dfb027631d9a7ddb
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers[...]
    - id: 22
      request:
        host: management.azure.com
        body: '{"name":"asotest-eventhub-tbninf","properties":{"userMetadata":"This is some fun metadata"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - b9546f8c252acd3c9c83e10bc84ab7cde89041a8120c400a5320e5d9380f7518
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe/eventhubs/asotest-eventhub-buqdvc/consumergroups/asotest-eventhub-tbn[...]
[...]
    - id: 31
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe/eventhubs/asotest-eventhub-buqdvc/authorizationRules/asotest-eventhub-vekpux/listKeys?api-version=2024-01-01
        method: POST
      response:
        body: '{"primaryConnectionString":"Endpoint=sb://asotest-namespace-zuxzhe.servicebus.windows.net/;SharedAccessKeyName=asotest-eventhub-vekpux;SharedAccessKey={KEY};EntityPath=asotest-eventhub-buqdvc","secondaryConnectionString":"Endpoint=sb://asotest-namespace-zuxzhe.servicebus.windows.net/;SharedAccessKeyName=asotest-eventhub-vekpux;SharedAccessKey={KEY};EntityPath=asotest-eventhub-buqdvc","primaryKey":"{KEY}","secondaryKey":"{KEY}","keyName":"asotest-eventhub-vekpux"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - c3cdde35-edf3-4775-8dd1-dd794214f562
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G6|2025-11-19T03:02:38
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 954.818468ms
[...]
    - id: 34
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe/authorizationRules/asotest-eventhub-cooxhh/listKeys?api-version=2024-01-01
        method: POST
      response:
        body: '{"primaryConnectionString":"Endpoint=sb://asotest-namespace-zuxzhe.servicebus.windows.net/;SharedAccessKeyName=asotest-eventhub-cooxhh;SharedAccessKey={KEY}","secondaryConnectionString":"Endpoint=sb://asotest-namespace-zuxzhe.servicebus.windows.net/;SharedAccessKeyName=asotest-eventhub-cooxhh;SharedAccessKey={KEY}","primaryKey":"{KEY}","secondaryKey":"{KEY}","keyName":"asotest-eventhub-cooxhh"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 4058d8b9-2ab9-4855-b46d-82fc756525c7
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G14|2025-11-19T03:02:40
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 673.160255ms
[...]
    - id: 44
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventHub/locations/westus2/namespaceOperationResults/e352a5d9-e6b0-4453-8399-e7cb3ca4c734?isAsyncHeader=true&resourceName=asotest-namespace-zuxzhe&resourceType=namespace&api-version=2021-11-01&operationType=Deleted&t=[...]
[...]
    - id: 46
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "6"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms/providers/Microsoft.EventHub/namespaces/asotest-namespace-zuxzhe?api-version=2021-11-01
        method: GET
      response:
        body: '{"error":{"code":"NamespaceNotFound","message":"Namespace ''asotest-namespace-zuxzhe'' not found"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Messaging-Activity-Id:
                - 878de294-fe6e-46ae-9a0e-9d56cd7dbda4
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G9|2025-11-19T03:03:11
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 404 Not Found
        code: 404
        duration: 2.246111633s
[...]
    - id: 48
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-flygms?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRGTFlHTVMtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638991181984370140&c=MIIIpTCCBo2gAwIBAgITFgIfhVKsWXM3Ygh08wABAh-FUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDMwHhcNMjUxMDIyMTIwOTI4WhcNMjYwNDIwMTIwOTI4WjBAMT4wPAYDVQQDE[...]
    - id: 49
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRGTFlHTVMtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638991181984370140&c=MIIIpTCCBo2gAwIBAgITFgIfhVKsWXM3Ygh08wABAh-FUjANBgkqh[...]
