---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-wivpom","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom","name":"asotest-rg-wivpom","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-domain-hhrlbw","properties":{"publicNetworkAccess":"Enabled"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw?api-version=2020-06-01
    method: PUT
  response:
    body: '{"properties":{"provisioningState":"Creating","endpoint":null,"publicNetworkAccess":"Enabled"},"systemData":null,"location":"westus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw","name":"asotest-domain-hhrlbw","type":"Microsoft.EventGrid/domains"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/westus2/operationsStatus/3CA64F88-012D-4816-9BA4-2B73FEA1773F?api-version=2020-06-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"kind":"StorageV2","location":"westus2","name":"asotestdesthiehck","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck?api-version=2021-04-01
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/cef92329-c482-474e-aef2-18b6276fe66f?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/westus2/operationsStatus/3CA64F88-012D-4816-9BA4-2B73FEA1773F?api-version=2020-06-01
    method: GET
  response:
    body: '{"id":"https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/westus2/operationsStatus/3CA64F88-012D-4816-9BA4-2B73FEA1773F?api-version=2020-06-01","name":"3ca64f88-012d-4816-9ba4-2b73fea1773f","status":"Succeeded"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw?api-version=2020-06-01
    method: GET
  response:
    body: '{"properties":{"provisioningState":"Succeeded","endpoint":"https://asotest-domain-hhrlbw.westus2-1.eventgrid.azure.net/api/events","inputSchema":"EventGridSchema","metricResourceId":"6fd2413f-ec1f-453e-ae0b-907d045a96b0","publicNetworkAccess":"Enabled"},"systemData":null,"location":"westus2","tags":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw","name":"asotest-domain-hhrlbw","type":"Microsoft.EventGrid/domains"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/cef92329-c482-474e-aef2-18b6276fe66f?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/cef92329-c482-474e-aef2-18b6276fe66f?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/cef92329-c482-474e-aef2-18b6276fe66f?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck","name":"asotestdesthiehck","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asotestdesthiehck.dfs.core.windows.net/","web":"https://asotestdesthiehck.z5.web.core.windows.net/","blob":"https://asotestdesthiehck.blob.core.windows.net/","queue":"https://asotestdesthiehck.queue.core.windows.net/","table":"https://asotestdesthiehck.table.core.windows.net/","file":"https://asotestdesthiehck.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck/queueServices/default?api-version=2021-04-01
    method: PUT
  response:
    body: '{"name":"default"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck/queueServices/default?api-version=2021-04-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck/queueServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/queueServices","properties":{"cors":{"corsRules":[]}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-dest-queue-pygufe"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck/queueServices/default/queues/asotest-dest-queue-pygufe?api-version=2021-04-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck/queueServices/default/queues/asotest-dest-queue-pygufe","name":"asotest-dest-queue-pygufe","type":"Microsoft.Storage/storageAccounts/queueServices/queues","properties":{"metadata":{}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck/queueServices/default/queues/asotest-dest-queue-pygufe?api-version=2021-04-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck/queueServices/default/queues/asotest-dest-queue-pygufe","name":"asotest-dest-queue-pygufe","type":"Microsoft.Storage/storageAccounts/queueServices/queues","properties":{"metadata":{},"approximateMessageCount":0}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-topic-sxmzyw"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw/topics/asotest-topic-sxmzyw?api-version=2020-06-01
    method: PUT
  response:
    body: '{"properties":{"provisioningState":"Creating"},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw/topics/asotest-topic-sxmzyw","name":"asotest-topic-sxmzyw","type":"Microsoft.EventGrid/domains/topics"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/westus2/operationsStatus/AD84142A-2355-4124-85B2-E7C61F2ECF60?api-version=2020-06-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"asotest-sub-kfqaic","properties":{"destination":{"endpointType":"StorageQueue","properties":{"queueName":"asotest-dest-queue-pygufe","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck"}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw/topics/asotest-topic-sxmzyw/providers/Microsoft.EventGrid/eventSubscriptions/asotest-sub-kfqaic?api-version=2020-06-01
    method: PUT
  response:
    body: '{"properties":{"topic":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/microsoft.eventgrid/domains/asotest-domain-hhrlbw/topics/asotest-topic-sxmzyw","provisioningState":"Creating","destination":{"properties":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck","queueName":"asotest-dest-queue-pygufe"},"endpointType":"StorageQueue"},"filter":{"subjectBeginsWith":"","subjectEndsWith":""},"labels":null,"retryPolicy":{"maxDeliveryAttempts":30,"eventTimeToLiveInMinutes":1440}},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw/topics/asotest-topic-sxmzyw/providers/Microsoft.EventGrid/eventSubscriptions/asotest-sub-kfqaic","name":"asotest-sub-kfqaic","type":"Microsoft.EventGrid/eventSubscriptions"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com:443/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventGrid/locations/westus2/operationsStatus/87ACBFD6-4CB1-4EFF-94DE-E596F148D05C?api-version=2020-06-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "899"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw/topics/asotest-topic-sxmzyw/providers/Microsoft.EventGrid/eventSubscriptions/asotest-sub-kfqaic?api-version=2020-06-01
    method: GET
  response:
    body: '{"properties":{"topic":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/microsoft.eventgrid/domains/asotest-domain-hhrlbw/topics/asotest-topic-sxmzyw","provisioningState":"Succeeded","destination":{"properties":{"resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck","queueName":"asotest-dest-queue-pygufe"},"endpointType":"StorageQueue"},"filter":{"subjectBeginsWith":"","subjectEndsWith":""},"labels":null,"eventDeliverySchema":"EventGridSchema","retryPolicy":{"maxDeliveryAttempts":30,"eventTimeToLiveInMinutes":1440}},"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw/topics/asotest-topic-sxmzyw/providers/Microsoft.EventGrid/eventSubscriptions/asotest-sub-kfqaic","name":"asotest-sub-kfqaic","type":"Microsoft.EventGrid/eventSubscriptions"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-sub-phsdqj","properties":{"destination":{"endpointType":"StorageQueue","properties":{"queueName":"asotest-dest-queue-pygufe","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.Storage/storageAccounts/asotestdesthiehck"}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/000000[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "2"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw?api-version=2020-06-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"Domain asotest-domain-hhrlbw
      is not found. Please check the domain name and try again."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "3"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wivpom/providers/Microsoft.EventGrid/domains/asotest-domain-hhrlbw?api-version=2020-06-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.EventGrid/domains/asotest-domain-hhrlbw''
      under resource group ''asotest-rg-wivpom'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
