---
version: 1
interactions:
  - request:
      body: '{"location":"westus2","name":"asotest-rg-pwokuh","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh?api-version=2020-06-01
      method: PUT
    response:
      body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh","name":"asotest-rg-pwokuh","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: ""
[...]
  - request:
      body: '{"location":"westus2","name":"asotest-apim-sczlzm","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"Developer"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm?api-version=2022-08-01
      method: PUT
    response:
      body:
        '{"etag":"AAAAAABR5MM=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting","notificationSenderEmail":"apimgmt-noreply@mail.windowsazure.com","provisioningState":"Succeeded","targetProvisioningState":"","createdAtUtc":"2001-02-03T04:05:06Z","gatewayUrl":"https://asotest-apim-sczlzm.azure-api.net","gatewayRegionalUrl":"https://asotest-apim-sczlzm-westus2-01.regional.azure-api.net","portalUrl":"https://asotest-apim-sczlzm.portal.azure-api.net","developerPortalUrl":"https://asotest-apim-sczlzm.developer.azure-api.net","managementApiUrl":"https://asotest-apim-sczlzm.management.azure-api.net","scmUrl":"https://asotest-apim-sczlzm.scm.azure-api.net","hostnameConfigurations":[{"type":"Proxy","hostName":"asotest-apim-sczlzm.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true,"identityClientId":null,"certificateSource":"BuiltIn","certificateStatus":null}],"publicIPAddresses":["51.143.124.161"],"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":{"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls13":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls13":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2":"False"},"virtualNetworkType":"None","certificates":null,"disableGateway":false,"natGatewayState":"Disabled","outboundPublicIPAddresses":["51.143.124.161"],"apiVersionConstraint":{"minApiVersion":null},"publicIpAddressId":null,"publicNetworkAccess":"Enabled","privateEndpointConnections":null,"platformVersion":"stv2"},"sku":{"name":"Developer","capacity":1},"identity":null,"zones":null,"systemData":{"createdBy":"32329496-f577-4a3e-9103-429eb74063a6","createdByType":"Application","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"32329496-f577-4a3e-9103-429eb74063a6","lastModifiedByType":"Application","lastModifiedAt":"2001-02-03T04:05:06Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm","name":"asotest-apim-sczlzm","type":"Microsoft.ApiManagement/service","location":"West
        US 2","tags":{}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"AAAAAABR5MM="'
        X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
          - "23999"
      status: 200 OK
      code: 200
      duration: ""
[...]
  - request:
      body: '{"location":"westus2","name":"asotest-apim-sczlzm","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"Developer"},"tags":{"scratchcard":"lanyard"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "1"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm?api-version=2022-08-01
      method: PUT
    response:
      body:
        '{"etag":"AAAAAABR5MQ=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTestin[...]
  - request:
      body: ""
      form: {}
      headers:
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz?api-version=2022-08-01
      method: GET
    response:
      body:
        '{"etag":"AAAAAABR5MQ=","properties":{"publisherEmail":"ASO@testing.com","p[...]
  - request:
      body:
        '{"name":"policy","properties":{"value":"\u003cpolicies\u003e\u003cinbound\u003e\u003cset-variable
        name=\"asoTest\" value=\"ProductPolicy Value\" /\u003e\u003c/inbound\u003e\u003cbackend\u003e\u003cforward-request
        /\u003e\u003c/backend\u003e\u003coutbound /\u003e\u003c/policies\u003e"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp?api-version=2022-08-01
      method: GET
    response:
      body:
        "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policies/policy\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/policies\",\r\n  \"name\": \"policy\",\r\n
        \ \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\": \"<policies>\\r\\n\\t<inbound>\\r\\n\\t\\t<set-variable
        name=\\\"asoTest\\\" value=\\\"ProductPolicy Value\\\" />\\r\\n\\t</inbound>\\r\\n\\t<backend>\\r\\n\\t\\t<forward-request
        />\\r\\n\\t</backend>\\r\\n\\t<outbound />\\r\\n</policies>\"\r\n  }\r\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"AAAAAAAADy8="'
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body:
        '{"name":"asotest-product2-pjxayh","properties":{"description":"A product
        Api example","displayName":"Product Api Test","subscriptionRequired":false}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-product2-pjxayh?api-version=2022-08-01
      method: PUT
    response:
      body:
        "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-product2-pjxayh\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/products\",\r\n  \"name\": \"asotest-product2-pjxayh\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"Product Api Test\",\r\n    \"description\":
        \"A product Api example\",\r\n    \"terms\": null,\r\n    \"subscriptionRequired\":
        false,\r\n    \"approvalRequired\": null,\r\n    \"subscriptionsLimit\": null,\r\n
        \   \"state\": \"notPublished\",\r\n    \"groups\": [\r\n      {\r\n        \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/groups/administrators\",\r\n
        \       \"name\": \"Administrators\",\r\n        \"description\": \"Administrators
        is a built-in group containing the admin email account provided at the time
        of service creation. Its membership is managed by the system.\",\r\n        \"builtIn\":
        true,\r\n        \"type\": \"system\",\r\n        \"externalId\": null\r\n      }\r\n
        \   ]\r\n  }\r\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"AAAAAAAADzU="'
      status: 200 OK
      code: 200
      duration: ""
  - request:
      body: ""
      form: {}
      headers:
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-tfdwjh?api-version=2022-08-01
      method: GET
    response:
      body:
        '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-tfdwjh","name":"asotest-authorizationprovider-tfdwjh","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"West
        US 2","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager-test.consent.azure-apim.net/redirect/apim/asotest-apim-sczlzm","grantTypes":{"authorizationCode":{"clientId":"000","scopes":null,"resourceUri":"https://www.contoso.com"}}}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: ""
  - request:
      body:
        '{"name":"asotest-vs-dcaude","properties":{"description":"A version set
        for the account api","displayName":"vs","versioningScheme":"Segment"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apiVersionSets/asotest-vs-dcaude?api-version=2022-08-01
      method: PUT
    response:
      body:
        "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apiVersionSets/asotest-vs-dcaude\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apiVersionSets\",\r\n  \"name\":
        \"asotest-vs-dcaude\",\r\n  \"properties\": {\r\n    \"displayName\": \"vs\",\r\n
        \   \"description\": \"A version set for the account api\",\r\n    \"versioningScheme\":
        \"Segment\",\r\n    \"versionQueryName\": null,\r\n    \"versionHeaderName\":
        null\r\n  }\r\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"AAAAAAAADz4="'
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body:
        '{"name":"test_backend","properties":{"description":"A Description about
        the backend","protocol":"http","url":"https://www.bing.com"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend?api-version=2022-08-01
      method: PUT
    response:
      body:
        "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n
        \ \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A Description
        about the backend\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\":
        \"http\"\r\n  }\r\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"AAAAAAAAD0I="'
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body: ""
      form: {}
      headers:
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-tfdwjh?api-version=2022-08-01
      method: DELETE
    response:
      body: ""
      headers:
        Location:
          - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/namedValues/test_namedvalue?api-version=2022-08-01&asyncId=655fdc59217d201ad416c808&asyncCode=201
      status: 200 OK
      code: 200
      duration: ""
  - request:
      body:
        '{"name":"asotest-cust1-zwfpsw","properties":{"description":"A product for
        customer 1","displayName":"Customer 1","subscriptionRequired":false}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/[...]
  - request:
      body:
        '{"name":"asotest-sub1-nccflz","properties":{"displayName":"Subscription
        for all APIs","scope":"/apis"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp/authorizations/asotest-authorization-wolrgf?api-version=2022-08-01
      method: PUT
    response:
      body:
        "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/subscriptions/asotest-sub1-nccflz\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n  \"name\":
        \"asotest-sub1-nccflz\",\r\n  \"properties\": {\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apis\",\r\n
        \   \"displayName\": \"Subscription for all APIs\",\r\n    \"state\": \"active\",\r\n
        \   \"createdDate\": \"2001-02-03T04:05:06Z\",\r\n    \"startDate\": null,\r\n
        \   \"expirationDate\": null,\r\n    \"endDate\": null,\r\n    \"notificationDate\":
        null,\r\n    \"primaryKey\": \"3d7f2bccb5684bf18547862fcec70066\",\r\n    \"secondaryKey\":
        \"3dc83b12985546378ceed793cf0a435f\",\r\n    \"stateComment\": null,\r\n    \"allowTracing\":
        false\r\n  }\r\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"AAAAAAAAD0s="'
      status: 201 Created
      code: 201
      duration: ""
  - request:
      body:
        '{"name":"asotest-product1-cvftzo","properties":{"description":"A product
        policy example","displayName":"Product Policy Test","subscriptionRequired":false}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-[...]
  - request:
      body: '{"name":"asotest-authorization-fhdxct","properties":{"authorizationType":"OAuth2","error":{"code":"samplecode","message":"samplemessage"},"oauth2grantType":"AuthorizationCode","status":"samplemessage"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz/authorizations/asotest-authorization-fhdxct?api-version=2022-08-01
      method: PUT
    response:
      body:
        '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz/authorizations/asotest-authorization-fhdxct","name":"asotest-authorization-fhdxct","type":"Microsoft.ApiManagement/service/authorizationProviders/authorizations","location":"West
        US 2","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode","status":"Error","error":{"code":"Unauthenticated","message":"This
        connection is not authenticated."}}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: ""
[...]
  - request:
      body:
        '{"name":"asotest-policyfragment-pmmefq","properties":{"description":"A
        Description about the policy fragment","value":"\u003cfragment\u003e\u003c/fragment\u003e"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyFragments/asotest-policyfragment-pmmefq?api-version=2022-08-01
      method: PUT
    response:
      body: ""
      headers:
        Location:
          - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyFragments/asotest-policyfragment-pmmefq?api-version=2022-08-01&asyncId=655fdc59217d201ad416c80a&asyncCode=201
      status: 202 Accepted
      code: 202
      duration: ""
  - request:
      body: ""
      form: {}
      headers:
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policies/policy?api-version=2022-08-01
      method: GET
    response:
      body:
        "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policies/policy\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/policies\",\r\n  \"name\": \"policy\",\r\n
        \ \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\": \"<policies>\\r\\n\\t<inbound>\\r\\n\\t\\t<set-variable
        name=\\\"asoTest\\\" value=\\\"ProductPolicy Value\\\" />\\r\\n\\t</inbound>\\r\\n\\t<backend>\\r\\n\\t\\t<forward-request
        />\\r\\n\\t</backend>\\r\\n\\t<outbound />\\r\\n</policies>\"\r\n  }\r\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"AAAAAAAADy8="'
      status: 200 OK
      code: 200
      duration: ""
[...]
  - request:
      body: ""
      form: {}
      headers:
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend?api-version=2022-08-01
      method: GET
    response:
      body:
        "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n
        \ \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A Description
        about the backend\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\":
        \"http\"\r\n  }\r\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"AAAAAAAAD0I="'
      status: 200 OK
      code: 200
      duration: ""
  - request:
      body: ""
      form: {}
      headers:
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/namedValues/test_namedvalue?api-version=2022-08-01&asyncId=655fdc59217d201ad416c808&asyncCode=201
      method: GET
    response:
      body:
        "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/namedValues/test_namedvalue\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/namedValues\",\r\n  \"name\":
        \"test_namedvalue\",\r\n  \"properties\": {\r\n    \"displayName\": \"My_Key\",\r\n
        \   \"value\": \"It's value\",\r\n    \"tags\": null,\r\n    \"secret\": false\r\n
        \ }\r\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"AAAAAAAAD1I="'
      status: 201 Created
      code: 201
      duration: ""
[...]
  - request:
      body: ""
      form: {}
      headers:
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/subscriptions/asotest-sub1-nccflz?api-version=2022-08-01
      method: GET
    response:
      body:
        "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/subscriptions/asotest-sub1-nccflz\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n  \"name\":
        \"asotest-sub1-nccflz\",\r\n  \"properties\": {\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apis\",\r\n
        \   \"displayName\": \"Subscription for all APIs\",\r\n    \"state\": \"active\",\r\n
        \   \"createdDate\": \"2001-02-03T04:05:06Z\",\r\n    \"startDate\": null,\r\n
        \   \"expirationDate\": null,\r\n    \"endDate\": null,\r\n    \"notificationDate\":
        null,\r\n    \"stateComment\": null,\r\n    \"allowTracing\": false\r\n  }\r\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"AAAAAAAAD0s="'
      status: 200 OK
      code: 200
      duration: ""
  - request:
      body:
        '{"name":"test_namedvalue","properties":{"displayName":"My_Key","secret":false,"value":"It''s
        value"}}'
      form: {}
      headers:
        Content-Type:
          - application/json
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/namedValues/test_namedvalue?api-version=2022-08-01
      method: PUT
    response:
      body: ""
      headers:
        Location:
          - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/namedValues/test_namedvalue?api-version=2022-08-01&asyncId=657ca475ea2ca00d9cdaf4a1&asyncCode=201
      status: 202 Accepted
      code: 202
      duration: ""
[...]
  - request:
      body: ""
      form: {}
      headers:
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyFragments/asotest-policyfragment-pmmefq?api-version=2022-08-01&asyncId=655fdc59217d201ad416c80a&asyncCode=201
      method: GET
    response:
      body:
        "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyfragments/asotest-policyfragment-pmmefq\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/policyFragments\",\r\n  \"name\":
        \"asotest-policyfragment-pmmefq\",\r\n  \"properties\": {\r\n    \"description\":
        \"A Description about the policy fragment\",\r\n    \"value\": \"<fragment></fragment>\"\r\n
        \ }\r\n}"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - '"VA8AAAAAAAA="'
      status: 201 Created
      code: 201
      duration: ""
[...]
  - request:
      body: ""
      form: {}
      headers:
        Test-Request-Attempt:
          - "0"
      url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp/authorizations/asotest-authorization-wolrgf?api-version=2022-08-01
      method: DELETE
    response:
      body:
        '{"error":{"code":"AuthorizationGatewayNotFoundException","message":"Cannot
        find api with name asotest-authorizationprovider-rnlhtp.","details":null,"innerError":{"trace":"Microsoft.WindowsAzure.ApiManagement.Exceptions.AuthorizationGatewayNotFoundException:
        Cannot find api with name asotest-authorizationprovider-rnlhtp.\r\n   at Microsoft.WindowsAzure.ApiManagement.ResourceProvider.ApiHub.ApiHubClientService.<ProcessApiHubRequestAsync>d__31`2.MoveNext()
        in C:\\__w\\1\\s\\ResourceProvider\\ApiResourceProvider\\ApiHub\\ApiHubClientService.cs:line
        697\r\n--- End of stack trace from previous location where exception was thrown
        ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at Microsoft.WindowsAzure.ApiManagement.ResourceProvider.ApiHub.ApiHubClientService.<ProcessApiHubRequestAsync>d__30`1.MoveNext()
        in C:\\__w\\1\\s\\ResourceProvider\\ApiResourceProvider\\ApiHub\\ApiHubClientService.cs:line
        0\r\n--- End of stack trace from previous location where exception was thrown
        ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at Microsoft.WindowsAzure.ApiManagement.ResourceProvider.ApiHub.ApiHubClientService.<>c__DisplayClass21_0.<<DeleteAuthorizationAsync>b__0>d.MoveNext()
        in C:\\__w\\1\\s\\ResourceProvider\\ApiResourceProvider\\ApiHub\\ApiHubClientService.cs:line
        359\r\n--- End of stack trace from previous location where exception was thrown
        ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at Microsoft.WindowsAzure.ApiManagement.ResourceProvider.ApiHub.ApiHubClientService.<ExecuteOperationAsync>d__29`1.MoveNext()
        in C:\\__w\\1\\s\\ResourceProvider\\ApiResourceProvider\\ApiHub\\ApiHubClientService.cs:line
        540\r\n--- End of stack trace from previous location where exception was thrown
        ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at
        System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task
        task)\r\n   at Microsoft.WindowsAzure.ApiManagement.ResourceProvider.ApiHub.ApiHubClientService.<ExecuteApiHubOperationAsync>d__28`1.MoveNext()
        in C:\\__w\\1\\s\\ResourceProvider\\ApiResourceProvider\\ApiHub\\ApiHubClientService.cs:line
        0\r\n--- End of stack trace from previous location where exception was thrown
        ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at
[...]
