---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"name":"cores","properties":{"limit":{"limitObjectType":"LimitValue","limitType":"Independent","value":100},"name":{"value":"cores"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 51d805b3cc11a5b798ff4e6203823d82880a820a525e19af6d01b8cda54c6a5e
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/providers/Microsoft.Quota/quotas/cores?api-version=2025-09-01
        method: PUT
      response:
        body: '{"properties":{"limit":{"limitObjectType":"LimitValue","limitType":"Independent","value":100},"name":{"value":"CORES"},"properties":{},"provisioningState":"InProgress","isQuotaApplicable":true},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/providers/Microsoft.Quota/quotaRequests/1283f948-3272-4ebd-9fbc-b3a0c2059bd6","type":"Microsoft.Quota/Quotas","name":"1283f948-3272-4ebd-9fbc-b3a0c2059bd6"}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/providers/Microsoft.Quota/operationsStatus/1283f948-3272-4ebd-9fbc-b3a0c2059bd6?api-version=2025-09-01
            Content-Type:
                - application/json
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/providers/Microsoft.Quota/operationsStatus/1283f948-3272-4ebd-9fbc-b3a0c2059bd6?api-version=2025-09-01
            Ms-Requestid:
                - _h0gfHmR5EK7ptNoG8YOaQ.0
            Retry-After:
                - "30"
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "799"
        status: 202 Accepted
        code: 202
        duration: 2.78040858s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/providers/Microsoft.Quota/operationsStatus/1283f948-3272-4ebd-9fbc-b3a0c2059bd6?api-version=2025-09-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/providers/Microsoft.Quota/operationsStatus/1283f948-3272-4ebd-9fbc-b3a0c2059bd6","name":"1283f948-3272-4ebd-9fbc-b3a0c2059bd6","startTime":"2001-02-03T04:05:06Z","status":"InProgress","type":"Microsoft.Quota/OperationsStatus"}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/providers/Microsoft.Quota/operationsStatus/1283f948-3272-4ebd-9fbc-b3a0c2059bd6?api-version=2025-09-01
            Content-Type:
                - application/json
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/providers/Microsoft.Quota/operationsStatus/1283f948-3272-4ebd-9fbc-b3a0c2059bd6?api-version=2025-09-01
            Ms-Requestid:
                - XlLgBjCgCESh6TSnZeC7Rw.0
            Retry-After:
                - "30"
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.29585036s
[...]
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/providers/Microsoft.Quota/quotas/cores?api-version=2025-09-01
        method: GET
      response:
        body: '{"properties":{"limit":{"limitObjectType":"LimitValue","limitType":"Independent","value":100},"name":{"value":"cores","localizedValue":"Total Regional vCPUs"},"properties":{},"unit":"Count","isQuotaApplicable":true},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/providers/Microsoft.Quota/quotas/cores","type":"Microsoft.Quota/Quotas","name":"cores"}'
        headers:
            Content-Type:
                - application/json
            Ms-Requestid:
                - wWt26HxHhkSAILet4597Gw.0
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "3749"
        status: 200 OK
        code: 200
        duration: 2.06907232s
[...]
