---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-uyspyq","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:03:41 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uyspyq?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uyspyq","name":"asotest-rg-uyspyq","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"kind":"BlobStorage","location":"westus2","name":"asoteststorbenqdz","properties":{"accessTier":"Hot","keyPolicy":{"keyExpirationPeriodInDays":-260}},"sku":{"name":"Standard_LRS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:03:46 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uyspyq/providers/Microsoft.Storage/storageAccounts/asoteststorbenqdz?api-version=2021-04-01
    method: PUT
  response:
    body: '{"error":{"code":"InvalidValuesForRequestParameters","message":"Values
      for request parameters are invalid: keyPolicy.keyExpirationPeriodInDays."}}'
    headers:
      Content-Type:
      - application/json
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: '{"kind":"BlobStorage","location":"westus2","name":"asoteststorbenqdz","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:03:51 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uyspyq/providers/Microsoft.Storage/storageAccounts/asoteststorbenqdz?api-version=2021-04-01
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/5742bb01-f1a6-42b3-888b-208e8550ddd9?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:03:55 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/5742bb01-f1a6-42b3-888b-208e8550ddd9?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/5742bb01-f1a6-42b3-888b-208e8550ddd9?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "2"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:04:13 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/5742bb01-f1a6-42b3-888b-208e8550ddd9?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"BlobStorage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uyspyq/providers/Microsoft.Storage/storageAccounts/asoteststorbenqdz","name":"asoteststorbenqdz","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asoteststorbenqdz.dfs.core.windows.net/","blob":"https://asoteststorbenqdz.blob.core.windows.net/","table":"https://asoteststorbenqdz.table.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:04:19 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uyspyq/providers/Microsoft.Storage/storageAccounts/asoteststorbenqdz?api-version=2021-04-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Storage/storageAccounts/asoteststorbenqdz''
      under resource group ''asotest-rg-uyspyq'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
