---
version: 2
interactions:
    - id: 0
      request:
        host: graph.microsoft.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://graph.microsoft.com/v1.0/groups?%24filter=displayName%20eq%20%27ASO%20Test%20Security%20Group%27
        method: GET
      response:
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups","value":[]}'
        headers:
            Content-Type:
                - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
            Odata-Version:
                - "4.0"
            X-Ms-Ags-Diagnostic:
                - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SY2PEPF000097C5"}}'
            X-Ms-Resource-Unit:
                - "1"
        status: 200 OK
        code: 200
        duration: 461.682299ms
    - id: 1
      request:
        host: graph.microsoft.com
        body: '{"@odata.type":"#microsoft.graph.group","displayName":"ASO Test Security Group","groupTypes":["Unified"],"mailEnabled":false,"mailNickname":"asotest-security-group","securityEnabled":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7e51a3eea7dc8d8445aba017df39473d4c3dcf740f8e35176b36abde22d239fc
        url: https://graph.microsoft.com/v1.0/groups
        method: POST
      response:
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups/$entity","id":"6071e091-80dc-49e9-aea7-21f67858ea40","deletedDateTime":null,"classification":null,"createdDateTime":"2001-02-03T04:05:06Z","creationOptions":[],"description":null,"displayName":"ASO Test Security Group","expirationDateTime":null,"groupTypes":["Unified"],"isAssignableToRole":null,"mail":"asotest-security-group@microsoft.onmicrosoft.com","mailEnabled":true,"mailNickname":"asotest-security-group","membershipRule":null,"membershipRuleProcessingState":null,"onPremisesDomainName":null,"onPremisesLastSyncDateTime":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"onPremisesSyncEnabled":null,"preferredDataLocation":"APC","preferredLanguage":null,"proxyAddresses":["SMTP:asotest-security-group@microsoft.onmicrosoft.com"],"renewedDateTime":"2001-02-03T04:05:06Z","resourceBehaviorOptions":[],"resourceProvisioningOptions":[],"securityEnabled":true,"securityIdentifier":"S-1-12-1-1618075793-1240039644-4129400750-1089099896","theme":null,"uniqueName":null,"visibility":"Public","onPremisesProvisioningErrors":[],"serviceProvisioningErrors":[]}'
        headers:
            Content-Type:
                - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
            Location:
                - https://graph.microsoft.com/v2/00000000-0000-0000-0000-000000000000/directoryObjects/6071e091-80dc-49e9-aea7-21f67858ea40/Microsoft.DirectoryServices.Group
            Odata-Version:
                - "4.0"
            X-Ms-Ags-Diagnostic:
                - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"002","RoleInstance":"SY2PEPF000097C5"}}'
            X-Ms-Resource-Unit:
                - "1"
        status: 201 Created
        code: 201
        duration: 1.986752881s
    - id: 2
      request:
        host: graph.microsoft.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://graph.microsoft.com/v1.0/groups/6071e091-80dc-49e9-aea7-21f67858ea40
        method: GET
      response:
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups/$entity","id":"6071e091-80dc-49e9-aea7-21f67858ea40","deletedDateTime":null,"classification":null,"createdDateTime":"2001-[...]
[...]
