---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-qqelci","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 3ed3e8a582c894a1bddc2d7944685b14fbab0d4eed1aea1f473f28f839bd60a6
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qqelci?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qqelci","name":"asotest-rg-qqelci","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 3.834760456s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qqelci?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qqelci","name":"asotest-rg-qqelci","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 492.724683ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-namespace-nfctrx","properties":{"zoneRedundant":false},"sku":{"name":"Basic"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 4f7df0b158687c5ace0d90d875477054e41b23c93142eb08647873583129beb8
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qqelci/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-nfctrx?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qqelci/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-nfctrx","name":"asotest-namespace-nfctrx","type":"Microsoft.ServiceBus/Namespaces","location":"westus2","tags":{},"properties":{"geoDataReplication":{"maxReplicationLagDurationInSeconds":0,"locations":[{"locationName":"westus2","roleType":"Primary","replicaState":"InBuild"}]},"premiumMessagingPartitions":0,"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":true,"metricId":"00000000-0000-0000-0000-000000000000:asotest-namespace-nfctrx","serviceBusEndpoint":"https://asotest-namespace-nfctrx.servicebus.windows.net:443/","provisioningState":"Creating","status":"Creating","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z"},"sku":{"name":"Basic","tier":"Basic"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 1cc7ca25-64d1-4cb0-90fb-57ac45b38b8f
            X-Ms-Messaging-Routing-Id:
                - WESTUS2|WESTUS2|G10|2025-02-05T03:55:18
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 4.881038671s
[...]
    - id: 5
      request:
        host: management.azure.com
        body: '{"name":"asotest-queue-fujars"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 1813ab7aeff0c7eaa2ab74c070665df9b6d66120685993f91baf35850dfb2e10
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qqelci/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-nfctrx/queues/asotest-queue-fujars?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qqelci/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-nfctrx/queues/asotest-queue-fujars","name":"asotest-queue-fujars","type":"Microsoft.ServiceBus/namespaces/queues","location":"westus2","properties":{"maxMessageSizeInKilobytes":256,"lockDuration":"PT1M","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"requiresSession":false,"defaultMessageTimeToLive":"P14D","deadLetteringOnMessageExpiration":false,"enableBatchedOperations":true,"duplicateDetectionHistoryTimeWindow":"PT10M","maxDeliveryCount":10,"sizeInBytes":0,"messageCount":0,"status":"Active","autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0},"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","accessedAt":"0001-01-01T00:00:00"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 0fffbc88-1bdf-4782-9793-d5116dc6bef4
            X-Ms-Messaging-Routing-Id:
                - WESTUS2|WESTUS2|G6|2025-02-05T03:55:37
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 3.353660138s
[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qqelci/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-nfctrx/AuthorizationRules/RootManageSharedAccessKey/listKeys?api-version=2021-11-01
        method: POST
      response:
        body: '{"primaryConnectionString":"Endpoint=sb://asotest-namespace-nfctrx.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={KEY}","secondaryConnectionString":"Endpoint=sb://asotest-namespace-nfctrx.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={KEY}","primaryKey":"{KEY}","secondaryKey":"{KEY}","keyName":"RootManageSharedAccessKey"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 8d697907-eb6a-4227-8c78-95e3f3bc77e7
            X-Ms-Messaging-Routing-Id:
                - WESTUS2|WESTUS2|G11|2025-02-05T03:56:08
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.471590815s
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qqelci/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-nfctrx?api-version=2024-01-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/westus2/namespaceOperationResults/2d950154-97f2-4b2b-8b92-b656ed3d1210?isAsyncHeader=false&resourceName=asotest-namespace-nfctrx&resourceType=namespace&api-version=2024-01-01&operationType=Deleted&t=638743245776800502&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNM[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/westus2/namespaceOperationResults/2d950154-97f2-4b2b-8b92-b656ed3d1210?isAsyncHeader=false&resourceName=asotest-namespace-nfctrx&resourceType=namespace&api-version=2024-01-01&operationType=Deleted[...]
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "3"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qqelci/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-nfctrx?api-version=2024-01-01
        method: GET
      response:
        body: '{"error":{"code":"NamespaceNotFound","message":"Namespace ''asotest-namespace-nfctrx'' not found"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Messaging-Activity-Id:
                - d003996c-8a10-4888-af50-24175b398549
            X-Ms-Messaging-Routing-Id:
                - WESTUS2|WESTUS2|G14|2025-02-05T03:56:26
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 404 Not Found
        code: 404
        duration: 2.611524312s
[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRRUUVMQ0ktV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638743245957719777&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqh[...]
