---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-vzqxqv","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv","name":"asotest-rg-vzqxqv","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"kind":"GlobalDocumentDB","location":"westus2","name":"asotestsqlacctzsebtq","properties":{"databaseAccountOfferType":"Standard","locations":[{"locationName":"westus2"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq?api-version=2021-05-15
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq","name":"asotestsqlacctzsebtq","location":"West
      US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"77acb6df-40d8-4501-897b-fe5ef5b633af","databaseAccountOfferType":"Standard","defaultIdentity":"","networkAclBypass":"None","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"configurationOverrides":{},"writeLocations":[{"id":"asotestsqlacctzsebtq-westus2","locationName":"West
      US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"asotestsqlacctzsebtq-westus2","locationName":"West
      US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"asotestsqlacctzsebtq-westus2","locationName":"West
      US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"asotestsqlacctzsebtq-westus2","locationName":"West
      US 2","failoverPriority":0}],"cors":[],"capabilities":[],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Invalid"}},"networkAclBypassResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/97f211a7-1ec9-4837-a364-7a8e93ce4165?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/operationResults/97f211a7-1ec9-4837-a364-7a8e93ce4165?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/97f211a7-1ec9-4837-a364-7a8e93ce4165?api-version=2021-05-15
    method: GET
  response:
    body: '{"status":"Dequeued"}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq?api-version=2021-05-15
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq","name":"asotestsqlacctzsebtq","location":"West
      US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"GlobalDocumentDB","tags":{},"systemData":{"createdAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://asotestsqlacctzsebtq.documents.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"Sql","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"WellDefined"},"instanceId":"77acb6df-40d8-4501-897b-fe5ef5b633af","databaseA[...]
[...]
- request:
    body: '{"location":"westus2","name":"asotest-sqldb-oawapj","properties":{"options":{"autoscaleSettings":{"maxThroughput":4000}},"resource":{"id":"asotest-sqldb-oawapj"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/1d581630-cc8f-4e97-abca-4f80ad71475e?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/operationResults/1d581630-cc8f-4e97-abca-4f80ad71475e?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj?api-version=2021-05-15
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases","name":"asotest-sqldb-oawapj","properties":{"resource":{"id":"asotest-sqldb-oawapj","_rid":"3C5iAA==","_self":"dbs/3C5iAA==/","_etag":"\"00001a59-0000-0800-0000-62cf54e20000\"","_colls":"colls/","_users":"users/","_ts":1657754850}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-container-yvqmkq","properties":{"options":{"throughput":400},"resource":{"conflictResolutionPolicy":{"mode":"LastWriterWins"},"defaultTtl":200,"id":"asotest-container-yvqmkq","indexingPolicy":{"excludedPaths":[{"path":"/myPathToNotIndex/*"}],"includedPaths":[{"path":"/*"}],"indexingMode":"consistent"},"partitionKey":{"kind":"Hash","paths":["/myPartitionKey"]}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/containers/asotest-container-yvqmkq?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/657eaed5-c07e-4a19-9a08-e159b810699d?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/containers/asotest-container-yvqmkq/operationResults/657eaed5-c07e-4a19-9a08-e159b810699d?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"default","properties":{"resource":{"autoscaleSettings":{"maxThroughput":5000}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/throughputSettings/default?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/bf2fec54-2f23-4522-916e-bcd8be235ad6?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/throughputSettings/default/operationResults/bf2fec54-2f23-4522-916e-bcd8be235ad6?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/containers/asotest-container-yvqmkq?api-version=2021-05-15
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/containers/asotest-container-yvqmkq","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases/containers","name":"asotest-container-yvqmkq","properties":{"resource":{"id":"asotest-container-yvqmkq","indexingPolicy":{"indexingMode":"consistent","automatic":true,"includedPaths":[{"path":"/*"}],"excludedPaths":[{"path":"/myPathToNotIndex/*"},{"path":"/\"_etag\"/?"}]},"partitionKey":{"paths":["/myPartitionKey"],"kind":"Hash"},"defaultTtl":200,"uniqueKeyPolicy":{"uniqueKeys":[]},"conflictResolutionPolicy":{"mode":"LastWriterWins","conflictResolutionPath":"/_ts","conflictResolutionProcedure":""},"geospatialConfig":{"type":"Geography"},"_rid":"3C5iAIaJ8M8=","_ts":1657754918,"_self":"dbs/3C5iAA==/colls/3C5iAIaJ8M8=/","_etag":"\"00002059-0000-0800-0000-62cf55260000\"","_docs":"docs/","_sprocs":"sprocs/","_triggers":"triggers/","_udfs":"udfs/","_conflicts":"conflicts/","statistics":[{"id":"0","sizeInKB":0,"documentCount":0,"sampledDistinctPartitionKeyCount":0,"partitionKeys":[]}]}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/throughputSettings/default?api-version=2021-05-15
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/throughputSettings/default","type":"Microsoft.DocumentDB/databaseAccounts/sqlDatabases/throughputSettings","name":"oycX","properties":{"resource":{"throughput":400,"autoscaleSettings":{"maxThroughput":5000},"minimumThroughput":"1000"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-udf-qfidxd","properties":{"resource":{"body":"\nfunction
      tax(income) {\n    if (income == undefined)\n        throw ''no input'';\n    if
      (income \u003c 1000)\n        return income*0.1;\n    else if(income \u003c
      10000)\n        return income*0.2;\n    else\n        return income*0.4;\n}","id":"asotest-udf-qfidxd"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
  [...]
- request:
    body: '{"location":"westus2","name":"asotest-trigger-leiuhm","properties":{"resource":{"body":"\nfunction
      validateToDoItemTimestamp(){\n    var context=getContext();\n    var request=context.getRequest();\n    var
      itemToCreate=request.getBody();\n    if(!(''timestamp'' in itemToCreate)) {\n         var
      ts=new Date();\n         itemToCreate[''timestamp'']=ts.getTime();\n    }\n    request.setBody(itemToCreate);\n}","id":"asotest-trigger-leiuhm","triggerOperation":"Create","triggerType":"Pre"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/containers/asotest-container-yvqmkq/triggers/asotest-trigger-leiuhm?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/25381be6-dda9-4769-bd35-a81650aa02b1?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/containers/asotest-container-yvqmkq/triggers/asotest-trigger-leiuhm/operationResults/25381be6-dda9-4769-bd35-a81650aa02b1?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"location":"westus2","name":"asotest-storedproc-twjmbq","properties":{"resource":{"body":"\nfunction
      () {\n    var context = getContext();\n    var response = context.getResponse();\n    response.setBody(''Hello,
      World'');\n}","id":"asotest-storedproc-twjmbq"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
[...]
- request:
    body: '{"name":"default","properties":{"resource":{"throughput":500}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/containers/asotest-container-yvqmkq/throughputSettings/default?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/36feb9fd-2a1f-44fe-b9ac-57a1759e2d5b?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/containers/asotest-container-yvqmkq/throughputSettings/default/operationResults/36feb9fd-2a1f-44fe-b9ac-57a1759e2d5b?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "4"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj/containers/asotest-container-yvqmkq/storedProcedures/asotest-storedproc-twjmbq?api-version=2021-05-15
    method: GET
  response:
    body: '{"code":"NotFound","message":"Message: {\"code\":\"NotFound\",\"message\":\"Message:
      {\\\"Errors\\\":[\\\"Resource Not Found. Learn more: https:\\\\/\\\\/aka.ms\\\\/cosmosdb-tsg-not-found\\\"]}\\r\\nActivityId:
      2715e31f-25d0-456c-b3dd-929d45a8d3be, Request URI: /apps/5e5bb155-9169-4557-9e8e-91bb7571db55/services/8243d2e9-8092-414d-a72f-89dd5d5cd2f6/partitions/1e5e90f3-cf77-44d1-b164-9a0d46300b0b/replicas/133022235532646548s/,
      RequestStats: \\r\\nRequestStartTime: 2001-02-03T04:05:06Z, RequestEndTime:
      2001-02-03T04:05:06Z,  Number of regions attempted:1\\r\\n{\\\"systemHistory\\\":[{\\\"dateUtc\\\":\\\"2001-02-03T04:05:06Z\\\",\\\"cpu\\\":0.812,\\\"memory\\\":643850580.000,\\\"threadInfo\\\":{\\\"isThreadStarving\\\":\\\"False\\\",\\\"threadWaitIntervalInMs\\\":0.0123,\\\"availableThreads\\\":32763,\\\"minThreads\\\":64,\\\"maxThreads\\\":32767},\\\"numberOfOpenTcpConnection\\\":293},{\\\"dateUtc\\\":\\\"2001-02-03T04:05:06Z\\\",\\\"cpu\\\":0.278,\\\"memory\\\":643628712.000,\\\"threadInfo\\\":{\\\"isThreadStarving\\\":\\\"False\\\",\\\"threadWaitIntervalInMs\\\":0.0166,\\\"availableThreads\\\":32765,\\\"minThreads\\\":64,\\\"maxThreads\\\":32767},\\\"numberOfOpenTcpConnection\\\":293},{\\\"dateUtc\\\":\\\"2001-02-03T04:05:06Z\\\",\\\"cpu\\\":0.655,\\\"memory\\\":647186920.000,\\\"threadInfo\\\":{\\\"isThreadStarving\\\":\\\"False\\\",\\\"threadWaitIntervalInMs\\\":0.00[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "11"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv/providers/Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq/sqlDatabases/asotest-sqldb-oawapj?api-version=2021-05-15
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.DocumentDB/databaseAccounts/asotestsqlacctzsebtq''
      under resource group ''asotest-rg-vzqxqv'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vzqxqv?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRWWlFYUVYtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
