---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-xofglu","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu","name":"asotest-rg-xofglu","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/virtualNetworks/asotest-vn-fsazuy?api-version=2020-11-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/asotest-vn-fsazuy''
      under resource group ''asotest-rg-xofglu'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"location":"westus2","name":"asotest-publicip-uvwecz","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/publicIPAddresses/asotest-publicip-uvwecz?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-publicip-uvwecz\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/publicIPAddresses/asotest-publicip-uvwecz\",\r\n
      \ \"etag\": \"W/\\\"108a4900-5bf3-45b3-89e1-64cc8d5feadf\\\"\",\r\n  \"location\":
      \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
      \   \"resourceGuid\": \"4821d7ea-c28e-438b-a7ce-4df76da5975d\",\r\n    \"publicIPAddressVersion\":
      \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
      4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
      \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
      \ }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/19b22aea-7e4e-47de-9f59-804331b8bebe?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "1"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"location":"westus2","name":"asotest-vn-fsazuy","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/8"]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/virtualNetworks/asotest-vn-fsazuy?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-vn-fsazuy\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/virtualNetworks/asotest-vn-fsazuy\",\r\n
      \ \"etag\": \"W/\\\"56f9cf74-93e3-4050-b7d1-38b743dc933e\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"92732b5b-da43-4855-859b-cb333bde7b62\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/8\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":
      [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/f31cc263-9bbe-4cf5-8484-e095e6b41e81?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/19b22aea-7e4e-47de-9f59-804331b8bebe?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/publicIPAddresses/asotest-publicip-uvwecz?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotest-publicip-uvwecz\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/publicIPAddresses/asotest-publicip-uvwecz\",\r\n
      \ \"etag\": \"W/\\\"cf7344e4-9033-40bb-8a46-ba481aadafe5\\\"\",\r\n  \"location\":
      \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
      \   \"resourceGuid\": \"4821d7ea-c28e-438b-a7ce-4df76da5975d\",\r\n    \"ipAddress\":
      \"4.154.65.102\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
      \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n
      \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\":
      \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cf7344e4-9033-40bb-8a46-ba481aadafe5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"AzureAppGtwSubnet","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/virtualNetworks/asotest-vn-fsazuy/subnets/AzureAppGtwSubnet?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"AzureAppGtwSubnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/virtualNetworks/asotest-vn-fsazuy/subnets/AzureAppGtwSubnet\",\r\n
      \ \"etag\": \"W/\\\"0672cf16-9a73-4446-b63c-96d5d5dedc70\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
      \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
      \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/8d1a45fd-c9f6-417c-8451-7d4b28482e6b?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"appgatewaytest","properties":{"autoscaleConfiguration":{"maxCapacity":3,"minCapacity":1},"backendAddressPools":[{"name":"app-gw-be-pool-1","properties":{"backendAddresses":[{"ipAddress":"10.0.1.1"}]}}],"backendHttpSettingsCollection":[{"name":"app-gw-be-http-setting-1","properties":{"cookieBasedAffinity":"Disabled","pickHostNameFromBackendAddress":false,"port":8443,"protocol":"Https"}}],"frontendIPConfigurations":[{"name":"app-gw-fip-config-1","properties":{"privateIPAddress":"10.0.0.10","privateIPAllocationMethod":"Static","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/virtualNetworks/asotest-vn-fsazuy/subnets/AzureAppGtwSubnet"}}},{"name":"app-gw-fip-config-2","properties":{"publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/publicIPAddresses/asotest-publicip-uvwecz"}}}],"frontendPorts":[{"name":"app-gw-fe-port-1","properties":{"port":443}}],"gatewayIPConfigurations":[{"name":"app-gw-ip-config-1","properties":{"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/virtualNetworks/asotest-vn-fsazuy/subnets/AzureAppGtwSubnet"}}}],"httpListeners":[{"name":"app-gw-http-listener-1","properties":{"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest/frontendIPConfigurations/app-gw-fip-config-1"},"frontendPort":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest/frontendPorts/app-gw-fe-port-1"},"hostNames":["test.contoso.com"],"protocol":"Https","sslCertificate":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest/sslCertificates/app-gw-sslcert-1"}}}],"requestRoutingRules":[{"name":"app-gtw-routing-rule-1","properties":{"backendAddressPool":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest/backendAddressPools/app-gw-be-pool-1"},"backendHttpSettings":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest/backendHttpSettingsCollection/app-gw-be-http-setting-1"},"httpListener":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest/httpListeners/app-gw-http-listener-1"},"priority":100,"ruleType":"Basic"}}],"sku":{"name":"WAF_v2","tier":"WAF_v2"},"sslCertificates":[{"name":"app-gw-sslcert-1","properties":{"data":"MIIKEQIBAzCCCdcGCSqGSIb3DQEHAaCCCcgEggnEMIIJwDCCBHcGCSqGSIb3DQEH\n\t\t\tBqCCBGgwggRkAgEAMIIEXQYJKoZIhvcNAQcBMBwGCiqGSIb3DQEMAQYwDgQIla+W\n\t\t\tnqLFehECAggAgIIEMHvDS99b6tAa7Ovg+OGmXTCgW9/RULpALq033njhKAejGW6u\n\t\t\tdSfboMC5EHDO1Tq0b5FzxTzgEuvhEX0DSbIZtxMF8UUgJBog/WyjnSzUl5bkTosa\n\t\t\t8KMKHt4b0YsDzvYTIbNgYV243TZ6Ge3st+bW7n/qDStlb1M72Hg9vSTtFKD8Tyvk\n\t\t\tkyF2y3ZonYd5wSYU5ewYNEPvt+vxXD80OKHRZ2pWR+/6t9jsY4q5Eq1Z7HrCZbIA\n\t\t\tGKno4raa5M7UGRdG9+ManSPyIBE5eNHEIY85TPO2xIzB0sBJU5ajYRufTLrSEQgF\n\[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest?api-version=2022-07-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"appgatewaytest\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest\",\r\n
      \ \"etag\": \"W/\\\"92fb890e-7aec-4e3d-b7a8-fafc6279b8a2\\\"\",\r\n  \"type\":
      \"Microsoft.Network/applicationGateways\",\r\n  \"location\": \"westus2\",\r\n
      \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
      \"46e972e6-697e-4e59-8d09-06e9e6f0437f\",\r\n    \"sku\": {\r\n      \"name\":
      \"WAF_v2\",\r\n      \"tier\": \"WAF_v2\",\r\n      \"family\": \"Generation_1\"\r\n
      \   },\r\n    \"operationalState\": \"Running\",\r\n    \"gatewayIPConfigurations\":
      [\r\n      {\r\n        \"name\": \"app-gw-ip-config-1\",\r\n        \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest/gatewayIPConfigurations/app-gw-ip-config-1\",\r\n
      \       \"etag\": \"W/\\\"92fb890e-7aec-4e3d-b7a8-fafc6279b8a2\\\"\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"subnet\":
      {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/virtualNetworks/asotest-vn-fsazuy/subnets/AzureAppGtwSubnet\"\r\n
      \         }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/gatewayIPConfigurations\"\r\n
      \     }\r\n    ],\r\n    \"sslCertificates\": [\r\n      {\r\n        \"name\":
      \"app-gw-sslcert-1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest/sslCertificates/app-gw-sslcert-1\",\r\n
      \       \"etag\": \"W/\\\"92fb890e-7aec-4e3d-b7a8-fafc6279b8a2\\\"\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"publicCertData\":
      \"{KEY}\",\r\n          \"httpListeners\": [\r\n            {\r\n              \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest/httpListeners/app-gw-http-listener-1\"\r\n
      \           }\r\n          ]\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/sslCertificates\"\r\n
      \     }\r\n    ],\r\n    \"trustedRootCertificates\": [],\r\n    \"trustedClientCertificates\":
      [],\r\n    \"sslProfiles\": [\r\n      {\r\n        \"name\": \"app-gw-ssl-profile-1\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest/sslProfiles/app-gw-ssl-profile-1\",\r\n
      \       \"etag\": \"W/\\\"92fb890e-7aec-4e3d-b7a8-fafc6279b8a2\\\"\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"sslPolicy\":
      {\r\n            \"policyType\": \"Predefined\",\r\n            \"policyName\":
      \"AppGwSslPolicy20220101S\"\r\n          },\r\n          \"clientAuthConfiguration\":
      {\r\n            \"verifyClientCertIssuerDN\": false,\r\n            \"verifyClientRevocation\":
      \"None\"\r\n          }\r\n        },\r\n        \"type\": \"Microsoft.Network/applicationGateways/sslProfiles\"\r\n
      \     }\r\n    ],\r\n    \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\":
      \"app-gw-fip-config-1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest/frontendIPConfigurations/app-gw-fip-config-1\",\r\n
      \       \"etag\": \"W/\[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xofglu/providers/Microsoft.Network/applicationGateways/appgatewaytest?api-version=2022-07-01
    method: DELETE
  response:
    body: ""
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/77de6bc2-f8d8-471e-88d2-aeb832a8071d?api-version=2022-07-01
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operationResults/77de6bc2-f8d8-471e-88d2-aeb832a8071d?api-version=2022-07-01
      Retry-After:
      - "10"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRYT0ZHTFUtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRYT0ZHTFUtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
