---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"asotest-rg-nyuvpf","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 52aa9c54b8d706b19df4c4d409e3949b4990f142393230a9e409f004dbe27878
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf","name":"asotest-rg-nyuvpf","type":"Microsoft.Resources/resourceGroups","location":"westus3","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.948117674s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf","name":"asotest-rg-nyuvpf","type":"Microsoft.Resources/resourceGroups","location":"westus3","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 465.05381ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk?api-version=2024-09-01
        method: GET
      response:
        body: |-
            {
             "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk",
             "location": "westus3",
             "name": "asotest-mc-gtbfrk",
             "type": "Microsoft.ContainerService/ManagedClusters",
             "properties": {
              "provisioningState": "Succeeded",
              "powerState": {
               "code": "Running"
              },
              "kubernetesVersion": "1.32.9",
              "currentKubernetesVersion": "1.32.9",
              "dnsPrefix": "aso",
              "fqdn": "aso-umbsky3e.hcp.westus3.azmk8s.io",
              "azurePortalFQDN": "aso-umbsky3e.portal.hcp.westus3.azmk8s.io",
              "agentPoolProfiles": [
               {
                "name": "ap1",
                "count": 1,
                "vmSize": "Standard_DS2_v2",
                "osDiskSizeGB": 128,
                "osDiskType": "Managed",
                "kubeletDiskType": "OS",
                "maxPods": 250,
                "type": "VirtualMachineScaleSets",
                "enableAutoScaling": false,
                "scaleDownMode": "Delete",
                "provisioningState": "Succeeded",
                "powerState": {
                 "code": "Running"
                },
                "orchestratorVersion": "1.32.9",
                "currentOrchestratorVersion": "1.32.9",
                "enableNodePublicIP": false,
                "mode": "System",
                "osType": "Linux",
                "osSKU": "Ubuntu",
                "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202511.07.0",
                "upgradeSettings": {
                 "maxSurge": "10%"
                },
                "enableFIPS": false,
                "securityProfile": {
                 "enableVTPM": false,
                 "enableSecureBoot": false
                }
               }
              ],
              "servicePrincipalProfile": {
               "clientId": "msi"
              },
              "addonProfiles": {
               "azurepolicy": {
                "enabled": true,
                "config": null,
                "identity": {
                 "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_asotest-rg-nyuvpf_asotest-mc-gtbfrk_westus3/providers/Microsoft.ManagedIdentity/userAssignedIdentities/azurepolicy-asotest-mc-gtbfrk",
                 "clientId": "258d1710-d39c-4957-8ecf-401beb4768d2",
                 "objectId": "a9ddafa6-a9f2-4edc-a3c1-29b2c0388a1b"
                }
               }
              },
              "nodeResourceGroup": "MC_asotest-rg-nyuvpf_asotest-mc-gtbfrk_westus3",
              "enableRBAC": true,
              "supportPlan": "KubernetesOfficial",
              "networkProfile": {
               "networkPlugin": "azure",
               "networkPluginMode": "overlay",
               "networkPolicy": "none",
               "networkDataplane": "azure",
               "loadBalancerSku": "standard",
               "loadBalancerProfile": {
                "managedOutboundIPs": {
                 "count": 1
                },
                "effectiveOutboundIPs": [
                 {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MC_asotest-rg-nyuvpf_asotest-mc-gtbfrk_westus3/providers/Microsoft.Network/publicIPAddresses/d77bfa73-c06b-4e7c-bea7-af8701c62ec4"
                 }
                ],
                "backendPoolType": "nodeIPConfiguration"
               },
               "podCidr": "10.244.0.0/16",
               "serviceCidr": "10.0.0.0/16",
               "dnsServiceIP": "10.0.0.10",
               "outboundType": "loadBalancer",
               "podCidrs": [
                "10.244.0.0/16"
               ],
               "serviceCidrs": [
                "10.0.0.0/16"
               ],
               "ipFamilies": [
                "IPv4"
               ]
              },
              "maxAgentPools": 100,
              "identityProfile": {
               "kubeletidentity": {
                "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/MC_asotest-rg-nyuvpf_asotest-mc-gtbfrk_westus3/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mc-gtbfrk-agentpool",
                "clientId": "f1ea147e-a724-4d84-a7f6-6520c3591941",
                "objectId": "f3b2aca7-e081-4d0e-bba1-b828fc2bfad0"
               }
              },
              "autoUpgradeProfile": {
               "nodeOSUpgradeChannel": "NodeImage"
              },
              "securityProfile": {
               "defender": {
                "logAnalyticsWorkspaceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/DefaultResourceGroup-USW3/providers/Microsoft.OperationalInsights/workspaces/DefaultWorkspace-00000000-0000-0000-0000-000000000000-USW3",
                "securityMonitoring": {
                 "enabled": true
                }
               }
              },
              "storageProfile": {
               "diskCSIDriver": {
                "enabled": true
               },
               "fileCSIDriver": {
                "enabled": true
               },
               "snapshotController": {
                "enabled": true
               }
              },
              "oidcIssuerProfile": {
               "enabled": false
              },
              "workloadAutoScalerProfile": {},
              "resourceUID": "691d1c1e559e5f00018a1692",
              "metricsProfile": {
               "costAnalysis": {
                "enabled": false
               }
              }
             },
             "identity": {
              "type": "SystemAssigned",
              "principalId": "49bad04e-e276-42ad-a2a3-044c7cbfaa9b",
              "tenantId": "00000000-0000-0000-0000-000000000000"
             },
             "sku": {
              "name": "Base",
              "tier": "Standard"
             }
            }
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 1.240774828s
    - id: 3
      request:
        host: management.azure.com
        body: '{"identity":{"delegatedResources":null,"type":"SystemAssigned"},"location":"westus3","name":"asotest-mc-gtbfrk","properties":{"addonProfiles":null,"agentPoolProfiles":[{"availabilityZones":null,"count":1,"mode":"System","name":"ap1","nodeLabels":{},"nodeTaints":[],"osType":"Linux","tags":{},"vmSize":"Standard_DS2_v2"}],"dnsPrefix":"aso","identityProfile":null,"privateLinkResources":null},"tags":{}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - a8c82de5110a2591751c9d58107616ff4ab9636c45126e2975579326164b11a9
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk?api-version=2024-09-01
        method: PUT
      response:
        body: |-
[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/eeca832c-8542-443b-9c2e-9058061de3d0?api-version=2016-03-30&t=638991760324461752&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBG[...]
[...]
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/c8c4fc3b-af09-4651-a505-68207d7405c2?api-version=2016-03-30&t=638991762025817092&c=MIIIpTCCBo2gAwIBAgITFgIfhVKsWXM3Ygh08wABAh-FUjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 25
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/28d672ef-93f6-4d98-96db-3aa81990c438?api-version=2016-03-30&t=638991763664366557&c=MIIIrzCCBpegAwIBAgITUQE-gKJgn5izyJloFwABAT6AojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 34
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk/listClusterAdminCredential?api-version=2022-04-01
        method: POST
      response:
        body: |-
            {
             "kubeconfigs": [
              {
               "name": "clusterAdmin",
               "value": "IA=="
              }
             ]
            }
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 609.668557ms
    - id: 35
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk/listClusterUserCredential?api-version=2022-04-01
        method: POST
      response:
        body: |-
            {
             "kubeconfigs": [
              {
               "name": "clusterUser",
               "value": "IA=="
              }
             ]
            }
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 432.511351ms
    - id: 36
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk/agentPools/ap2?api-version=2024-09-01
        method: GET
      response:
        body: |-
            {
              "code": "NotFound",
              "details": [
               {
                "code": "Unspecified",
                "message": "rpc error: code = NotFound desc = Agent Pool not found"
               }
              ],
              "message": "Could not find the agentpool: ap2 in subscription: 00000000-0000-0000-0000-000000000000, resourceGroup: asotest-rg-nyuvpf, resourceName: asotest-mc-gtbfrk.",
              "subcode": "GetAgentPool_NotFound_HCPServerError"
             }
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 404 Not Found
        code: 404
        duration: 381.858751ms
    - id: 37
      request:
        host: management.azure.com
        body: '{"name":"aksmanagedautoupgradeschedule","properties":{"maintenanceWindow":{"durationHours":12,"notAllowedDates":null,"schedule":{"weekly":{"dayOfWeek":"Saturday","intervalWeeks":1}},"startTime":"00:00"},"notAllowedTime":null,"timeInWeek":null}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 04ed5e10bdcad77b6708ca575b3a3bb6b770b9cb8b36d5314048d8e6eef50182
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk/maintenanceConfigurations/aksmanagedautoupgradeschedule?api-version=2024-09-01
        method: PUT
      response:
        body: |-
            {
             "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk/maintenanceConfigurations/aksmanagedautoupgradeschedule",
             "name": "aksmanagedautoupgradeschedule",
             "properties": {
              "maintenanceWindow": {
               "schedule": {
                "weekly": {
                 "intervalWeeks": 1,
                 "dayOfWeek": "Saturday"
                }
               },
               "durationHours": 12,
               "utcOffset": "+00:00",
               "startDate": "2025-11-19",
               "startTime": "00:00"
              }
             }
            }
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.390080815s
[...]
    - id: 44
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/d042d047-cdef-48b4-a737-d7e8373f3ae3?api-version=2016-03-30&t=638991784121454848&c=MIIIrzCCBpegAwIBAgITUQE-gKJgn5izyJloFwABAT6AojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 54
      request:
        host: management.azure.com
        body: '{"name":"ap2","properties":{"availabilityZones":null,"count":1,"mode":"System","nodeLabels":{"mylabel":"label"},"nodeTaints":[],"osType":"Linux","tags":{},"vmSize":"Standard_DS2_v2"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 811e0d16d1b950df631fd5ea718b64bd93b1410fe8344b039b68dbc6c1d9f319
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk/agentPools/a[...]
    - id: 55
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/29f36f8d-7e93-41d5-8c1b-57247e77c866?api-version=2016-03-30&t=638991786417971094&c=MIIIrzCCBpegAwIBAgITUQE-gKJgn5izyJloFwABAT6AojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 62
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk/agentPools/ap2?api-version=2024-09-01
        method: DELETE
      response:
        body: '{"error":{"code":"SubscriptionRequestsThrottled","message":"Number of requests for subscription ''00000000-0000-0000-0000-000000000000'' and operation ''DELETE/SUBSCRIPTIONS/RESOURCEGROUPS/PROVIDERS/MICROSOFT.CONTAINERSERVICE/MANAGEDCLUSTERS/AGENTPOOLS/'' exceeded the backend storage limit. Please try again after ''6'' seconds."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Retry-After:
                - "6"
        status: 429 Too Many Requests
        code: 429
        duration: 18.577797366s
[...]
    - id: 65
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk?api-version=2024-09-01
        method: DELETE
      response:
        body: ""
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/8621bff4-7088-4d16-855a-404f8dcba242?api-version=2016-03-30&t=638991789643334584&c=MIIIrzCCBpegAwIBAgITUQE-gKJgn5izyJloFwABAT6AojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIxMDY1MDU2WhcNMjYwNDE5MDY1MDU2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50L[...]
    - id: 66
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/8621bff4-7088-4d16-855a-404f8dcba242?api-version=2016-03-30&t=638991789643334584&c=MIIIrzCCBpegAwIBAgITUQE-gKJgn5izyJloFwABAT6AojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 74
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-nyuvpf/providers/Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk?api-version=2024-09-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/asotest-mc-gtbfrk'' under resource group ''asotest-rg-nyuvpf'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 232.103746ms
[...]
    - id: 76
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nyuvpf?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkROWVVWUEYtV0VTVFVTMyIsImpvYkxvY2F0aW9uIjoid2VzdHVzMyJ9?api-version=2020-06-01&t=638991791790140036&c=MIIIrzCCBpegAwIBAgITUQE-gKJgn5izyJloFwABAT6AojANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDQwHhcNMjUxMDIxMDY1MDU2WhcNMjYwNDE5MDY1MDU2WjBAMT4wPAYDVQQDE[...]
    - id: 77
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkROWVVWUEYtV0VTVFVTMyIsImpvYkxvY2F0aW9uIjoid2VzdHVzMyJ9?api-version=2020-06-01&t=638991791790140036&c=MIIIrzCCBpegAwIBAgITUQE-gKJgn5izyJloFwABAT6AojANBgkqh[...]
