---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-scgunn","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7bd3f4a8e5344261399edc4aa5682fff4d9281ce1d75710e775676e061d386be
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-scgunn?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-scgunn","name":"asotest-rg-scgunn","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 4.285009025s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-scgunn?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-scgunn","name":"asotest-rg-scgunn","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 2.080230165s
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-mi-gfxpvy"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 4eeab19880dcf1ea44eefb8bd7616147b35082f15c2ec05a2a81b86cfea4c7ee
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-scgunn/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-gfxpvy?api-version=2018-11-30
        method: PUT
      response:
        body: '{"location":"westus2","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-scgunn/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-gfxpvy","name":"asotest-mi-gfxpvy","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"00000000-0000-0000-0000-000000000000","principalId":"02f7fa8b-1499-4a84-911a-0e9ead798371","clientId":"cc6ddcc6-ce29-464c-9897-7c6e51d6acf4"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-scgunn/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-gfxpvy
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 3.999702096s
[...]
    - id: 5
      request:
        host: management.azure.com
        body: '{"name":"e7484f93-aa9e-5b13-9c76-0c975545e25f","properties":{"principalId":"02f7fa8b-1499-4a84-911a-0e9ead798371","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - f827b01816c38817475dfa7d35a10e401789d62bd68bd62865778dc050edfd47
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-scgunn/providers/Microsoft.Authorization/roleAssignments/e7484f93-aa9e-5b13-9c76-0c975545e25f?api-version=2020-08-01-preview
        method: PUT
      response:
        body: '{"error":{"code":"PrincipalNotFound","message":"Principal 02f7fa8b14994a84911a0e9ead798371 does not exist in the directory 00000000-0000-0000-0000-000000000000. Check that you have the correct principal ID. If you are creating this principal and then immediately assigning a role, this error might be related to a replication delay. In this case, set the role assignment principalType property to a value, such as ServicePrincipal, User, or Group.  See https://aka.ms/docs-principaltype"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 400 Bad Request
        code: 400
        duration: 1.6406574s
[...]
    - id: 7
      request:
        host: management.azure.com
        body: '{"name":"e7484f93-aa9e-5b13-9c76-0c975545e25f","properties":{"principalId":"02f7fa8b-1499-4a84-911a-0e9ead798371","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - f827b01816c38817475dfa7d35a10e401789d62bd68bd62865778dc050edfd47
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-scgunn/providers/Microsoft.Authorization/roleAssignments/e7484f93-aa9e-5b13-9c76-0c975545e25f?api-version=2020-08-01-preview
        method: PUT
      response:
        body: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"02f7fa8b-1499-4a84-911a-0e9ead798371","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-scgunn","condition":null,"conditionVersion":null,"createdOn":"2001-02-03T04:05:06Z","updatedOn":"2001-02-03T04:05:06Z","createdBy":null,"updatedBy":"1ae5915d-78fe-468d-affb-c275790fa149","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-scgunn/providers/Microsoft.Authorization/roleAssignments/e7484f93-aa9e-5b13-9c76-0c975545e25f","type":"Microsoft.Authorization/roleAssignments","name":"e7484f93-aa9e-5b13-9c76-0c975545e25f"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.297557543s
[...]
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-scgunn?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRTQ0dVTk4tV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638990990300060587&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ2[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRTQ0dVTk4tV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638990990300060587&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqh[...]
[...]
    - id: 19
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "1"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-scgunn/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-gfxpvy?api-version=2018-11-30
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-gfxpvy'' under resource group ''asotest-rg-scgunn'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 327.915335ms
