---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-gscmvd","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd?api-version=2020-06-01
    method: PUT
  response:
    body: '{"error":{"code":"ResourceGroupBeingDeleted","message":"The resource group
      ''asotest-rg-gscmvd'' is in deprovisioning state and cannot perform this operation."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 409 Conflict
    code: 409
    duration: ""
[...]
- request:
    body: '{"name":"asotest-rg-gscmvd","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "4"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd","name":"asotest-rg-gscmvd","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"kind":"MongoDB","location":"westus2","name":"asotestdbiosaow","properties":{"capabilities":[{"name":"EnableMongo"}],"databaseAccountOfferType":"Standard","locations":[{"locationName":"westus2"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow?api-version=2021-05-15
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow","name":"asotestdbiosaow","location":"West
      US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","tags":{},"systemData":{"createdAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"MongoDB","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"FullFidelity"},"instanceId":"82916c55-51a4-40b7-a7a5-f1176c1158ba","databaseAccountOfferType":"Standard","defaultIdentity":"","networkAclBypass":"None","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"apiProperties":{"serverVersion":"3.6"},"configurationOverrides":{},"writeLocations":[{"id":"asotestdbiosaow-westus2","locationName":"West
      US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"asotestdbiosaow-westus2","locationName":"West
      US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"asotestdbiosaow-westus2","locationName":"West
      US 2","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"asotestdbiosaow-westus2","locationName":"West
      US 2","failoverPriority":0}],"cors":[],"capabilities":[{"name":"EnableMongo"}],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Invalid"}},"networkAclBypassResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/fe000e40-8080-45b4-96e1-8214f2df0587?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/operationResults/fe000e40-8080-45b4-96e1-8214f2df0587?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/fe000e40-8080-45b4-96e1-8214f2df0587?api-version=2021-05-15
    method: GET
  response:
    body: '{"status":"Dequeued"}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow?api-version=2021-05-15
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow","name":"asotestdbiosaow","location":"West
      US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","tags":{},"systemData":{"createdAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://asotestdbiosaow.documents.azure.com:443/","mongoEndpoint":"https://asotestdbiosaow.mongo.cosmos.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"MongoDB","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"FullFidelity"},"instanceId":"82916c55-51a4-40b7-a7a5-f1176c1158ba","databaseAccountOfferType":"Standard","defaultIdentity":"FirstPartyIdentity","networkAclBypass":"None","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"apiProperties":{"serverVersion":"3.6"},"configurationOverrides":{"EnableBsonSchema":"True"},"writeLocations":[{"id":"asotestdbiosaow-westus2","locationName":"West
      US 2","documentEndpoint":"https://asotestdbiosaow-westus2.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"asotestdbiosaow-westus2","locationName":"West
      US 2","documentEndpoint":"https://asotestdbiosaow-westus2.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"asotestdbiosaow-westus2","locationName":"West
      US 2","documentEndpoint":"https://asotestdbiosaow-westus2.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"asotestdbiosaow-westus2","locationName":"West
      US 2","failoverPriority":0}],"cors":[],"capabilities":[{"name":"EnableMongo"}],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Geo"}},"networkAclBypassResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-mongo-jgswsf","properties":{"options":{"autoscaleSettings":{"maxThroughput":4000}},"resource":{"id":"asotest-mongo-jgswsf"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/de2fd454-15fc-4446-8d3c-ca4443c364ce?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/operationResults/de2fd454-15fc-4446-8d3c-ca4443c364ce?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: '{"kind":"MongoDB","location":"westus2","name":"asotestdbiosaow","properties":{"capabilities":[{"name":"EnableMongo"}],"databaseAccountOfferType":"Standard","locations":[{"locationName":"westus2"}]},"tags":{"scratchcard":"lanyard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow?api-version=2021-05-15
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/datab[...]
[...]
- request:
    body: '{"location":"westus2","name":"asotest-collection-xdhvub","properties":{"options":{"throughput":400},"resource":{"id":"asotest-collection-xdhvub","indexes":[{"key":{"keys":["_id"]},"options":{"unique":true}}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/collections/asotest-collection-xdhvub?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/c4965e54-2138-465d-865a-ba78ff138ad7?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/collections/asotest-collection-xdhvub/operationResults/c4965e54-2138-465d-865a-ba78ff138ad7?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"default","properties":{"resource":{"autoscaleSettings":{"maxThroughput":5000}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/throughputSettings/default?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/d231d3aa-984a-46a7-ba93-888610068f16?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/throughputSettings/default/operationResults/d231d3aa-984a-46a7-ba93-888610068f16?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/throughputSettings/default?api-version=2021-05-15
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/throughputSettings/default","type":"Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/throughputSettings","name":"44jW","properties":{"resource":{"throughput":400,"autoscaleSettings":{"maxThroughput":5000},"minimumThroughput":"1000"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","properties":{"resource":{"throughput":500}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/collections/asotest-collection-xdhvub/throughputSettings/default?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/f1ad9ecb-7b6e-4f03-8e7f-613cd29262a3?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/collections/asotest-collection-xdhvub/throughputSettings/default/operationResults/f1ad9ecb-7b6e-4f03-8e7f-613cd29262a3?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRHU0NNVkQtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
