---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-gscmvd","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:08:16 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd","name":"asotest-rg-gscmvd","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-mongo-jgswsf","properties":{"options":{"autoscaleSettings":{"maxThroughput":4000}},"resource":{"id":"asotest-mongo-jgswsf"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:08:20 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf?api-version=2021-05-15
    method: PUT
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow''
      under resource group ''asotest-rg-gscmvd'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-mongo-jgswsf","properties":{"options":{"autoscaleSettings":{"maxThroughput":4000}},"resource":{"id":"asotest-mongo-jgswsf"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "3"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:08:21 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf?api-version=2021-05-15
    method: PUT
  response:
    body: '{"code":"NotFound","message":"DatabaseAccount asotestdbiosaow for subscription
      00000000-0000-0000-0000-000000000000 doesn''t exist\r\nActivityId: 41296c0e-51d7-4376-80cf-08eb85a843ac,
      Microsoft.Azure.Documents.Common/2.14.0"}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"kind":"MongoDB","location":"westus2","name":"asotestdbiosaow","properties":{"capabilities":[{"name":"EnableMongo"}],"databaseAccountOfferType":"Standard","locations":[{"locationName":"westus2"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:08:20 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow?api-version=2021-05-15
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow","name":"asotestdbiosaow","location":"West
      US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","tags":{},"systemData":{"createdAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"MongoDB","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"FullFidelity"},"instanceId":"7d6e34d8-5efe-41a5-88a1-ca296e1aabec","databaseAccountOfferType":"Standard","defaultIdentity":"","networkAclBy{PASSWORD}ResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/ecd20fc7-3d99-46a9-8c36-3288b8c39234?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/operationResults/ecd20fc7-3d99-46a9-8c36-3288b8c39234?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:08:26 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/ecd20fc7-3d99-46a9-8c36-3288b8c39234?api-version=2021-05-15
    method: GET
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:13:51 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow?api-version=2021-05-15
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow","name":"asotestdbiosaow","location":"West
      US 2","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","tags":{},"systemData":{"createdAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://asotestdbiosaow.documents.azure.com:443/","mongoEndpoint":"https://asotestdbiosaow.mongo.cosmos.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"MongoDB","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"FullFidelity"},"instanceId":"7d6e34d8-5efe-41a5-88a1-ca296e1aabec","databaseAccountOfferType":"Standard","defaultIdentity":"FirstPartyIdentity","networkAclBy{PASSWORD}ResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"kind":"MongoDB","location":"westus2","name":"asotestdbiosaow","properties":{"capabilities":[{"name":"EnableMongo"}],"databaseAccountOfferType":"Standard","locations":[{"locationName":"westus2"}]},"tags":{"scratchcard":"lanyard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:13:55 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow?api-version=2021-05-15
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups[...]
[...]
- request:
    body: '{"name":"default","properties":{"resource":{"autoscaleSettings":{"maxThroughput":5000}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:14:40 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/throughputSettings/default?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/d2bcc5eb-9461-4cb9-94f9-8c9e127bafed?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/throughputSettings/default/operationResults/d2bcc5eb-9461-4cb9-94f9-8c9e127bafed?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"location":"westus2","name":"asotest-collection-xdhvub","properties":{"options":{"throughput":400},"resource":{"id":"asotest-collection-xdhvub","indexes":[{"key":{"keys":["_id"]},"options":{"unique":true}}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:14:40 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/collections/asotest-collection-xdhvub?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/2ac6f1f6-3bfc-47b4-99ba-8655d17c71be?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/collections/asotest-collection-xdhvub/operationResults/2ac6f1f6-3bfc-47b4-99ba-8655d17c71be?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:14:48 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/throughputSettings/default?api-version=2021-05-15
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/throughputSettings/default","type":"Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/throughputSettings","name":"H4X4","properties":{"resource":{"throughput":400,"autoscaleSettings":{"maxThroughput":5000},"minimumThroughput":"4000"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","properties":{"resource":{"throughput":500}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:15:11 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/collections/asotest-collection-xdhvub/throughputSettings/default?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/westus2/operationsStatus/d4100ba3-6c84-4794-81cf-187d98ad658c?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd/providers/Microsoft.DocumentDB/databaseAccounts/asotestdbiosaow/mongodbDatabases/asotest-mongo-jgswsf/collections/asotest-collection-xdhvub/throughputSettings/default/operationResults/d4100ba3-6c84-4794-81cf-187d98ad658c?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 21 Oct 2021 02:27:16 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-gscmvd?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRHU0NNVkQtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
