---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-svitpw","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:37:34 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw","name":"asotest-rg-svitpw","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-vn-ulhmdn","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:37:43 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-vn-ulhmdn\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn\",\r\n
      \ \"etag\": \"W/\\\"ecdfe6a9-3487-46b5-b8ae-09171c4de715\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"e3ce24c1-5222-4628-87ec-c3827a418604\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":
      [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/44eb5096-b7ba-4163-9536-bcf0d0df844b?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:37:48 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/44eb5096-b7ba-4163-9536-bcf0d0df844b?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:37:49 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotest-vn-ulhmdn\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn\",\r\n
      \ \"etag\": \"W/\\\"29ca06b6-8dfd-4224-97af-271a9a976009\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"e3ce24c1-5222-4628-87ec-c3827a418604\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":
      [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29ca06b6-8dfd-4224-97af-271a9a976009"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-subnet-qrjulq","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:37:58 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn/subnets/asotest-subnet-qrjulq?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-subnet-qrjulq\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn/subnets/asotest-subnet-qrjulq\",\r\n
      \ \"etag\": \"W/\\\"4058a60f-a447-471f-b3db-e539218f0991\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
      \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
      \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/ca5b5134-245d-4637-9ea8-7e5f0f60f237?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-nic-ehzbre","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn/subnets/asotest-subnet-qrjulq"}}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:38:08 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:38:11 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotest-nic-ehzbre\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre\",\r\n
      \ \"etag\": \"W/\\\"18e1889a-0883-4054-ab21-cf16b73e172c\\\"\",\r\n  \"location\":
      \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
      \   \"resourceGuid\": \"3af73406-1c33-44ef-9e15-1b755bff16a1\",\r\n    \"ipConfigurations\":
      [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre/ipConfigurations/ipconfig1\",\r\n
      \       \"etag\": \"W/\\\"18e1889a-0883-4054-ab21-cf16b73e172c\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\":
      \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\":
      {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn/subnets/asotest-subnet-qrjulq\"\r\n
      \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
      \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
      [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
      \"yesm3yzckiuenb5myobhuqmgae.xx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\":
      false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\":
      false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
      \   \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18e1889a-0883-4054-ab21-cf16b73e172c"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"location":"westus2","name":"asotest-vm-huchty","properties":{"hardwareProfile":{"vmSize":"Standard_A1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre"}]},"osProfile":{"adminUsername":"bloom","computerName":"poppy","linuxConfiguration":{"disablePasswordAuthentication":true,"ssh":{"publicKeys":[{"keyData":"ssh-rsa
      {KEY}\n","path":"/home/bloom/.ssh/authorized_keys"}]}}},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"18.04-LTS","version":"latest"}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:38:18 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Compute/virtualMachines/asotest-vm-huchty?api-version=2020-12-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-vm-huchty\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Compute/virtualMachines/asotest-vm-huchty\",\r\n
      \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus2\",\r\n
      \ \"properties\": {\r\n    \"vmId\": \"da6e90f1-7a35-43d3-a67f-1070685aec1a\",\r\n
      \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n
      \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
      \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"18.04-LTS\",\r\n
      \       \"version\": \"latest\",\r\n        \"exactVersion\": \"18.04.202110250\"\r\n
      \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"createOption\":
      \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
      {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        },\r\n        \"diskSizeGB\":
      30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n
      \     \"computerName\": \"poppy\",\r\n      \"adminUsername\": \"bloom\",\r\n
      \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
      true,\r\n        \"ssh\": {\r\n          \"publicKeys\": [\r\n            {\r\n
      \             \"path\": \"/home/bloom/.ssh/authorized_keys\",\r\n              \"keyData\":
      \"ssh-rsa {KEY}\\n\"\r\n            }\r\n          ]\r\n        },\r\n        \"provisionVMAgent\":
      true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\"\r\n
      \       }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
      true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
      {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre\"}]},\r\n
      \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/1bc16d14-e78b-41ae-ad1c-7c3354384d72?p=293bc17d-9efb-4af6-9c31-0eb97e7abc2e&api-version=2020-12-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:38:22 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/1bc16d14-e78b-41ae-ad1c-7c3354384d72?p=293bc17d-9efb-4af6-9c31-0eb97e7abc2e&api-version=2020-12-01
    method: GET
  response:
    body: "{\r\n  \"startTime\": \"2021-11-04T04:38:19.9044001+00:00\",\r\n  \"status\":
      \"InProgress\",\r\n  \"name\": \"1bc16d14-e78b-41ae-ad1c-7c3354384d72\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "35"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29999
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "3"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:39:14 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/1bc16d14-e78b-41ae-ad1c-7c3354384d72?p=293bc17d-9efb-4af6-9c31-0eb97e7abc2e&api-version=2020-12-01
    method: GET
  response:
    body: "{\r\n  \"startTime\": \"2021-11-04T04:38:19.9044001+00:00\",\r\n  \"endTime\":
      \"2021-11-04T04:39:05.88901+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\":
      \"1bc16d14-e78b-41ae-ad1c-7c3354384d72\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetOperation3Min;14996,Microsoft.Compute/GetOperation30Min;29996
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:39:15 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Compute/virtualMachines/asotest-vm-huchty?api-version=2020-12-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotest-vm-huchty\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/re[...]
- request:
    body: '{"location":"westus2","name":"asotest-vm-huchty","properties":{"diagnosticsProfile":{"bootDiagnostics":{"enabled":true}},"hardwareProfile":{"vmSize":"Standard_A1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre"}]},"osProfile":{"adminUsername":"bloom","computerName":"poppy","linuxConfiguration":{"disablePasswordAuthentication":true,"ssh":{"publicKeys":[{"keyData":"ssh-rsa
      {KEY}\n","path":"/home/bloom/.ssh/authorized_keys"}]}}},"storageProfile":{"imageR[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:39:29 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Compute/virtualMachines/asotest-vm-huchty?api-version=2020-12-01
    method: DELETE
  response:
    body: ""
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/700de7c6-1b37-44a8-bfb9-1b3b18d790de?p=293bc17d-9efb-4af6-9c31-0eb97e7abc2e&api-version=2020-12-01
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/700de7c6-1b37-44a8-bfb9-1b3b18d790de?p=293bc17d-9efb-4af6-9c31-0eb97e7abc2e&monitor=true&api-version=2020-12-01
      Retry-After:
      - "10"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/DeleteVM3Min;239,Microsoft.Compute/DeleteVM30Min;1199
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:39:29 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn/subnets/asotest-subnet-qrjulq?api-version=2020-11-01
    method: DELETE
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"InUseSubnetCannotBeDeleted\",\r\n
      \   \"message\": \"Subnet asotest-subnet-qrjulq is in use by /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre/ipConfigurations/ipconfig1
      and cannot be deleted. In order to delete the subnet, delete all the resources
      within the subnet. See aka.ms/deletesubnet.\",\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
      X-Ms-Date:
      - Thu, 04 Nov 2021 04:41:58 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn/subnets/asotest-subnet-qrjulq?api-version=2020-11-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn''
      under resource group ''asotest-rg-svitpw'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
