---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-ywquvq","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ywquvq?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ywquvq","name":"asotest-rg-ywquvq","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-snapshot-ipdbqn","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":32}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ywquvq/providers/Microsoft.Compute/snapshots/asotest-snapshot-ipdbqn?api-version=2020-09-30
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-snapshot-ipdbqn\",\r\n  \"location\": \"westus2\",\r\n
      \ \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n
      \   },\r\n    \"diskSizeGB\": 32,\r\n    \"provisioningState\": \"Updating\",\r\n
      \   \"isArmResource\": true\r\n  }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/DiskOperations/608ed98e-b27a-4b1e-8eb9-ea187592dad1?p=330bd1e4-9ec8-43c5-83fb-8151747429a9&api-version=2020-09-30
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/DiskOperations/608ed98e-b27a-4b1e-8eb9-ea187592dad1?p=330bd1e4-9ec8-43c5-83fb-8151747429a9&monitor=true&api-version=2020-09-30
      Retry-After:
      - "2"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/HighCostSnapshotCreateHydrate3Min;999,Microsoft.Compute/HighCostSnapshotCreateHydrate30Min;7998
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/DiskOperations/608ed98e-b27a-4b1e-8eb9-ea187592dad1?p=330bd1e4-9ec8-43c5-83fb-8151747429a9&api-version=2020-09-30
    method: GET
  response:
    body: "{\r\n  \"startTime\": \"2022-02-15T21:53:37.7430665+00:00\",\r\n  \"endTime\":
      \"2022-02-15T21:53:37.9305533+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\":
      {\r\n    \"output\": {\"name\":\"asotest-snapshot-ipdbqn\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ywquvq/providers/Microsoft.Compute/snapshots/asotest-snapshot-ipdbqn\",\"type\":\"Microsoft.Compute/snapshots\",\"location\":\"westus2\",\"sku\":{\"name\":\"Standard_LRS\",\"tier\":\"Standard\"},\"properties\":{\"creationData\":{\"createOption\":\"Empty\"},\"diskSizeGB\":32,\"encryption\":{\"type\":\"EncryptionAtRestWithPlatformKey\"},\"incremental\":false,\"networkAccessPolicy\":\"AllowAll\",\"timeCreated\":\"2022-02-15T21:53:37.7430665+00:00\",\"provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\",\"diskSizeBytes\":34359738368,\"uniqueId\":\"b17c44f6-52f7-4812-8852-f71a57838d0b\"}}\r\n
      \ },\r\n  \"name\": \"608ed98e-b27a-4b1e-8eb9-ea187592dad1\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetOperation3Min;49998,Microsoft.Compute/GetOperation30Min;399991
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-image-hzqmvz","properties":{"hyperVGeneration":"V2","storageProfile":{"osDisk":{"diskSizeGB":32,"osState":"Generalized","osType":"Linux","snapshot":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ywquvq/providers/Microsoft.Compute/snapshots/asotest-snapshot-ipdbqn"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ywquvq/providers/Microsoft.Compute/images/asotest-image-hzqmvz?api-version=2021-07-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-image-hzqmvz\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ywquvq/providers/Microsoft.Compute/images/asotest-image-hzqmvz\",\r\n
      \ \"type\": \"Microsoft.Compute/images\",\r\n  \"location\": \"westus2\",\r\n
      \ \"properties\": {\r\n    \"storageProfile\": {\r\n      \"osDisk\": {\r\n
      \       \"osType\": \"Linux\",\r\n        \"osState\": \"Generalized\",\r\n
      \       \"diskSizeGB\": 32,\r\n        \"snapshot\": {\r\n          \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ywquvq/providers/Microsoft.Compute/snapshots/asotest-snapshot-ipdbqn\"\r\n
      \       },\r\n        \"caching\": \"None\",\r\n        \"storageAccountType\":
      \"Standard_LRS\"\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"provisioningState\":
      \"Creating\",\r\n    \"hyperVGeneration\": \"V2\"\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/34990551-b7b6-4042-9154-a5db21d6cd6e?p=b26caeba-1a35-4884-92ce-d47b44b28157&api-version=2021-07-01
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/CreateImages3Min;39,Microsoft.Compute/CreateImages30Min;198
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/34990551-b7b6-4042-9154-a5db21d6cd6e?p=b26caeba-1a35-4884-92ce-d47b44b28157&api-version=2021-07-01
    method: GET
  response:
    body: "{\r\n  \"startTime\": \"2022-02-15T21:53:57.3220071+00:00\",\r\n  \"endTime\":
      \"2022-02-15T21:54:02.4157396+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\":
      \"34990551-b7b6-4042-9154-a5db21d6cd6e\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29996
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ywquvq/providers/Microsoft.Compute/images/asotest-image-hzqmvz?api-version=2021-07-01
    method: GET
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\":
      \"The entity was not found in this Azure location.\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetImages3Min;357,Microsoft.Compute/GetImages30Min;1791
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "5"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ywquvq?api-version=2020-06-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-ywquvq''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
