---
version: 2
interactions:
    - id: 0
      request:
          host: management.azure.com
          body: '{"location":"westus3","name":"asotest-rg-hdctow","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
          form: {}
          headers:
              Content-Type:
                  - application/json
              Test-Request-Hash:
                  - 5b26747054bcca4d6f34fe52af7be98136c4bd1c0d8f80d11fc5a67ac2c8e9d9
          url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow?api-version=2020-06-01
          method: PUT
      response:
          body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow","name":"asotest-rg-hdctow","type":"Microsoft.Resources/resourceGroups","location":"westus3","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
              X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                  - "11999"
          status: 201 Created
          code: 201
          duration: 2.114115767s
    - id: 1
      request:
          host: management.azure.com
          body: ""
          form: {}
          headers:
              Test-Request-Attempt:
                  - "0"
          url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow?api-version=2020-06-01
          method: GET
      response:
          body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow","name":"asotest-rg-hdctow","type":"Microsoft.Resources/resourceGroups","location":"westus3","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
              X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                  - "16499"
          status: 200 OK
          code: 200
          duration: 233.999962ms
    - id: 2
      request:
          host: management.azure.com
          body: '{"identity":{"type":"SystemAssigned"},"kind":"OpenAI","location":"westus3","name":"asotestcogsvcacczytcvb","properties":{"publicNetworkAccess":"Enabled"},"sku":{"name":"S0"}}'
          form: {}
          headers:
              Content-Type:
                  - application/json
              Test-Request-Hash:
                  - 0a6c5c716f8dca6c3edacc1d3de8cb7c3378003ef13c04343e16c778291f156b
          url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcacczytcvb?api-version=2025-06-01
          method: PUT
      response:
          body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcacczytcvb","name":"asotestcogsvcacczytcvb","type":"Microsoft.CognitiveServices/accounts","etag":"\"13007701-0000-4d00-0000-6866e8f50000\"","location":"westus3","sku":{"name":"S0"},"kind":"OpenAI","properties":{"endpoint":"https://westus3.api.cognitive.microsoft.com/","internalId":"05d65107aacf496582b9c481bacc2522","dateCreated":"2001-02-03T04:05:06Z","apiProperties":{},"callRateLimit":{"rules":[{"key":"openai.dalle.post","renewalPeriod":1,"count":30,"matchPatterns":[{"path":"dalle/*","method":"POST"},{"path":"openai/images/*","method":"POST"}]},{"key":"openai.dalle.other","renewalPeriod":1,"count":30,"matchPatterns":[{"path":"dalle/*","method":"*"},{"path":"openai/operations/images/*","method":"*"}]},{"key":"openai.assistants.list","renewalPeriod":60,"count":120,"matchPatterns":[{"path":"openai/assistants","method":"GET"}]},{"key":"openai.threads.list","renewalPeriod":60,"count":120,"matchPatterns":[{"path":"openai/threads","method":"GET"}]},{"key":"openai.vectorst[...]
    - id: 3
      request:
          host: management.azure.com
          body: ""
          form: {}
          headers:
              Test-Request-Attempt:
                  - "0"
          url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/locations/westus3/operationResults/f8017f8b-8c56-4be4-b51e-35bb6bece597?api-version=2017-04-18&t=638871715740958814&c=MIIHhzCCBm-gAwIBAgITHgbGQ8iUUHaIEuL0_AAABsZDyDANBgkqhkiG9w0BAQsFADBE[...]
[...]
    - id: 6
      request:
          host: management.azure.com
          body: ""
          form: {}
          headers:
              Test-Request-Attempt:
                  - "0"
          url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcacczytcvb/listKeys?api-version=2024-10-01
          method: POST
      response:
          body: '{"key1":"REDACTED_KEY1","key2":"REDACTED_KEY2"}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
              X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                  - "11999"
          status: 200 OK
          code: 200
          duration: 862.055049ms
    - id: 7
      request:
          host: management.azure.com
          body: '{"identity":{"type":"SystemAssigned"},"kind":"OpenAI","location":"westus3","name":"asotestcogsvcacczytcvb","properties":{"publicNetworkAccess":"Enabled"},"sku":{"name":"S0"},"tags":{"env":"test"}}'
          form: {}
          headers:
              Content-Type:
                  - application/json
              Test-Request-Hash:
                  - 29f26e39a6f9b3a832ee22fffb3e7e445413192ad900c543af79d6a03f7da1d9
          url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcacczytcvb?api-version=2025-06-01
          method: PUT
      response:
          [...]
[...]
    - id: 10
      request:
          host: management.azure.com
          body: '{"name":"asotestcogsvcdephvibss","properties":{"model":{"format":"OpenAI","name":"gpt-4o","publisher":"OpenAI","version":"2024-08-06"}},"sku":{"capacity":1,"name":"Standard"}}'
          form: {}
          headers:
              Content-Type:
                  - application/json
              Test-Request-Hash:
                  - 029a6148e9f9ba1641b3314de4f705c19b3e25a6919f589c3fdebfdee30c932c
          url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcacczytcvb/deployments/asotestcogsvcdephvibss?api-version=2025-06-01
          method: PUT
      response:
          body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcacczytcvb/deployments/asotestcogsvcdephvibss","type":"Microsoft.CognitiveServices/accounts/deployments","name":"asotestcogsvcdephvibss","sku":{"name":"Standard","capacity":1},"properties":{"model":{"publisher":"OpenAI","format":"OpenAI","name":"gpt-4o","version":"2024-08-06"},"versionUpgradeOption":"OnceNewDefaultVersionAvailable","currentCapacity":1,"capabilities":{"area":"US","chatCompletion":"true","assistants":"true","jsonSchemaResponse":"true","maxContextToken":"128000","maxOutputToken":"16384","responses":"true"},"provisioningState":"Succeeded","rateLimits":[{"key":"request","renewalPeriod":10,"count":1},{"key":"token","renewalPeriod":60,"count":1000}]},"systemData":{"createdBy":"james.judd@aveva.com","createdByType":"User","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"james.judd@aveva.com","lastModifiedByType":"User","lastModifiedAt":"2001-02-03T04:05:06Z"},"etag":"\"289c637b-cdfb-49e3-bb9f-baa0512b0ae6\""}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
              Etag:
                  - '"289c637b-cdfb-49e3-bb9f-baa0512b0ae6"'
              X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                  - "11999"
          status: 201 Created
          code: 201
          duration: 2.58213765s
[...]
    - id: 15
      request:
          host: management.azure.com
          body: ""
          form: {}
          headers:
              Test-Request-Attempt:
                  - "2"
          url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcacczytcvb/deployments/asotestcogsvcdephvibss?api-version=2025-06-01
          method: GET
      response:
          body: '{"error":{"code":"NotFound","message":"Specified resource ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcacczytcvb/deployments/asotestcogsvcdephvibss'' cannot be found."}}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
              X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                  - "16499"
          status: 404 Not Found
          code: 404
          duration: 744.634754ms
[...]
    - id: 17
      request:
          host: management.azure.com
          body: ""
          form: {}
          headers:
              Test-Request-Attempt:
                  - "3"
          url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow/providers/Microsoft.CognitiveServices/accounts/asotestcogsvcacczytcvb?api-version=2025-06-01
          method: GET
      response:
          body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.CognitiveServices/accounts/asotestcogsvcacczytcvb'' under resource group ''asotest-rg-hdctow'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
              X-Ms-Failure-Cause:
                  - gateway
          status: 404 Not Found
          code: 404
          duration: 220.395212ms
    - id: 18
      request:
          host: management.azure.com
          body: ""
          form: {}
          headers:
              Test-Request-Attempt:
                  - "0"
          url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hdctow?api-version=2020-06-01
          method: DELETE
      response:
          body: ""
          headers:
              Location:
                  - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRIRENUT1ctV0VTVFVTMyIsImpvYkxvY2F0aW9uIjoid2VzdHVzMyJ9?api-version=2020-06-01&t=638871716478238055&c=MIIHhzCCBm-gAwIBAgITHgbGQ8iUUHaIEuL0_AAABsZDyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwNDE2MDYzMDI5WhcNMjUxMDEzMDYzMDI5WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ2[...]
    - id: 19
      request:
          host: management.azure.com
          body: ""
          form: {}
          headers:
              Test-Request-Attempt:
                  - "0"
          url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRIRENUT1ctV0VTVFVTMyIsImpvYkxvY2F0aW9uIjoid2VzdHVzMyJ9?api-version=2020-06-01&t=638871716478238055&c=MIIHhzCCBm-gAwIBAgITHgbGQ8iUUHaIEuL0_AA[...]
