---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"asotest-rg-rqyixp","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 23acc60ea8ac92dda0110650b6c1e42d3f9cb33c90c6869ab5563f93db6663e7
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp","name":"asotest-rg-rqyixp","type":"Microsoft.Resources/resourceGroups","location":"westus3","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 360.986268ms
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp","name":"asotest-rg-rqyixp","type":"Microsoft.Resources/resourceGroups","location":"westus3","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 23.63499ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp/providers/Microsoft.ContainerService/managedClusters/asotest-mc-hkromt?api-version=2024-04-02-preview
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/asotest-mc-hkromt'' under resource group ''asotest-rg-rqyixp'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 90.464442ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"identity":{"delegatedResources":null,"type":"SystemAssigned"},"location":"westus3","name":"asotest-mc-hkromt","properties":{"addonProfiles":null,"agentPoolProfiles":[{"availabilityZones":null,"count":1,"mode":"System","name":"ap1","nodeInitializationTaints":null,"nodeLabels":{},"nodeTaints":[],"osType":"Linux","tags":{},"virtualMachineNodesStatus":null,"vmSize":"Standard_DS2_v2"}],"dnsPrefix":"aso","identityProfile":null,"linuxProfile":{"adminUsername":"adminUser","ssh":{"publicKeys":[{"keyData":"ssh-rsa {KEY}\n"}]}},"networkProfile":{"ipFamilies":null,"networkPlugin":"azure","podCidrs":null,"serviceCidrs":null},"oidcIssuerProfile":{"enabled":true},"privateLinkResources":null},"tags":{}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - b6d393dee2d2d91711cc98f1d8aed311c83a865a25d893458b2bc149e36d92f0
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp/providers/Microsoft.ContainerService/managedClusters/asotest-mc-hkromt?api-version=2024-04-02-preview
        method: PUT
      response:
        body: |-
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-rqyixp/providers/Microsoft.ContainerService/managedClusters/asotest-mc-hkromt",
              "location": "westus3",
              "name": "asotest-mc-hkromt",
              "type": "Microsoft.ContainerService/ManagedClusters",
              "kind": "Base",
              "properties": {
               "provisioningState": "Creating",
               "powerState": {
                "code": "Running"
               },
               "kubernetesVersion": "1.28",
               "currentKubernetesVersion": "1.28.9",
               "dnsPrefix": "aso",
               "fqdn": "aso-ywnaft4z.hcp.westus3.azmk8s.io",
               "azurePortalFQDN": "aso-ywnaft4z.portal.hcp.westus3.azmk8s.io",
               "agentPoolProfiles": [
                {
                 "name": "ap1",
                 "count": 1,
                 "vmSize": "Standard_DS2_v2",
                 "osDiskSizeGB": 128,
                 "osDiskType": "Managed",
                 "kubeletDiskType": "OS",
                 "maxPods": 30,
                 "type": "VirtualMachineScaleSets",
                 "provisioningState": "Creating",
                 "powerState": {
                  "code": "Running"
                 },
                 "orchestratorVersion": "1.28",
                 "currentOrchestratorVersion": "1.28.9",
                 "nodeLabels": {},
                 "mode": "System",
                 "osType": "Linux",
                 "osSKU": "Ubuntu",
                 "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202405.20.0",
                 "upgradeSettings": {
                  "maxSurge": "10%"
                 },
                 "enableFIPS": false,
                 "securityProfile": {
                  "sshAccess": "LocalUser",
                  "enableVTPM": false,
                  "enableSecureBoot": false
                 }
                }
               ],
               "linuxProfile": {
                "adminUsername": "adminUser",
                "ssh": {
                 "publicKeys": [
                  {
                   "keyData": "ssh-rsa {KEY}\n"
                  }
                 ]
                }
               },
               "windowsProfile": {
                "adminUsername": "azureuser",
                "enableCSIProxy": true
               },
               "servicePrincipalProfile": {
                "clientId": "msi"
               },
               "nodeResourceGroup": "MC_asotest-rg-rqyixp_asotest-mc-hkromt_westus3",
               "enableRBAC": true,
               "supportPlan": "KubernetesOfficial",
               "networkProfile": {
                "networkPlugin": "azure",
                "networkPolicy": "none",
                "networkDataplane": "azure",
                "loadBalancerSku": "standard",
                "loadBalancerProfile": {
                 "managedOutboundIPs": {
                  "count": 1
                 },
                 "backendPoolType": "nodeIPConfiguration"
                },
                "serviceCidr": "10.0.0.0/16",
                "dnsServiceIP": "10.0.0.10",
                "outboundType": "loadBalancer",
                "serviceCidrs": [
                 "10.0.0.0/16"
                ],
                "ipFamilies": [
                 "IPv4"
                ]
               },
               "maxAgentPools": 100,
               "autoUpgradeProfile": {
                "nodeOSUpgradeChannel": "NodeImage"
               },
               "securityProfile": {},
               "storageProfile": {
                "diskCSIDriver": {
                 "enabled": true,
                 "version": "v1"
                },
                "fileCSIDriver": {
                 "enabled": true
                },
                "snapshotController": {
                 "enabled": true
                }
               },
               "oidcIssuerProfile": {
                "enabled": true,
                "issuerURL": "https://westus3.oic.prod-aks.azure.com/00000000-0000-0000-0000-000000000000/845ce673-3dab-4817-97f5-a9356198d069/"
               },
               "workloadAutoScalerProfile": {},
               "metricsProfile": {
                "costAnalysis": {
                 "enabled": false
                }
               },
               "resourceUID": "6668db4b6239a2000119e438",
               "controlPlanePluginProfiles": {
                "azure-monitor-metrics-ccp": {
                 "enableV2": true
                },
                "karpenter": {
                 "enableV2": true
                },
                "live-patching-controller": {
                 "enableV2": true
                }
               },
               "nodeProvisioningProfile": {
                "mode": "Manual"
               },
               "bootstrapProfile": {
                "artifactSource": "Direct"
               }
              },
              "identity": {
               "type": "SystemAssigned",
               "principalId": "d5ad4082-48b5-4ab8-90af-a48857ca9b0d",
               "tenantId": "00000000-0000-0000-0000-000000000000"
              },
              "sku": {
               "name": "Base",
               "tier": "Free"
              }
             }
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/cd17eb8f-2635-4fac-8fe5-df9e35d5ed32?api-version=2016-03-30&t=638537447155358982&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50L[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/cd17eb8f-2635-4fac-8fe5-df9e35d5ed32?api-version=2016-03-30&t=638537447155358982&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBG[...]
[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/510c653c-de96-4aa5-a041-fad633f44278?api-version=2016-03-30&t=638537449196330882&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 27
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/99bdd157-4db9-4fe8-a4eb-8d199b37b319?api-version=2016-03-30&t=638537451316391450&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 36
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp/providers/Microsoft.ContainerService/managedClusters/asotest-mc-hkromt/listClusterAdminCredential?api-version=2022-04-01
        method: POST
      response:
        body: |-
            {
              "kubeconfigs": [
               {
                "name": "clusterAdmin",
                "value": "IA=="
               }
              ]
             }
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 399.307319ms
    - id: 37
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp/providers/Microsoft.ContainerService/managedClusters/asotest-mc-hkromt/listClusterUserCredential?api-version=2022-04-01
        method: POST
      response:
        body: |-
            {
              "kubeconfigs": [
               {
                "name": "clusterUser",
                "value": "IA=="
               }
              ]
             }
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 337.118114ms
    - id: 38
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp/providers/Microsoft.ContainerService/managedClusters/asotest-mc-hkromt/agentPools/ap2?api-version=2024-04-02-preview
        method: GET
      response:
        body: |-
            {
              "code": "NotFound",
              "details": [
               {
                "code": "Unspecified",
                "message": "rpc error: code = NotFound desc = Agent Pool not found"
               }
              ],
              "message": "Could not find the agentpool: ap2 in subscription: 00000000-0000-0000-0000-000000000000, resourceGroup: asotest-rg-rqyixp, resourceName: asotest-mc-hkromt.",
              "subcode": "GetAgentPool_NotFound"
             }
        headers:
            Content-Type:
                - application/json
        status: 404 Not Found
        code: 404
        duration: 309.18472ms
    - id: 39
      request:
        host: management.azure.com
        body: '{"name":"ap2","properties":{"availabilityZones":null,"count":1,"mode":"System","nodeInitializationTaints":null,"nodeLabels":{},"nodeTaints":[],"osType":"Linux","tags":{},"virtualMachineNodesStatus":null,"vmSize":"Standard_DS2_v2"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 64b8c6719185e75cb8a9416b6048f54690b383028b5e1e506166b9e51a30fd69
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp/providers/Microsoft.ContainerService/managedClusters/asotest-mc-hkromt/agentPools/ap2?api-version=2024-04-02-preview
        method: PUT
      response:
        body: |-
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-rqyixp/providers/Microsoft.ContainerService/managedClusters/asotest-mc-hkromt/agentPools/ap2",
              "name": "ap2",
              "type": "Microsoft.ContainerService/managedClusters/agentPools",
              "properties": {
               "count": 1,
               "vmSize": "Standard_DS2_v2",
               "osDiskSizeGB": 128,
               "osDiskType": "Managed",
               "kubeletDiskType": "OS",
               "maxPods": 30,
               "type": "VirtualMachineScaleSets",
               "scaleDownMode": "Delete",
               "provisioningState": "Creating",
               "powerState": {
                "code": "Running"
               },
               "orchestratorVersion": "1.28",
               "currentOrchestratorVersion": "1.28.9",
               "mode": "System",
               "osType": "Linux",
               "osSKU": "Ubuntu",
               "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202405.20.0",
               "enableFIPS": false,
               "securityProfile": {
                "sshAccess": "LocalUser"
               },
               "eTag": "191a95d2-98c7-4434-a52f-bdabe6b7c860"
              }
             }
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/6531ae71-4935-4467-b4ac-2e42b59515ca?api-version=2016-03-30&t=638537452805379787&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
    - id: 40
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/6531ae71-4935-4467-b4ac-2e42b59515ca?api-version=2016-03-30&t=638537452805379787&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 50
      request:
        host: management.azure.com
        body: '{"name":"ap2","properties":{"availabilityZones":null,"count":1,"mode":"System","nodeInitializationTaints":null,"nodeLabels":{"mylabel":"label"},"nodeTaints":[],"osType":"Linux","tags":{},"virtualMachineNodesStatus":null,"vmSize":"Standard_DS2_v2"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - f3274729188400d64808bb67fecf9aaf24e7d69d73afbcd2d65bb613f5addbf5
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp/providers/Microsoft.ContainerService/managedCluste[...]
    - id: 51
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/ca94588b-06fc-498c-9484-07f687ecffd0?api-version=2016-03-30&t=638537454841396246&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 59
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/b36df5c4-7efb-49fc-bf35-319da3280055?api-version=2016-03-30&t=638537455154864182&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 63
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/fc2f625d-0bc3-4886-a520-daa7bd08bfae?api-version=2016-03-30&t=638537455245644894&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 69
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/7b96b251-adfb-4d06-8fab-9e16e4b62a98?api-version=2016-03-30&t=638537455605172952&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 78
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-rqyixp/providers/Microsoft.ContainerService/managedClusters/asotest-mc-hkromt?api-version=2024-04-02-preview
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/asotest-mc-hkromt'' under resource group ''asotest-rg-rqyixp'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 90.131025ms
    - id: 79
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-rqyixp?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRSUVlJWFAtV0VTVFVTMyIsImpvYkxvY2F0aW9uIjoid2VzdHVzMyJ9?api-version=2020-06-01&t=638537458105099743&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNTE1MTI0NjQwWhcNMjUwNTEwMTI0NjQwWjBAMT4wPAYDVQQDE[...]
    - id: 80
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRSUVlJWFAtV0VTVFVTMyIsImpvYkxvY2F0aW9uIjoid2VzdHVzMyJ9?api-version=2020-06-01&t=638537458105099743&c=MIIHpTCCBo2gAwIBAgITfwM6vSxODJvqjFP4oQAEAzq9LDANBgkqh[...]
