---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-pwokuh","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh","name":"asotest-rg-pwokuh","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-apim-sczlzm","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"Developer"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm?api-version=2022-08-01
    method: PUT
  response:
    body: '{"etag":"AAAAAAAdKzk=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting","notificationSenderEmail":"apimgmt-noreply@mail.windowsazure.com","provisioningState":"Succeeded","targetProvisioningState":"","createdAtUtc":"2001-02-03T04:05:06Z","gatewayUrl":"https://asotest-apim-sczlzm.current.int-azure-api.net","gatewayRegionalUrl":"https://asotest-apim-sczlzm-westus2-01.regional.current.int-azure-api.net","portalUrl":"https://asotest-apim-sczlzm.portal.current.int-azure-api.net","developerPortalUrl":"https://asotest-apim-sczlzm.developer.current.int-azure-api.net","managementApiUrl":"https://asotest-apim-sczlzm.management.current.int-azure-api.net","scmUrl":"https://asotest-apim-sczlzm.scm.current.int-azure-api.net","hostnameConfigurations":[{"type":"Proxy","hostName":"asotest-apim-sczlzm.current.int-azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true,"identityClientId":null,"certificateSource":"BuiltIn","certificateStatus":null}],"publicIPAddresses":["20.83.254.29"],"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":{"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2":"False"},"virtualNetworkType":"None","certificates":null,"disableGateway":false,"natGatewayState":"Disabled","outboundPublicIPAddresses":["20.83.254.29"],"apiVersionConstraint":{"minApiVersion":null},"publicIpAddressId":null,"publicNetworkAccess":"Enabled","privateEndpointConnections":null,"platformVersion":"stv1"},"sku":{"name":"Developer","capacity":1},"identity":null,"zones":null,"systemData":{"createdBy":"77f276e4-128b-44dd-aae1-53467daa7296","createdByType":"Application","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"77f276e4-128b-44dd-aae1-53467daa7296","lastModifiedByType":"Application","lastModifiedAt":"2001-02-03T04:05:06Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm","name":"asotest-apim-sczlzm","type":"Microsoft.ApiManagement/service","location":"West
      US 2","tags":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAdKzk="'
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "23999"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-apim-sczlzm","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"Developer"},"tags":{"scratchcard":"lanyard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm?api-version=2022-08-01
    method: PUT
  response:
    body: '{"etag":"AAAAAAAdKzo=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting","notificationSenderEmail":"ap[...]
[...]
- request:
    body: '{"name":"test_namedvalue","properties":{"displayName":"My_Key","secret":false,"value":"It''s
      value"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/namedValues/test_namedvalue?api-version=2022-08-01
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/namedValues/test_namedvalue?api-version=2022-08-01&asyncId=657a53824f01ef09d0cb8402&asyncCode=201
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"policy","properties":{"value":"\u003cpolicies\u003e\u003cinbound
      /\u003e\u003cbackend\u003e\u003cforward-request /\u003e\u003c/backend\u003e\u003coutbound
      /\u003e\u003c/policies\u003e"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policies/policy?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policies/policy\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/policies\",\r\n  \"name\": \"policy\",\r\n
      \ \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\": \"<policies>\\r\\n\\t<inbound
      />\\r\\n\\t<backend>\\r\\n\\t\\t<forward-request />\\r\\n\\t</backend>\\r\\n\\t<outbound
      />\\r\\n</policies>\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACw0="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_backend","properties":{"description":"A Description about
      the backend","protocol":"http","url":"https://www.bing.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n
      \ \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A Description
      about the backend\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\":
      \"http\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACxM="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"asotest-authorizationprovider-larsiz","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"grantTypes":{"authorizationCode":{"ClientId":"000","ClientSecret":"*","ResourceUri":"https://www.contoso.com"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz?api-version=2022-08-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz","name":"asotest-authorizationprovider-larsiz","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"West
      US 2","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager-test.consent.azure-apim.net/redirect/apim/asotest-apim-sczlzm","grantTypes":{"authorizationCode":{"clientId":"000","scopes":null,"resourceUri":"https://www.contoso.com"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-sub1-nccflz","properties":{"displayName":"Subscription
      for all APIs","scope":"/apis"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/subscriptions/asotest-sub1-nccflz?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/subscriptions/asotest-sub1-nccflz\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n  \"name\":
      \"asotest-sub1-nccflz\",\r\n  \"properties\": {\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apis\",\r\n
      \   \"displayName\": \"Subscription for all APIs\",\r\n    \"state\": \"active\",\r\n
      \   \"createdDate\": \"2001-02-03T04:05:06Z\",\r\n    \"startDate\": null,\r\n
      \   \"expirationDate\": null,\r\n    \"endDate\": null,\r\n    \"notificationDate\":
      null,\r\n    \"primaryKey\": \"67981dbef0e642e4b8870154bf6e7b26\",\r\n    \"secondaryKey\":
      \"55cb3b8839fa4e5c89675c3e0ceeeee6\",\r\n    \"stateComment\": null,\r\n    \"allowTracing\":
      false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACxU="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp?api-version=2022-08-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp","name":"asotest-authorizationprovider-rnlhtp","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"West
      US 2","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager-test.consent.azure-apim.net/redirect/apim/asotest-apim-sczlzm","grantTypes":{"authorizationCode":{"clientId":"000","scopes":null,"resourceUri":"https://www.contoso.com"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-vs-dcaude","properties":{"description":"A version set
      for the account api","displayName":"/apiVersionSets/account-api","versioningScheme":"Segment"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apiVersionSets/asotest-vs-dcaude?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apiVersionSets/asotest-vs-dcaude\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/apiVersionSets\",\r\n  \"name\":
      \"asotest-vs-dcaude\",\r\n  \"properties\": {\r\n    \"displayName\": \"/apiVersionSets/account-api\",\r\n
      \   \"description\": \"A version set for the account api\",\r\n    \"versioningScheme\":
      \"Segment\",\r\n    \"versionQueryName\": null,\r\n    \"versionHeaderName\":
      null\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACxc="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"asotest-policyfragment-pmmefq","properties":{"description":"A
      Description about the policy fragment","value":"\u003cfragment\u003e\u003c/fragment\u003e"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyFragments/asotest-policyfragment-pmmefq?api-version=2022-08-01
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyFragments/asotest-policyfragment-pmmefq?api-version=2022-08-01&asyncId=657a53834f01ef09d0cb8409&asyncCode=201
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz?api-version=2022-08-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz","name":"asotest-authorizationprovider-larsiz","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"West
      US 2","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager-test.consent.azure-apim.net/redirect/apim/asotest-apim-sczlzm","grantTypes":{"authorizationCode":{"clientId":"000","scopes":null,"resourceUri":"https://www.contoso.com"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-tfdwjh?api-version=2022-08-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-tfdwjh","name":"asotest-authorizationprovider-tfdwjh","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"West
      US 2","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager-test.consent.azure-apim.net/redirect/apim/asotest-apim-sczlzm","grantTypes":{"authorizationCode":{"clientId":"000","scopes":null,"resourceUri":"https://www.contoso.com"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-cust1-zwfpsw","properties":{"description":"A product for
      customer 1","displayName":"Customer 1","subscriptionRequired":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-cust1-zwfpsw?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-cust1-zwfpsw\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/products\",\r\n  \"name\": \"asotest-cust1-zwfpsw\",\r\n
      \ \"properties\": {\r\n    \"displayName\": \"Customer 1\",\r\n    \"description\":
      \"A product for customer 1\",\r\n    \"terms\": null,\r\n    \"subscriptionRequired\":
      false,\r\n    \"approvalRequired\": null,\r\n    \"subscriptionsLimit\": null,\r\n
      \   \"state\": \"notPublished\",\r\n    \"groups\": [\r\n      {\r\n        \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/groups/administrators\",\r\n
      \       \"name\": \"Administrators\",\r\n        \"description\": \"Administrators
      is a built-in group containing the admin email account provided at the time
      of service creation. Its membership is managed by the system.\",\r\n        \"builtIn\":
      true,\r\n        \"type\": \"system\",\r\n        \"externalId\": null\r\n      }\r\n
      \   ]\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACyE="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/namedValues/test_namedvalue?api-version=2022-08-01&asyncId=657a53824f01ef09d0cb8402&asyncCode=201
    method: GET
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/namedValues/test_namedvalue\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/namedValues\",\r\n  \"name\":
      \"test_namedvalue\",\r\n  \"properties\": {\r\n    \"displayName\": \"My_Key\",\r\n
      \   \"value\": \"It's value\",\r\n    \"tags\": null,\r\n    \"secret\": false\r\n
      \ }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACw8="'
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend?api-version=2022-08-01
    method: GET
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n
      \ \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A Description
      about the backend\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\":
      \"http\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACxM="'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyFragments/asotest-policyfragment-pmmefq?api-version=2022-08-01&asyncId=657a53834f01ef09d0cb8409&asyncCode=201
    method: GET
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyfragments/asotest-policyfragment-pmmefq\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/policyFragments\",\r\n  \"name\":
      \"asotest-policyfragment-pmmefq\",\r\n  \"properties\": {\r\n    \"description\":
      \"A Description about the policy fragment\",\r\n    \"value\": \"<fragment></fragment>\"\r\n
      \ }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"GgsAAAAAAAA="'
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      If-Match:
      - '*'
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-cust1-zwfpsw?api-version=2021-08-01&deleteSubscriptions=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-authorization-wolrgf","properties":{"authorizationType":"OAuth2","error":{"code":"samplecode","message":"samplemessage"},"oauth2grantType":"AuthorizationCode","status":"samplemessage"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp/authorizations/asotest-authorization-wolrgf?api-version=2022-08-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp/authorizations/asotest-authorization-wolrgf","name":"asotest-authorization-wolrgf","type":"Microsoft.ApiManagement/service/authorizationProviders/authorizations","location":"West
      US 2","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode","status":"Error","error":{"code":"Unauthenticated","message":"This
      connection is not authenticated."}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-authorization-fhdxct","properties":{"authorizationType":"OAuth2","error":{"code":"samplecode","message":"samplemessage"},"oauth2grantType":"AuthorizationCode","status":"samplemessage"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz/authorizations/asotest-authorization-fhdxct?api-version=2022-08-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz/authorizations/asotest-authorization-fhdxct","name":"asotest-authorization-fhdxct","type":"Microsoft.ApiManagement/service/authorizationProviders/authorizations","location":"West
      US 2","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode","status":"Error","error":{"code":"Unauthenticated","message":"This
      connection is not authenticated."}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-api-mxuzlo","properties":{"apiVersion":"2.0.0","apiRevision":"v1","apiRevisionDescription":"First
      Revision","apiVersionDescription":"Second Version","apiVersionSetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apiVersionSets/asotest-vs-dcaude","contact":{"email":"test@test.com","name":"Test","url":"https://www.bing.com"},"description":"A
      Description about the api","displayName":"account-api","isCurrent":true,"path":"/account-api","protocols":["https"],"subscriptionRequired":false,"termsOfServiceUrl":"https://www.bing.com/tos","type":"http"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apis/asotest-api-mxuzlo?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apis/asotest-api-mxuzlo\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"asotest-api-mxuzlo\",\r\n
      \ \"properties\": {\r\n    \"displayName\": \"account-api\",\r\n    \"apiRevision\":
      \"1\",\r\n    \"description\": \"A Description about the api\",\r\n    \"subscriptionRequired\":
      false,\r\n    \"serviceUrl\": null,\r\n    \"backendId\": null,\r\n    \"path\":
      \"account-api\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\":
      {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
      {\r\n      \"header\": \"Ocp-Apim-Subscription-Key\",\r\n      \"query\": \"subscription-key\"\r\n
      \   },\r\n    \"termsOfServiceUrl\": \"https://www.bing.com/tos\",\r\n    \"contact\":
      {\r\n      \"name\": \"Test\",\r\n      \"url\": \"https://www.bing.com\",\r\n
      \     \"email\": \"test@test.com\"\r\n    },\r\n    \"isCurrent\": true,\r\n
      \   \"apiRevisionDescription\": \"First Revision\",\r\n    \"apiVersion\": \"2.0.0\",\r\n
      \   \"apiVersionDescription\": \"Second Version\",\r\n    \"apiVersionSetId\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apiVersionSets/asotest-vs-dcaude\",\r\n
      \   \"apiVersionSet\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apiVersionSets/asotest-vs-dcaude\",\r\n
      \     \"name\": \"/apiVersionSets/account-api\",\r\n      \"description\": \"A
      version set for the account api\",\r\n      \"versioningScheme\": \"Segment\",\r\n
      \     \"versionQueryName\": null,\r\n      \"versionHeaderName\": null\r\n    }\r\n
      \ }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACzw="'
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "23999"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/subscriptions/asotest-sub1-nccflz/listSecrets?api-version=2021-08-01
    method: POST
  response:
    body: '{"primaryKey":"67981dbef0e642e4b8870154bf6e7b26","secondaryKey":"55cb3b8839fa4e5c89675c3e0ceeeee6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
[...]
