---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-tjuwfa","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form:
            api-version:
                - "2020-06-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - ba4bc4b7d2ecde6c7aaf364ec0d0370c7bb5f741e39e4c0d5d93d9e90c58881f
            Test-Request-Hash:
                - ba4bc4b7d2ecde6c7aaf364ec0d0370c7bb5f741e39e4c0d5d93d9e90c58881f
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tjuwfa?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tjuwfa","name":"asotest-rg-tjuwfa","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.859188361s
[...]
    - id: 2
      request:
        host: management.azure.com
        body: '{"kind":"functionapp","location":"northeurope","name":"asotest-appservice-mqerio","properties":{"reserved":true},"sku":{"name":"FC1","tier":"FlexConsumption"}}'
        form:
            api-version:
                - "2026-07-15"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 8298d327a904bcc7e506e741276898aa1d98fa08def0c187150be2a2b273e75d
            Test-Request-Hash:
                - 8298d327a904bcc7e506e741276898aa1d98fa08def0c187150be2a2b273e75d
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tjuwfa/providers/Microsoft.Web/serverfarms/asotest-appservice-mqerio?api-version=2026-07-15
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tjuwfa/providers/Microsoft.Web/serverfarms/asotest-appservice-mqerio","name":"asotest-appservice-mqerio","type":"Microsoft.Web/serverfarms","kind":"functionapp","location":"northeurope","properties":{"serverFarmId":44610,"name":"asotest-appservice-mqerio","sku":{"name":"FC1","tier":"FlexConsumption","size":"FC1","family":"FC","capacity":0},"workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":0,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":0,"status":"Ready","webSpace":"flex-db8e7cc30a674f2b3d5080952d97caafe6c00a7ceaad935b597c92cc74fc0fd4-webspace","subscription":"00000000-0000-0000-0000-000000000000","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dynamic","siteMode":null,"geoRegion":"North Europe","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"functionapp","resourceGroup":"asotest-rg-tjuwfa","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-db3-323_44610","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":3,"currentNumberOfZonesUtilized":0,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2026-09-15T00:31:41.7566667","asyncScalingEnabled":false,"isCustomMode":false,"powerState":"Running","eligibleLogCategories":"","activeBackupHomeServerFarmName":null,"allowEquivalentSku":false},"sku":{"name":"FC1","tier":"FlexConsumption","size":"FC1","family":"FC","capacity":0}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 4.02466216s
[...]
    - id: 4
      request:
        host: management.azure.com
        body: '{"kind":"functionapp","location":"northeurope","name":"asotest-appservice-mqerio","properties":{"reserved":true},"sku":{"name":"FC1","tier":"FlexConsumption"},"tags":{"cost-center":"12345"}}'
        form:
            api-version:
                - "2026-07-15"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 455f3a58e423479415273f34ae72f01f7b8b137d44c71112a8ba47f47fdde5af
            Test-Request-Hash:
                - 455f3a58e423479415273f34ae72f01f7b8b137d44c71112a8ba47f47fdde5af
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGr[...]
[...]
    - id: 8
      request:
        host: management.azure.com
        form:
            api-version:
                - "2026-07-15"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tjuwfa/providers/Microsoft.Web/serverfarms/asotest-appservice-mqerio?api-version=2026-07-15
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Web/serverFarms/asotest-appservice-mqerio'' under resource group ''asotest-rg-tjuwfa'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 259.998168ms
[...]
    - id: 10
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-06-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tjuwfa?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRUSlVXRkEtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiIsImpvYlN0b3JhZ2VBY2NvdW50IjoiL2NzbS9zdG9yYWdlYWNjb3VudHMvZ2xvYmFsL3JwZmRsam9iMDBwcm9kbXdoMDcifQ?api-version=2020-06-01&t=639250291308641817&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgx[...]
    - id: 11
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-06-01"
            c:
                - MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCjyQHyKRQ8UpdzxWWmCxMDjs[...]
