---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-zlmwur","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur","name":"asotest-rg-zlmwur","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westeurope","name":"asotest-apimv2-twykac","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"BasicV2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac?api-version=2023-05-01-preview
    method: PUT
  response:
    body: '{"etag":"AAAAAAFhfmw=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting","notificationSenderEmail":"apimgmt-noreply@mail.windowsazure.com","provisioningState":"Created","targetProvisioningState":"","createdAtUtc":"2001-02-03T04:05:06Z","gatewayUrl":"https://asotest-apimv2-twykac.azure-api.net","gatewayRegionalUrl":null,"portalUrl":null,"developerPortalUrl":null,"dataApiUrl":null,"managementApiUrl":"https://smapi.api-am2-prod-scaleunit-001.p.azurewebsites.net/","scmUrl":null,"hostnameConfigurations":[{"type":"Proxy","hostName":"asotest-apimv2-twykac.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true,"identityClientId":null,"certificateSource":"BuiltIn","certificateStatus":null}],"publicIPAddresses":null,"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":{"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2":"False"},"virtualNetworkType":"None","certificates":null,"natGatewayState":"Enabled","outboundPublicIPAddresses":["/subscriptions/76a09fb5-c495-4454-a22b-4d881e0aa752/resourceGroups/westeuropePreProBV21e5c795-mGHAy8AxidHFoKgUiHYEHRQ/providers/Microsoft.Network/publicIPAddresses/publicIPv4"],"apiVersionConstraint":{"minApiVersion":null},"publicIpAddressId":null,"publicNetworkAccess":"Enabled","privateEndpointConnections":null,"platformVersion":"undetermined","configurationApi":null,"legacyPortalStatus":"Enabled","developerPortalStatus":"Disabled"},"sku":{"name":"BasicV2","capacity":1},"identity":null,"zones":null,"systemData":null,"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac","name":"asotest-apimv2-twykac","type":"Microsoft.ApiManagement/service","location":"West
      Europe","tags":{}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/operationresults/d2VzdGV1cm9wZTphc290ZXN0LWFwaW12Mi10d3lrYWNfQWN0XzkxNmY4Yjhh?api-version=2023-05-01-preview&asyncResponse
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAFhfmw="'
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/operationresults/d2VzdGV1cm9wZTphc290ZXN0LWFwaW12Mi10d3lrYWNfQWN0XzkxNmY4Yjhh?api-version=2023-05-01-preview&asyncResponse
      Retry-After:
      - "20"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/operationresults/d2VzdGV1cm9wZTphc290ZXN0LWFwaW12Mi10d3lrYWNfQWN0XzkxNmY4Yjhh?api-version=2023-05-01-preview&asyncResponse
    method: GET
  response:
    body: '{"status":"InProgress"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/operationresults/d2VzdGV1cm9wZTphc290ZXN0LWFwaW12Mi10d3lrYWNfQWN0XzkxNmY4Yjhh?api-version=2023-05-01-preview&asyncResponse
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/operationresults/d2VzdGV1cm9wZTphc290ZXN0LWFwaW12Mi10d3lrYWNfQWN0XzkxNmY4Yjhh?api-version=2023-05-01-preview&asyncResponse
      Retry-After:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westeurope","name":"asotest-apimv2-twykac","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"BasicV2"},"tags":{"scratchcard":"lanyard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac?api-version=2023-05-01-preview
    method: PUT
  response:
    body: '{"etag":"AAAAAAFhfn8=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting","notificationSender[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/operationresults/d2VzdGV1cm9wZTphc290ZXN0LWFwaW12Mi10d3lrYWNfVXBkYXRlXzk2NTcwNDE5?api-version=2023-05-01-preview&asyncResponse
    method: GET
  response:
    body: '{"status":"InProgress"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/operationresults/d2VzdGV1cm9wZTphc290ZXN0LWFwaW12Mi10d3lrYWNfVXBkYXRlXzk2NTcwNDE5?api-version=2023-05-01-preview&asyncResponse
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/operationresults/d2VzdGV1cm9wZTphc290ZXN0LWFwaW12Mi10d3lrYWNfVXBkYXRlXzk2NTcwNDE5?api-version=2023-05-01-preview&asyncResponse
      Retry-After:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"policy","properties":{"value":"\u003cpolicies\u003e\u003cinbound
      /\u003e\u003cbackend\u003e\u003cforward-request /\u003e\u003c/backend\u003e\u003coutbound
      /\u003e\u003c/policies\u003e"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/policies/policy?api-version=2023-05-01-preview
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/policies/policy\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/policies\",\r\n  \"name\": \"policy\",\r\n
      \ \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\": \"<policies>\\r\\n\\t<inbound
      />\\r\\n\\t<backend>\\r\\n\\t\\t<forward-request />\\r\\n\\t</backend>\\r\\n\\t<outbound
      />\\r\\n</policies>\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAHWHM="'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-product1-purcyo","properties":{"description":"A product
      policy example","displayName":"Product Policy Test","subscriptionRequired":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/products/asotest-product1-purcyo?api-version=2023-05-01-preview
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/products/asotest-product1-purcyo\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/products\",\r\n  \"name\": \"asotest-product1-purcyo\",\r\n
      \ \"properties\": {\r\n    \"displayName\": \"Product Policy Test\",\r\n    \"description\":
      \"A product policy example\",\r\n    \"terms\": null,\r\n    \"subscriptionRequired\":
      false,\r\n    \"approvalRequired\": null,\r\n    \"subscriptionsLimit\": null,\r\n
      \   \"state\": \"notPublished\",\r\n    \"groups\": [\r\n      {\r\n        \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/groups/administrators\",\r\n
      \       \"name\": \"Administrators\",\r\n        \"description\": \"Administrators
      is a built-in group containing the admin email account provided at the time
      of service creation. Its membership is managed by the system.\",\r\n        \"builtIn\":
      true,\r\n        \"type\": \"system\",\r\n        \"externalId\": null\r\n      }\r\n
      \   ]\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAHWHg="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"asotest-policyfragment-pchnpt","properties":{"description":"A
      Description about the policy fragment","value":"\u003cfragment\u003e\u003c/fragment\u003e"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/policyFragments/asotest-policyfragment-pchnpt?api-version=2023-05-01-preview
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/policyFragments/asotest-policyfragment-pchnpt\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/policyFragments\",\r\n  \"name\":
      \"asotest-policyfragment-pchnpt\",\r\n  \"properties\": {\r\n    \"ProvisioningState\":
      \"InProgress\"\r\n  }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/tenant/operationResults/65967ba7055a6c1e305fab5c?api-version=2023-05-01-preview
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/policyFragments/asotest-policyfragment-pchnpt?api-version=2023-05-01-preview&asyncId=65967ba7055a6c1e305fab5c&asyncCode=201
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_backend","properties":{"description":"A Description about
      the backend","protocol":"http","url":"https://www.bing.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/backends/test_backend?api-version=2023-05-01-preview
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/backends/test_backend\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n
      \ \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A Description
      about the backend\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\":
      \"http\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAHWH4="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"asotest-cust1-ygcdnb","properties":{"description":"A product for
      customer 1","displayName":"Customer 1","subscriptionRequired":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/products/asotest-cust1-ygcdnb?[...]
- request:
    body: '{"name":"asotest-product2-ocqsvh","properties":{"description":"A product
      Api example","displayName":"Product Api Test","subscriptionRequired":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/products/asotest-product[...]
- request:
    body: '{"name":"test_namedvalue","properties":{"displayName":"My_Key","secret":false,"value":"It''s
      value"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/namedValues/test_namedvalue?api-version=2023-05-01-preview
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000[...]
- request:
    body: '{"name":"asotest-vs-cexbpa","properties":{"description":"A version set
      for the account api","displayName":"/apiVersionSets/account-api","versioningScheme":"Segment"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apiVersionSets/asotest-vs-cexbpa?api-version=2023-05-01-preview
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apiVersionSets/asotest-vs-cexbpa\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/apiVersionSets\",\r\n  \"name\":
      \"asotest-vs-cexbpa\",\r\n  \"properties\": {\r\n    \"displayName\": \"/apiVersionSets/account-api\",\r\n
      \   \"description\": \"A version set for the account api\",\r\n    \"versioningScheme\":
      \"Segment\",\r\n    \"versionQueryName\": null,\r\n    \"versionHeaderName\":
      null\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAHWI0="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"asotest-sub1-wohigs","properties":{"displayName":"Subscription
      for all APIs","scope":"/apis"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/subscriptions/asotest-sub1-wohigs?api-version=2023-05-01-preview
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/subscriptions/asotest-sub1-wohigs\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n  \"name\":
      \"asotest-sub1-wohigs\",\r\n  \"properties\": {\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apis\",\r\n
      \   \"displayName\": \"Subscription for all APIs\",\r\n    \"state\": \"active\",\r\n
      \   \"createdDate\": \"2001-02-03T04:05:06Z\",\r\n    \"startDate\": null,\r\n
      \   \"expirationDate\": null,\r\n    \"endDate\": null,\r\n    \"notificationDate\":
      null,\r\n    \"primaryKey\": \"4b871532439745efa953369d35304dcf\",\r\n    \"secondaryKey\":
      \"0ea6b99ff91545dfb50436e7e73788ba\",\r\n    \"stateComment\": null,\r\n    \"allowTracing\":
      false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAHWJk="'
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/backends/test_backend?api-version=2023-05-01-preview
    method: GET
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/backends/test_backend\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n
      \ \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A Description
      about the backend\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\":
      \"http\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAHWH4="'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/tenant/operationResults/65967ba7055a6c1e305fab5c?api-version=2023-05-01-preview
    method: GET
  response:
    body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/policyFragments/asotest-policyfragment-pchnpt?api-version=2023-05-01-preview
    method: GET
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/policyfragments/asotest-policyfragment-pchnpt\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/policyFragments\",\r\n  \"name\":
      \"asotest-policyfragment-pchnpt\",\r\n  \"properties\": {\r\n    \"description\":
      \"A Description about the policy fragment\",\r\n    \"value\": \"<fragment></fragment>\",\r\n
      \   \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"eVgHAAAAAAA="'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-api-gckykx","properties":{"apiVersion":"2.0.0","apiRevision":"v1","apiRevisionDescription":"First
      Revision","apiVersionDescription":"Second Version","apiVersionSetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apiVersionSets/asotest-vs-cexbpa","contact":{"email":"test@test.com","name":"Test","url":"https://www.bing.com"},"description":"A
      Description about the api","displayName":"account-api","isCurrent":true,"path":"/account-api","protocols":["https"],"subscriptionRequired":false,"termsOfServiceUrl":"https://www.bing.com/tos","type":"http"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apis/asotest-api-gckykx?api-version=2023-05-01-preview
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apis/asotest-api-gckykx\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"asotest-api-gckykx\",\r\n
      \ \"properties\": {\r\n    \"displayName\": \"account-api\",\r\n    \"apiRevision\":
      \"1\",\r\n    \"description\": \"A Description about the api\",\r\n    \"subscriptionRequired\":
      false,\r\n    \"serviceUrl\": null,\r\n    \"path\": \"account-api\",\r\n    \"protocols\":
      [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\": {\r\n      \"oAuth2\":
      null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
      {\r\n      \"header\": \"Ocp-Apim-Subscription-Key\",\r\n      \"query\": \"subscription-key\"\r\n
      \   },\r\n    \"termsOfServiceUrl\": \"https://www.bing.com/tos\",\r\n    \"contact\":
      {\r\n      \"name\": \"Test\",\r\n      \"url\": \"https://www.bing.com\",\r\n
      \     \"email\": \"test@test.com\"\r\n    },\r\n    \"isCurrent\": true,\r\n
      \   \"apiRevisionDescription\": \"First Revision\",\r\n    \"apiVersion\": \"2.0.0\",\r\n
      \   \"apiVersionDescription\": \"Second Version\",\r\n    \"apiVersionSetId\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apiVersionSets/asotest-vs-cexbpa\",\r\n
      \   \"apiVersionSet\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apiVersionSets/asotest-vs-cexbpa\",\r\n
      \     \"name\": \"/apiVersionSets/account-api\",\r\n      \"description\": \"A
      version set for the account api\",\r\n      \"versioningScheme\": \"Segment\",\r\n
      \     \"versionQueryName\": null,\r\n      \"versionHeaderName\": null\r\n    }\r\n
      \ }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAHWJw="'
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"asotest-vs2-muerbm","properties":{"description":"A version set
      for the account api","displayName":"vs2","versioningScheme":"Segment"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apiVersionSets/asotest-vs2-muerbm?api-version=2023-05-01-preview
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apiVersionSets/asotest-vs2-muerbm\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/apiVersionSets\",\r\n  \"name\":
      \"asotest-vs2-muerbm\",\r\n  \"properties\": {\r\n    \"displayName\": \"vs2\",\r\n
      \   \"description\": \"A version set for the account api\",\r\n    \"versioningScheme\":
      \"Segment\",\r\n    \"versionQueryName\": null,\r\n    \"versionHeaderName\":
      null\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAHWKM="'
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      If-Match:
      - '*'
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/products/asotest-cust1-ygcdnb?api-version=2021-08-01&deleteSubscriptions=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"policy","properties":{"value":"\u003cpolicies\u003e\u003cinbound\u003e\u003cset-variable
      name=\"asoTest\" value=\"ProductPolicy Value\" /\u003e\u003c/inbound\u003e\u003cbackend\u003e\u003cforward-request
      /\u003e\u003c/backend\u003e\u003coutbound /\u003e\u003c/policies\u003e"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/products/asotest-product1-purcyo/policies/policy?api-version=2023-05-01-preview
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/products/asotest-product1-purcyo/policies/policy\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/products/policies\",\r\n  \"name\":
      \"policy\",\r\n  \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\":
      \"<policies>\\r\\n\\t<inbound>\\r\\n\\t\\t<set-variable name=\\\"asoTest\\\"
      value=\\\"ProductPolicy Value\\\" />\\r\\n\\t</inbound>\\r\\n\\t<backend>\\r\\n\\t\\t<forward-request
      />\\r\\n\\t</backend>\\r\\n\\t<outbound />\\r\\n</policies>\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAHWK8="'
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/subscriptions/asotest-sub1-wohigs/listSecrets?api-version=2021-08-01
    method: POST
  response:
    body: '{"primaryKey":"4b871532439745efa953369d35304dcf","secondaryKey":"0ea6b99ff91545dfb50436e7e73788ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAHWJk="'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apis/asotest-api-gckykx?api-version=2023-05-01-preview
    method: GET
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zlmwur/providers/Microsoft.ApiManagement/service/asotest-apimv2-twykac/apis/asotest-api-gckykx\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"asotest-api-gckykx\",\r\n
      \ \"properties\": {\r\n    \"displayName\": \"account-api\",\r\n    \"apiRevision\":
      \"1\",\r\n    \"description\": \"A Description about the api\",\r\n    \"subscriptionRequired\":
      false,\r\n    \"serviceUrl\": null,\r\n    \"path\": \"account-api\",\r\n    \"protocols\":
[...]
