---
version: 2
interactions:
    - id: 0
      request:
        host: graph.microsoft.com
        form:
            $filter:
                - displayName eq 'ASO Test Application'
        headers:
        url: https://graph.microsoft.com/v1.0/applications?%24filter=displayName%20eq%20%27ASO%20Test%20Application%27
        method: GET
      response:
            - chunked
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications","value":[]}'
        headers:
            Content-Type:
                - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
            Odata-Version:
                - "4.0"
        status: 200 OK
        code: 200
        duration: 309.846601ms
    - id: 1
      request:
        host: graph.microsoft.com
        body: '{"spa":null,"groupMembershipClaims":null,"description":null,"web":null,"publicClient":null,"isFallbackPublicClient":null,"@odata.type":"#microsoft.graph.application","displayName":"ASO Test Application","signInAudience":"AzureADMyOrg"}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 8b9b6fa3b2aab5dd17d6778f477dd4bb02b20b4c9e9b6c0130772b8261631c7b
            Test-Request-Hash:
                - 180ead3657b849898e8e9c1a6a93ffe37754c55bc5ed6045171dfcbbabbeb41c
        url: https://graph.microsoft.com/v1.0/applications
        method: POST
      response:
            - chunked
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications/$entity","id":"1ab82f11-ed83-4fd0-9968-5cfea5bc46ff","deletedDateTime":null,"appId":"9a82a37f-aaea-4561-b4a2-3f2d5166267c","applicationTemplateId":null,"disabledByMicrosoftStatus":null,"createdByAppId":"04b07795-8ddb-461a-bbee-02f9e1bf7b46","createdDateTime":"2001-02-03T04:05:06Z","displayName":"ASO Test Application","description":null,"groupMembershipClaims":null,"identifierUris":[],"isDeviceOnlyAuthSupported":null,"isDisabled":null,"isFallbackPublicClient":null,"nativeAuthenticationApisEnabled":null,"notes":null,"publisherDomain":"redactedtenant.onmicrosoft.com","serviceManagementReference":null,"signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null,"uniqueName":null,"samlMetadataUrl":null,"defaultRedirectUri":null,"certification":null,"optionalClaims":null,"requestSignatureVerification":null,"addIns":[],"api":{"acceptMappedClaims":null,"knownClientApplications":[],"requestedAccessTokenVersion":null,"oauth2PermissionScopes":[],"preAuthorizedApplications":[]},"appRoles":[],"info":{"logoUrl":null,"marketingUrl":null,"privacyStatementUrl":null,"supportUrl":null,"termsOfServiceUrl":null},"keyCredentials":[],"parentalControlSettings":{"countriesBlockedForMinors":[],"legalAgeGroupRule":"Allow"},"passwordCredentials":[],"publicClient":{"redirectUris":[]},"requiredResourceAccess":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null},"web":{"homePageUrl":null,"logoutUrl":null,"redirectUris":[],"implicitGrantSettings":{"enableAccessTokenIssuance":false,"enableIdTokenIssuance":false},"redirectUriSettings":[]},"servicePrincipalLockConfiguration":{"isEnabled":true,"allProperties":true,"credentialsWithUsageVerify":null,"credentialsWithUsageSign":null,"identifierUris":null,"tokenEncryptionKeyId":null},"spa":{"redirectUris":[]}}'
        headers:
            Content-Type:
                - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
            Location:
                - https://graph.microsoft.com/v1.0/00000000-0000-0000-0000-000000000000/directoryObjects/1ab82f11-ed83-4fd0-9968-5cfea5bc46ff/Microsoft.DirectoryServices.Application
            Odata-Version:
                - "4.0"
        status: 201 Created
        code: 201
        duration: 292.355445ms
    - id: 2
      request:
        host: graph.microsoft.com
        headers:
        url: https://graph.microsoft.com/v1.0/applications/1ab82f11-ed83-4fd0-9968-5cfea5bc46ff
        method: GET
      response:
            - chunked
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#applications/$entity","id":"1ab82f11-ed83-4fd0-9968-5cfea5bc46ff","deletedDateTime":null,"appId":"9a82a37f-aaea-4561-b4a2-3f2d5166267c","applicationTemplateId":null,"disabledByMicrosoftStatus[...]
[...]
