---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-elhwkg","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form:
            api-version:
                - "2020-06-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 8d5cfe2cbd0e6ca54909a609588784d338533d2a8498f66831cf42683aa1b99e
            Test-Request-Hash:
                - 8d5cfe2cbd0e6ca54909a609588784d338533d2a8498f66831cf42683aa1b99e
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg","name":"asotest-rg-elhwkg","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 738.631577ms
[...]
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-namespace-zbcsdj","properties":{"zoneRedundant":false},"sku":{"name":"Standard"}}'
        form:
            api-version:
                - "2024-01-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 33b5b5af1e0f058775614d1b6d869b7e2a33948a3b9d6d8d21493ec1ea828523
            Test-Request-Hash:
                - 33b5b5af1e0f058775614d1b6d869b7e2a33948a3b9d6d8d21493ec1ea828523
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj","name":"asotest-namespace-zbcsdj","type":"Microsoft.ServiceBus/Namespaces","location":"westus2","tags":{},"properties":{"errors":[],"geoDataReplication":{"maxReplicationLagDurationInSeconds":0,"locations":[{"locationName":"westus2","roleType":"Primary","replicaState":"InBuild"}]},"premiumMessagingPartitions":0,"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":true,"provisioningState":"Creating","status":"Creating","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","metricId":"00000000-0000-0000-0000-000000000000:asotest-namespace-zbcsdj","serviceBusEndpoint":"https://asotest-namespace-zbcsdj.servicebus.windows.net:443/"},"sku":{"name":"Standard","tier":"Standard"}}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceBus/locations/westus2/namespaceOperationResults/a5b04e15-947f-41cc-96cc-92b14edf857c?isAsyncHeader=true&resourceName=asotest-namespace-zbcsdj&resourceType=namespace&api-version=2024-01-01&operationType=Active&t=639252772288505987&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDI[...]
    - id: 3
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-01-01"
            c:
                - MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCjyQHyKRQ8UpdzxWWmCxMDjs6[...]
    - id: 4
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-01-01"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj?api-version=2024-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj","name":"asotest-namespace-zbcsdj","type":"Microsoft.ServiceBus/Namespaces","location":"westus2","tags":{},"properties":{"errors":[],"geoDataReplication":{"maxReplicationLagDurationInSeconds":0,"locations":[{"locationName":"westus2","roleType":"Primary","replicaState":"Ready"}]},"premiumMessagingPartitions":0,"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":true,"provisioningState":"Succeeded","status":"Active","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","metricId":"00000000-0000-0000-0000-000000000000:asotest-namespace-zbcsdj","serviceBusEndpoint":"https://asotest-namespace-zbcsdj.servicebus.windows.net:443/"},"sku":{"name":"Standard","tier":"Standard"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 848e16b7-79e1-4119-81bb-57bfa2c7404c
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G13|2026-09-17T21:27:15
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 50.596581ms
[...]
    - id: 6
      request:
        host: management.azure.com
        body: '{"name":"asotest-topic-ztafsq"}'
        form:
            api-version:
                - "2024-01-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - f817f0c7da94fdbcc96f8a2620cabd59cd395d980d653155448e78d480e8e9fb
            Test-Request-Hash:
                - f817f0c7da94fdbcc96f8a2620cabd59cd395d980d653155448e78d480e8e9fb
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/topics/asotest-topic-ztafsq?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/topics/asotest-topic-ztafsq","name":"asotest-topic-ztafsq","type":"Microsoft.ServiceBus/namespaces/topics","location":"westus2","properties":{"maxMessageSizeInKilobytes":256,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"duplicateDetectionHistoryTimeWindow":"PT10M","enableBatchedOperations":true,"sizeInBytes":0,"status":"Active","supportOrdering":true,"autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","accessedAt":"0001-01-01T00:00:00","subscriptionCount":0,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - c37294e7-1f32-457f-affc-6e3f68c91d57
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G4|2026-09-17T21:27:21
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.951802449s
    - id: 7
      request:
        host: management.azure.com
        body: '{"name":"asotest-queue-gianpz"}'
        form:
            api-version:
                - "2024-01-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 7d574b4b21d465565341742225f1ec63879cf1e6178e38e2db58b7ee8f20640c
            Test-Request-Hash:
                - 7d574b4b21d465565341742225f1ec63879cf1e6178e38e2db58b7ee8f20640c
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/queues/asotest-queue-gianpz?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/queues/asotest-queue-gianpz","name":"asotest-queue-gianpz","type":"Microsoft.ServiceBus/namespaces/queues","location":"westus2","properties":{"maxMessageSizeInKilobytes":256,"lockDuration":"PT1M","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"requiresSession":false,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","deadLetteringOnMessageExpiration":false,"enableBatchedOperations":true,"duplicateDetectionHistoryTimeWindow":"PT10M","maxDeliveryCount":10,"sizeInBytes":0,"messageCount":0,"status":"Active","autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0},"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","accessedAt":"0001-01-01T00:00:00"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 53e00749-1375-43cc-95d5-69c0f5a8d971
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G3|2026-09-17T21:27:21
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.969327093s
[...]
    - id: 10
      request:
        host: management.azure.com
        body: '{"name":"asotest-rule-zldbpp","properties":{"rights":["Listen","Send"]}}'
        form:
            api-version:
                - "2024-01-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - eb14c8cd14a90ddfae499b2d21d8390eb5a7a9a0260c4d494bb3491e66457001
            Test-Request-Hash:
                - eb14c8cd14a90ddfae499b2d21d8390eb5a7a9a0260c4d494bb3491e66457001
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/[...]
[...]
    - id: 14
      request:
        host: management.azure.com
        form:
            api-version:
                - "2021-11-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/AuthorizationRules/asotest-rule-zldbpp/listKeys?api-version=2021-11-01
        method: POST
      response:
        body: '{"primaryConnectionString":"Endpoint=sb://asotest-namespace-zbcsdj.servicebus.windows.net/;SharedAccessKeyName=asotest-rule-zldbpp;SharedAccessKey={KEY}","secondaryConnectionString":"Endpoint=sb://asotest-namespace-zbcsdj.servicebus.windows.net/;SharedAccessKeyName=asotest-rule-zldbpp;SharedAccessKey={KEY}","primaryKey":"{KEY}","secondaryKey":"{KEY}","keyName":"asotest-rule-zldbpp"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - c94b2384-7b99-44e0-8682-524447e1eb2d
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G12|2026-09-17T21:27:33
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 465.203512ms
    - id: 15
      request:
        host: management.azure.com
        body: '{"name":"asotest-rule-ogvqqh","properties":{"rights":["Listen","Send"]}}'
        form:
            api-version:
                - "2024-01-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - cbc2e273723e53cdb8ed3981a616c3bb88aeb7be9d2dfba281a078e2020523a7
            Test-Request-Hash:
                - cbc2e273723e53cdb8ed3981a61[...]
    - id: 16
      request:
        host: management.azure.com
        body: '{"name":"asotest-subscription-vnolgm"}'
        form:
            api-version:
                - "2024-01-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - fbe9058ab6252010efbd2c1ac8b3a2da2327937079c3bb43d3bc67d97ea5a964
            Test-Request-Hash:
                - fbe9058ab6252010efbd2c1ac8b3a2da2327937079c3bb43d3bc67d97ea5a964
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/topics/asotest-topic-ztafsq/subscriptions/asotest-subscription-vnolgm?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/topics/asotest-topic-ztafsq/subscriptions/asotest-subscription-vnolgm","name":"asotest-subscription-vnolgm","type":"Microsoft.ServiceBus/namespaces/topics/subscriptions","location":"westus2","properties":{"isClientAffine":false,"lockDuration":"PT1M","requiresSession":false,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","deadLetteringOnMessageExpiration":false,"deadLetteringOnFilterEvaluationExceptions":true,"messageCount":0,"maxDeliveryCount":10,"status":"Active","enableBatchedOperations":true,"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","accessedAt":"0001-01-01T00:00:00","countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0},"autoDeleteOnIdle":"P10675199DT2H48M5.4775807S"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - fc49d04b-11ec-4709-a657-4d778506f751
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G11|2026-09-17T21:27:36
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.28955741s
[...]
    - id: 22
      request:
        host: management.azure.com
        form:
            api-version:
                - "2021-11-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/topics/asotest-topic-ztafsq/authorizationRules/asotest-rule-ogvqqh/ListKeys?api-version=2021-11-01
        method: POST
      response:
        body: '{"primaryConnectionString":"Endpoint=sb://asotest-namespace-zbcsdj.servicebus.windows.net/;SharedAccessKeyName=asotest-rule-ogvqqh;SharedAccessKey={KEY};EntityPath=asotest-topic-ztafsq","secondaryConnectionString":"Endpoint=sb://asotest-namespace-zbcsdj.servicebus.windows.net/;SharedAccessKeyName=asotest-rule-ogvqqh;SharedAccessKey={KEY};EntityPath=asotest-topic-ztafsq","primaryKey":"{KEY}","secondaryKey":"{KEY}","keyName":"asotest-rule-ogvqqh"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 9ff10977-600f-48c9-ae9d-aea1dfb68d3a
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G2|2026-09-17T21:27:44
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 764.977253ms
[...]
    - id: 24
      request:
        host: management.azure.com
        body: '{"name":"asotest-subrule-giqdqe"}'
        form:
            api-version:
                - "2024-01-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 1f990d598af0d60231cdb31e6dbd46dbbf0ed05baf6eb6e33a8f95b0a091e4a3
            Test-Request-Hash:
                - 1f990d598af0d60231cdb31e6dbd46dbbf0ed05baf6eb6e33a8f95b0a091e4a3
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/topics/asotest-topic-ztafsq/subscriptions/asotest-subscription-vnolgm/rules/asotest-subrule-giqdqe?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/topics/asotest-topic-ztafsq/subscriptions/asotest-subscription-vnolgm/rules/asotest-subrule-giqdqe","name":"asotest-subrule-giqdqe","type":"Microsoft.ServiceBus/namespaces/topics/subscriptions/rules","location":"westus2","properties":{"action":{},"filterType":"SqlFilter","sqlFilter":{"sqlExpression":"1=1","compatibilityLevel":20,"parameters":{}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 75d6d906-4191-4634-ace6-55830e00115f
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G9|2026-09-17T21:27:46
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.293940924s
[...]
    - id: 30
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-01-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/topics/asotest-topic-ztafsq/subscriptions/asotest-subscription-vnolgm/rules/asotest-subrule-giqdqe?api-version=2024-01-01
        method: GET
      response:
        body: '{"error":{"code":"SubscriptionNotFound","message":"Rule does not exist"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Messaging-Activity-Id:
                - 56dc183e-3d08-47dd-9f47-bb9e28cd3761
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G5|2026-09-17T21:27:56
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 404 Not Found
        code: 404
        duration: 1.008430094s
[...]
    - id: 38
      request:
        host: management.azure.com
        form:
            api-version:
                - "2021-11-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj/AuthorizationRules/RootManageSharedAccessKey/listKeys?api-version=2021-11-01
        method: POST
      response:
        body: '{"primaryConnectionString":"Endpoint=sb://asotest-namespace-zbcsdj.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={KEY}","secondaryConnectionString":"Endpoint=sb://asotest-namespace-zbcsdj.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={KEY}","primaryKey":"{KEY}","secondaryKey":"{KEY}","keyName":"RootManageSharedAccessKey"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 60bbf6f6-0415-49cd-a62f-f7a30e952f8d
            X-Ms-Messaging-Routing-Id:
                - PROD|WESTUS2|WESTUS2|G1|2026-09-17T21:28:11
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 449.248036ms
[...]
    - id: 41
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-01-01"
            c:
                - MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCjyQHyKRQ8UpdzxWWmCxMDjs[...]
[...]
    - id: 45
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-01-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj?api-version=2024-01-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ServiceBus/namespaces/asotest-namespace-zbcsdj'' under resource group ''asotest-rg-elhwkg'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 27.062407ms
[...]
    - id: 47
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-06-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-elhwkg?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRFTEhXS0ctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiIsImpvYlN0b3JhZ2VBY2NvdW50IjoiL2NzbS9zdG9yYWdlYWNjb3VudHMvZ2xvYmFsL3JwZmRsam9iMDBwcm9kbXdoMDYifQ?api-version=2020-06-01&t=639252773147833052&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSB[...]
    - id: 48
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-06-01"
            c:
                - MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCjyQHyKRQ8UpdzxWWmCxMDjs[...]
