---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-uixtfe","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe","name":"asotest-rg-uixtfe","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-vn-wlwdqc","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/virtualNetworks/asotest-vn-wlwdqc?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-vn-wlwdqc\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/virtualNetworks/asotest-vn-wlwdqc\",\r\n
      \ \"etag\": \"W/\\\"20763ce5-972e-448d-b131-ecd43d5e9800\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"b61d8d74-64c8-4c89-8eda-2262341695c1\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":
      [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/37ec26b3-8c64-444d-ba16-acf4a5b61d14?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/37ec26b3-8c64-444d-ba16-acf4a5b61d14?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/virtualNetworks/asotest-vn-wlwdqc?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotest-vn-wlwdqc\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/virtualNetworks/asotest-vn-wlwdqc\",\r\n
      \ \"etag\": \"W/\\\"1e0560a5-2b62-453b-9b17-18dc0a9ea00a\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"b61d8d74-64c8-4c89-8eda-2262341695c1\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":
      [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e0560a5-2b62-453b-9b17-18dc0a9ea00a"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-subnet-ntyzsa","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/virtualNetworks/asotest-vn-wlwdqc/subnets/asotest-subnet-ntyzsa?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-subnet-ntyzsa\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/virtualNetworks/asotest-vn-wlwdqc/subnets/asotest-subnet-ntyzsa\",\r\n
      \ \"etag\": \"W/\\\"cfd55cd4-023e-4693-abb9-5082dff1a81b\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
      \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
      \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/65fb4d9a-f0d0-4627-bc96-26934c734a22?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/virtualNetworks/asotest-vn-wlwdqc/subnets/asotest-subnet-ntyzsa?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotest-subnet-ntyzsa\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/virtualNetworks/asotest-vn-wlwdqc/subnets/asotest-subnet-ntyzsa\",\r\n
      \ \"etag\": \"W/\\\"33a76ddf-39c7-4956-a5de-c4367369c851\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
      \   \"ipConfigurations\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/networkInterfaces/asotest-nic-mbmddj/ipConfigurations/ipconfig1\"\r\n
      \     }\r\n    ],\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\":
      \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n
      \ },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"33a76ddf-39c7-4956-a5de-c4367369c851"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"location":"westus2","name":"asotest-nic-mbmddj","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/virtualNetworks/asotest-vn-wlwdqc/subnets/asotest-subnet-ntyzsa"}}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/networkInterfaces/asotest-nic-mbmddj?api-versio[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/networkInterfaces/asotest-nic-mbmddj?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotest-nic-mbmddj\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/networkInterfaces/asotest-nic-mbmddj\",\r\n
      \ \"etag\": \"W/\\\"24c4d492-cb6e-47d2-8079-eec0f5389c6e\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"598dba48-9a9e-4c72-9122-640a05524274\",\r\n
      \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/networkInterfaces/asotest-nic-mbmddj/ipConfigurations/ipconfig1\",\r\n
      \       \"etag\": \"W/\\\"24c4d492-cb6e-47d2-8079-eec0f5389c6e\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\":
      \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\":
      {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe/providers/Microsoft.Network/virtualNetworks/asotest-vn-wlwdqc/subnets/asotest-subnet-ntyzsa\"\r\n
      \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
      \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
      [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
      \"osgr1nwimseuzdw0ejrdifuvyb.xx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\":
      false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\":
      false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
      \   \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n
      \ \"location\": \"westus2\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24c4d492-cb6e-47d2-8079-eec0f5389c6e"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-uixtfe?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRVSVhURkUtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRVSVhURkUtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRVSVhURkUtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
