---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-xjigjl","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 46aa3f4d3891e94b1632572088369573c0ba42af7f132841722dbd1a004937c9
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl","name":"asotest-rg-xjigjl","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 271.838972ms
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl","name":"asotest-rg-xjigjl","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 40.68482ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/asotest-vn-excstk'' under resource group ''asotest-rg-xjigjl'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 81.098438ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vn-excstk","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - ff7c82dd147198520108405466025ae61a6bb2da0469ecdc9af2e08068db321b
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"asotest-vn-excstk","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk","etag":"W/\"0e850d64-b13f-47b0-9d7f-047f8a1c8ce4\"","type":"Microsoft.Network/virtualNetworks","location":"westus2","properties":{"provisioningState":"Updating","resourceGuid":"9ea73fe5-f90f-4a00-9aae-da21910ffacf","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/bd0fbc99-6803-4bbd-bdef-0069ab3ede29?api-version=2020-11-01&t=638666987420133033&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLm[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/bd0fbc99-6803-4bbd-bdef-0069ab3ede29?api-version=2020-11-01&t=638666987420133033&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMR[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "1"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"asotest-vn-excstk","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk","etag":"W/\"afc16f90-df24-489d-b2d2-bbbe94029753\"","type":"Microsoft.Network/virtualNetworks","location":"westus2","properties":{"provisioningState":"Succeeded","resourceGuid":"9ea73fe5-f90f-4a00-9aae-da21910ffacf","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"afc16f90-df24-489d-b2d2-bbbe94029753"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 65.428454ms
[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr?api-version=2024-03-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr'' under resource group ''asotest-rg-xjigjl'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 39.793316ms
    - id: 8
      request:
        host: management.azure.com
        body: '{"name":"asotest-subnet-szsvmk","properties":{"addressPrefix":"10.0.0.0/24","privateLinkServiceNetworkPolicies":"Disabled"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 680a4ed2b1451fae4505e299ece1bdab5ff89abc217708ba14374a4ae6a6b4ce
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk/subnets/asotest-subnet-szsvmk?api-version=2024-03-01
        method: PUT
      response:
        body: '{"name":"asotest-subnet-szsvmk","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk/subnets/asotest-subnet-szsvmk","etag":"W/\"3b069c79-a719-424c-a2ae-589d4f37b0d0\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Disabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/77ffe3ec-cb01-498e-b910-2621f2e4ebd1?api-version=2024-03-01&t=638666987483072474&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxD[...]
    - id: 9
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-loadbalancer-wdhntr","properties":{"frontendIPConfigurations":[{"name":"LoadBalancerFrontend","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk/subnets/asotest-subnet-szsvmk"}}}],"inboundNatPools":[{"name":"MyFancyNatPool","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr/frontendIPConfigurations/LoadBalancerFrontend"},"frontendPortRangeEnd":51000,"frontendPortRangeStart":50000,"protocol":"Tcp"}}]},"sku":{"name":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 0e27b3b6a7f83caf746540e83495aa6219cb7fdb08c1a451186c6d334adb35e8
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr?api-version=2024-03-01
        method: PUT
      response:
        body: '{"name":"asotest-loadbalancer-wdhntr","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr","etag":"W/\"9f5f6585-8822-47ce-bdb1-3a2122b23536\"","type":"Microsoft.Network/loadBalancers","location":"westus2","properties":{"provisioningState":"Updating","resourceGuid":"ec7c5683-4dd3-44c5-bd9a-5a3d07dc8394","frontendIPConfigurations":[{"name":"LoadBalancerFrontend","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr/frontendIPConfigurations/LoadBalancerFrontend","etag":"W/\"9f5f6585-8822-47ce-bdb1-3a2122b23536\"","type":"Microsoft.Network/loadBalancers/frontendIPConfigurations","properties":{"provisioningState":"Updating","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk/subnets/asotest-subnet-szsvmk"},"inboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr/inboundNatPools/MyFancyNatPool"}],"privateIPAddressVersion":"IPv4"}}],"backendAddressPools":[],"loadBalancingRules":[],"probes":[],"inboundNatRules":[],"outboundRules":[],"inboundNatPools":[{"name":"MyFancyNatPool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr/inboundNatPools/MyFancyNatPool","etag":"W/\"9f5f6585-8822-47ce-bdb1-3a2122b23536\"","properties":{"provisioningState":"Updating","frontendPortRangeStart":50000,"frontendPortRangeEnd":51000,"backendPort":22,"protocol":"Tcp","idleTimeoutInMinutes":4,"enableFloatingIP":false,"enableDestinationServiceEndpoint":false,"enableTcpReset":false,"allowBackendPortConflict":false,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr/frontendIPConfigurations/LoadBalancerFrontend"}},"type":"Microsoft.Network/loadBalancers/inboundNatPools"}]},"sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/3743532e-b867-414c-9f79-34053499505e?api-version=2024-03-01&t=638666987487520563&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQ[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/77ffe3ec-cb01-498e-b910-2621f2e4ebd1?api-version=2024-03-01&t=638666987483072474&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk/subnets/asotest-subnet-szsvmk?api-version=2024-03-01
        method: GET
      response:
        body: '{"name":"asotest-subnet-szsvmk","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk/subnets/asotest-subnet-szsvmk","etag":"W/\"abcfef29-d789-4237-b177-162db7f8a244\"","properties":{"provisioningState":"Succeeded","addressPrefix":"10.0.0.0/24","ipConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ASOTEST-RG-XJIGJL/providers/Microsoft.Network/loadBalancers/ASOTEST-LOADBALANCER-WDHNTR/frontendIPConfigurations/LOADBALANCERFRONTEND"}],"delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Disabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"abcfef29-d789-4237-b177-162db7f8a244"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 84.943159ms
[...]
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/3743532e-b867-414c-9f79-34053499505e?api-version=2024-03-01&t=638666987487520563&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 16
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-pls-beubuc","properties":{"autoApproval":{"subscriptions":["00000000-0000-0000-0000-000000000000"]},"ipConfigurations":[{"name":"config","properties":{"privateIPAddressVersion":"IPv4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk/subnets/asotest-subnet-szsvmk"}}}],"loadBalancerFrontendIpConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr/frontendIPConfigurations/LoadBalancerFrontend"}],"visibility":{"subscriptions":["00000000-0000-0000-0000-000000000000"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - be5916df4fae6916918bfe05c93c1117282969cfcc01f63605e2f0d27577910a
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/privateLinkServices/asotest-pls-beubuc?api-version=2024-03-01
        method: PUT
      response:
        body: '{"name":"asotest-pls-beubuc","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/privateLinkServices/asotest-pls-beubuc","etag":"W/\"23bd6f9e-5672-453f-bd31-58f2d479b910\"","type":"Microsoft.Network/privateLinkServices","location":"westus2","properties":{"provisioningState":"Updating","resourceGuid":"6af6e7e6-ed5f-4bbb-9146-ac0914ae50fa","fqdns":[],"alias":"asotest-pls-beubuc.131496de-0502-49c6-bd58-64765e8b10c5.westus2.azure.privatelinkservice","visibility":{"subscriptions":["00000000-0000-0000-0000-000000000000"]},"autoApproval":{"subscriptions":["00000000-0000-0000-0000-000000000000"]},"enableProxyProtocol":false,"loadBalancerFrontendIpConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr/frontendIPConfigurations/LoadBalancerFrontend"}],"ipConfigurations":[{"name":"config","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/privateLinkServices/asotest-pls-beubuc/ipConfigurations/config","etag":"W/\"23bd6f9e-5672-453f-bd31-58f2d479b910\"","type":"Microsoft.Network/privateLinkServices/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk/subnets/asotest-subnet-szsvmk"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"privateEndpointConnections":[],"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/networkInterfaces/asotest-pls-beubuc.nic.6a3e7027-15e7-459a-8e57-a5997833572f"}]}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/5936e1b4-dae7-41ad-ae95-36[...]
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/5936e1b4-dae7-41ad-ae95-36870111237f?api-version=2024-03-01&t=638666987575459944&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 21
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-pls-beubuc","properties":{"autoApproval":{"subscriptions":["00000000-0000-0000-0000-000000000000"]},"ipConfigurations":[{"name":"config","properties":{"privateIPAddressVersion":"IPv4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/virtualNetworks/asotest-vn-excstk/subnets/asotest-subnet-szsvmk"}}}],"loadBalancerFrontendIpConfigurations":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/loadBalancers/asotest-loadbalancer-wdhntr/frontendIPConfigurations/LoadBalancerFrontend"}],"visibility":{"subscriptions":["00000000-0000-0000-0000-000000000000"]}},"tags":{"foo":"bar"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - ffc053e17a9b50a1e15e39c84e87274b29642286151b41b07fd8e99e4fa45f9c
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl/providers/Microsoft.Network/privateLinkServices/asotest-pls-beubuc?api-version=2024-03-01
        method: PUT
      response:
        body: '{"name":"asotes[...]
[...]
    - id: 24
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/5b284300-30d4-4c5b-8497-9eddff40f526?api-version=2024-03-01&t=638666987806551781&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 26
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xjigjl?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRYSklHSkwtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638666987958052932&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwOTI1MTkzNzA4WhcNMjUwMzI0MTkzNzA4WjBAMT4wPAYDVQQDE[...]
    - id: 27
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRYSklHSkwtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638666987958052932&c=MIIHhzCCBm-gAwIBAgITHgVxvH65_BmPrKxDIgAABXG8fjANBgkqh[...]
[...]
