---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-ydstgk","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk","name":"asotest-rg-ydstgk","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 607.165376ms
[...]
    - id: 2
      request:
        host: management.azure.com
        body: '{"kind":"StorageV2","location":"eastus2","name":"asotestadlstorencqyow","properties":{"isHnsEnabled":true},"sku":{"name":"Standard_LRS"},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Storage/storageAccounts/asotestadlstorencqyow?api-version=2021-04-01
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/f5bd339e-29e6-4e6a-88d8-8298f61547e3?monitor=true&api-version=2021-04-01
            Retry-After:
                - "17"
        status: 202 Accepted
        code: 202
        duration: 5.000809833s
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/f5bd339e-29e6-4e6a-88d8-8298f61547e3?monitor=true&api-version=2021-04-01
        method: GET
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/f5bd339e-29e6-4e6a-88d8-8298f61547e3?monitor=true&api-version=2021-04-01
            Retry-After:
                - "17"
        status: 202 Accepted
        code: 202
        duration: 871.225807ms
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus2/asyncoperations/f5bd339e-29e6-4e6a-88d8-8298f61547e3?monitor=true&api-version=2021-04-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Storage/storageAccounts/asotestadlstorencqyow","name":"asotestadlstorencqyow","type":"Microsoft.Storage/storageAccounts","location":"eastus2","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"privateEndpointConnections":[],"isHnsEnabled":true,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asotestadlstorencqyow.dfs.core.windows.net/","web":"https://asotestadlstorencqyow.z20.web.core.windows.net/","blob":"https://asotestadlstorencqyow.blob.core.windows.net/","queue":"https://asotestadlstorencqyow.queue.core.windows.net/","table":"https://asotestadlstorencqyow.table.core.windows.net/","file":"https://asotestadlstorencqyow.file.core.windows.net/"},"primaryLocation":"eastus2","statusOfPrimary":"available"}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 864.722463ms
[...]
    - id: 6
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"eastus2","name":"asotest-workspace-alguod","properties":{"defaultDataLakeStorage":{"accountUrl":"https://asotestadlstorencqyow.dfs.core.windows.net/","filesystem":"default"}},"tags":{"cheese":"blue"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod?api-version=2021-06-01
        method: PUT
      response:
        body: '{"error":{"code":"JitSubscriptionNotificationNotCompleted","message":"''Microsoft.Synapse'' endpoint requires additional time to process just-in-time subscription notification. The resource operation could not be completed. Please try again later."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Retry-After:
                - "5"
            X-Ms-Failure-Cause:
                - gateway
        status: 503 Service Unavailable
        code: 503
        duration: 1.88438235s
    - id: 7
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"eastus2","name":"asotest-workspace-alguod","properties":{"defaultDataLakeStorage":{"accountUrl":"https://asotestadlstorencqyow.dfs.core.windows.net/","filesystem":"default"}},"tags":{"cheese":"blue"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod?api-version=2021-06-01
        method: PUT
      response:
        body: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://asotestadlstorencqyow.dfs.core.windows.net/","filesystem":"default"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Provisioning","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f00000000-0000-0000-0000-000000000000%2fresourceGroups%2fasotest-rg-ydstgk%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fasotest-workspace-alguod","dev":"https://asotest-workspace-alguod.dev.azuresynapse.net","sqlOnDemand":"asotest-workspace-alguod-ondemand.sql.azuresynapse.net","sql":"asotest-workspace-alguod.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-a547c4f9-c71b-4ef0-924f-7ce9ef5cf4a2","privateEndpointConnections":[],"workspaceUID":"e214ee98-9ecb-4e75-90b1-dfdc9e85f2c6","extraProperties":{"WorkspaceType":"Normal"},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"bc852d4f-af2c-4d40-a567-42ab19a57e30"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod","location":"eastus2","name":"asotest-workspace-alguod","identity":{"type":"SystemAssigned","tenantId":"00000000-0000-0000-0000-000000000000","principalId":"1c78c0b7-f5bc-40b7-aca0-f2e19c2d0aa4"},"tags":{"cheese":"blue"}}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod/operationStatuses/9360a6d1-5fb5-492a-85a0-fb70ba093809?api-version=2021-06-01
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 7.817442367s
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod/operationStatuses/9360a6d1-5fb5-492a-85a0-fb70ba093809?api-version=2021-06-01
        method: GET
      response:
        body: '{"status":"InProgress"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.042405641s
[...]
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod?api-version=2021-06-01
        method: GET
      response:
        body: '{"properties":{"defaultDataLakeStorage":{"createManagedPrivateEndpoint":false,"accountUrl":"https://asotestadlstorencqyow.dfs.core.windows.net/","filesystem":"default"},"encryption":{"doubleEncryptionEnabled":false},"provisioningState":"Succeeded","connectivityEndpoints":{"web":"https://web.azuresynapse.net?workspace=%2fsubscriptions%2f00000000-0000-0000-0000-000000000000%2fresourceGroups%2fasotest-rg-ydstgk%2fproviders%2fMicrosoft.Synapse%2fworkspaces%2fasotest-workspace-alguod","dev":"https://asotest-workspace-alguod.dev.azuresynapse.net","sqlOnDemand":"asotest-workspace-alguod-ondemand.sql.azuresynapse.net","sql":"asotest-workspace-alguod.sql.azuresynapse.net"},"managedResourceGroupName":"synapseworkspace-managedrg-a547c4f9-c71b-4ef0-924f-7ce9ef5cf4a2","sqlAdministratorLogin":"sqladminuser","privateEndpointConnections":[],"workspaceUID":"e214ee98-9ecb-4e75-90b1-dfdc9e85f2c6","extraProperties":{"WorkspaceType":"Normal","IsScopeEnabled":false},"publicNetworkAccess":"Enabled","cspWorkspaceAdminProperties":{"initialWorkspaceAdminObjectId":"bc852d4f-af2c-4d40-a567-42ab19a57e30"},"trustedServiceBypassEnabled":false},"type":"Microsoft.Synapse/workspaces","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod","location":"eastus2","name":"asotest-workspace-alguod","identity":{"type":"SystemAssigned","tenantId":"00000000-0000-0000-0000-000000000000","principalId":"1c78c0b7-f5bc-40b7-aca0-f2e19c2d0aa4"},"tags":{"cheese":"blue"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.089986762s
[...]
    - id: 27
      request:
        host: management.azure.com
        body: '{"location":"eastus2","name":"asotestnkjwwn","properties":{"autoPause":{"enabled":false},"autoScale":{"enabled":false},"nodeCount":4,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","sparkVersion":"3.3"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod/bigDataPools/asotestnkjwwn?api-version=2021-06-01
        method: PUT
      response:
        body: '{"properties":{"creationDate":"2001-02-03T04:05:06Z","sparkVersion":"3.3","nodeCount":4,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":false,"cacheSize":50,"dynamicExecutorAllocation":{"enabled":false},"isAutotuneEnabled":false,"provisioningState":"Provisioning"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod/bigDataPools/asotestnkjwwn","name":"asotestnkjwwn","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus2"}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod/operationStatuses/9ce68820-d15b-4fb0-828a-4cc5abfa90d1?api-version=2021-06-01
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod/operationResults/9ce68820-d15b-4fb0-828a-4cc5abfa90d1?api-version=2021-06-01
        status: 202 Accepted
        code: 202
        duration: 2.457435177s
[...]
    - id: 30
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod/bigDataPools/asotestnkjwwn?api-version=2021-06-01
        method: GET
      response:
        body: '{"properties":{"creationDate":"2001-02-03T04:05:06Z","sparkVersion":"3.3","nodeCount":4,"nodeSize":"Medium","nodeSizeFamily":"MemoryOptimized","autoScale":{"enabled":false,"minNodeCount":0,"maxNodeCount":0},"autoPause":{"enabled":false,"delayInMinutes":0},"isComputeIsolationEnabled":false,"sessionLevelPackagesEnabled":false,"cacheSize":50,"dynamicExecutorAllocation":{"enabled":false},"lastSucceededTimestamp":"2001-02-03T04:05:06Z","isAutotuneEnabled":false,"provisioningState":"Succeeded"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod/bigDataPools/asotestnkjwwn","name":"asotestnkjwwn","type":"Microsoft.Synapse/workspaces/bigDataPools","location":"eastus2"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.167653021s
[...]
    - id: 33
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod/operationResults/7d880afd-728c-481d-838c-141d611985d4?api-version=2021-06-01
        method: GET
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ydstgk/providers/Microsoft.Synapse/workspaces/asotest-workspace-alguod/operationResults/7d880afd-728c-481d-838c-141d611985d4?api-version=2021-06-01
        status: 202 Accepted
        code: 202
        duration: 1.060080946s
[...]
    - id: 36
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Synapse/locations/eastus2/operationStatuses/7713b364-6574-4746-a673-a39ac2d517de?api-version=2021-06-01
        method: GET
      response:
        body: '{"status":"InProgress"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 876.795941ms
[...]
    - id: 44
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRZRFNUR0stV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=2023-09-13T04%3a05%3a07&c=MIIHHjCCBgagAwIBAgITOgHdEa6m-L-OzhMS4gAEAd0RrjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwE[...]
[...]
