---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-tgnxel","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tgnxel?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tgnxel","name":"asotest-rg-tgnxel","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-ipprefix-cpdtoc","properties":{"prefixLength":28,"publicIPAddressVersion":"IPv4"},"sku":{"name":"Standard","tier":"Regional"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tgnxel/providers/Microsoft.Network/publicIPPrefixes/asotest-ipprefix-cpdtoc?api-version=2022-07-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-ipprefix-cpdtoc\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tgnxel/providers/Microsoft.Network/publicIPPrefixes/asotest-ipprefix-cpdtoc\",\r\n
      \ \"etag\": \"W/\\\"1530be17-8fa5-4a63-af88-5ebf43663652\\\"\",\r\n  \"type\":
      \"Microsoft.Network/publicIPPrefixes\",\r\n  \"location\": \"westus2\",\r\n
      \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
      \"bd2b2b65-14e9-43c5-97c2-96a9affc073c\",\r\n    \"prefixLength\": 28,\r\n    \"publicIPAddressVersion\":
      \"IPv4\",\r\n    \"ipTags\": []\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n
      \   \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/e6c2c599-4176-4aa7-a49d-f9f78cf4ebe9?api-version=2022-07-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/e6c2c599-4176-4aa7-a49d-f9f78cf4ebe9?api-version=2022-07-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tgnxel/providers/Microsoft.Network/publicIPPrefixes/asotest-ipprefix-cpdtoc?api-version=2022-07-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotest-ipprefix-cpdtoc\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tgnxel/providers/Microsoft.Network/publicIPPrefixes/asotest-ipprefix-cpdtoc\",\r\n
      \ \"etag\": \"W/\\\"eb448b78-0980-45e5-9f71-020352f717d5\\\"\",\r\n  \"type\":
      \"Microsoft.Network/publicIPPrefixes\",\r\n  \"location\": \"westus2\",\r\n
      \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
      \"bd2b2b65-14e9-43c5-97c2-96a9affc073c\",\r\n    \"prefixLength\": 28,\r\n    \"publicIPAddressVersion\":
      \"IPv4\",\r\n    \"ipPrefix\": \"4.155.48.176/28\",\r\n    \"ipTags\": []\r\n
      \ },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
      \ }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eb448b78-0980-45e5-9f71-020352f717d5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-ipprefix-cpdtoc","properties":{"prefixLength":28,"publicIPAddressVersion":"IPv4"},"sku":{"name":"Standard","tier":"Regional"},"tags":{"foo":"bar"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tgnxel/providers/Microsoft.Network/publicIPPrefixes/asotest-ipprefix-cpdtoc?api-version=2022-07-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-ipprefix-cpdtoc\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tgnxel/providers/Microsoft.Network/publicIPPrefixes/asotest-ipprefix-cpdtoc?api-version=2022-07-01
    method: DELETE
  response:
    body: ""
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/21df6bf3-7bd9-407b-ac37-6d4f8cd0ff69?api-version=2022-07-01
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operationResults/21df6bf3-7bd9-407b-ac37-6d4f8cd0ff69?api-version=2022-07-01
      Retry-After:
      - "10"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "3"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tgnxel/providers/Microsoft.Network/publicIPPrefixes/asotest-ipprefix-cpdtoc?api-version=2022-07-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/publicIPPrefixes/asotest-ipprefix-cpdtoc''
      under resource group ''asotest-rg-tgnxel'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRUR05YRUwtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
    status: 200 OK
    code: 200
    duration: ""
