---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-pwokuh","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh","name":"asotest-rg-pwokuh","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-apim-sczlzm","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"Developer"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm?api-version=2022-08-01
    method: PUT
  response:
    body: '{"etag":"AAAAAAAhQ6U=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting","notificationSenderEmail":"apimgmt-noreply@mail.windowsazure.com","provisioningState":"Succeeded","targetProvisioningState":"","createdAtUtc":"2001-02-03T04:05:06Z","gatewayUrl":"https://asotest-apim-sczlzm.current.int-azure-api.net","gatewayRegionalUrl":"https://asotest-apim-sczlzm-westus2-01.regional.current.int-azure-api.net","portalUrl":"https://asotest-apim-sczlzm.portal.current.int-azure-api.net","developerPortalUrl":"https://asotest-apim-sczlzm.developer.current.int-azure-api.net","managementApiUrl":"https://asotest-apim-sczlzm.management.current.int-azure-api.net","scmUrl":"https://asotest-apim-sczlzm.scm.current.int-azure-api.net","hostnameConfigurations":[{"type":"Proxy","hostName":"asotest-apim-sczlzm.current.int-azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true,"identityClientId":null,"certificateSource":"BuiltIn","certificateStatus":null}],"publicIPAddresses":["20.51.95.109"],"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":{"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2":"False"},"virtualNetworkType":"None","certificates":null,"disableGateway":false,"natGatewayState":"Disabled","outboundPublicIPAddresses":["20.51.95.109"],"apiVersionConstraint":{"minApiVersion":null},"publicIpAddressId":null,"publicNetworkAccess":"Enabled","privateEndpointConnections":null,"platformVersion":"stv2"},"sku":{"name":"Developer","capacity":1},"identity":null,"zones":null,"systemData":{"createdBy":"77f276e4-128b-44dd-aae1-53467daa7296","createdByType":"Application","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"77f276e4-128b-44dd-aae1-53467daa7296","lastModifiedByType":"Application","lastModifiedAt":"2001-02-03T04:05:06Z"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm","name":"asotest-apim-sczlzm","type":"Microsoft.ApiManagement/service","location":"West
      US 2","tags":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAhQ6U="'
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "23999"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-apim-sczlzm","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"Developer"},"tags":{"scratchcard":"lanyard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm?api-version=2022-08-01
    method: PUT
  response:
    body: '{"etag":"AAAAAAAhRFc=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting","notificationSenderEmail":"ap[...]
[...]
- request:
    body: '{"name":"asotest-policyfragment-pmmefq","properties":{"description":"A
      Description about the policy fragment","value":"\u003cfragment\u003e\u003c/fragment\u003e"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyFragments/asotest-policyfragment-pmmefq?api-version=2022-08-01
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyFragments/asotest-policyfragment-pmmefq?api-version=2022-08-01&asyncId=65bce58146346108e0b422f2&asyncCode=201&t=638424751376185258&c=MIIHADCCBeigAwIBAgITHgORCU8eKXDLsVSbWAAAA5EJTzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMxMTAzMDM0MzMwWhcNMjQxMDI4[...]
- request:
    body: '{"name":"asotest-authorizationprovider-rnlhtp","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"grantTypes":{"authorizationCode":{"ResourceUri":"https://www.contoso.com","clientId":"{PASSWORD}","clientSecret":"{PASSWORD}"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp?api-version=2022-08-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp","name":"asotest-authorizationprovider-rnlhtp","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"West
      US 2","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager-test.consent.azure-apim.net/redirect/apim/asotest-apim-sczlzm","grantTypes":{"authorizationCode":{"clientId":"{PASSWORD}","scopes":null,"resourceUri":"https://www.contoso.com"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-tfdwjh?api-version=2022-08-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-tfdwjh","name":"asotest-authorizationprovider-tfdwjh","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"West
      US 2","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager-test.consent.azure-apim.net/redirect/apim/asotest-apim-sczlzm","grantTypes":{"authorizationCode":{"clientId":"{PASSWORD}","scopes":null,"resourceUri":"https://www.contoso.com"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp?api-version=2022-08-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp","name":"asotest-authorizationprovider-rnlhtp","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"West
      US 2","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager-test.consent.azure-apim.net/redirect/apim/asotest-apim-sczlzm","grantTypes":{"authorizationCode":{"clientId":"{PASSWORD}","scopes":null,"resourceUri":"https://www.contoso.com"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz?api-version=2022-08-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz","name":"asotest-authorizationprovider-larsiz","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"West
      US 2","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager-test.consent.azure-apim.net/redirect/apim/asotest-apim-sczlzm","grantTypes":{"authorizationCode":{"clientId":"{PASSWORD}","scopes":null,"resourceUri":"https://www.contoso.com"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-product1-cvftzo","properties":{"description":"A product
      policy example","displayName":"Product Policy Test","subscriptionRequired":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-product1-cvftzo?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-product1-cvftzo\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/products\",\r\n  \"name\": \"asotest-product1-cvftzo\",\r\n
      \ \"properties\": {\r\n    \"displayName\": \"Product Policy Test\",\r\n    \"description\":
      \"A product policy example\",\r\n    \"terms\": null,\r\n    \"subscriptionRequired\":
      false,\r\n    \"approvalRequired\": null,\r\n    \"subscriptionsLimit\": null,\r\n
      \   \"state\": \"notPublished\",\r\n    \"groups\": [\r\n      {\r\n        \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/groups/administrators\",\r\n
      \       \"name\": \"Administrators\",\r\n        \"description\": \"Administrators
      is a built-in group containing the admin email account provided at the time
      of service creation. Its membership is managed by the system.\",\r\n        \"builtIn\":
      true,\r\n        \"type\": \"system\",\r\n        \"externalId\": null\r\n      }\r\n
      \   ]\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACYA="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"test_namedvalue","properties":{"displayName":"My_Key","secret":false,"value":"It''s
      value"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/namedValues/test_namedvalue?api-version=2022-08-01
    method: PUT
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscripti[...]
- request:
    body: '{"name":"policy","properties":{"value":"\u003cpolicies\u003e\u003cinbound\u003e\u003cset-variable
      name=\"asoTest\" value=\"ProductPolicy Value\" /\u003e\u003c/inbound\u003e\u003cbackend\u003e\u003cforward-request
      /\u003e\u003c/backend\u003e\u003coutbound /\u003e\u003c/policies\u003e"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policies/policy?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policies/policy\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/policies\",\r\n  \"name\": \"policy\",\r\n
      \ \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\": \"<policies>\\r\\n\\t<inbound>\\r\\n\\t\\t<set-variable
      name=\\\"asoTest\\\" value=\\\"ProductPolicy Value\\\" />\\r\\n\\t</inbound>\\r\\n\\t<backend>\\r\\n\\t\\t<forward-request
      />\\r\\n\\t</backend>\\r\\n\\t<outbound />\\r\\n</policies>\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACYk="'
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-sub1-nccflz","properties":{"displayName":"Subscription
      for all APIs","scope":"/apis"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/subscriptions/asotest-sub1-nccflz?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/subscriptions/asotest-sub1-nccflz\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n  \"name\":
      \"asotest-sub1-nccflz\",\r\n  \"properties\": {\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apis\",\r\n
      \   \"displayName\": \"Subscription for all APIs\",\r\n    \"state\": \"active\",\r\n
      \   \"createdDate\": \"2001-02-03T04:05:06Z\",\r\n    \"startDate\": null,\r\n
      \   \"expirationDate\": null,\r\n    \"endDate\": null,\r\n    \"notificationDate\":
      null,\r\n    \"primaryKey\": \"b175a6f2cf784f948ef1bc03028b248c\",\r\n    \"secondaryKey\":
      \"5270e2c5eacc4775abda776ae2e041cf\",\r\n    \"stateComment\": null,\r\n    \"allowTracing\":
      false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACZE="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"asotest-vs-dcaude","properties":{"description":"A version set
      for the account api","displayName":"vs","versioningScheme":"Segment"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apiVersionSets/asotest-vs-dcaude?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apiVersionSets/asotest-vs-dcaude\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/apiVersionSets\",\r\n  \"name\":
      \"asotest-vs-dcaude\",\r\n  \"properties\": {\r\n    \"displayName\": \"vs\",\r\n
      \   \"description\": \"A version set for the account api\",\r\n    \"versioningScheme\":
      \"Segment\",\r\n    \"versionQueryName\": null,\r\n    \"versionHeaderName\":
      null\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACY4="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"asotest-cust1-zwfpsw","properties":{"description":"A product for
      customer 1","displayName":"Customer 1","subscriptionRequired":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-cust1-zwfpsw?ap[...]
- request:
    body: '{"name":"asotest-product2-pjxayh","properties":{"description":"A product
      Api example","displayName":"Product Api Test","subscriptionRequired":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-product2-[...]
- request:
    body: '{"name":"test_backend","properties":{"description":"A Description about
      the backend","protocol":"http","url":"https://www.bing.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n
      \ \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A Description
      about the backend\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\":
      \"http\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACaA="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyFragments/asotest-policyfragment-pmmefq?api-version=2022-08-01&asyncId=65bce58146346108e0b422f2&asyncCode=201&t=638424751376185258&c=MIIHADCCBeigAwIBAgITHgORCU8eKXDLsVSbWAAAA5EJTzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyFragments/asotest-policyfragment-pmmefq?api-version=2022-08-01
    method: GET
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/policyfragments/asotest-policyfragment-pmmefq\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/policyFragments\",\r\n  \"name\":
      \"asotest-policyfragment-pmmefq\",\r\n  \"properties\": {\r\n    \"description\":
      \"A Description about the policy fragment\",\r\n    \"value\": \"<fragment></fragment>\"\r\n
      \ }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ewkAAAAAAAA="'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/namedValues/test_namedvalue?api-version=2022-08-01&asyncId=65bce58346346108e0b422f9&asyncCode=201&t=638424751397268299&c=MIIHHjCCBgagAwIBAgITOgKYXReW2dAHAh_AzAAEAphdFzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKC[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend?api-version=2022-08-01
    method: GET
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/backends/test_backend\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n
      \ \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A Description
      about the backend\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\":
      \"http\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACaA="'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-authorization-wolrgf","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp/authorizations/asotest-authorization-wolrgf?api-version=2022-08-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-rnlhtp/authorizations/asotest-authorization-wolrgf","name":"asotest-authorization-wolrgf","type":"Microsoft.ApiManagement/service/authorizationProviders/authorizations","location":"West
      US 2","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode","status":"Error","error":{"code":"Unauthenticated","message":"This
      connection is not authenticated."}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-authorization-fhdxct","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz/authorizations/asotest-authorization-fhdxct?api-version=2022-08-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/authorizationProviders/asotest-authorizationprovider-larsiz/authorizations/asotest-authorization-fhdxct","name":"asotest-authorization-fhdxct","type":"Microsoft.ApiManagement/service/authorizationProviders/authorizations","location":"West
      US 2","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode","status":"Error","error":{"code":"Unauthenticated","message":"This
      connection is not authenticated."}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      If-Match:
      - '*'
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-cust1-zwfpsw?api-version=2021-08-01&deleteSubscriptions=true
    method: DELETE
  response:
    body: ""
    headers:
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-vs2-xvhppa","properties":{"description":"A version set
      for the account api","displayName":"vs2","versioningScheme":"Segment"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apiVersionSets/asotest-vs2-xvhppa?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/apiVersionSets/asotest-vs2-xvhppa\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/apiVersionSets\",\r\n  \"name\":
      \"asotest-vs2-xvhppa\",\r\n  \"properties\": {\r\n    \"displayName\": \"vs2\",\r\n
      \   \"description\": \"A version set for the account api\",\r\n    \"versioningScheme\":
      \"Segment\",\r\n    \"versionQueryName\": null,\r\n    \"versionHeaderName\":
      null\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACbI="'
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"policy","properties":{"value":"\u003cpolicies\u003e\u003cinbound\u003e\u003cset-variable
      name=\"asoTest\" value=\"ProductPolicy Value\" /\u003e\u003c/inbound\u003e\u003cbackend\u003e\u003cforward-request
      /\u003e\u003c/backend\u003e\u003coutbound /\u003e\u003c/policies\u003e"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-product1-cvftzo/policies/policy?api-version=2022-08-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pwokuh/providers/Microsoft.ApiManagement/service/asotest-apim-sczlzm/products/asotest-product1-cvftzo/policies/policy\",\r\n
      \ \"type\": \"Microsoft.ApiManagement/service/products/policies\",\r\n  \"name\":
      \"policy\",\r\n  \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\":
      \"<policies>\\r\\n\\t<inbound>\\r\\n\\t\\t<set-variable name=\\\"asoTest\\\"
      value=\\\"ProductPolicy Value\\\" />\\r\\n\\t</inbound>\\r\\n\\t<backend>\\r\\n\\t\\t<forward-request
      />\\r\\n\\t</backend>\\r\\n\\t<outbound />\\r\\n</policies>\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"AAAAAAAACcE="'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"asotest-api-mxuzlo","properties":{"apiVersion":"1.0.0","apiRevision":"v1","apiRevisionDescription":"First
[...]
