---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-redxis","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 85885c7a5bc421948b2a4e048fbf372d6a4b89b04b15912f626678421d92d6d8
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis","name":"asotest-rg-redxis","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 237.548165ms
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis","name":"asotest-rg-redxis","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 46.804216ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/virtualNetworks/asotest-vn-blopox?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/asotest-vn-blopox'' under resource group ''asotest-rg-redxis'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 29.099788ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vn-blopox","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 327a0519c1c16a36b928d530ff81e9b8622c301a9332be6a8f4f1028b969a5be
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/virtualNetworks/asotest-vn-blopox?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"asotest-vn-blopox","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/virtualNetworks/asotest-vn-blopox","etag":"W/\"1a371024-578c-421e-809f-9e0cd7411823\"","type":"Microsoft.Network/virtualNetworks","location":"westus2","properties":{"provisioningState":"Updating","resourceGuid":"f16f20ca-1bf1-464e-bfe9-6dade3bcff37","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/be757579-8bea-4266-b7bb-df37ca14446f?api-version=2020-11-01&t=638666253321191099&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLm[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/be757579-8bea-4266-b7bb-df37ca14446f?api-version=2020-11-01&t=638666253321191099&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMR[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "1"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/virtualNetworks/asotest-vn-blopox?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"asotest-vn-blopox","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/virtualNetworks/asotest-vn-blopox","etag":"W/\"e6eded8a-1f8f-40d1-8bd1-b9fe9aacc71a\"","type":"Microsoft.Network/virtualNetworks","location":"westus2","properties":{"provisioningState":"Succeeded","resourceGuid":"f16f20ca-1bf1-464e-bfe9-6dade3bcff37","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e6eded8a-1f8f-40d1-8bd1-b9fe9aacc71a"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 62.431062ms
[...]
    - id: 7
      request:
        host: management.azure.com
        body: '{"name":"asotest-subnet-xjdmuj","properties":{"addressPrefix":"10.0.0.0/24"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 2c9e4e3589cacb169a0ca3ab39ad29d1d4d30a18077ee92c90d9967566ea1593
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/virtualNetworks/asotest-vn-blopox/subnets/asotest-subnet-xjdmuj?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"asotest-subnet-xjdmuj","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/virtualNetworks/asotest-vn-blopox/subnets/asotest-subnet-xjdmuj","etag":"W/\"7c29c226-eb66-430a-b586-3cfdf92b33b4\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/45834d52-f508-4f3c-a340-986ecd433040?api-version=2020-11-01&t=638666253389198086&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
    - id: 8
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-nic-jzmkbj","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/virtualNetworks/asotest-vn-blopox/subnets/asotest-subnet-xjdmuj"}}}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 0d5890a3bfeaca18461206244602376eb593c78437293e5aa8083c9df420d7b5
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/networkInterfaces/asotest-nic-jzmkbj?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"asotest-nic-jzmkbj","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/networkInterfaces/asotest-nic-jzmkbj","etag":"W/\"8b0d7470-bba2-4600-9a46-b4bda6ed2d38\"","properties":{"provisioningState":"Succeeded","resourceGuid":"d51b7849-8546-4fae-85bd-0a0f885b5818","ipConfigurations":[{"name":"ipconfig1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/networkInterfaces/asotest-nic-jzmkbj/ipConfigurations/ipconfig1","etag":"W/\"8b0d7470-bba2-4600-9a46-b4bda6ed2d38\"","type":"Microsoft.Network/networkInterfaces/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/virtualNetworks/asotest-vn-blopox/subnets/asotest-subnet-xjdmuj"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"ziqg52prdnhenp5jnww4hph5gh.xx.internal.cloudapp.net"},"enableAcceleratedNetworking":false,"vnetEncryptionSupported":false,"enableIPForwarding":false,"hostedWorkloads":[],"tapConfigurations":[],"nicType":"Standard"},"type":"Microsoft.Network/networkInterfaces","location":"westus2"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 487.828875ms
[...]
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/45834d52-f508-4f3c-a340-986ecd433040?api-version=2020-11-01&t=638666253389198086&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 13
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vm-opareb","properties":{"hardwareProfile":{"vmSize":"Standard_D1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/networkInterfaces/asotest-nic-jzmkbj"}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"bloom","computerName":"poppy"},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"18.04-LTS","version":"latest"}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 8acecf3026cdd31ee64892c4e47b0dc76b7c36f4bae093a31cfb035ebbc546a3
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Compute/virtualMachines/asotest-vm-opareb?api-version=2020-12-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"asotest-vm-opareb\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Compute/virtualMachines/asotest-vm-opareb\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D1_v2\"\r\n    },\r\n    \"provisioningState\": \"Creating\",\r\n    \"vmId\": \"c08561a9-ac7f-49ec-8656-d08e7c9408fa\",\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"18.04-LTS\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"18.04.202401161\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"poppy\",\r\n      \"adminUsername\": \"bloom\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\"\r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis/providers/Microsoft.Network/networkInterfaces/asotest-nic-jzmkbj\"}]}\r\n  }\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westu[...]
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/73c85953-5e04-4368-a2df-b40b4a0eadae?p=293bc17d-9efb-4af6-9c31-0eb97e7abc2e&api-version=2020-12-01&t=638666253493669710&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w[...]
[...]
    - id: 25
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-redxis?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRSRURYSVMtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638666254109757165&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNjI2MDEzMjIxWhcNMjUwNjIxMDEzMjIxWjBAMT4wPAYDVQQDE[...]
    - id: 26
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRSRURYSVMtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638666254109757165&c=MIIHpTCCBo2gAwIBAgITOgM6dTLGpzYZpvPtgQAEAzp1MjANBgkqh[...]
[...]
