---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-pbjouy","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - edd90ffe24d23aa8c924e26d9afb82e7413a348091c9cb6743b9fbea28798b25
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy","name":"asotest-rg-pbjouy","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 688.80858ms
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy","name":"asotest-rg-pbjouy","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 48.402553ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.ContainerService/managedClusters/asotest-mc-znnmxx?api-version=2025-08-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/asotest-mc-znnmxx'' under resource group ''asotest-rg-pbjouy'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 50.792973ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"westus2","name":"asotest-asotestbackupvault-fdjivx","properties":{"monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"}},"securitySettings":{"softDeleteSettings":{"state":"Off"}},"storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}]},"tags":{"cheese":"blue"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - ecf30bee163dba3e5d7ea036c5bd8e5c54da13c72b5bb4f2bfcc5c919bcb6f94
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.DataProtection/backupVaults/asotest-asotestbackupvault-fdjivx?api-version=2023-11-01
        method: PUT
      response:
        body: '{"location":"westus2","tags":{"cheese":"blue"},"identity":{"type":"SystemAssigned","principalId":"06baf3dc-b23b-4a0d-a364-70dc7e5d4745","tenantId":"00000000-0000-0000-0000-000000000000"},"properties":{"provisioningState":"Provisioning","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"monitoringSettings":{"azureMonitorAlertSettings":{"alertsForAllJobFailures":"Enabled"}},"securitySettings":{"softDeleteSettings":{"state":"Off","retentionDurationInDays":0.0}},"secureScore":"None","replicatedRegions":[]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.DataProtection/backupVaults/asotest-asotestbackupvault-fdjivx","name":"asotest-asotestbackupvault-fdjivx","type":"Microsoft.DataProtection/backupVaults"}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.DataProtection/backupVaults/asotest-asotestbackupvault-fdjivx/operationStatus/OGYwMjhmYTYtODYyYi00OWJiLWE1ZDQtMTFhYTQyYjc5MmVjOzQ4NWM0ZjQwLWIyZWUtNDM1OS1iM2FkLWQ2YjE2YmFjNWM1OA==?api-version=2023-11-01&t=639047171029454594&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5m[...]
    - id: 4
      request:
        host: management.azure.com
        body: '{"kind":"StorageV2","location":"westus2","name":"asoteststoridieeb","properties":{"accessTier":"Hot","allowBlobPublicAccess":false},"sku":{"name":"Standard_LRS"},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 9c0df00190423e547f624dfcd6b2ea0d0c8fcae445758a3b5f9aa8aa827578e5
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Storage/storageAccounts/asoteststoridieeb?api-version=2021-04-01
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/31cf605c-886f-4df0-ba51-cddb86c65b54?monitor=true&api-version=2021-04-01&t=639047171039234063&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.DataProtection/backupVaults/asotest-asotestbackupvault-fdjivx/operationStatus/OGYwMjhmYTYtODYyYi00OWJiLWE1ZDQtMTFhYTQyYjc5MmVjOzQ4NWM0ZjQwLWIyZWUtNDM1OS1iM2FkLWQ2YjE2YmFjNWM1OA==?api-ve[...]
[...]
    - id: 8
      request:
        host: management.azure.com
        body: '{"name":"0babf8d9-8445-5fa6-bd33-3983f7f3e86d","properties":{"principalId":"06baf3dc-b23b-4a0d-a364-70dc7e5d4745","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - a8e1c1ac455f1b4a0b97e05e6868a296ea91abcfe256dcde44da2caa5484bf2f
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Authorization/roleAssignments/0babf8d9-8445-5fa6-bd33-3983f7f3e86d?api-version=2020-08-01-preview
        method: PUT
      response:
        body: '{"error":{"code":"PrincipalNotFound","message":"Principal 06baf3dcb23b4a0da36470dc7e5d4745 does not exist in the directory 00000000-0000-0000-0000-000000000000. Check that you have the correct principal ID. If you are creating this principal and then immediately assigning a role, this error might be related to a replication delay. In this case, set the role assignment principalType property to a value, such as ServicePrincipal, User, or Group.  See https://aka.ms/docs-principaltype"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 400 Bad Request
        code: 400
        duration: 425.576281ms
    - id: 9
      request:
        host: management.azure.com
        body: '{"name":"asotest-asobackupinstance-dxyfad","properties":{"dataSourceInfo":{"datasourceType":"Microsoft.ContainerService/managedClusters","objectType":"Datasource","resourceID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.ContainerService/managedClusters/asotest-mc-znnmxx","resourceLocation":"westus2","resourceName":"","resourceType":"Microsoft.ContainerService/managedClusters"},"dataSourceSetInfo":{"datasourceType":"Microsoft.ContainerService/managedClusters","objectType":"DatasourceSet","resourceID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.ContainerService/managedClusters/asotest-mc-znnmxx","resourceLocation":"westus2","resourceName":"","resourceType":"Microsoft.ContainerService/managedClusters"},"friendlyName":"asobackupinstance","objectType":"BackupInstance","policyInfo":{"policyId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.DataProtection/backupVaults/asotest-asotestbackupvault-fdjivx/backupPolicies/asotest-asotestbp-rkoold","policyParameters":{"backupDatasourceParametersList":[{"includeClusterScopeResources":true,"objectType":"KubernetesClusterBackupDatasourceParameters","snapshotVolumes":true}],"dataStoreParametersList":[{"dataStoreType":"OperationalStore","objectType":"AzureOperationalStoreParameters","resourceGroupId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy"}]}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 65226e77edb5a2b370836e5290d1c7842c16aceaeb29283a61b920d0d696e117
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.DataProtection/backupVaults/asotest-asotestbackupvault-fdjivx/backupInstances/asotest-asobackupinstance-dxyfad?api-version=2023-11-01
        method: PUT
      response:
        body: '{"error":{"additionalInfo":[{"type":"UserFacingError","info":{"message":"Parameter PolicyName in request is invalid","recommendedAction":["Please provide correct value for parameter PolicyName"],"details":null,"code":"UserErrorInvalidRequestParameter","target":"","innerError":null,"isRetryable":false,"isUserError":false,"properties":{"ActivityId":"050a604f-d640-4bee-8d13-daf0053b43f6"}}}],"code":"UserErrorInvalidRequestParameter","message":"Parameter PolicyName in request is invalid","target":null,"details":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "799"
        status: 400 Bad Request
        code: 400
        duration: 262.763056ms
    - id: 10
      request:
        host: management.azure.com
        body: '{"name":"asotest-asotestbp-rkoold","properties":{"datasourceTypes":["Microsoft.ContainerService/managedClusters"],"objectType":"BackupPolicy","policyRules":[{"backupParameters":{"backupType":"Incremental","objectType":"AzureBackupParams"},"dataStore":{"dataStoreType":"OperationalStore","objectType":"DataStoreInfoBase"},"name":"BackupHourly","objectType":"AzureBackupRule","trigger":{"objectType":"ScheduleBasedTriggerContext","schedule":{"repeatingTimeIntervals":["R/2023-06-07T10:26:32+00:00/PT4H"],"timeZone":"UTC"},"taggingCriteria":[{"isDefault":true,"tagInfo":{"tagName":"Default"},"taggingPriority":99}]}},{"isDefault":true,"lifecycles":[{"deleteAfter":{"duration":"P9D","objectType":"AbsoluteDeleteOption"},"sourceDataStore":{"dataStoreType":"OperationalStore","objectType":"DataStoreInfoBase"}}],"name":"Default","objectType":"AzureRetentionRule"}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7cb281925262920ff309d616d7998e3b1553312c20bebd515936979ce4ee2aef
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.DataProtection/ba[...]
[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/31cf605c-886f-4df0-ba51-cddb86c65b54?monitor=true&api-version=2021-04-01&t=639047171039234063&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZI[...]
[...]
    - id: 14
      request:
        host: management.azure.com
        body: '{"identity":{"delegatedResources":null,"type":"SystemAssigned"},"location":"westus2","name":"asotest-mc-znnmxx","properties":{"addonProfiles":{"azurepolicy":{"config":null,"enabled":true}},"agentPoolProfiles":[{"availabilityZones":null,"count":3,"mode":"System","name":"agentpool","nodeLabels":{},"nodeTaints":[],"osSKU":"AzureLinux","osType":"Linux","tags":{},"virtualMachineNodesStatus":null,"vmSize":"Standard_DS2_v2"}],"autoUpgradeProfile":{"upgradeChannel":"node-image"},"dnsPrefix":"aso","enableRBAC":true,"identityProfile":null,"privateLinkResources":null},"tags":{}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 4f43928aa366b114b77b93b4206afda0e676419d297efc7278bfed44ca10c7de
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.ContainerService/managedClusters/asotest-mc-znnmxx?api-version=2025-08-01
        method: PUT
      response:
        body: |-
            {
             "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-pbjouy/providers/Microsoft.ContainerService/managedClusters/asotest-mc-znnmxx",
             "location": "westus2",
             "name": "asotest-mc-znnmxx",
             "type": "Microsoft.ContainerService/ManagedClusters",
             "kind": "Base",
             "properties": {
              "provisioningState": "Creating",
              "powerState": {
               "code": "Running"
              },
              "kubernetesVersion": "1.33",
              "currentKubernetesVersion": "1.33.5",
              "dnsPrefix": "aso",
              "fqdn": "aso-3tnvrp50.hcp.westus2.azmk8s.io",
              "azurePortalFQDN": "aso-3tnvrp50.portal.hcp.westus2.azmk8s.io",
              "agentPoolProfiles": [
               {
                "name": "agentpool",
                "count": 3,
                "vmSize": "Standard_DS2_v2",
                "osDiskSizeGB": 128,
                "osDiskType": "Managed",
                "kubeletDiskType": "OS",
                "maxPods": 250,
                "type": "VirtualMachineScaleSets",
                "scaleDownMode": "Delete",
                "provisioningState": "Creating",
                "powerState": {
                 "code": "Running"
                },
                "orchestratorVersion": "1.33",
                "currentOrchestratorVersion": "1.33.5",
                "enableNodePublicIP": false,
                "tags": {},
                "nodeLabels": {},
                "mode": "System",
                "osType": "Linux",
                "osSKU": "AzureLinux",
                "nodeImageVersion": "AKSAzureLinux-V3gen2-202601.07.0",
                "upgradeSettings": {
                 "maxSurge": "10%",
                 "maxUnavailable": "0"
                },
                "enableFIPS": false,
                "securityProfile": {
                 "sshAccess": "LocalUser",
                 "enableVTPM": false,
                 "enableSecureBoot": false
                }
               }
              ],
              "servicePrincipalProfile": {
               "clientId": "msi"
              },
              "addonProfiles": {
               "azurepolicy": {
                "enabled": true,
                "config": null
               }
              },
              "nodeResourceGroup": "MC_asotest-rg-pbjouy_asotest-mc-znnmxx_westus2",
              "enableRBAC": true,
              "supportPlan": "KubernetesOfficial",
              "networkProfile": {
               "networkPlugin": "azure",
               "networkPluginMode": "overlay",
               "networkPolicy": "none",
               "networkDataplane": "azure",
               "loadBalancerSku": "standard",
               "loadBalancerProfile": {
                "managedOutboundIPs": {
                 "count": 1
                },
                "backendPoolType": "nodeIPConfiguration"
               },
               "podCidr": "10.244.0.0/16",
               "serviceCidr": "10.0.0.0/16",
               "dnsServiceIP": "10.0.0.10",
               "outboundType": "loadBalancer",
               "podCidrs": [
                "10.244.0.0/16"
               ],
               "serviceCidrs": [
                "10.0.0.0/16"
               ],
               "ipFamilies": [
                "IPv4"
               ]
              },
              "maxAgentPools": 100,
              "autoUpgradeProfile": {
               "upgradeChannel": "node-image",
               "nodeOSUpgradeChannel": "NodeImage"
              },
              "securityProfile": {},
              "storageProfile": {
               "diskCSIDriver": {
                "enabled": true
               },
               "fileCSIDriver": {
                "enabled": true
               },
               "snapshotController": {
                "enabled": true
               }
              },
              "oidcIssuerProfile": {
               "enabled": false
              },
              "workloadAutoScalerProfile": {},
              "resourceUID": "6972a23733461c0001e08753",
              "metricsProfile": {
               "costAnalysis": {
                "enabled": false
               }
              },
              "nodeProvisioningProfile": {
               "mode": "Manual",
               "defaultNodePools": "Auto"
              },
              "bootstrapProfile": {
               "artifactSource": "Direct"
              }
             },
             "identity": {
              "type": "SystemAssigned",
              "principalId": "2f0743a6-2603-4c27-904a-9a6c278e7889",
              "tenantId": "00000000-0000-0000-0000-000000000000"
             },
             "sku": {
              "name": "Base",
              "tier": "Free"
             }
            }
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/cf1894fa-9b1f-485a-8501-c89079637ce3?api-version=2025-03-01&t=639047171124394191&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNM[...]
    - id: 15
      request:
        host: management.azure.com
        body: '{"name":"0babf8d9-8445-5fa6-bd33-3983f7f3e86d","properties":{"principalId":"06baf3dc-b23b-4a0d-a364-70dc7e5d4745","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - a8e1c1ac455f1b4a0b97e05e6868a296ea91abcfe256dcde44da2caa5484bf2f
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Authorization/roleAssignments/0babf8d9-8445-5fa6-bd33-3983f7f3e86d?api-version=2020-08-01-preview
        method: PUT
      response:
        body: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"06baf3dc-b23b-4a0d-a364-70dc7e5d4745","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy","condition":null,"conditionVersion":null,"createdOn":"2001-02-03T04:05:06Z","updatedOn":"2001-02-03T04:05:06Z","createdBy":null,"updatedBy":"f5d11ebc-8494-4b5f-a0fc-5fbbfd56f7bb","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Authorization/roleAssignments/0babf8d9-8445-5fa6-bd33-3983f7f3e86d","type":"Microsoft.Authorization/roleAssignments","name":"0babf8d9-8445-5fa6-bd33-3983f7f3e86d"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.02681013s
[...]
    - id: 18
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/cf1894fa-9b1f-485a-8501-c89079637ce3?api-version=2025-03-01&t=639047171124394191&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Storage/storageAccounts/asoteststoridieeb?api-version=2021-04-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Storage/storageAccounts/asoteststoridieeb","name":"asoteststoridieeb","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asoteststoridieeb.dfs.core.windows.net/","web":"https://asoteststoridieeb.z5.web.core.windows.net/","blob":"https://asoteststoridieeb.blob.core.windows.net/","queue":"https://asoteststoridieeb.queue.core.windows.net/","table":"https://asoteststoridieeb.table.core.windows.net/","file":"https://asoteststoridieeb.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 115.381147ms
[...]
    - id: 22
      request:
        host: management.azure.com
        body: '{"name":"default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Storage/storageAccounts/asoteststoridieeb/blobServices/default?api-version=2021-04-01
        method: PUT
      response:
        body: '{"name":"default"}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 280.607139ms
    - id: 23
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Storage/storageAccounts/asoteststoridieeb/blobServices/default?api-version=2021-04-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Storage/storageAccounts/asoteststoridieeb/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 240.928432ms
[...]
    - id: 26
      request:
        host: management.azure.com
        body: '{"name":"asotest-velero-zgqhvw"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - da71a67b522b6e98746682bd6c83b2b08233bda3daac7d48b41180b5688d9877
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Storage/storageAccounts/asoteststoridieeb/blobServices/default/containers/asotest-velero-zgqhvw?api-version=2021-04-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Storage/storageAccounts/asoteststoridieeb/blobServices/default/containers/asotest-velero-zgqhvw","name":"asotest-velero-zgqhvw","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DE5A044CAAB2C0"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 388.260473ms
[...]
    - id: 28
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Storage/storageAccounts/asoteststoridieeb/blobServices/default/containers/asotest-velero-zgqhvw?api-version=2021-04-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.Storage/storageAccounts/asoteststoridieeb/blobServices/default/containers/asotest-velero-zgqhvw","name":"asotest-velero-zgqhvw","type":"Microsoft.Storage/storageAccounts/blobServices/containers","etag":"\"0x8DE5A044CAAB2C0\"","properties":{"deleted":false,"remainingRetentionDays":0,"defaultEncryptionScope":"$account-encryption-key","denyEncryptionScopeOverride":false,"publicAccess":"None","leaseStatus":"Unlocked","leaseState":"Available","lastModifiedTime":"2001-02-03T04:05:06Z","legalHold":{"hasLegalHold":false,"tags":[]},"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DE5A044CAAB2C0"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 96.091764ms
[...]
    - id: 30
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pbjouy/providers/Microsoft.DataProtection/backupVaults/asotest-asotestbackupvault-fdjivx/operationStatus/OGYwMjhmYTYtODYyYi00OWJiLWE1ZDQtMTFhYTQyYjc5MmVjOzNmNDNjY2U2LTVhNDMtNDA3OC1hZjhjLTRiNDk1NzE3ZDQxNQ==?api-v[...]
[...]
    - id: 53
      request:
        host: management.azure.com
        body: '{"syncType":"Default"}'
        form: {}
        headers:
[...]
