---
version: 1
interactions:
- request:
    body: '{"name":"asotest-sub-zzqblm","properties":{"billingScope":"/providers/Microsoft.Billing/billingAccounts/00000000-0000-0000-0000-000000000000:00000000-0000-0000-0000-000000000000_2019-05-31/billingProfiles/0000-0000-000-000/invoiceSections/0000-0000-000-000","displayName":"Subscription for ASO testing","workload":"Production"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/providers/Microsoft.Subscription/aliases/asotest-sub-zzqblm?api-version=2021-10-01
    method: PUT
  response:
    body: '{"id":"/providers/Microsoft.Subscription/aliases/asotest-sub-zzqblm","name":"asotest-sub-zzqblm","type":"Microsoft.Subscription/aliases","properties":{"displayName":"Subscription for ASO testing","workload":"Production","billingScope":"/providers/Microsoft.Billing/billingAccounts/00000000-0000-0000-0000-000000000000:00000000-0000-0000-0000-000000000000_2019-05-31/billingProfiles/0000-0000-000-000/invoiceSections/0000-0000-000-000","subscriptionId":"3bf4ed70-fedc-428d-8d60-327420561f01","provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mise-Correlation-Id:
      - b590d896-4a77-40ca-a50d-826965ec0a97
      Ms-Cv:
      - gKac1C5a7kS01DRVC6I8NQ.0
      X-Gsm:
      - 1.0.0.0
      X-Ms-Ratelimit-Remaining-Tenant-Writes:
      - "1199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/providers/Microsoft.Subscription/aliases/asotest-sub-zzqblm?api-version=2021-10-01
    method: GET
  response:
    body: '{"id":"/providers/Microsoft.Subscription/aliases/asotest-sub-zzqblm","name":"asotest-sub-zzqblm","type":"Microsoft.Subscription/aliases","properties":{"subscriptionId":"3bf4ed70-fedc-428d-8d60-327420561f01","provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mise-Correlation-Id:
      - 1090c388-d9cf-4059-8409-3e37a524658a
      Ms-Cv:
      - m0APfVLaS02TaJA/xSCcpA.0
      X-Gsm:
      - 1.0.0.0
      X-Ms-Ratelimit-Remaining-Tenant-Reads:
      - "14999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"location":"westus2","name":"e0823656-ed38-4d04-b949-687bdd167246","properties":{"principalId":"1605884e-16c3-4fc0-bf09-4220deecef02","roleDefinitionId":"/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/3bf4ed70-fedc-428d-8d60-327420561f01/providers/Microsoft.Authorization/roleAssignments/e0823656-ed38-4d04-b949-687bdd167246?api-version=2020-08-01-preview
    method: PUT
  response:
    body: '{"properties":{"roleDefinitionId":"/subscriptions/3bf4ed70-fedc-428d-8d60-327420561f01/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635","principalId":"1605884e-16c3-4fc0-bf09-4220deecef02","principalType":"User","scope":"/subscriptions/3bf4ed70-fedc-428d-8d60-327420561f01","condition":null,"conditionVersion":null,"createdOn":"2001-02-03T04:05:06Z","updatedOn":"2001-02-03T04:05:06Z","createdBy":null,"updatedBy":"d6564755-ad3e-4ead-b3db-66da3690b3d6","canDelegate":false,"delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/3bf4ed70-fedc-428d-8d60-327420561f01/providers/Microsoft.Authorization/roleAssignments/e0823656-ed38-4d04-b949-687bdd167246","type":"Microsoft.Authorization/roleAssignments","name":"e0823656-ed38-4d04-b949-687bdd167246"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/3bf4ed70-fedc-428d-8d60-327420561f01/providers/Microsoft.Subscription/cancel?api-version=2021-10-01
    method: POST
  response:
    body: '{"subscriptionId":"3bf4ed70-fedc-428d-8d60-327420561f01"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mise-Correlation-Id:
      - b8b6d375-9714-48fe-830d-80206609089c
      Ms-Cv:
      - 5CaSx+29Rk6chnZ5QqxFLA.0
      X-Gsm:
      - 1.0.0.0
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "99"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/providers/Microsoft.Subscription/aliases/asotest-sub-zzqblm?api-version=2021-10-01
    method: DELETE
  response:
    body: ""
    headers:
      Mise-Correlation-Id:
      - 4dc88c29-f2f2-410a-96ca-e4036ae3c38b
      Ms-Cv:
      - N/2V8JMbFUOdzOmFUCPx/g.0
      X-Gsm:
      - 1.0.0.0
      X-Ms-Ratelimit-Remaining-Tenant-Deletes:
      - "14999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/providers/Microsoft.Subscription/aliases/asotest-sub-zzqblm?api-version=2021-10-01
    method: GET
  response:
    body: '{"error":{"code":"SubscriptionAliasNotFound","message":"Subscription alias
      not found"},"code":"SubscriptionAliasNotFound","message":"Subscription alias
      not found"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mise-Correlation-Id:
      - b6372840-3379-4a80-8ee1-88d4ab46c02f
      Ms-Cv:
      - cxoN/8UYVEe53R8b79YBYA.0
      X-Gsm:
      - 1.0.0.0
      X-Ms-Ratelimit-Remaining-Tenant-Reads:
      - "14998"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
