---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-lvvkie","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 0f61a4920b144c34db730f0394766141e9b6182450f42eed4db9ae486f88b5d2
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie","name":"asotest-rg-lvvkie","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.972861347s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie","name":"asotest-rg-lvvkie","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 246.823158ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/clusters/asotest-cluster-lykidj?api-version=2024-04-13
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/Clusters/asotest-cluster-lykidj","name":"asotest-cluster-lykidj","type":"Microsoft.Kusto/Clusters","etag":"\"2001-02-03T04:05:06Z\"","location":"West US 2","sku":{"name":"Standard_D13_v2","tier":"Standard","capacity":2},"tags":{},"properties":{"state":"Running","stateReason":"","uri":"https://asotest-cluster-lykidj.westus2.kusto.windows.net","dataIngestionUri":"https://ingest-asotest-cluster-lykidj.westus2.kusto.windows.net","trustedExternalTenants":[{"value":"*"}],"virtualNetworkConfiguration":null,"optimizedAutoscale":null,"enableDiskEncryption":false,"enableStreamingIngest":false,"keyVaultProperties":null,"languageExtensions":{"value":[]},"enablePurge":true,"enableDoubleEncryption":false,"engineType":"V3","acceptedAudiences":[],"restrictOutboundNetworkAccess":"Disabled","allowedFqdnList":[],"calloutPolicies":null,"publicNetworkAccess":"Enabled","allowedIpRangeList":[],"enableAutoStop":true,"publicIPType":"IPv4","virtualClusterGraduationProperties":null,"privateEndpointConnections":[],"migrationCluster":null,"zoneStatus":"NonZonal","provisioningState":"Succeeded"},"identity":{"principalId":"43584d14-7c0c-4510-b352-2af085585862","tenantId":"00000000-0000-0000-0000-000000000000","type":"SystemAssigned"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"2025-08-16T11:46:34.8330319Z"'
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.185296671s
[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/clusters/asotest-cluster-lykidj/databases/asotest-db-ryvsbe?api-version=2024-04-13
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/Clusters/asotest-cluster-lykidj/Databases/asotest-db-ryvsbe","name":"asotest-cluster-lykidj/asotest-db-ryvsbe","type":"Microsoft.Kusto/Clusters/Databases","location":"West US 2","kind":"ReadWrite","properties":{"softDeletePeriod":"P3D","statistics":{"size":0.0},"isFollowed":false,"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "1099"
        status: 200 OK
        code: 200
        duration: 1.360736935s
    - id: 6
      request:
        host: management.azure.com
        body: '{"kind":"ReadWrite","location":"westus2","name":"asotest-db-ryvsbe","properties":{"softDeletePeriod":"P1D"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 54c553504bb74671cc51d489b58b209c5fb12fd996b705c1355206fee5e1481f
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/clusters/asotest-cluster-lykidj/databases/asotest-db-ryvsbe?api-version=2024-04-13
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/Clusters/asotest-cluster-lykidj/Databases/asotest-db-ryvsbe","name":"asotest-cluster-lykidj/asotest-db-ryvsbe","type":"Microsoft.Kusto/Clusters/Databases","location":"West US 2","kind":"ReadWrite","properties":{"softDeletePeriod":"P1D","provisioningState":"Accepted"}}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US%202/operationResults/4117600e-91d0-488d-bed2-846740cd4a63?api-version=2024-04-13&t=638909416388040844&c=MIIHpTCCBo2gAwIBAgITfwXYLwBldsI4-E8kQgAEBdgvADANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNzE1MDYxODA0WhcNMjYwMTExMDYxODA0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US%202/operationResults/4117600e-91d0-488d-bed2-846740cd4a63?api-version=2024-04-13&t=638909416388040844&c=MIIHpTCCBo2gAwIBAgITfwXYLwBldsI4-E8kQgAEBdgvADANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 13
      request:
        host: management.azure.com
        body: '{"name":"asotest-priass-vsvrzv","properties":{"principalId":"43584d14-7c0c-4510-b352-2af085585862","principalType":"App","role":"Admin","tenantId":"00000000-0000-0000-0000-000000000000"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 51d1bc557bfe3202750c6d517ee4229fafab551ee0ade25575d7c112fb99c568
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/clusters/asotest-cluster-lykidj/databases/asotest-db-ryvsbe/principalAssignmen[...]
[...]
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US%202/operationResults/5d8f21f1-ddf3-443a-aba7-8362b5237843?api-version=2024-04-13&t=638909416567121146&c=MIIHpTCCBo2gAwIBAgITfwXYLwBldsI4-E8kQgAEBdgvADANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US%202/operationResults/1e3980f2-4c40-4e6f-8309-e29b110e850d?api-version=2024-04-13&t=638909416563498449&c=MIIHpTCCBo2gAwIBAgITfwXYLwBldsI4-E8kQgAEBdgvADANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
    - id: 19
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/clusters/asotest-cluster-lykidj/databases/asotest-db-ryvsbe/principalAssignments/asotest-priass-vsvrzv?api-version=2024-04-13
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/Clusters/asotest-cluster-lykidj/Databases/asotest-db-ryvsbe/PrincipalAssignments/asotest-priass-vsvrzv","name":"asotest-cluster-lykidj/asotest-db-ryvsbe/asotest-priass-vsvrzv","type":"Microsoft.Kusto/Clusters/Databases/PrincipalAssignments","properties":{"principalId":"43584d14-7c0c-4510-b352-2af085585862","role":"Admin","principalType":"App","tenantId":"00000000-0000-0000-0000-000000000000","tenantName":"AVEVA Solutions R&D","principalName":"asotest-cluster-lykidj","aadObjectId":"43584d14-7c0c-4510-b352-2af085585862","provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "1099"
        status: 200 OK
        code: 200
        duration: 917.132622ms
[...]
    - id: 25
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US%202/operationResults/659657fe-4cab-4a93-a122-961580a999ea?api-version=2024-04-13&t=638909416733600794&c=MIIHpTCCBo2gAwIBAgITfwXYLwBldsI4-E8kQgAEBdgvADANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
    - id: 29
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US%202/operationResults/ec733611-48ac-4228-8f3c-4d83195d4a48?api-version=2024-04-13&t=638909416851990002&c=MIIHpTCCBo2gAwIBAgITfwXYLwBldsI4-E8kQgAEBdgvADANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
    - id: 30
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/Clusters/asotest-cluster-lykidj/Databases/asotest-db-ryvsbe/PrincipalAssignments/asotest-priass-vsvrzv?api-version=2024-04-13
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The resource with identifier ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/Clusters/asotest-cluster-lykidj/Databases/asotest-db-ryvsbe/PrincipalAssignments/asotest-priass-vsvrzv'' is not found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "1099"
        status: 404 Not Found
        code: 404
        duration: 970.232374ms
[...]
    - id: 32
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Kusto/locations/West%20US%202/operationResults/dbb88889-5007-4448-9d18-9497e09d216a?api-version=2024-04-13&t=638909416933832491&c=MIIHpTCCBo2gAwIBAgITfwXYLwBldsI4-E8kQgAEBdgvADANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
    - id: 40
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie/providers/Microsoft.Kusto/Clusters/asotest-cluster-lykidj?api-version=2024-04-13
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Kusto/clusters/asotest-cluster-lykidj'' under resource group ''asotest-rg-lvvkie'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 240.090361ms
    - id: 41
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lvvkie?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRMVlZLSUUtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638909418993897007&c=MIIHpTCCBo2gAwIBAgITfwXYLwBldsI4-E8kQgAEBdgvADANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwNzE1MDYxODA0WhcNMjYwMTExMDYxODA0WjBAMT4wPAYDVQQDE[...]
    - id: 42
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRMVlZLSUUtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638909418993897007&c=MIIHpTCCBo2gAwIBAgITfwXYLwBldsI4-E8kQgAEBdgvADANBgkqh[...]
[...]
