---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-hyymvm","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm","name":"asotest-rg-hyymvm","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-redis1-zbvfwv","properties":{"enableNonSslPort":false,"minimumTlsVersion":"1.2","redisConfiguration":{"maxmemory-delta":"10","maxmemory-policy":"allkeys-lru"},"redisVersion":"6","sku":{"capacity":1,"family":"P","name":"Premium"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/redis/asotest-redis1-zbvfwv?api-version=2020-12-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/Redis/asotest-redis1-zbvfwv","location":"West
      US 2","name":"asotest-redis1-zbvfwv","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Creating","redisVersion":"6.0.14","sku":{"name":"Premium","family":"P","capacity":1},"enableNonSslPort":false,"instances":[{"sslPort":15000,"isMaster":false,"isPrimary":false},{"sslPort":15001,"isMaster":false,"isPrimary":false}],"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","redisConfiguration":{"maxmemory-policy":"allkeys-lru","maxmemory-reserved":"642","maxclients":"7500","maxfragmentationmemory-reserved":"642","maxmemory-delta":"642"},"accessKeys":{"primaryKey":"{KEY}","secondaryKey":"{KEY}"},"hostName":"asotest-redis1-zbvfwv.redis.cache.windows.net","port":6379,"sslPort":6380,"linkedServers":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/redis/asotest-redis1-zbvfwv?api-version=2020-12-01
      X-Rp-Server-Mvid:
      - 833439e0-b740-4cd3-bb1d-5515649d1e5a
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-redis2-gzcvdq","properties":{"enableNonSslPort":false,"minimumTlsVersion":"1.2","redisConfiguration":{"maxmemory-delta":"10","maxmemory-policy":"allkeys-lru"},"redisVersion":"6","sku":{"capacity":1,"family":"P","name":"Premium"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/redis/asotest-redis2-gzcvdq?api-version=2020-12-01
    method: PUT
  response:
    body: '{"error":{"code":"GatewayTimeout","message":"The gateway did not receive
      a response from ''Microsoft.Cache'' within the specified time period."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - service
    status: 504 Gateway Timeout
    code: 504
    duration: ""
[...]
- request:
    body: '{"name":"asotestfwrulexxtytm","properties":{"endIP":"1.2.3.4","startIP":"1.2.3.4"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/redis/asotest-redis1-zbvfwv/firewallRules/asotestfwrulexxtytm?api-version=2020-12-01
    method: PUT
  response:
    body: '{"properties":{"startIP":"1.2.3.4","endIP":"1.2.3.4"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/redis/asotest-redis1-zbvfwv/firewallRules/asotestfwrulexxtytm","name":"asotest-redis1-zbvfwv/asotestfwrulexxtytm","type":"Microsoft.Cache/redis/firewallRules"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/redis/asotest-redis1-zbvfwv/firewallRules/asotestfwrulexxtytm?api-version=2020-12-01
      X-Rp-Server-Mvid:
      - 833439e0-b740-4cd3-bb1d-5515649d1e5a
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"default","properties":{"scheduleEntries":[{"dayOfWeek":"Monday","maintenanceWindow":"PT6H","startHourUtc":6}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/redis/asotest-redis1-zbvfwv/patchSchedules/default?api-version=2020-12-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/Redis/asotest-redis1-zbvfwv/patchSchedules/default","location":"West
      US 2","name":"asotest-redis1-zbvfwv/default","type":"Microsoft.Cache/Redis/PatchSchedules","properties":{"scheduleEntries":[{"dayOfWeek":"Monday","startHourUtc":6,"maintenanceWindow":"PT6H"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 833439e0-b740-4cd3-bb1d-5515649d1e5a
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-redis2-gzcvdq","properties":{"linkedRedisCacheId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/redis/asotest-redis2-gzcvdq","linkedRedisCacheLocation":"westus2","serverRole":"Secondary"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/redis/asotest-redis1-zbvfwv/linkedServers/asotest-redis2-gzcvdq?api-version=2020-12-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/Redis/asotest-redis1-zbvfwv/linkedServers/asotest-redis2-gzcvdq\",\r\n
      \ \"name\": \"asotest-redis2-gzcvdq\",\r\n  \"type\": \"Microsoft.Cache/Redis/linkedServers\",\r\n
      \ \"properties\": {\r\n    \"linkedRedisCacheId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/Redis/asotest-redis2-gzcvdq\",\r\n
      \   \"linkedRedisCacheLocation\": \"West US 2\",\r\n    \"serverRole\": \"Secondary\",\r\n
      \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 833439e0-b740-4cd3-bb1d-5515649d1e5a
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/redis/asotest-redis1-zbvfwv/linkedServers/asotest-redis2-gzcvdq?api-version=2020-12-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/Redis/asotest-redis1-zbvfwv/linkedServers/asotest-redis2-gzcvdq","name":"asotest-redis2-gzcvdq","type":"Microsoft.Cache/Redis/linkedServers","properties":{"linkedRedisCacheId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/Redis/asotest-redis2-gzcvdq","linkedRedisCacheLocation":"West
      US 2","serverRole":"Secondary","geoReplicatedPrimaryHostNameDnsCName":"","provisioningState":"Creating"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 833439e0-b740-4cd3-bb1d-5515649d1e5a
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/redis/asotest-redis1-zbvfwv?api-version=2020-12-01
    method: DELETE
  response:
    body: '{"error":{"code":"BadRequest","message":"Cannot delete ''asotest-redis1-zbvfwv''
      since it has linked servers associated with it. Please remove the linked server(s)
      and then try deleting the cache.\r\nRequestID=833a2e00-b1c1-4747-8b36-0a550db097b1","target":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 833439e0-b740-4cd3-bb1d-5515649d1e5a
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationresults/4afbc9b0-2a0b-438b-a79b-1b14e60e9db5?api-version=2020-12-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationresults/4afbc9b0-2a0b-438b-a79b-1b14e60e9db5?api-version=2020-12-01
      X-Rp-Server-Mvid:
      - 833439e0-b740-4cd3-bb1d-5515649d1e5a
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm/providers/Microsoft.Cache/Redis/asotest-redis1-zbvfwv?api-version=2020-12-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Cache/Redis/asotest-redis1-zbvfwv''
      under resource group ''asotest-rg-hyymvm'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-hyymvm?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRIWVlNVk0tV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRIWVlNVk0tV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
    status: 200 OK
    code: 200
    duration: ""
[...]
