---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-ttaftb","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form:
            api-version:
                - "2020-06-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 116c39ad07a086a132e27040a2dc71504449d534e5c0ccf499479a4852e8aefc
            Test-Request-Hash:
                - 116c39ad07a086a132e27040a2dc71504449d534e5c0ccf499479a4852e8aefc
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb","name":"asotest-rg-ttaftb","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.22516132s
[...]
    - id: 2
      request:
        host: management.azure.com
        body: '{"kind":"StorageV2","location":"northeurope","name":"asotestflexstorsrzjuc","properties":{"accessTier":"Hot","allowBlobPublicAccess":false},"sku":{"name":"Standard_LRS"},"tags":null}'
        form:
            api-version:
                - "2023-01-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - c3f0f1a6ad0228601c2c71c49f39df8f7f8121b8107f72e656bbbb21f145ce66
            Test-Request-Hash:
                - c3f0f1a6ad0228601c2c71c49f39df8f7f8121b8107f72e656bbbb21f145ce66
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc?api-version=2023-01-01
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/northeurope/asyncoperations/750d77b5-2408-4237-9855-ab9d73754b71?monitor=true&api-version=2023-01-01&t=639250285048331890&c=MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5j[...]
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"northeurope","name":"asotest-mi-xagzgv"}'
        form:
            api-version:
                - "2023-01-31"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - d611aa0ec12c63d1ed1eb7b70390446acd7635a42f7fd414193a136ef5e2ad77
            Test-Request-Hash:
                - d611aa0ec12c63d1ed1eb7b70390446acd7635a42f7fd414193a136ef5e2ad77
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-xagzgv?api-version=2023-01-31
        method: PUT
      response:
        body: '{"location":"northeurope","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-ttaftb/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-xagzgv","name":"asotest-mi-xagzgv","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"00000000-0000-0000-0000-000000000000","principalId":"b2e410aa-e56b-4149-8c85-9692b28d2aae","clientId":"ac6e699e-bab7-4fff-9f2b-c6c4c609239c"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-ttaftb/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-xagzgv
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 3.176164026s
    - id: 4
      request:
        host: management.azure.com
        form:
            api-version:
                - "2023-01-01"
            c:
                - MIIIJjCCBw6gAwIBAgIQQsgxla0M-7x6wLiaXV8gNzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXQ1VTIENBIDAxMB4XDTI2MDgxMjE5NTYzN1oXDTI3MDIwODAxNTYzN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCjyQHyKRQ8UpdzxWWmCxMDjs6[...]
[...]
    - id: 8
      request:
        host: management.azure.com
        form:
            api-version:
                - "2023-01-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc?api-version=2023-01-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc","name":"asotestflexstorsrzjuc","type":"Microsoft.Storage/storageAccounts","location":"northeurope","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"None","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asotestflexstorsrzjuc.dfs.core.windows.net/","web":"https://asotestflexstorsrzjuc.z16.web.core.windows.net/","blob":"https://asotestflexstorsrzjuc.blob.core.windows.net/","queue":"https://asotestflexstorsrzjuc.queue.core.windows.net/","table":"https://asotestflexstorsrzjuc.table.core.windows.net/","file":"https://asotestflexstorsrzjuc.file.core.windows.net/"},"primaryLocation":"northeurope","statusOfPrimary":"available"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 358.044063ms
    - id: 9
      request:
        host: management.azure.com
        body: '{"name":"default"}'
        form:
            api-version:
                - "2023-01-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
            Test-Request-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc/blobServices/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"name":"default"}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 729.715875ms
    - id: 10
      request:
        host: management.azure.com
        form:
            api-version:
                - "2023-01-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc/blobServices/default?api-version=2023-01-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 349.436199ms
    - id: 11
      request:
        host: management.azure.com
        body: '{"name":"deploymentpackage"}'
        form:
            api-version:
                - "2023-01-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - ccc98f3026cd7a193efc049f9153738a25d3143d713bd72cfb4b778d324cb49a
            Test-Request-Hash:
                - ccc98f3026cd7a193efc049f9153738a25d3143d713bd72cfb4b778d324cb49a
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc/blobServices/default/containers/deploymentpackage?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc/blobServices/default/containers/deploymentpackage","name":"deploymentpackage","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DF12BF7759CAB3"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 811.392668ms
    - id: 12
      request:
        host: management.azure.com
        form:
            api-version:
                - "2023-01-01"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc/blobServices/default/containers/deploymentpackage?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc/blobServices/default/containers/deploymentpackage","name":"deploymentpackage","type":"Microsoft.Storage/storageAccounts/blobServices/containers","etag":"\"0x8DF12BF7759CAB3\"","properties":{"deleted":false,"remainingRetentionDays":0,"defaultEncryptionScope":"$account-encryption-key","denyEncryptionScopeOverride":false,"publicAccess":"None","leaseStatus":"Unlocked","leaseState":"Available","lastModifiedTime":"2001-02-03T04:05:06Z","legalHold":{"hasLegalHold":false,"tags":[]},"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DF12BF7759CAB3"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 691.370746ms
[...]
    - id: 14
      request:
        host: management.azure.com
        body: '{"name":"4a3d7bf8-9db2-5642-8d75-112c3e875355","properties":{"principalId":"b2e410aa-e56b-4149-8c85-9692b28d2aae","principalType":"ServicePrincipal","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b7e6dc6d-f1e8-4753-8033-0f276bb0955b"}}'
        form:
            api-version:
                - "2022-04-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 0196b75f8d4fb0157da27d8df140ab041abe63691a8d304f174b46e49df3e1aa
            Test-Request-Hash:
                - 0196b75f8d4fb0157da27d8df140ab041abe63691a8d304f174b46e49df3e1aa
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc/providers/Microsoft.Authorization/roleAssignments/4a3d7bf8-9db2-5642-8d75-112c3e875355?api-version=2022-04-01
        method: PUT
      response:
        body: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b7e6dc6d-f1e8-4753-8033-0f276bb0955b","principalId":"b2e410aa-e56b-4149-8c85-9692b28d2aae","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc","condition":null,"conditionVersion":null,"createdOn":"2001-02-03T04:05:06Z","updatedOn":"2001-02-03T04:05:06Z","createdBy":null,"updatedBy":"1ae5915d-78fe-468d-affb-c275790fa149","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Storage/storageAccounts/asotestflexstorsrzjuc/providers/Microsoft.Authorization/roleAssignments/4a3d7bf8-9db2-5642-8d75-112c3e875355","type":"Microsoft.Authorization/roleAssignments","name":"4a3d7bf8-9db2-5642-8d75-112c3e875355"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.891350173s
[...]
    - id: 17
      request:
        host: management.azure.com
        body: '{"kind":"functionapp","location":"northeurope","name":"asotest-appservice-rudsrc","properties":{"reserved":true},"sku":{"name":"FC1","tier":"FlexConsumption"}}'
        form:
            api-version:
                - "2026-07-15"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - b31e9ff6cd60ce4c15a385f888076f7686b62e222fe508f8695f514b29922a81
            Test-Request-Hash:
                - b31e9ff6cd60ce4c15a385f888076f7686b62e222fe508f8695f514b29922a81
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Web/serverfarms/asotest-appservice-rudsrc?api-version=2026-07-15
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Web/serverfarms/asotest-appservice-rudsrc","name":"asotest-appservice-rudsrc","type":"Microsoft.Web/serverfarms","kind":"functionapp","location":"northeurope","properties":{"serverFarmId":39834,"name":"asotest-appservice-rudsrc","sku":{"name":"FC1","tier":"FlexConsumption","size":"FC1","family":"FC","capacity":0},"workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":0,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":0,"status":"Ready","webSpace":"flex-8b91d26927e8fc71328a1febe27b744d9e0cce7673800440abff74af3c95efe8-webspace","subscription":"00000000-0000-0000-0000-000000000000","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Dynamic","siteMode":null,"geoRegion":"North Europe","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"functionapp","resourceGroup":"asotest-rg-ttaftb","reserved":true,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-db3-327_39834","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":3,"currentNumberOfZonesUtilized":0,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2026-09-15T00:23:05.9533333","asyncScalingEnabled":false,"isCustomMode":false,"powerState":"Running","eligibleLogCategories":"","activeBackupHomeServerFarmName":null,"allowEquivalentSku":false},"sku":{"name":"FC1","tier":"FlexConsumption","size":"FC1","family":"FC","capacity":0}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 3.933273598s
[...]
    - id: 19
      request:
        host: management.azure.com
        body: '{"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-xagzgv":{}}},"kind":"functionapp,linux","location":"northeurope","name":"asotest-function-ngbaah","properties":{"enabled":true,"functionAppConfig":{"deployment":{"storage":{"authentication":{"type":"UserAssignedIdentity","userAssignedIdentityResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-xagzgv"},"type":"blobContainer","value":"https://asotestflexstorsrzjuc.blob.core.windows.net/deploymentpackage"}},"runtime":{"name":"dotnet-isolated","version":"8.0"},"scaleAndConcurrency":{"instanceMemoryMB":2048,"maximumInstanceCount":100}},"httpsOnly":true,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Web/serverfarms/asotest-appservice-rudsrc","siteConfig":{"appSettings":[{"name":"AzureWebJobsStorage__accountName","value":"asotestflexstorsrzjuc"},{"name":"AzureWebJobsStorage__credential","value":"managedidentity"},{"name":"AzureWebJobsStorage__clientId","value":"ac6e699e-bab7-4fff-9f2b-c6c4c609239c"}]}}}'
        form:
            api-version:
                - "2026-07-15"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - b6db420c69c4c10b826a6a704a089286062c20fc9e83354169e6f0a21c4a750e
            Test-Request-Hash:
                - b6db420c69c4c10b826a6a704a089286062c20fc9e83354169e6f0a21c4a750e
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Web/sites/asotest-function-ngbaah?api-version=2026-07-15
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Web/sites/asotest-function-ngbaah","name":"asotest-function-ngbaah","type":"Microsoft.Web/sites","kind":"functionapp,linux","location":"northeurope","properties":{"name":"asotest-function-ngbaah","state":"Running","hostNames":["asotest-function-ngbaah.azurewebsites.net"],"webSpace":"flex-8b91d26927e8fc71328a1febe27b744d9e0cce7673800440abff74af3c95efe8-webspace","selfLink":"https://waws-prod-db3-327.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/flex-8b91d26927e8fc71328a1febe27b744d9e0cce7673800440abff74af3c95efe8-webspace/sites/asotest-function-ngbaah","repositorySiteName":"asotest-function-ngbaah","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":true,"afdEnabled":false,"enabledHostNames":["asotest-function-ngbaah.azurewebsites.net","asotest-function-ngbaah.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"asotest-function-ngbaah.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"asotest-function-ngbaah.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"hostNamePrivateStates":[],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.Web/serverfarms/asotest-appservice-rudsrc","reserved":true,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2026-09-15T00:23:38.4033333","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"outboundVnetRouting":{"allTraffic":false,"applicationTraffic":false,"contentShareTraffic":false,"imagePullTraffic":false,"backupRestoreTraffic":false,"managedIdentityTraffic":false},"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":0,"elasticWebAppScaleLimit":null,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":{"deployment":{"storage":{"type":"blobContainer","value":"https://asotestflexstorsrzjuc.blob.core.windows.net/deploymentpackage","authentication":{"type":"UserAssignedIdentity","userAssignedIdentityResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ttaftb/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-xagzgv","storageAccountConnectionStringName":null}}},"runtime":{"name":"dotnet-isolated","version":"8.0"},"scaleAndConcurrency":{"alwaysReady":null,"maximumInstanceCount":100,"instanceMemoryMB":2048,"triggers":null},"siteUpdateStrategy":{"type":"Recreate"}},"daprConfig":null,"aiIntegration":null,"deploymentId":"asotest-function-ngbaah","slotName":null,"trafficManagerHostNames":null,"sku":"FlexConsumption","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":false,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"jA4Forwarding":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","domainVerificationIdentifiers":null,"customDomainVerificationId":"EFF02641736216A6CF4A85BE2625D8D075D5E5C45BBE094AB95EC8CC9DC473BF","kind":"functionapp,linux","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.107.224.61,20.107.239.19","possibleInboundIpAddresses":"20.107.224.61,20.107.239.19","inboundIpv6Address":"2603:1020:5:5::4f","possibleInboundIpv6Addresses":"2603:1020:5:5::4f","ftpUsername":"asotest-function-ngbaah\\$asotest-function-ngbaah","ftpsHostName":"ftps://waws-prod-db3-327.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"52.155.92.81,52.155.92.122,52.155.92.184,52.155.92.202,52.155.92.231,52.155.93.133,52.158.127.195,52.155.88.57,52.155.88.75,52.155.88.81,52.155.88.149,52.155.88.173,20.107.224.61,20.107.239.19","possibleOutboundIpAddresses":"52.155.92.81,52.155.92.122,52.155.92.184,52.155.92.202,52.155.92.231,52.155.93.133,52.158.127.195,52.155.88.57,52.155.88.75,52.155.88.81,52.155.88.149,52.155.88.173,52.155.88.238,52.155.89.35,52.155.89.58,52.155.89.98,52.155.89.139,52.158.126.112,52.155.89.144,52.155.91.0,52.155.91.107,52.155.91.126,52.155.92.21,52.155.92.56,52.155.93.137,52.155.93.142,52.155.93.147,52.155.93.150,52.155.93.180,52.155.93.233,20.107.224.61,20.107.239.19","outboundIpv6Addresses":"2603:1020:2:3::7c,2603:1020:2:3::7d,2603:1020:2:3::7e,2603:1020:2:3::7f,2603:1020:2:3::c0,2603:1020:2:3::c1,2603:1020:2:3::36a,2603:1020:2:3::381,2603:1020:2:3::388,2603:1020:2:3::38b,2603:1020:2:3::391,2603:1020:2:3::3a4,2603:1020:5:5::4f,2603:10e1:100:2::146b:e03d,2603:1020:5:5::72,2603:10e1:100:2::146b:ef13","possibleOutboundIpv6Addresses":"2603:1020:2:3::7c,2603:1020:2:3::7d,2603:1020:2:3::7e,2603:1020:2:3::7f,2603:1020:2:3::c0,2603:1020:2:3::c1,2603:1020:2:3::36a,2603:1020:2:3::381,2603:1020:2:3::388,2603:1020:2:3::38b,2603:1020:2:3::391,2603:1020:2:3::3a4,2603:1020:2:3::3a7,2603:1020:2:3::401,2603:1020:2:3::3d8,2603:1020:2:3::3db,2603:1020:2:3::3dc,2603:1020:2:3::3df,2603:1020:2:3::40b,2603:1020:2:3::40d,2603:1020:2:3::70,2603:1020:2:3::73,2603:1020:2:3::75,2603:1020:2:3::79,2603:1020:2:3::c2,2603:1020:2:3::c3,2603:1020:2:3::c4,2603:1020:2:3::c5,2603:1020:2:3::c6,2603:1020:2:3::c7,2603:1020:5:5::4f,2603:10e1:100:2::146b:e03d,2603:1020:5:5::72,2603:10e1:100:2::146b:ef13","containerSize":1536,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-db3-327","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"asotest-rg-ttaftb","defaultHostName":"asotest-function-ngbaah.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":"Enabled","buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"FunctionAppLogs,AppServiceAuthenticationLogs,AppServiceAuditLogs,AppServiceIPSecAuditLogs","inFlightFeatures":null,"platformVersion":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null,"maintenanceEnabled":false},"identity":{"type":"UserAssigned","userAssignedIdentities":{"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-ttaftb/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-xagzgv":{"principalId":"b2e410aa-e56b-4149-8c85-9692b28d2aae","clientId":"ac6e699e-bab7-4fff-9f2b-c6c4c609239c"}}}}'
        headers:
            Content-Type:
                - application/json
            Etag:
[...]
