---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-pjjwqv","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:06:51 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pjjwqv?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pjjwqv","name":"asotest-rg-pjjwqv","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-mi-cfajyq"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:06:56 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pjjwqv/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-cfajyq?api-version=2018-11-30
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-pjjwqv/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-cfajyq","name":"asotest-mi-cfajyq","type":"Microsoft.ManagedIdentity/userAssignedIdentities","location":"westus2","tags":{},"properties":{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","principalId":"77ccda2c-e0fa-4388-a2e2-40af6a35cf5c","clientId":"24dfc012-0a98-458a-a51e-492ba5828220"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-pjjwqv/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-cfajyq
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"dc8d962f-8ce0-4276-9ed8-5b1ffe250a81","properties":{"principalId":"77ccda2c-e0fa-4388-a2e2-40af6a35cf5c","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:07:01 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pjjwqv/providers/Microsoft.Authorization/roleAssignments/dc8d962f-8ce0-4276-9ed8-5b1ffe250a81?api-version=2020-08-01-preview
    method: PUT
  response:
    body: '{"error":{"code":"PrincipalNotFound","message":"Principal 77ccda2ce0fa4388a2e240af6a35cf5c
      does not exist in the directory 72f988bf-86f1-41af-91ab-2d7cd011db47."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 400 Bad Request
    code: 400
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"dc8d962f-8ce0-4276-9ed8-5b1ffe250a81","properties":{"principalId":"77ccda2c-e0fa-4388-a2e2-40af6a35cf5c","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "9"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:07:12 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pjjwqv/providers/Microsoft.Authorization/roleAssignments/dc8d962f-8ce0-4276-9ed8-5b1ffe250a81?api-version=2020-08-01-preview
    method: PUT
  response:
    body: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/b24988ac-6180-42a0-ab88-20f7382dd24c","principalId":"77ccda2c-e0fa-4388-a2e2-40af6a35cf5c","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pjjwqv","condition":null,"conditionVersion":null,"createdOn":"2001-02-03T04:05:06Z","updatedOn":"2001-02-03T04:05:06Z","createdBy":null,"updatedBy":"84f47115-7605-44df-accf-7e01c55e425f","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pjjwqv/providers/Microsoft.Authorization/roleAssignments/dc8d962f-8ce0-4276-9ed8-5b1ffe250a81","type":"Microsoft.Authorization/roleAssignments","name":"dc8d962f-8ce0-4276-9ed8-5b1ffe250a81"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:07:21 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pjjwqv?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRQSkpXUVYtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "2"
      X-Ms-Date:
      - Wed, 20 Oct 2021 18:07:33 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pjjwqv/providers/Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-cfajyq?api-version=2018-11-30
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ManagedIdentity/userAssignedIdentities/asotest-mi-cfajyq''
      under resource group ''asotest-rg-pjjwqv'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
