---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-wcpcaq","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq","name":"asotest-rg-wcpcaq","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.484883151s
[...]
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-namespace-bwqtxw","properties":{"zoneRedundant":false},"sku":{"name":"Basic"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-bwqtxw?api-version=2021-11-01
        method: PUT
      response:
        body: '{"sku":{"name":"Basic","tier":"Basic"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-bwqtxw","name":"asotest-namespace-bwqtxw","type":"Microsoft.ServiceBus/Namespaces","location":"West US 2","tags":{},"properties":{"disableLocalAuth":false,"zoneRedundant":false,"provisioningState":"Updating","metricId":"00000000-0000-0000-0000-000000000000:asotest-namespace-bwqtxw","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","serviceBusEndpoint":"https://asotest-namespace-bwqtxw.servicebus.windows.net:443/","status":"Activating"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Server-Sb:
                - Service-Bus-Resource-Provider/SN1
        status: 200 OK
        code: 200
        duration: 10.678613227s
[...]
    - id: 5
      request:
        host: management.azure.com
        body: '{"name":"asotest-queue-qjwkld"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-bwqtxw/queues/asotest-queue-qjwkld?api-version=2021-11-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-bwqtxw/queues/asotest-queue-qjwkld","name":"asotest-queue-qjwkld","type":"Microsoft.ServiceBus/namespaces/queues","location":"westus2","properties":{"maxMessageSizeInKilobytes":256,"lockDuration":"PT1M","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"requiresSession":false,"defaultMessageTimeToLive":"P14D","deadLetteringOnMessageExpiration":false,"enableBatchedOperations":true,"duplicateDetectionHistoryTimeWindow":"PT10M","maxDeliveryCount":10,"sizeInBytes":0,"messageCount":0,"status":"Active","autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0},"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","accessedAt":"0001-01-01T00:00:00"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 1e43da29-d1c3-4b52-a18e-337e21628ef5
            X-Ms-Messaging-Routing-Id:
                - WESTUS2|WESTUS2|G14|2023-09-13T05:41:16
        status: 200 OK
        code: 200
        duration: 3.185178108s
[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-bwqtxw/AuthorizationRules/RootManageSharedAccessKey/listKeys?api-version=2021-11-01
        method: POST
      response:
        body: '{"primaryConnectionString":"Endpoint=sb://asotest-namespace-bwqtxw.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={KEY}","secondaryConnectionString":"Endpoint=sb://asotest-namespace-bwqtxw.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey={KEY}","primaryKey":"{KEY}","secondaryKey":"{KEY}","keyName":"RootManageSharedAccessKey"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - c910350d-9a43-4a64-8cdb-43311699c77a
            X-Ms-Messaging-Routing-Id:
                - WESTUS2|WESTUS2|G1|2023-09-13T05:41:41
        status: 200 OK
        code: 200
        duration: 1.678763697s
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-bwqtxw?api-version=2021-11-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-bwqtxw/operationresults/asotest-namespace-bwqtxw?api-version=2021-11-01
            Server-Sb:
                - Service-Bus-Resource-Provider/SN1
        status: 202 Accepted
        code: 202
        duration: 5.277934449s
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-bwqtxw/operationresults/asotest-namespace-bwqtxw?api-version=2021-11-01
        method: GET
      response:
        body: '{"sku":{"name":"Basic","tier":"Basic"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-bwqtxw","name":"asotest-namespace-bwqtxw","type":"Microsoft.ServiceBus/Namespaces","location":"West US 2","tags":{},"properties":{"disableLocalAuth":false,"zoneRedundant":false,"provisioningState":"Succeeded","metricId":"00000000-0000-0000-0000-000000000000:asotest-namespace-bwqtxw","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","serviceBusEndpoint":"https://asotest-namespace-bwqtxw.servicebus.windows.net:443/","status":"Removing"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-bwqtxw/operationresults/asotest-namespace-bwqtxw?api-version=2021-11-01
            Retry-After:
                - "56"
            Server-Sb:
                - Service-Bus-Resource-Provider/SN1
        status: 202 Accepted
        code: 202
        duration: 1.333563727s
[...]
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-wcpcaq/providers/Microsoft.ServiceBus/namespaces/asotest-namespace-bwqtxw?api-version=2021-11-01
        method: GET
      response:
        body: '{"error":{"message":"Namespace does not exist. CorrelationId: 2aad4efc-4f1b-44ee-a414-ee6153689c53","code":"NotFound"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Server-Sb:
                - Service-Bus-Resource-Provider/SN1
        status: 404 Not Found
        code: 404
        duration: 1.694579134s
[...]
    - id: 18
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRXQ1BDQVEtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=2023-09-13T05%3a42%3a42&c=MIIHHjCCBgagAwIBAgITOgHdEa6m-L-OzhMS4gAEAd0RrjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwE[...]
[...]
