---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-kxcndt","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 19:06:02 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kxcndt?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kxcndt","name":"asotest-rg-kxcndt","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"identity":{"type":"SystemAssigned"},"location":"westus2","name":"asotest-mc-dlzkpe","properties":{"agentPoolProfiles":[{"count":1,"mode":"System","name":"ap1","osType":"Linux","vmSize":"Standard_DS2_v2"}],"dnsPrefix":"aso","linuxProfile":{"adminUsername":"adminUser","ssh":{"publicKeys":[{"keyData":"ssh-rsa
      {KEY}\n"}]}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 19:06:07 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kxcndt/providers/Microsoft.ContainerService/managedClusters/asotest-mc-dlzkpe?api-version=2021-05-01
    method: PUT
  response:
    body: |-
      {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-kxcndt/providers/Microsoft.ContainerService/managedClusters/asotest-mc-dlzkpe",
        "location": "westus2",
        "name": "asotest-mc-dlzkpe",
        "type": "Microsoft.ContainerService/ManagedClusters",
        "properties": {
         "provisioningState": "Creating",
         "powerState": {
          "code": "Running"
         },
         "kubernetesVersion": "1.20.9",
         "dnsPrefix": "aso",
         "fqdn": "aso-861fa409.hcp.westus2.azmk8s.io",
         "azurePortalFQDN": "aso-861fa409.portal.hcp.westus2.azmk8s.io",
         "agentPoolProfiles": [
          {
           "name": "ap1",
           "count": 1,
           "vmSize": "Standard_DS2_v2",
           "osDiskSizeGB": 128,
           "osDiskType": "Managed",
           "kubeletDiskType": "OS",
           "maxPods": 110,
           "type": "VirtualMachineScaleSets",
           "provisioningState": "Creating",
           "powerState": {
            "code": "Running"
           },
           "orchestratorVersion": "1.20.9",
           "mode": "System",
           "osType": "Linux",
           "osSKU": "Ubuntu",
           "nodeImageVersion": "AKSUbuntu-1804gen2containerd-2021.10.02",
           "enableFIPS": false
          }
         ],
         "linuxProfile": {
          "adminUsername": "adminUser",
          "ssh": {
           "publicKeys": [
            {
             "keyData": "ssh-rsa {KEY}\n"
            }
           ]
          }
         },
         "servicePrincipalProfile": {
          "clientId": "msi"
         },
         "nodeResourceGroup": "MC_asotest-rg-kxcndt_asotest-mc-dlzkpe_westus2",
         "enableRBAC": true,
         "networkProfile": {
          "networkPlugin": "kubenet",
          "loadBalancerSku": "standard",
          "loadBalancerProfile": {
           "managedOutboundIPs": {
            "count": 1
           }
          },
          "podCidr": "10.244.0.0/16",
          "serviceCidr": "10.0.0.0/16",
          "dnsServiceIP": "10.0.0.10",
          "dockerBridgeCidr": "172.17.0.1/16",
          "outboundType": "loadBalancer"
         },
         "maxAgentPools": 100
        },
        "identity": {
         "type": "SystemAssigned",
         "principalId": "28259157-3aa4-4c82-a490-02a0abd776df",
         "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "sku": {
         "name": "Basic",
         "tier": "Free"
        }
       }
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/a09372cb-d7f5-4c1a-9340-25e41403f100?api-version=2016-03-30
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 19:06:11 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/a09372cb-d7f5-4c1a-9340-25e41403f100?api-version=2016-03-30
    method: GET
  response:
    body: |-
      {
        "name": "cb7293a0-f5d7-1a4c-9340-25e41403f100",
        "status": "InProgress",
        "startTime": "2001-02-03T04:05:06Z"
       }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "16"
      X-Ms-Date:
      - Wed, 20 Oct 2021 19:09:35 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/a09372cb-d7f5-4c1a-9340-25e41403f100?api-version=2016-03-30
    method: GET
  response:
    body: |-
      {
        "name": "cb7293a0-f5d7-1a4c-9340-25e41403f100",
        "status": "Succeeded",
        "startTime": "2001-02-03T04:05:06Z",
        "endTime": "2001-02-03T04:05:06Z"
       }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"ap2","properties":{"count":1,"mode":"System","osType":"Linux","vmSize":"Standard_DS2_v2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 19:12:07 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kxcndt/providers/Microsoft.ContainerService/managedClusters/asotest-mc-dlzkpe/agentPools/ap2?api[...]
[...]
- request:
    body: '{"name":"ap2","properties":{"count":1,"mode":"System","nodeLabels":{"mylabel":"label"},"osType":"Linux","vmSize":"Standard_DS2_v2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
      X-Ms-Date:
      - Wed, 20 Oct 2021 19:16:38 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kxcndt/providers/Microsoft.ContainerService/managedClusters/asotest-mc-dlzkpe/agentPools/ap2?api-version=2021-05-01
    method: PUT
  response:
    body: |-
      [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 19:17:23 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kxcndt/providers/Microsoft.ContainerService/managedClusters/asotest-mc-dlzkpe/agentPools/ap2?api-version=2021-05-01
    method: DELETE
  response:
    body: ""
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/fff07591-e20b-4662-9a0a-341d1def2b0d?api-version=2016-03-30
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operationresults/fff07591-e20b-4662-9a0a-341d1def2b0d?api-version=2016-03-30
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "16"
      X-Ms-Date:
      - Wed, 20 Oct 2021 19:19:52 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kxcndt/providers/Microsoft.ContainerService/managedClusters/asotest-mc-dlzkpe/agentPools/ap2?api-version=2021-05-01
    method: GET
  response:
    body: |-
      {
        "code": "NotFound",
        "message": "Could not find the agentpool: ap2 in subscription: 00000000-0000-0000-0000-000000000000, resourceGroup: asotest-rg-kxcndt, resourceName: asotest-mc-dlzkpe."
       }
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "20"
      X-Ms-Date:
      - Wed, 20 Oct 2021 19:26:25 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kxcndt/providers/Microsoft.ContainerService/managedClusters/asotest-mc-dlzkpe?api-version=2021-05-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/asotest-mc-dlzkpe''
      under resource group ''asotest-rg-kxcndt'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 19:26:28 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-kxcndt/providers/Microsoft.ContainerService/managedClusters/asotest-mc-dlzkpe?api-version=2021-05-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/asotest-mc-dlzkpe''
      under resource group ''asotest-rg-kxcndt'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
      X-Ms-Date:
      - Wed, 20 Oct 2021 19:26:28 GMT
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kxcndt?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRLWENORFQtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
