---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-opvdqm","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form:
            api-version:
                - "2020-06-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 6e80a037929bcf1bac9c15b767d7c115288e77b40fd587b7e837cceb08b275f4
            Test-Request-Hash:
                - 6e80a037929bcf1bac9c15b767d7c115288e77b40fd587b7e837cceb08b275f4
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm","name":"asotest-rg-opvdqm","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 343.698469ms
[...]
    - id: 2
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-11-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/virtualNetworks/asotest-vn-pqenak?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/asotest-vn-pqenak'' under resource group ''asotest-rg-opvdqm'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 62.170129ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vn-pqenak","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
        form:
            api-version:
                - "2020-11-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 1e4a092e2fe2cb8fbcca43dd23787e0881992dae5b7d4672c49c62f57f86f966
            Test-Request-Hash:
                - 1e4a092e2fe2cb8fbcca43dd23787e0881992dae5b7d4672c49c62f57f86f966
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/virtualNetworks/asotest-vn-pqenak?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"asotest-vn-pqenak","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/virtualNetworks/asotest-vn-pqenak","etag":"W/\"28c6a31c-ecc8-403d-9099-692fc07b7578\"","type":"Microsoft.Network/virtualNetworks","location":"westus2","properties":{"provisioningState":"Updating","resourceGuid":"37bbfb1f-4c02-4259-bf38-eda42ef39b11","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/c85e239a-b9e0-4a89-9b4e-5644d7c13051?api-version=2020-11-01&t=639109203632470526&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQ[...]
    - id: 4
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-11-01"
            c:
                - MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDLYIfsKK3BxfjRY95DQ7nTiHu[...]
    - id: 5
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-11-01"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/virtualNetworks/asotest-vn-pqenak?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"asotest-vn-pqenak","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/virtualNetworks/asotest-vn-pqenak","etag":"W/\"e0281ba6-199f-436e-b7f7-4ac7a3eb133e\"","type":"Microsoft.Network/virtualNetworks","location":"westus2","properties":{"provisioningState":"Succeeded","resourceGuid":"37bbfb1f-4c02-4259-bf38-eda42ef39b11","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"e0281ba6-199f-436e-b7f7-4ac7a3eb133e"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 55.489999ms
[...]
    - id: 7
      request:
        host: management.azure.com
        body: '{"name":"asotest-subnet-gmnbtj","properties":{"addressPrefix":"10.0.0.0/24"}}'
        form:
            api-version:
                - "2020-11-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 5556125278b9a2a41d3028defee74b06c6748ca44b6b1057add8c4bc0e583ea5
            Test-Request-Hash:
                - 5556125278b9a2a41d3028defee74b06c6748ca44b6b1057add8c4bc0e583ea5
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/virtualNetworks/asotest-vn-pqenak/subnets/asotest-subnet-gmnbtj?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"asotest-subnet-gmnbtj","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/virtualNetworks/asotest-vn-pqenak/subnets/asotest-subnet-gmnbtj","etag":"W/\"478425cf-d34b-4ddc-84d1-b09874bbda8d\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/9ed2e875-c111-4422-8d9f-3740a77e5851?api-version=2020-11-01&t=639109203700403835&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01F[...]
    - id: 8
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-nic-erwrqc","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/virtualNetworks/asotest-vn-pqenak/subnets/asotest-subnet-gmnbtj"}}}]}}'
        form:
            api-version:
                - "2020-11-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 33167730151947888d8c79abe176fd98fd6e1585444ffcc7dad2d88e3db914fc
            Test-Request-Hash:
                - 33167730151947888d8c79abe176fd98fd6e1585444ffcc7dad2d88e3db914fc
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/networkInterfaces/asotest-nic-erwrqc?api-version=2020-11-01
        method: PUT
      response:
        body: '{"error":{"code":"RetryableError","message":"A retryable error occurred.","details":[{"code":"ReferencedResourceNotProvisioned","message":"Cannot proceed with operation because resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/virtualNetworks/asotest-vn-pqenak/subnets/asotest-subnet-gmnbtj used by resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/networkInterfaces/asotest-nic-erwrqc is not in Succeeded state. Resource is in Updating state and the last operation that updated/is updating the resource is PutSubnetOperation."}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - service
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 429 Too Many Requests
        code: 429
        duration: 578.198565ms
    - id: 9
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-11-01"
            c:
                - MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDLYIfsKK3BxfjRY95DQ7nTiHu[...]
[...]
    - id: 13
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-11-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/networkInterfaces/asotest-nic-erwrqc?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"asotest-nic-erwrqc","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/networkInterfaces/asotest-nic-erwrqc","etag":"W/\"bd3e0a00-6996-4fb9-99ca-ab4542634699\"","properties":{"provisioningState":"Succeeded","resourceGuid":"02b8477a-5d6e-410d-863f-49ccc16f88a6","ipConfigurations":[{"name":"ipconfig1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/networkInterfaces/asotest-nic-erwrqc/ipConfigurations/ipconfig1","etag":"W/\"bd3e0a00-6996-4fb9-99ca-ab4542634699\"","type":"Microsoft.Network/networkInterfaces/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/virtualNetworks/asotest-vn-pqenak/subnets/asotest-subnet-gmnbtj"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"d531wnycjrmufpzy3wsc3221cb.xx.internal.cloudapp.net"},"enableAcceleratedNetworking":false,"vnetEncryptionSupported":false,"enableIPForwarding":false,"hostedWorkloads":[],"tapConfigurations":[],"nicType":"Standard"},"type":"Microsoft.Network/networkInterfaces","location":"westus2"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"bd3e0a00-6996-4fb9-99ca-ab4542634699"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 114.386605ms
    - id: 14
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-vm-rauqbw","properties":{"hardwareProfile":{"vmSize":"Standard_D1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/networkInterfaces/asotest-nic-erwrqc"}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"bloom","computerName":"poppy"},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"18.04-LTS","version":"latest"}}}}'
        form:
            api-version:
                - "2020-12-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 46dcf0d867e453d1d10d3ba3584f33b77747b3c8fb37518b2659de7bdf9c0aa0
            Test-Request-Hash:
                - 46dcf0d867e453d1d10d3ba3584f33b77747b3c8fb37518b2659de7bdf9c0aa0
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Compute/virtualMachines/asotest-vm-rauqbw?api-version=2020-12-01
        method: PUT
      response:
        body: "{\r\n  \"error\": {\r\n    \"details\": [],\r\n    \"code\": \"NotFound\",\r\n    \"message\": \"Resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/networkInterfaces/asotest-nic-erwrqc not found.\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Need-To-Refresh-Epl-Cache:
                - "False"
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/PutVMSubscriptionMaximum;1499,Microsoft.Compute/PutVMResource;11
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 404 Not Found
        code: 404
        duration: 2.594130896s
[...]
    - id: 16
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-12-01"
            c:
                - MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDLYIfsKK3BxfjRY95DQ7nTiH[...]
[...]
    - id: 19
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-12-01"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Compute/virtualMachines/asotest-vm-rauqbw?api-version=2020-12-01
        method: GET
      response:
        body: "{\r\n  \"name\": \"asotest-vm-rauqbw\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Compute/virtualMachines/asotest-vm-rauqbw\",\r\n  \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus2\",\r\n  \"tags\": {\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\": \"true\"\r\n  },\r\n  \"identity\": {\r\n    \"type\": \"SystemAssigned\",\r\n    \"principalId\": \"0f7a6667-03e0-4230-a1b6-45fd8a56c227\",\r\n    \"tenantId\": \"00000000-0000-0000-0000-000000000000\"\r\n  },\r\n  \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_D1_v2\"\r\n    },\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"vmId\": \"00e925e2-db09-4212-9d8a-24953ca1a812\",\r\n    \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"18.04-LTS\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\": \"18.04.202401161\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"name\": \"asotest-vm-rauqbw_OsDisk_1_d851fc5096df43caa2e73866407e5533\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\",\r\n          \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Compute/disks/asotest-vm-rauqbw_OsDisk_1_d851fc5096df43caa2e73866407e5533\"\r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"poppy\",\r\n      \"adminUsername\": \"bloom\",\r\n      \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\"\r\n        }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm/providers/Microsoft.Network/networkInterfaces/asotest-nic-erwrqc\"}]}\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Need-To-Refresh-Epl-Cache:
                - "False"
            X-Ms-Ratelimit-Remaining-Resource:
                - Microsoft.Compute/LowCostGetSubscriptionMaximum;23996,Microsoft.Compute/LowCostGetResource;32
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 61.015057ms
[...]
    - id: 28
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-06-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-opvdqm?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRPUFZEUU0tV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=639109204972861807&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25za[...]
    - id: 29
      request:
        host: management.azure.com
        form:
            api-version:
                - "2020-06-01"
            c:
                - MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDLYIfsKK3BxfjRY95DQ7nTiH[...]
[...]
