---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-igjikm","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm","name":"asotest-rg-igjikm","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"asotestnyrqah","sku":{"name":"Standard","tier":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah?api-version=2021-11-01
    method: PUT
  response:
    body: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah","name":"asotestnyrqah","type":"Microsoft.EventHub/Namespaces","location":"West
      Central US","tags":{},"properties":{"disableLocalAuth":false,"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:asotestnyrqah","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","serviceBusEndpoint":"https://asotestnyrqah.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Server-Sb:
      - Service-Bus-Resource-Provider/SN1
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "49"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestgoutks","properties":{"rights":["Listen","Send"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah/authorizationRules/asotestgoutks?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah/authorizationRules/asotestgoutks","name":"asotestgoutks","type":"Microsoft.EventHub/Namespaces/AuthorizationRules","location":"West
      Central US","properties":{"rights":["Listen","Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Server-Sb:
      - Service-Bus-Resource-Provider/SN1
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestzetyxz","properties":{"messageRetentionInDays":7,"partitionCount":1}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah/eventhubs/asotestzetyxz?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah/eventhubs/asotestzetyxz","name":"asotestzetyxz","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"westcentralus","properties":{"messageRetentionInDays":7,"partitionCount":1,"status":"Active","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","partitionIds":["0"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestjqnlbu","properties":{"rights":["Listen","Send"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah/eventhubs/asotestzetyxz/authorizationRules/asotestjqnlbu?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah/eventhubs/asotestzetyxz/authorizationRules/asotestjqnlbu","name":"asotestjqnlbu","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","properties":{"rights":["Listen","Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestmpkniz","properties":{"userMetadata":"Some interesting
      metadata"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah/eventhubs/asotestzetyxz/consumergroups/asotestmpkniz?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah/eventhubs/asotestzetyxz/consumergroups/asotestmpkniz","name":"asotestmpkniz","type":"Microsoft.EventHub/Namespaces/EventHubs/ConsumerGroups","location":"westcentralus","properties":{"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","userMetadata":"Some
      interesting metadata"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah?api-version=2021-11-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah/operationresults/asotestnyrqah?api-version=2021-11-01
      Server-Sb:
      - Service-Bus-Resource-Provider/SN1
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "7"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestnyrqah?api-version=2021-11-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.EventHub/namespaces/asotestnyrqah''
      under resource group ''asotest-rg-igjikm'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"location":"westcentralus","name":"asotestkfhzsk","sku":{"name":"Standard","tier":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestkfhzsk?api-version=2021-11-01
    method: PUT
  response:
    body: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestkfhzsk","name":"asotestkfhzsk","type":"Microsoft.EventHub/Namespaces","location":"West
      Central US","tags":{},"properties":{"disableLocalAuth":false,"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:asotestkfhzsk","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","serviceBusEndpoint":"https://asotestkfhzsk.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Server-Sb:
      - Service-Bus-Resource-Provider/SN1
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "48"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestmcplic","properties":{"rights":["Listen","Send"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestkfhzsk/authorizationRules/asotestmcplic?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestkfhzsk/authorizationRules/asotestmcplic","name":"asotestmcplic","type":"Microsoft.EventHub/Namespaces/AuthorizationRules","location":"West
      Central US","properties":{"rights":["Listen","Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Server-Sb:
      - Service-Bus-Resource-Provider/SN1
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestecwjpn","properties":{"messageRetentionInDays":7,"partitionCount":1}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestkfhzsk/eventhubs/asotestecwjpn?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestkfhzsk/eventhubs/asotestecwjpn","name":"asotestecwjpn","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"westcentralus","properties":{"messageRetentionInDays":7,"partitionCount":1,"status":"Active","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","partitionIds":["0"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestmwneyg","properties":{"rights":["Listen","Send"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestkfhzsk/eventhubs/asotestecwjpn/authorizationRules/asotestmwneyg?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestkfhzsk/eventhubs/asotestecwjpn/authorizationRules/asotestmwneyg","name":"asotestmwneyg","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","properties":{"rights":["Listen","Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestrflipn","properties":{"userMetadata":"Some interesting
      metadata"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestkfhzsk/eventhubs/asotestecwjpn/consumergroups/asotestrflipn?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm/providers/Microsoft.EventHub/namespaces/asotestkfhzsk/eventhubs/asotestecwjpn/consumergroups/asotestrflipn","name":"asotestrflipn","type":"Microsoft.EventHub/Namespaces/EventHubs/ConsumerGroups","location":"westcentralus","properties":{"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","userMetadata":"Some
      interesting metadata"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-igjikm?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRJR0pJS00tV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
