---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-svitpw","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw","name":"asotest-rg-svitpw","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-vn-ulhmdn","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-vn-ulhmdn\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn\",\r\n
      \ \"etag\": \"W/\\\"4690107c-acf5-408c-be16-46c5be289d82\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"7821d292-64aa-4114-97ba-2da47011ef41\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":
      [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/e728cc85-84db-423d-9830-fc10e2d0d8d8?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/e728cc85-84db-423d-9830-fc10e2d0d8d8?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotest-vn-ulhmdn\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn\",\r\n
      \ \"etag\": \"W/\\\"947c1f24-f8dd-48c8-8efe-daca0e9ee07d\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus2\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7821d292-64aa-4114-97ba-2da47011ef41\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":
      [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"947c1f24-f8dd-48c8-8efe-daca0e9ee07d"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-subnet-qrjulq","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn/subnets/asotest-subnet-qrjulq?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-subnet-qrjulq\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn/subnets/asotest-subnet-qrjulq\",\r\n
      \ \"etag\": \"W/\\\"6992c922-3191-453a-a440-c6d29a4fd201\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
      \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Enabled\",\r\n
      \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus2/operations/570c621d-81f0-45f0-b7fc-e5334c1bcb1a?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-nic-ehzbre","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn/subnets/asotest-subnet-qrjulq"}}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre?api-versio[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotest-nic-ehzbre\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre\",\r\n
      \ \"etag\": \"W/\\\"36f76148-e764-4176-9675-d112450eb762\\\"\",\r\n  \"location\":
      \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
      \   \"resourceGuid\": \"7282de2d-4bfe-468d-b8d7-2d13c058b00d\",\r\n    \"ipConfigurations\":
      [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre/ipConfigurations/ipconfig1\",\r\n
      \       \"etag\": \"W/\\\"36f76148-e764-4176-9675-d112450eb762\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\":
      \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\":
      {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn/subnets/asotest-subnet-qrjulq\"\r\n
      \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
      \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
      [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
      \"sljcc4fkmqkedf30fwshaeppib.bx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\":
      false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\":
      false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
      \   \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36f76148-e764-4176-9675-d112450eb762"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"location":"westus2","name":"asotest-vm-jwotai","properties":{"hardwareProfile":{"vmSize":"Standard_A1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre"}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"bloom","computerName":"poppy"},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"18.04-LTS","version":"latest"}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Compute/virtualMachines/asotest-vm-jwotai?api-version=2020-12-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-vm-jwotai\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Compute/virtualMachines/asotest-vm-jwotai\",\r\n
      \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus2\",\r\n
      \ \"tags\": {\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\":
      \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"f5073acc-a5d7-43b6-aa0d-5b3fe243a130\",\r\n
      \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n
      \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
      \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"18.04-LTS\",\r\n
      \       \"version\": \"latest\",\r\n        \"exactVersion\": \"18.04.202205270\"\r\n
      \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"createOption\":
      \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
      {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        },\r\n        \"diskSizeGB\":
      30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n
      \     \"computerName\": \"poppy\",\r\n      \"adminUsername\": \"bloom\",\r\n
      \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
      false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\":
      {\r\n          \"patchMode\": \"ImageDefault\"\r\n        }\r\n      },\r\n
      \     \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\":
      true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre\"}]},\r\n
      \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/c9a35ac4-a1a4-480b-b40f-fb9348abd6ee?p=2c322404-bacc-46e4-b75e-51c6102feac8&api-version=2020-12-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/c9a35ac4-a1a4-480b-b40f-fb9348abd6ee?p=2c322404-bacc-46e4-b75e-51c6102feac8&api-version=2020-12-01
    method: GET
  response:
    body: "{\r\n  \"startTime\": \"2022-06-09T00:09:50.9958007+00:00\",\r\n  \"status\":
      \"InProgress\",\r\n  \"name\": \"c9a35ac4-a1a4-480b-b40f-fb9348abd6ee\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "35"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetOperation3Min;14999,Microsoft.Compute/GetOperation30Min;29977
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "2"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/c9a35ac4-a1a4-480b-b40f-fb9348abd6ee?p=2c322404-bacc-46e4-b75e-51c6102feac8&api-version=2020-12-01
    method: GET
  response:
    body: "{\r\n  \"startTime\": \"2022-06-09T00:09:50.9958007+00:00\",\r\n  \"endTime\":
      \"2022-06-09T00:10:42.8867867+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"name\":
      \"c9a35ac4-a1a4-480b-b40f-fb9348abd6ee\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29975
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-vm-jwotai","properties":{"diagnosticsProfile":{"bootDiagnostics":{"enabled":true}},"hardwareProfile":{"vmSize":"Standard_A1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre"}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"bloom","computerName":"poppy"},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"18.04-LTS","version":"latest"}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Compute/virtualMachines/asotest-vm-jwotai?api-version=2020-12-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-vm-jwotai\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Compute/virtualMachines/asotest-vm-jwotai\",\r\n
      \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus2\",\r\n
      \ \"tags\": {\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\":
      \"true\",\r\n    \"azsecpack\": \"nonprod\"\r\n  },\r\n  \"properties\": {\r\n
      \   \"vmId\": \"f5073acc-a5d7-43b6-aa0d-5b3fe243a130\",\r\n    \"hardwareProfile\":
      {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n    \"storageProfile\":
      {\r\n      \"imageReference\": {\r\n        \"publisher\": \"Canonical\",\r\n
      \       \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"18.04-LTS\",\r\n
      \       \"version\": \"latest\",\r\n        \"exactVersion\": \"18.04.202205270\"\r\n
      \     },\r\n [...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/virtualNetworks/asotest-vn-ulhmdn/subnets/asotest-subnet-qrjulq?api-version=2020-11-01
    method: DELETE
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"InUseSubnetCannotBeDeleted\",\r\n
      \   \"message\": \"Subnet asotest-subnet-qrjulq is in use by /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Network/networkInterfaces/asotest-nic-ehzbre/ipConfigurations/ipconfig1
      and cannot be deleted. In order to delete the subnet, delete all the resources
      within the subnet. See aka.ms/deletesubnet.\",\r\n    \"details\": []\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Compute/virtualMachines/asotest-vm-jwotai?api-version=2020-12-01
    method: DELETE
  response:
    body: ""
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/6ad2ce1f-ad2a-4f78-a4b5-799566a80fc5?p=2c322404-bacc-46e4-b75e-51c6102feac8&api-version=2020-12-01
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/operations/6ad2ce1f-ad2a-4f78-a4b5-799566a80fc5?p=2c322404-bacc-46e4-b75e-51c6102feac8&monitor=true&api-version=2020-12-01
      Retry-After:
      - "10"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/DeleteVM3Min;239,Microsoft.Compute/DeleteVM30Min;1199
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "6"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-svitpw/providers/Microsoft.Compute/virtualMachines/asotest-vm-jwotai?api-version=2020-12-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Compute/virtualMachines/asotest-vm-jwotai''
      under resource group ''asotest-rg-svitpw'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
