---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-kfdsdw","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw","name":"asotest-rg-kfdsdw","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla?api-version=2023-02-02-preview
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/asotest-mc-sgohla''
      under resource group ''asotest-rg-kfdsdw'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"identity":{"type":"SystemAssigned"},"location":"westus3","name":"asotest-mc-sgohla","properties":{"agentPoolProfiles":[{"count":1,"mode":"System","name":"ap1","osType":"Linux","vmSize":"Standard_DS2_v2"}],"dnsPrefix":"aso","linuxProfile":{"adminUsername":"adminUser","ssh":{"publicKeys":[{"keyData":"ssh-rsa
      {KEY}\n"}]}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla?api-version=2023-02-02-preview
    method: PUT
  response:
    body: |-
      {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla",
        "location": "westus3",
        "name": "asotest-mc-sgohla",
        "type": "Microsoft.ContainerService/ManagedClusters",
        "properties": {
         "provisioningState": "Creating",
         "powerState": {
          "code": "Running"
         },
         "kubernetesVersion": "1.25.6",
         "currentKubernetesVersion": "1.25.6",
         "dnsPrefix": "aso",
         "fqdn": "aso-psvk1m0u.hcp.westus3.azmk8s.io",
         "azurePortalFQDN": "aso-psvk1m0u.portal.hcp.westus3.azmk8s.io",
         "agentPoolProfiles": [
          {
           "name": "ap1",
           "count": 1,
           "vmSize": "Standard_DS2_v2",
           "osDiskSizeGB": 128,
           "osDiskType": "Managed",
           "kubeletDiskType": "OS",
           "maxPods": 110,
           "type": "VirtualMachineScaleSets",
           "provisioningState": "Creating",
           "powerState": {
            "code": "Running"
           },
           "orchestratorVersion": "1.25.6",
           "currentOrchestratorVersion": "1.25.6",
           "mode": "System",
           "osType": "Linux",
           "osSKU": "Ubuntu",
           "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202306.19.0",
           "enableFIPS": false
          }
         ],
         "linuxProfile": {
          "adminUsername": "adminUser",
          "ssh": {
           "publicKeys": [
            {
             "keyData": "ssh-rsa {KEY}\n"
            }
           ]
          }
         },
         "servicePrincipalProfile": {
          "clientId": "msi"
         },
         "nodeResourceGroup": "MC_asotest-rg-kfdsdw_asotest-mc-sgohla_westus3",
         "enableRBAC": true,
         "networkProfile": {
          "networkPlugin": "kubenet",
          "loadBalancerSku": "standard",
          "loadBalancerProfile": {
           "managedOutboundIPs": {
            "count": 1
           },
           "backendPoolType": "nodeIPConfiguration"
          },
          "podCidr": "10.244.0.0/16",
          "serviceCidr": "10.0.0.0/16",
          "dnsServiceIP": "10.0.0.10",
          "dockerBridgeCidr": "172.17.0.1/16",
          "outboundType": "loadBalancer",
          "podCidrs": [
           "10.244.0.0/16"
          ],
          "serviceCidrs": [
           "10.0.0.0/16"
          ],
          "ipFamilies": [
           "IPv4"
          ]
         },
         "maxAgentPools": 100,
         "securityProfile": {},
         "storageProfile": {
          "diskCSIDriver": {
           "enabled": true,
           "version": "v1"
          },
          "fileCSIDriver": {
           "enabled": true
          },
          "snapshotController": {
           "enabled": true
          }
         },
         "oidcIssuerProfile": {
          "enabled": false
         },
         "workloadAutoScalerProfile": {}
        },
        "identity": {
         "type": "SystemAssigned",
         "principalId": "90f78416-33f6-4d52-b114-ad84846c76aa",
         "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "sku": {
         "name": "Base",
         "tier": "Free"
        }
       }
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/6496948f-038a-4319-830f-33f461817dd0?api-version=2016-03-30
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/6496948f-038a-4319-830f-33f461817dd0?api-version=2016-03-30
    method: GET
  response:
    body: |-
      {
        "name": "8f949664-8a03-1943-830f-33f461817dd0",
        "status": "InProgress",
        "startTime": "2001-02-03T04:05:06Z"
       }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "8"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/6496948f-038a-4319-830f-33f461817dd0?api-version=2016-03-30
    method: GET
  response:
    body: |-
      {
        "name": "8f949664-8a03-1943-830f-33f461817dd0",
        "status": "Succeeded",
        "startTime": "2001-02-03T04:05:06Z",
        "endTime": "2001-02-03T04:05:06Z"
       }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla?api-version=2023-02-02-preview
    method: DELETE
  response:
    body: ""
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/ef6d33aa-3256-4c5d-997a-57d36586783b?api-version=2016-03-30
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operationresults/ef6d33aa-3256-4c5d-997a-57d36586783b?api-version=2016-03-30
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla?api-version=2023-02-02-preview
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/asotest-mc-sgohla''
      under resource group ''asotest-rg-kfdsdw'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRLRkRTRFctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRLRkRTRFctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRLRkRTRFctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
