---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-ulmxnm","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ulmxnm?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ulmxnm","name":"asotest-rg-ulmxnm","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotestregistryyyjckl","properties":{"adminUserEnabled":false,"publicNetworkAccess":"Enabled","zoneRedundancy":"Disabled"},"sku":{"name":"Basic"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ulmxnm/providers/Microsoft.ContainerRegistry/registries/asotestregistryyyjckl?api-version=2021-09-01
    method: PUT
  response:
    body: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ulmxnm/providers/Microsoft.ContainerRegistry/registries/asotestregistryyyjckl","name":"asotestregistryyyjckl","location":"westus2","tags":{},"systemData":{"createdBy":"99de824c-b6d0-4769-af94-8819d4093b83","createdByType":"Application","createdAt":"2022-08-12T22:13:02.0566603+00:00","lastModifiedBy":"99de824c-b6d0-4769-af94-8819d4093b83","lastModifiedByType":"Application","lastModifiedAt":"2022-08-12T22:13:02.0566603+00:00"},"properties":{"loginServer":"asotestregistryyyjckl.azurecr.io","creationDate":"2001-02-03T04:05:06Z","provisioningState":"Succeeded","adminUserEnabled":false,"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2022-08-12T22:13:03.5200197+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"dataEndpointHostNames":[],"privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","zoneRedundancy":"Disabled"}}'
    headers:
      Api-Supported-Versions:
      - "2021-09-01"
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotestregistryyyjckl","properties":{"adminUserEnabled":false,"publicNetworkAccess":"Enabled","zoneRedundancy":"Disabled"},"sku":{"name":"Basic"},"tags":{"scratchcard":"lanyard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ulmxnm/providers/Microsoft.ContainerRegistry/registries/asotestregistryyyjckl?api-version=2021-09-01
    method: PUT
  response:
    body: '{"sku":{"name":"Basic","tier":"Basic"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ulmxnm?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRVTE1YTk0tV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRVTE1YTk0tV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
    status: 200 OK
    code: 200
    duration: ""
