---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-lwgnys","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - cda4e298c4e48532c637a0192e014996c4fb7af811b629d90892705df4e06feb
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys","name":"asotest-rg-lwgnys","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 4.551801083s
    - id: 1
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys","name":"asotest-rg-lwgnys","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 319.422667ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"aso-sample-env","properties":{"workloadProfiles":[{"maximumCount":2,"minimumCount":1,"name":"profile1","workloadProfileType":"D4"}]}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ba6059f9e684b5dd2ff3bfa766a081c4a685cbc241467e7ff93f62ba167e7ab
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/managedEnvironments/aso-sample-env?api-version=2024-03-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/managedEnvironments/aso-sample-env","name":"aso-sample-env","type":"Microsoft.App/managedEnvironments","location":"West US 2","systemData":{"createdBy":"harshdsingh@microsoft.com","createdByType":"User","createdAt":"2025-01-08T07:49:02.3454776","lastModifiedBy":"harshdsingh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-01-08T07:49:02.3454776"},"properties":{"provisioningState":"Waiting","daprAIInstrumentationKey":null,"daprAIConnectionString":null,"vnetConfiguration":null,"defaultDomain":"happyforest-2166123b.westus2.azurecontainerapps.io","staticIp":"52.156.145.2","appLogsConfiguration":{"destination":null,"logAnalyticsConfiguration":null},"zoneRedundant":false,"kedaConfiguration":{"version":"2.15.1"},"daprConfiguration":{"version":"1.12.5"},"eventStreamEndpoint":"https://westus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/managedEnvironments/aso-sample-env/eventstream","customDomainConfiguration":{"customDomainVerificationId":"EFF02641736216A6CF4A85BE2625D8D075D5E5C45BBE094AB95EC8CC9DC473BF","dnsSuffix":null,"certificateValue":null,"certificatePassword":null,"thumbprint":null,"subjectName":null,"expirationDate":null},"workloadProfiles":[{"workloadProfileType":"D4","name":"profile1","minimumCount":1,"maximumCount":2},{"workloadProfileType":"Consumption","name":"Consumption"}],"infrastructureResourceGroup":null,"peerAuthentication":{"mtls":{"enabled":false}},"peerTrafficConfiguration":{"encryption":{"enabled":false}}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/westus2/managedEnvironmentOperationStatuses/e899c191-60cd-4f0b-907b-457aeac9cff8?api-version=2024-03-01&azureAsyncOperation=true&t=638719193441423861&c=MIIHhzCCBm-gAwIBAgITfAWKQyvXag-zjrQDfwAABYpDKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI0MDE0MzE0WhcNMjUwMzIzMDE0MzE0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNp[...]
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"aso-sample-managedenv","properties":{"workloadProfiles":[{"maximumCount":2,"minimumCount":1,"name":"profile1","workloadProfileType":"D4"}]}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - c7d922fc0ccd7fce833f90b013d275b0afb90e1fb6afe4a8abf6207ca4bb0641
        url: https://management.azure.com/subscriptions/000[...]
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"aso-sample-app","properties":{"configuration":{"ingress":{"allowInsecure":false,"targetPort":80}},"environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/managedEnvironments/aso-sample-env","template":{"containers":[{"image":"nginx:latest","name":"nginx","volumeMounts":[{"mountPath":"/usr/share/nginx/html","volumeName":"shared"}]}],"initContainers":[{"args":["-c","echo Hello World"],"command":["/bin/sh"],"image":"debian:latest","name":"debian","volumeMounts":[{"mountPath":"/shared","volumeName":"shared"}]}],"volumes":[{"name":"shared","storageType":"EmptyDir"}]}}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 4b64ffdd4c9dedafbd224a0954bb2ae40bed6799de3f4af61025c75202f3bd13
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/containerApps/aso-sample-app?api-version=2024-03-01
        method: PUT
      response:
        body: '{"error":{"code":"ManagedEnvironmentNotProvisioned","message":"The environment ''/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/managedEnvironments/aso-sample-env'' has not been provisioned successfully."}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "699"
        status: 400 Bad Request
        code: 400
        duration: 4.520325291s
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"aso-sample-job","properties":{"configuration":{"manualTriggerConfig":{"parallelism":1,"replicaCompletionCount":1},"replicaRetryLimit":10,"replicaTimeout":10,"triggerType":"Manual"},"environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/managedEnvironments/aso-sample-env","template":{"containers":[{"image":"mcr.microsoft.com/k8se/quickstart-jobs:latest","name":"testcontainerappsjob"}]}}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 57b3d73ad9437c3cb921d3b0d33cdb69456ba6f30c35732c12e0204fbe1c2a3a
        url: http[...]
    - id: 6
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/westus2/managedEnvironmentOperationStatuses/e899c191-60cd-4f0b-907b-457aeac9cff8?api-version=2024-03-01&azureAsyncOperation=true&t=638719193441423861&c=MIIHhzCCBm-gAwIBAgITfAWKQyvXag-zjrQDfwAABYpDKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLG[...]
    - id: 7
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/westus2/managedEnvironmentOperationStatuses/938668fe-fe0c-4da9-8d3d-a532561cd07b?api-version=2024-03-01&azureAsyncOperation=true&t=638719193444443077&c=MIIHhzCCBm-gAwIBAgITfAWKQyvXag-zjrQDfwAABYpDKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLG[...]
[...]
    - id: 26
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/westus2/containerappOperationStatuses/c0614124-919d-45d0-b396-e027ad2a9b08?api-version=2024-03-01&azureAsyncOperation=true&t=638719196499428114&c=MIIHhzCCBm-gAwIBAgITfAWKQyvXag-zjrQDfwAABYpDKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
    - id: 27
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/westus2/containerappsjobOperationStatuses/28089b86-0c70-407f-9722-2355f51fccb8?api-version=2024-03-01&azureAsyncOperation=true&t=638719196555210601&c=MIIHhzCCBm-gAwIBAgITfAWKQyvXag-zjrQDfwAABYpDKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
    - id: 34
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/jobs/aso-sample-job?api-version=2024-03-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/jobs/aso-sample-job","name":"aso-sample-job","type":"Microsoft.App/jobs","location":"West US 2","systemData":{"createdBy":"harshdsingh@microsoft.com","createdByType":"User","createdAt":"2025-01-08T07:54:14.5054126","lastModifiedBy":"harshdsingh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-01-08T07:54:14.5054126"},"properties":{"provisioningState":"Succeeded","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/managedEnvironments/aso-sample-env","workloadProfileName":"Consumption","configuration":{"secrets":null,"triggerType":"Manual","replicaTimeout":10,"replicaRetryLimit":10,"manualTriggerConfig":{"replicaCompletionCount":1,"parallelism":1},"scheduleTriggerConfig":null,"eventTriggerConfig":null,"registries":null,"dapr":null},"template":{"containers":[{"image":"mcr.microsoft.com/k8se/quickstart-jobs:latest","name":"testcontainerappsjob","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":""}}],"initContainers":null,"volumes":null},"eventStreamEndpoint":"https://westus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/containerApps/aso-sample-job/eventstream"},"identity":{"type":"None"}}'
        headers:
            Api-Supported-Versions:
                - 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 911.675125ms
[...]
    - id: 39
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/containerApps/aso-sample-app?api-version=2024-03-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/containerapps/aso-sample-app","name":"aso-sample-app","type":"Microsoft.App/containerApps","location":"West US 2","systemData":{"createdBy":"harshdsingh@microsoft.com","createdByType":"User","createdAt":"2025-01-08T07:54:09.2553042","lastModifiedBy":"harshdsingh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2025-01-08T07:54:09.2553042"},"properties":{"provisioningState":"Succeeded","runningStatus":"Running","managedEnvironmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/managedEnvironments/aso-sample-env","environmentId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/managedEnvironments/aso-sample-env","workloadProfileName":"Consumption","outboundIpAddresses":["20.115.194.124","20.115.194.128","20.115.194.137","20.115.194.126","20.29.134.80","20.29.134.79","20.29.134.41","20.29.134.75","20.29.132.146","20.29.134.12","20.69.82.220","20.69.83.13","20.69.83.5","20.69.83.46","20.115.200.188","20.115.201.160","20.115.201.51","20.115.201.152","20.115.201.28","20.115.201.167","20.99.170.216","20.99.171.18","20.99.170.250","20.99.170.223","20.99.170.208","20.99.170.164","20.99.170.240","20.99.170.49","20.99.171.11","20.99.170.181","4.242.118.131","4.242.118.106","4.242.117.231","4.242.116.225","4.242.119.215","4.242.117.24","4.242.119.156","4.242.119.166","4.242.119.228","4.242.116.236","4.242.119.154","4.242.119.227","4.242.119.160","4.242.119.232","4.242.119.185","4.242.119.193","4.242.119.163","4.242.119.234","4.242.119.230","4.242.119.144","20.3.32.209","20.3.32.145","4.246.2.62","4.246.1.175","4.246.2.107","4.246.2.36","4.246.2.116","4.246.2.84","4.246.1.167","4.246.2.56","4.246.1.215","4.246.1.207","20.3.32.202","52.183.117.50","52.175.252.145","52.175.253.104","52.183.112.167","52.175.253.95","52.183.118.4","52.183.118.72","52.183.119.158","52.183.117.201","20.36.3.170","20.3.32.170","52.183.116.61","52.175.252.245","52.183.113.79","52.183.117.198","52.175.249.101","52.183.116.121","52.175.252.238","52.183.118.188","52.175.253.196","52.151.37.186","20.3.32.226","20.3.32.217","20.3.32.210","20.3.32.116","20.3.32.129","20.3.32.235","52.250.90.30"],"latestRevisionName":"aso-sample-app--c6tqfq6","latestReadyRevisionName":"aso-sample-app--c6tqfq6","latestRevisionFqdn":"aso-sample-app--c6tqfq6.internal.happyforest-2166123b.westus2.azurecontainerapps.io","customDomainVerificationId":"EFF02641736216A6CF4A85BE2625D8D075D5E5C45BBE094AB95EC8CC9DC473BF","configuration":{"secrets":null,"activeRevisionsMode":"Single","ingress":{"fqdn":"aso-sample-app.internal.happyforest-2166123b.westus2.azurecontainerapps.io","external":false,"targetPort":80,"exposedPort":0,"transport":"Auto","traffic":[{"weight":100,"latestRevision":true}],"customDomains":null,"allowInsecure":false,"ipSecurityRestrictions":null,"corsPolicy":null,"clientCertificateMode":null,"stickySessions":null,"additionalPortMappings":null},"registries":null,"dapr":null,"maxInactiveRevisions":100,"service":null},"template":{"revisionSuffix":"","terminationGracePeriodSeconds":null,"containers":[{"image":"nginx:latest","name":"nginx","resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"},"volumeMounts":[{"volumeName":"shared","mountPath":"/usr/share/nginx/html"}]}],"initContainers":[{"image":"debian:latest","name":"debian","command":["/bin/sh"],"args":["-c","echo Hello World"],"resources":{"cpu":0.5,"memory":"1Gi","ephemeralStorage":"2Gi"},"volumeMounts":[{"volumeName":"shared","mountPath":"/shared"}]}],"scale":{"minReplicas":null,"maxReplicas":10,"rules":null},"volumes":[{"name":"shared","storageType":"EmptyDir"}],"serviceBinds":null},"eventStreamEndpoint":"https://westus2.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/containerApps/aso-sample-app/eventstream","delegatedIdentities":[]},"identity":{"type":"None"}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 1.062113833s
[...]
    - id: 41
      request:
        host: management.azure.com
        body: '{"name":"current","properties":{"httpSettings":{"requireHttps":true}}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 4e5136ae09790cc249f6f2d7562c94985d5b0205bcbf6a47ad13aa79dfd82739
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/containerApps/aso-sample-app/authConfigs/current?api-version=2024-03-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/containerApps/aso-sample-app/authConfigs/current","name":"current","type":"Microsoft.App/containerapps/authconfigs","properties":{"httpSettings":{"requireHttps":true}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.5637495s
    - id: 42
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/containerApps/aso-sample-app/authConfigs/current?api-version=2024-03-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/containerApps/aso-sample-app/authConfigs/current","name":"current","type":"Microsoft.App/containerapps/authconfigs","properties":{"httpSettings":{"requireHttps":true},"encryptionSettings":{}}}'
        headers:
            Api-Supported-Versions:
                - 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview, 2023-04-01-preview, 2023-05-01, 2023-05-02-preview, 2023-08-01-preview, 2023-11-02-preview, 2024-02-02-preview, 2024-03-01, 2024-08-02-preview, 2024-10-02-preview
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 1.01438s
    - id: 43
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRMV0dOWVMtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638719197758990857&c=MIIHhzCCBm-gAwIBAgITfAWKQyvXag-zjrQDfwAABYpDKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwOTI0MDE0MzE0WhcNMjUwMzIzMDE0MzE0WjBAMT4wPAYDVQQDE[...]
    - id: 44
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRMV0dOWVMtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638719197758990857&c=MIIHhzCCBm-gAwIBAgITfAWKQyvXag-zjrQDfwAABYpDKzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
    - id: 47
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-lwgnys/providers/Microsoft.App/managedEnvironments/aso-sample-managedenv?api-version=2024-03-01
        method: DELETE
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-lwgnys'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 600.89525ms
[...]
