---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-frvpzw","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw","name":"asotest-rg-frvpzw","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"sampleredis2-alpha","properties":{"enableNonSslPort":false,"minimumTlsVersion":"1.2","redisConfiguration":{"maxmemory-delta":"10","maxmemory-policy":"allkeys-lru"},"redisVersion":"6","sku":{"capacity":1,"family":"P","name":"Premium"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis2-alpha?api-version=2020-12-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/Redis/sampleredis2-alpha","location":"West
      Central US","name":"sampleredis2-alpha","type":"Microsoft.Cache/Redis","tags":{},"properties":{"provisioningState":"Creating","redisVersion":"6.0.14","sku":{"name":"Premium","family":"P","capacity":1},"enableNonSslPort":false,"instances":[{"sslPort":15000,"isMaster":false,"isPrimary":false},{"sslPort":15001,"isMaster":false,"isPrimary":false}],"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","redisConfiguration":{"maxmemory-policy":"allkeys-lru","maxmemory-reserved":"642","maxclients":"7500","maxfragmentationmemory-reserved":"642","maxmemory-delta":"642"},"accessKeys":{"primaryKey":"{KEY}","secondaryKey":"{KEY}"},"hostName":"sampleredis2-alpha.redis.cache.windows.net","port":6379,"sslPort":6380,"linkedServers":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis2-alpha?api-version=2020-12-01
      X-Rp-Server-Mvid:
      - 7cfe4317-516a-42f7-bdb3-6d37f50164be
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"sampleredis2-beta","properties":{"enableNonSslPort":false,"minimumTlsVersion":"1.2","redisConfiguration":{"maxmemory-delta":"10","maxmemory-policy":"allkeys-lru"},"redisVersion":"6","sku":{"capacity":1,"family":"P","name":"Premium"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resour[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis2-beta/listKeys?api-version=2021-06-01
    method: POST
  response:
    body: '{"primaryKey":"{KEY}","secondaryKey":"{KEY}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 7cfe4317-516a-42f7-bdb3-6d37f50164be
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"location":"westcentralus","name":"sampleredis1","properties":{"enableNonSslPort":false,"minimumTlsVersion":"1.2","redisConfiguration":{"maxmemory-delta":"10","maxmemory-policy":"allkeys-lru"},"redisVersion":"6","sku":{"capacity":1,"family":"P","name":"Premium"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGro[...]
[...]
- request:
    body: '{"name":"sampleredisfw","properties":{"endIP":"1.2.3.4","startIP":"1.2.3.4"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis1/firewallRules/sampleredisfw?api-version=2020-12-01
    method: PUT
  response:
    body: '{"properties":{"startIP":"1.2.3.4","endIP":"1.2.3.4"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis1/firewallRules/sampleredisfw","name":"sampleredis1/sampleredisfw","type":"Microsoft.Cache/redis/firewallRules"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis1/firewallRules/sampleredisfw?api-version=2020-12-01
      X-Rp-Server-Mvid:
      - 7cfe4317-516a-42f7-bdb3-6d37f50164be
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"sampleredis2-alpha","properties":{"linkedRedisCacheId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis2-alpha","linkedRedisCacheLocation":"westcentralus","serverRole":"Secondary"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis1/linkedServers/sampleredis2-alpha?api-version=2020-12-01
    method: PUT
  response:
    body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/Redis/sampleredis1/linkedServers/sampleredis2-alpha\",\r\n
      \ \"name\": \"sampleredis2-alpha\",\r\n  \"type\": \"Microsoft.Cache/Redis/linkedServers\",\r\n
      \ \"properties\": {\r\n    \"linkedRedisCacheId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/Redis/sampleredis2-alpha\",\r\n
      \   \"linkedRedisCacheLocation\": \"West Central US\",\r\n    \"serverRole\":
      \"Secondary\",\r\n    \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 7cfe4317-516a-42f7-bdb3-6d37f50164be
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"default","properties":{"scheduleEntries":[{"dayOfWeek":"Monday","maintenanceWindow":"PT6H","startHourUtc":6}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis1/patchSchedules/default?api-version=2020-12-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/Redis/sampleredis1/patchSchedules/default","location":"West
      Central US","name":"sampleredis1/default","type":"Microsoft.Cache/Redis/PatchSchedules","properties":{"scheduleEntries":[{"dayOfWeek":"Monday","startHourUtc":6,"maintenanceWindow":"PT6H"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 7cfe4317-516a-42f7-bdb3-6d37f50164be
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis1/patchSchedules/default?api-version=2020-12-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"There are no patch schedules
      found for redis cache ''sampleredis1''.\r\nRequestID=0b86d51c-753b-475c-a967-343251783162","target":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 7cfe4317-516a-42f7-bdb3-6d37f50164be
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "21"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis1?api-version=2020-12-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Cache/Redis/sampleredis1''
      under resource group ''asotest-rg-frvpzw'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"location":"westcentralus","name":"sampleredisenterprise","properties":{"minimumTlsVersion":"1.2"},"sku":{"capacity":2,"name":"Enterprise_E10"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redisEnterprise/sampleredisenterprise?api-version=2021-03-01
    method: PUT
  response:
    body: "{\r\n  \"location\": \"West Central US\",\r\n  \"name\": \"sampleredisenterprise\",\r\n
      \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redisEnterprise/sampleredisenterprise\",\r\n
      \ \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": null,\r\n  \"sku\":
      {\r\n    \"name\": \"Enterprise_E10\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\":
      {\r\n    \"minimumTlsVersion\": \"1.2\",\r\n    \"hostName\": \"sampleredisenterprise.westcentralus.redisenterprise.cache.azure.net\",\r\n
      \   \"provisioningState\": \"Creating\",\r\n    \"resourceState\": \"Creating\"\r\n
      \ }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20Central%20US/operationsStatus/74b332ea-db63-41bb-8d66-69241faffecd?api-version=2021-03-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redisEnterprise/sampleredisenterprise?api-version=2021-03-01
      X-Rp-Server-Mvid:
      - 3c4b3109-ad77-4889-b34d-1f67ad9799c6
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20Central%20US/operationsStatus/74b332ea-db63-41bb-8d66-69241faffecd?api-version=2021-03-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
      Central US/operationsStatus/74b332ea-db63-41bb-8d66-69241faffecd","name":"74b332ea-db63-41bb-8d66-69241faffecd","status":"InProgress","startTime":"2022-06-22T16:29:05.1911901+00:00","endTime":"2022-06-22T16:29:09.0698987+00:00"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 3c4b3109-ad77-4889-b34d-1f67ad9799c6
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redisEnterprise/sampleredisenterprise?api-version=2021-03-01
    method: GET
  response:
    body: "{\r\n  \"location\": \"West Central US\",\r\n  \"name\": \"sampleredisenterprise\",\r\n
      \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redisEnterprise/sampleredisenterprise\",\r\n
      \ \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": {},\r\n  \"sku\":
      {\r\n    \"name\": \"Enterprise_E10\",\r\n    \"capacity\": 2\r\n  },\r\n  \"properties\":
      {\r\n    \"minimumTlsVersion\": \"1.2\",\r\n    \"hostName\": \"sampleredisenterprise.westcentralus.redisenterprise.cache.azure.net\",\r\n
      \   \"provisioningState\": \"Succeeded\",\r\n    \"resourceState\": \"Running\",\r\n
      \   \"privateEndpointConnections\": []\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 3c4b3109-ad77-4889-b34d-1f67ad9799c6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"default","properties":{"clientProtocol":"Encrypted","clusteringPolicy":"EnterpriseCluster","evictionPolicy":"AllKeysLRU","modules":[{"args":"ERROR_RATE
      0.1 INITIAL_SIZE 400","name":"RedisBloom"}],"persistence":{"aofEnabled":true,"aofFrequency":"always","rdbEnabled":false},"port":10000}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redisEnterprise/sampleredisenterprise/databases/default?api-version=2021-03-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"default\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redisEnterprise/sampleredisenterprise/databases/default\",\r\n
      \ \"type\": \"Microsoft.Cache/redisEnterprise/databases\",\r\n  \"properties\":
      {\r\n    \"clientProtocol\": \"Encrypted\",\r\n    \"port\": 10000,\r\n    \"provisioningState\":
      \"Creating\",\r\n    \"resourceState\": \"Creating\",\r\n    \"clusteringPolicy\":
      \"EnterpriseCluster\",\r\n    \"evictionPolicy\": \"AllKeysLRU\",\r\n    \"modules\":
      [\r\n      {\r\n        \"name\": \"RedisBloom\",\r\n        \"args\": \"ERROR_RATE
      0.1 INITIAL_SIZE 400\",\r\n        \"version\": \"2.2.4\"\r\n      }\r\n    ],\r\n
      \   \"persistence\": {\r\n      \"aofEnabled\": true,\r\n      \"rdbEnabled\":
      false,\r\n      \"aofFrequency\": \"always\",\r\n      \"rdbFrequency\": null\r\n
      \   }\r\n  }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20Central%20US/operationsStatus/d651c796-0ce2-48d0-a218-fe103ce394eb?api-version=2021-03-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redisEnterprise/sampleredisenterprise/databases/default?api-version=2021-03-01
      X-Rp-Server-Mvid:
      - 3c4b3109-ad77-4889-b34d-1f67ad9799c6
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redisEnterprise/sampleredisenterprise/databases/default?api-version=2021-03-01
    method: DELETE
  response:
    body: "{\r\n  \"StatusCode\": 202\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20Central%20US/operationsStatus/bfcb3995-1f26-4c62-b096-cad5565e6a43?api-version=2021-03-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redisEnterprise/sampleredisenterprise/databases/default/operationresults/bfcb3995-1f26-4c62-b096-cad5565e6a43?api-version=2021-03-01
      X-Rp-Server-Mvid:
      - 3c4b3109-ad77-4889-b34d-1f67ad9799c6
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis1/listKeys?api-version=2021-06-01
    method: POST
  response:
    body: '{"primaryKey":"{KEY}","secondaryKey":"{KEY}"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 7cfe4317-516a-42f7-bdb3-6d37f50164be
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"sampleredis2-beta","properties":{"linkedRedisCacheId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw/providers/Microsoft.Cache/redis/sampleredis2-beta","linkedRedisCacheLocation":"westcentralus","serverRole":"Secondary"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-000[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frvpzw?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRGUlZQWlctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
