---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-zrzgxm","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm","name":"asotest-rg-zrzgxm","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"asotestbedybe","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":500},"sku":{"name":"Standard_LRS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/disks/asotestbedybe?api-version=2020-09-30
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotestbedybe\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/disks/asotestbedybe\",\r\n
      \ \"location\": \"westcentralus\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n
      \ },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\":
      \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 500,\r\n    \"provisioningState\":
      \"Updating\",\r\n    \"isArmResource\": true\r\n  }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/756fe614-7d69-49cf-9ae2-737d419e3f0b?p=aa3c9f6f-c947-4d08-8f01-8a0785de1458&api-version=2020-09-30
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/756fe614-7d69-49cf-9ae2-737d419e3f0b?p=aa3c9f6f-c947-4d08-8f01-8a0785de1458&monitor=true&api-version=2020-09-30
      Retry-After:
      - "2"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"location":"westcentralus","name":"asotestvnwafg","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":64}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/snapshots/asotestvnwafg?api-version=2020-09-30
    method: PUT
  response:
    body: "{\r\n  [...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/756fe614-7d69-49cf-9ae2-737d419e3f0b?p=aa3c9f6f-c947-4d08-8f01-8a0785de1458&api-version=2020-09-30
    method: GET
  response:
    body: "{\r\n  \"startTime\": \"2022-07-22T02:46:09.6549201+00:00\",\r\n  \"endTime\":
      \"2022-07-22T02:46:09.7486289+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\":
      {\r\n    \"output\": {\"name\":\"asotestbedybe\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/disks/asotestbedybe\",\"type\":\"Microsoft.Compute/disks\",\"location\":\"westcentralus\",\"sku\":{\"name\":\"Standard_LRS\",\"tier\":\"Standard\"},\"properties\":{\"creationData\":{\"createOption\":\"Empty\"},\"diskSizeGB\":500,\"diskIOPSReadWrite\":500,\"diskMBpsReadWrite\":60,\"encryption\":{\"type\":\"EncryptionAtRestWithPlatformKey\"},\"networkAccessPolicy\":\"AllowAll\",\"timeCreated\":\"2022-07-22T02:46:09.6705313+00:00\",\"provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\",\"diskSizeBytes\":536870912000,\"uniqueId\":\"053816e1-87cb-47a1-92cd-a989cba56e51\"}}\r\n
      \ },\r\n  \"name\": \"756fe614-7d69-49cf-9ae2-737d419e3f0b\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetOperation3Min;49997,Microsoft.Compute/GetOperation30Min;399997
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/173910c9-e50e-477c-9206-e938dcfb9b9d?p=aa3c9f6f-c947-4d08-8f01-8a0785de1458&api-version=2020-09-30
    method: GET
  response:
    body: "{\r\n  \"startTime\": \"2022-07-22T02:46:09.7018195+00:00\",\r\n  \"endTime\":
      \"2022-07-22T02:46:09.9674066+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\":
      {\r\n    \"output\": {\r\n  \"name\": \"asotestvnwafg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/snapshots/asotestvnwafg\",\r\n
      \ \"type\": \"Microsoft.Compute/snapshots\",\r\n  \"location\": \"westcentralus\",\r\n
      \ \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n
      \ },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\":
      \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 64,\r\n    \"encryption\": {\r\n
      \     \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"incremental\":
      false,\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"timeCreated\":
      \"2022-07-22T02:46:09.7174036+00:00\",\r\n    \"provisioningState\": \"Succeeded\",\r\n
      \   \"diskState\": \"Unattached\",\r\n    \"diskSizeBytes\": 68719476736,\r\n
      \   \"uniqueId\": \"081aec5d-f5b6-4f7b-bae1-65926d66e496\"\r\n  }\r\n}\r\n  },\r\n
      \ \"name\": \"173910c9-e50e-477c-9206-e938dcfb9b9d\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetOperation3Min;49998,Microsoft.Compute/GetOperation30Min;399998
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "5"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm?api-version=2020-06-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-zrzgxm''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
