---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-vdecpn","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn","name":"asotest-rg-vdecpn","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus3","name":"samplepublicipvmss","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplepublicipvmss\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss\",\r\n
      \ \"etag\": \"W/\\\"0554cbb3-9170-47d5-a308-779f98189478\\\"\",\r\n  \"location\":
      \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
      \   \"resourceGuid\": \"e9f2c377-5a8e-46bd-a919-55e85a51a5c7\",\r\n    \"publicIPAddressVersion\":
      \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
      4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
      \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
      \ }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/1058f97c-5c9b-4b1d-9ef2-a322ce7303e7?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "1"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"location":"westus3","name":"samplevnetvmss1","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[{"name":"samplesubnetvmss1","properties":{"addressPrefix":"10.0.0.0/24"}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnetvmss1?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplevnetvmss1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asote[...]
- request:
    body: '{"location":"westus3","name":"sampleloadbalancervmss","properties":{"frontendIPConfigurations":[{"name":"LoadBalancerFrontend","properties":{"publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss"}}}],"inboundNatPools":[{"name":"samplenatpoolvmss","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss/frontendIPConfigurations/LoadBalancerFrontend"},"frontendPortRangeEnd":51000,"frontendPortRangeStart":50000,"protocol":"Tcp"}}]},"sku":{"name":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"RetryableError\",\r\n    \"message\":
      \"A retryable error occurred.\",\r\n    \"details\": [\r\n      {\r\n        \"code\":
      \"ReferencedResourceNotProvisioned\",\r\n        \"message\": \"Cannot proceed
      with operation because resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss
      used by resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss
      is not in Succeeded state. Resource is in Updating state and the last operation
      that updated/is updating the resource is PutPublicIpAddressOperation.\"\r\n
      \     }\r\n    ]\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 429 Too Many Requests
    code: 429
    duration: ""
- request:
    body: '{"location":"westus3","name":"samplevnet","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[{"name":"samplesubnet","properties":{"addressPrefix":"10.0.0.0/24"}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnet[...]
- request:
    body: '{"location":"westus3","name":"samplepublicipvmss1","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss1?api-version=2020-11-01
    method: PUT
  response[...]
- request:
    body: '{"location":"westus3","name":"samplevnet1","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[{"name":"samplesubnet1","properties":{"addressPrefix":"10.0.0.0/24"}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevn[...]
- request:
    body: '{"location":"westus3","name":"samplevnetvmss","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[{"name":"samplesubnetvmss","properties":{"addressPrefix":"10.0.0.0/24"}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/sa[...]
- request:
    body: '{"location":"westus3","name":"sampleloadbalancervmss1","properties":{"frontendIPConfigurations":[{"name":"LoadBalancerFrontend","properties":{"publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss1"}}}],"inboundNatPools":[{"name":"samplenatpoolvmss1","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-0000[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/1058f97c-5c9b-4b1d-9ef2-a322ce7303e7?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss1?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"sampleloadbalancervmss1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss1\",\r\n
      \ \"etag\": \"W/\\\"2067d080-29f7-4c00-95a5-8b870021b26b\\\"\",\r\n  \"type\":
      \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus3\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"9675f6a0-d6d8-46e9-a38f-520d5f2ec653\",\r\n
      \   \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"LoadBalancerFrontend\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss1/frontendIPConfigurations/LoadBalancerFrontend\",\r\n
      \       \"etag\": \"W/\\\"2067d080-29f7-4c00-95a5-8b870021b26b\\\"\",\r\n        \"type\":
      \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\":
      \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss1\"\r\n
      \         },\r\n          \"inboundNatPools\": [\r\n            {\r\n              \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss1/inboundNatPools/samplenatpoolvmss1\"\r\n
      \           }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\":
      [],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\":
      [],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": [\r\n      {\r\n
      \       \"name\": \"samplenatpoolvmss1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss1/inboundNatPools/samplenatpoolvmss1\",\r\n
      \       \"etag\": \"W/\\\"2067d080-29f7-4c00-95a5-8b870021b26b\\\"\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendPortRangeStart\":
      50000,\r\n          \"frontendPortRangeEnd\": 51000,\r\n          \"backendPort\":
      22,\r\n          \"protocol\": \"Tcp\",\r\n          \"idleTimeoutInMinutes\":
      4,\r\n          \"enableFloatingIP\": false,\r\n          \"enableDestinationServiceEndpoint\":
      false,\r\n          \"enableTcpReset\": false,\r\n          \"allowBackendPortConflict\":
      false,\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss1/frontendIPConfigurations/LoadBalancerFrontend\"\r\n
      \         }\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/inboundNatPools\"\r\n
      \     }\r\n    ]\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n
      \   \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2067d080-29f7-4c00-95a5-8b870021b26b"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"samplepublicipvmss\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss\",\r\n
      \ \"etag\": \"W/\\\"da792e4e-1cc2-4762-b003-6452e857dd34\\\"\",\r\n  \"location\":
      \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
      \   \"resourceGuid\": \"e9f2c377-5a8e-46bd-a919-55e85a51a5c7\",\r\n    \"ipAddress\":
      \"20.150.136.130\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
      \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n
      \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\":
      \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"da792e4e-1cc2-4762-b003-6452e857dd34"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss1?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"samplepublicipvmss1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss1\",\r\n
      \ \"etag\": \"W/\\\"d06844c4-13c5-4c21-811d-4dc373ff2dfa\\\"\",\r\n  \"location\":
      \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
      \   \"resourceGuid\": \"6a9a6413-bb1c-4655-9690-b1bee54abe07\",\r\n    \"ipAddress\":
      \"20.25.184.116\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
      \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\":
      {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss1/frontendIPConfigurations/LoadBalancerFrontend\"\r\n
      \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\":
      {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d06844c4-13c5-4c21-811d-4dc373ff2dfa"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnetvmss1?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"samplevnetvmss1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnetvmss1\",\r\n
      \ \"etag\": \"W/\\\"949e1eb8-c860-4679-8d50-06ffaa4c0233\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus3\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"7ffcfa3a-bbf5-4f84-97f5-5848dee13c6f\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"samplesubnetvmss1\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnetvmss1/subnets/samplesubnetvmss1\",\r\n
      \       \"etag\": \"W/\\\"949e1eb8-c860-4679-8d50-06ffaa4c0233\\\"\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\":
      \"10.0.0.0/24\",\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\":
      \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n
      \       },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
      \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
      false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"949e1eb8-c860-4679-8d50-06ffaa4c0233"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"samplesubnet1","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnet1/subnets/samplesubnet1?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplesubnet1\"[...]
- request:
    body: '{"name":"samplesubnet","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnet/subnets/samplesubnet?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplesubnet\",\r\[...]
[...]
- request:
    body: '{"name":"samplesubnetvmss1","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnetvmss1/subnets/samplesubnetvmss1?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"sam[...]
[...]
- request:
    body: '{"location":"westus3","name":"samplenic1","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnet1/subnets/samplesubnet1"}}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/networkInterfaces/samplenic1?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplenic1\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/networkInterfaces/samplenic1\",\r\n
      \ \"etag\": \"W/\\\"e8dc22cd-8bc9-4265-8563-5a84a9e3da1f\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4a990dfd-99bd-46f4-9833-b21a02a02024\",\r\n
      \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/networkInterfaces/samplenic1/ipConfigurations/ipconfig1\",\r\n
      \       \"etag\": \"W/\\\"e8dc22cd-8bc9-4265-8563-5a84a9e3da1f\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\":
      \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\":
      {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnet1/subnets/samplesubnet1\"\r\n
      \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
      \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
      [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
      \"pp1pvtvft4zunacck1ncmeidgd.phxx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\":
      false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\":
      false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
      \   \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n
      \ \"location\": \"westus3\"\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/19fc2d3c-2a93-4002-b963-7835ff983404?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"location":"westus3","name":"samplenicvmss1","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnetvmss1/subnets/samplesubnetvmss1"}}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://man[...]
[...]
- request:
    body: '{"name":"samplesubnetvmss","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnetvmss/subnets/samplesubnetvmss?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"sample[...]
[...]
- request:
    body: '{"location":"westus3","name":"samplenic","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnet/subnets/samplesubnet"}}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.c[...]
[...]
- request:
    body: '{"location":"westus3","name":"samplenicvmss","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/virtualNetworks/samplevnetvmss/subnets/samplesubnetvmss"}}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://manage[...]
[...]
- request:
    body: '{"location":"westus3","name":"sampledisk","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":500},"sku":{"name":"Standard_LRS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Compute/disks/sampledisk?api-version=2020-09-30
    method: PUT
  response:
    body: "{\r\n  \"name\": \"sampledisk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Compute/disks/sampledisk\",\r\n
      \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"westus3\",\r\n
      \ \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n  },\r\n  \"properties\":
      {\r\n    \"creationData\": {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n
      \   \"diskSizeGB\": 500,\r\n    \"provisioningState\": \"Updating\"\r\n  }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus3/DiskOperations/106c5cf4-3750-4374-99a8-99ec826a5e15?p=85f172eb-bf4f-4a7d-a9d5-4623a78e85c2&api-version=2020-09-30
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus3/DiskOperations/106c5cf4-3750-4374-99a8-99ec826a5e15?p=85f172eb-bf4f-4a7d-a9d5-4623a78e85c2&monitor=true&api-version=2020-09-30
      Retry-After:
      - "2"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;2999,Microsoft.Compute/CreateUpdateDisks30Min;24999
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"location":"westus2","name":"aso-sample-snapshot","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":32}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Compute/snapshots/aso-sample-snapshot?api-version=2020-09-30
    method: PUT
  response:
    body: "{[...]
- request:
    body: '{"location":"westus2","name":"aso-sample-image-20220301","properties":{"hyperVGeneration":"V2","storageProfile":{"osDisk":{"diskSizeGB":32,"osState":"Generalized","osType":"Linux","snapshot":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Compute/snapshots/aso-sample-snapshot"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Compute/images/aso-sample-image-20220301?api-version=2022-03-01
    method: PUT
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\":
      \"The entity was not found in this Azure location.\",\r\n    \"target\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Compute/snapshots/aso-sample-snapshot\"\r\n
      \ }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/CreateImages3Min;39,Microsoft.Compute/CreateImages30Min;199
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"location":"westus3","name":"samplevm","properties":{"hardwareProfile":{"vmSize":"Standard_A1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Network/networkInterfaces/samplenic"}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"adminUser","computerName":"poppy"},"storageProfile":{"imageReference":{"offer":"0001-com-ubuntu-server-jammy","publisher":"Canonical","sku":"22_04-lts","version":"latest"}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Compute/virtualMachines/samplevm?api-version=2020-12-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplevm\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-vdecpn/providers/Microsoft.Compute/virtualMachines/samplevm\",\r\n
      \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus3\",\r\n
      \ \"properties\": {\r\n    \"vmId\": \"41c06220-5756-418d-9954-891d943ad492\",\r\n
      \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n
      \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
      \"Canonical\",\r\n        \"offer\": \"0001-com-ubuntu-server-jammy\",\r\n        \"sku\":
      \"22_04-lts\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
      \"22.04.202306160\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
      \"Linux\",\r\n        \"createOption\": \"FromImage\",\r\n        \"caching\":
      \"ReadWrite\",\r\n        \"managedDisk\": {\r\n          \"storageAccountType\":
      \"Standard_LRS\"\r\n        },\r\n        \"diskSizeGB\": 30\r\n      },\r\n
      \     \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\":
      \"poppy\",\r\n      \"adminUsername\": \"adminUser\",\r\n      \"linuxConfiguration\":
      {\r\n        \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\":
[...]
