---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-ichwpb","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 68b320e15dacb8a36d97c141b4a37ba8c915769ac005f238d7c6566ef7875630
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb","name":"asotest-rg-ichwpb","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.429332462s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb","name":"asotest-rg-ichwpb","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 306.94083ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/networkSecurityGroups/samplensg?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/networkSecurityGroups/samplensg'' under resource group ''asotest-rg-ichwpb'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 347.04313ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"gatewaypublicip","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 0d972e63da03812d70e69625e893e8970dd8dc947ce326da607920062707361a
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/gatewaypublicip?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"gatewaypublicip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/gatewaypublicip","etag":"W/\"f4ac37a9-dcd7-42fe-a084-33dfed71e510\"","location":"westcentralus","properties":{"provisioningState":"Updating","resourceGuid":"e60db7a6-84b9-4c37-b395-698e0adbc5e8","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[]},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/9b86b1c6-f654-4bad-b369-381cf1e9aa15?api-version=2020-11-01&t=638991898139918330&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6[...]
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/samplevnet2'' under resource group ''asotest-rg-ichwpb'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 663.724832ms
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/routeTables/sampleroutetable?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/routeTables/sampleroutetable'' under resource group ''asotest-rg-ichwpb'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 674.189777ms
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/samplevnet'' under resource group ''asotest-rg-ichwpb'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 679.500341ms
    - id: 7
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"samplepublicip","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - b4736819c9e19a0bd5f8e5a017b0a0fa3d1c14e6ecf913eeff612dc707cb18ed
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/loadBalancers/sampleloadbalancer'' under resource group ''asotest-rg-ichwpb'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 313.811457ms
    - id: 9
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"samplevnet2","properties":{"addressSpace":{"addressPrefixes":["172.16.0.0/16"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 4027f06250564090acf6af0801ce6e3c14235253f2783fce30636fa701567e55
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"samplevnet2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2","etag":"W/\"03c8fcb2-ac4f-406d-91d3-95f8c961a600\"","type":"Microsoft.Network/virtualNetworks","location":"westcentralus","properties":{"provisioningState":"Updating","resourceGuid":"a4f18183-807c-437f-97f3-3c6037911414","addressSpace":{"addressPrefixes":["172.16.0.0/16"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/faac7c9c-9bf1-4916-8ba9-5c3ecab118fc?api-version=2020-11-01&t=638991898154230630&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDV[...]
    - id: 10
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"sampleroutetable","properties":{"disableBgpRoutePropagation":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 48ce3200c3dc504dc73fefe6009ecd051955bd8b30ef43808785761fac2022fd
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/routeTables/sampleroutetable?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"sampleroutetable","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/routeTables/sampleroutetable","etag":"W/\"3d20a016-79dc-45ad-9a77-4226ad10fcf8\"","type":"Microsoft.Network/routeTables","location":"westcentralus","properties":{"provisioningState":"Updating","resourceGuid":"97d8b97c-7047-4909-972e-f0a9ac5e2939","disableBgpRoutePropagation":true,"routes":[]}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/1c0995ac-641c-4aa4-98f2-cb272a3ae53f?api-version=2020-11-01&t=638991898155232285&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQD[...]
[...]
    - id: 12
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"sampleloadbalancer","properties":{"frontendIPConfigurations":[{"name":"LoadBalancerFrontend","properties":{"publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/samplepublicip"}}}],"inboundNatPools":[{"name":"samplenatpool","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/frontendIPConfigurations/LoadBalancerFrontend"},"frontendPortRangeEnd":51000,"frontendPortRangeStart":50000,"protocol":"Tcp"}}]},"sku":{"name":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 478a3618727f3f9fb47717dce6b2ecb17519a5e07e011e20a406656672c45f08
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"sampleloadbalancer","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer","etag":"W/\"1814721c-b4b3-4f14-8ef6-1b19d5b46ebf\"","type":"Microsoft.Network/loadBalancers","location":"westcentralus","properties":{"provisioningState":"Succeeded","resourceGuid":"ccda72b4-6b4a-433c-aff5-3238458396ee","frontendIPConfigurations":[{"name":"LoadBalancerFrontend","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/frontendIPConfigurations/LoadBalancerFrontend","etag":"W/\"1814721c-b4b3-4f14-8ef6-1b19d5b46ebf\"","type":"Microsoft.Network/loadBalancers/frontendIPConfigurations","properties":{"provisioningState":"Succeeded","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/samplepublicip"},"inboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/inboundNatPools/samplenatpool"}]}}],"backendAddressPools":[],"loadBalancingRules":[],"probes":[],"inboundNatRules":[],"outboundRules":[],"inboundNatPools":[{"name":"samplenatpool","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/inboundNatPools/samplenatpool","etag":"W/\"1814721c-b4b3-4f14-8ef6-1b19d5b46ebf\"","properties":{"provisioningState":"Succeeded","frontendPortRangeStart":50000,"frontendPortRangeEnd":51000,"backendPort":22,"protocol":"Tcp","idleTimeoutInMinutes":4,"enableFloatingIP":false,"enableDestinationServiceEndpoint":false,"enableTcpReset":false,"allowBackendPortConflict":false,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/frontendIPConfigurations/LoadBalancerFrontend"}},"type":"Microsoft.Network/loadBalancers/inboundNatPools"}]},"sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com[...]
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/9b86b1c6-f654-4bad-b369-381cf1e9aa15?api-version=2020-11-01&t=638991898139918330&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/gatewaypublicip?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"gatewaypublicip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/gatewaypublicip","etag":"W/\"a4a25f87-21e5-4afd-9a82-739527b39a0e\"","location":"westcentralus","properties":{"provisioningState":"Succeeded","resourceGuid":"e60db7a6-84b9-4c37-b395-698e0adbc5e8","ipAddress":"52.161.38.171","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[]},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"a4a25f87-21e5-4afd-9a82-739527b39a0e"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
        status: 200 OK
        code: 200
        duration: 393.477055ms
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/faac7c9c-9bf1-4916-8ba9-5c3ecab118fc?api-version=2020-11-01&t=638991898154230630&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
    - id: 17
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"samplensg"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 0fb9b521dd01a566c256706db77fa37a5b709f1d499648be0b12ab03e34f831c
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/networkSecurityGroups/samplensg?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"samplensg","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/networkSecurityGroups/samplensg","etag":"W/\"9a9b00d0-b79e-40c1-89da-7b155d255685\"","type":"Microsoft.Network/networkSecurityGroups","location":"westcentralus","properties":{"provisioningState":"Updating","resourceGuid":"8ade203a-494f-4350-8961-ad24fc809613","securityRules":[],"defaultSecurityRules":[{"name":"AllowVnetInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/networkSecurityGroups/samplensg/defaultSecurityRules/AllowVnetInBound","etag":"W/\"9a9b00d0-b79e-40c1-89da-7b155d255685\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow inbound traffic from all VMs in VNET","protocol":"*","sourcePortRange":"*","destinationPortRange":"*","sourceAddressPrefix":"VirtualNetwork","destinationAddressPrefix":"VirtualNetwork","access":"Allow","priority":65000,"direction":"Inbound","sourcePortRanges":[],"destinationPortRanges":[],"sourceAddressPrefixes":[],"destinationAddressPrefixes":[]}},{"name":"AllowAzureLoadBalancerInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/networkSecurityGroups/samplensg/defaultSecurityRules/AllowAzureLoadBalancerInBound","etag":"W/\"9a9b00d0-b79e-40c1-89da-7b155d255685\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow inbound traffic from azure load balancer","protocol":"*","source[...]
    - id: 18
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/6a86a854-22f1-437f-ad99-834a60f04713?api-version=2020-11-01&t=638991898146322174&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
    - id: 19
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/1c0995ac-641c-4aa4-98f2-cb272a3ae53f?api-version=2020-11-01&t=638991898155232285&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/4684adf7-8f7f-4826-85d4-bfa0b776e2ef?api-version=2020-11-01&t=638991898155384958&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
[...]
    - id: 23
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/samplepublicip?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"samplepublicip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/samplepublicip","etag":"W/\"c9d0d00a-74c5-4192-b444-f1f72d528036\"","location":"westcentralus","properties":{"provisioningState":"Succeeded","resourceGuid":"e04f1c06-a308-469f-a5d3-574073d08503","ipAddress":"57.151.139.136","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[],"ipConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/frontendIPConfigurations/LoadBalancerFrontend"}},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"c9d0d00a-74c5-4192-b444-f1f72d528036"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
        status: 200 OK
        code: 200
        duration: 363.271519ms
[...]
    - id: 28
      request:
        host: management.azure.com
        body: '{"name":"sampleinboundnatrule","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/frontendIPConfigurations/LoadBalancerFrontend"},"frontendPort":23}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 00179128dd6737bde6ddc4ec198abc5cf26c99fb243a862170fa57ea9a46e85c
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/inboundNatRules/sampleinboundnatrule?api-version=2020-11-01
        method: PUT
      response:
  [...]
[...]
    - id: 32
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/4f837749-d201-4be3-8f0a-49841b96486f?api-version=2020-11-01&t=638991898188265369&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRY[...]
[...]
    - id: 35
      request:
        host: management.azure.com
        body: '{"name":"samplepeering","properties":{"remoteVirtualNetwork":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 622476f4b374f2d7aa3abda096a36d7ef7cfa8f690d750d43130794862b2d77f
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet/virtualNetworkPeerings/samplepeering?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"samplepeering","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet/virtualNetworkPeerings/samplepeering","etag":"W/\"057244cb-1ac4-4720-b2f6-e9d73d5e90af\"","properties":{"provisioningState":"Updating","resourceGuid":"9ced89a6-5709-072b-3582-ce8fbccbf374","peeringState":"Initiated","remoteVirtualNetwork":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2"},"allowVirtualNetworkAccess":true,"allowForwardedTraffic":false,"allowGatewayTransit":false,"useRemoteGateways":false,"doNotVerifyRemoteGateways":false,"remoteAddressSpace":{"addressPrefixes":["172.16.0.0/16"]},"routeServiceVips":{}},"type":"Microsoft.Network/virtualNetworks/virtualNetworkPeerings"}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/58a011c5-13be-4b95-89b7-5005d6b9d47c?api-version=2020-11-01&t=638991898308164070&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMR[...]
    - id: 36
      request:
        host: management.azure.com
        body: '{"name":"samplesubnet","properties":{"addressPrefix":"10.0.0.0/24"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 996cf3ef24b30841f257d4e7edb1d77a6e8e58942baec2ee4e5192c48fa308c9
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet/subnets/samplesubnet?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"samplesubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet/subnets/samplesubnet","etag":"W/\"74213b03-3206-4fc3-970b-df168dec01dd\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/4fa7c1a6-78eb-4aa9-ac92-fbc870e27f02?api-version=2020-11-01&t=638991898309428463&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZ[...]
    - id: 37
      request:
        host: management.azure.com
        body: '{"name":"samplerule","properties":{"access":"Allow","description":"Allow access to source port 23-45 and destination port 45-56","destinationAddressPrefix":"*","destinationPortRange":"46-56","direction":"Inbound","priority":123,"protocol":"Tcp","sourceAddressPrefix":"*","sourcePortRange":"23-45"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Ha[...]
    - id: 38
      request:
        host: management.azure.com
        body: '{"name":"gatewaysubnet","properties":{"addressPrefix":"172.16.0.0/16"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - ca1636f147baf2813734bbc3fc1e630be0ee8eca6a9bf41d8f6867eb115a2e8d
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Micr[...]
    - id: 39
      request:
        host: management.azure.com
        body: '{"name":"sampleroute","properties":{"addressPrefix":"cab:cab::/96","nextHopIpAddress":"ace:cab:deca:f00d::1","nextHopType":"VirtualAppliance"}}'
        form: {}
        headers:
            Content-Type:
[...]
