---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-nwawus","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 6d638eb7038b4379e20f2d3404ac5f5450ffdb493891418963a1601f64772f60
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus","name":"asotest-rg-nwawus","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 392.17717ms
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus","name":"asotest-rg-nwawus","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 41.233428ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.ContainerService/managedClusters/sample-managedcluster-20240402preview?api-version=2024-04-02-preview
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/sample-managedcluster-20240402preview'' under resource group ''asotest-rg-nwawus'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 41.288378ms
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus3/deletedVaults/aso-cs-vault-20240402?api-version=2024-11-01
        method: GET
      response:
        body: '{"error":{"code":"DeletedVaultNotFound","message":"The specified deleted vault ''aso-cs-vault-20240402'' does not exist. Ensure that the vault was indeed deleted and that it is in recoverable state. If soft delete was not enabled then the vault is permanently deleted. Follow this link for more information: https://go.microsoft.com/fwlink/?linkid=2149745"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 404 Not Found
        code: 404
        duration: 182.253938ms
[...]
    - id: 5
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"westus3","name":"sampleworkspaces","properties":{"allowPublicAccessWhenBehindVnet":false,"keyVault":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.KeyVault/vaults/aso-cs-vault-20240402","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct"},"sku":{"name":"Standard_S1","tier":"Basic"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 47f05b61a187fd346a5758064c7fbe317b959e2bacb3f1468e2727502eb2ad01
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.MachineLearningServices/workspaces/sampleworkspaces?api-version=2021-07-01
        method: PUT
      response:
        body: ""
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/4yr-bCwN2180dM1AuMP05RBSk0rZoKng7ZasoJyThQ0?api-version=2021-07-01&type=async&t=639050597140876360&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvb[...]
    - id: 6
      request:
        host: management.azure.com
        body: '{"kind":"BlobStorage","location":"westus3","name":"asoworkspacestorageacct","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7ae994437493905f9dbe9897d9bc1f01cf1af7ce1f9ef4a97147b32c1ff87bc5
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct?api-version=2021-04-01
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus3/asyncoperations/b5fecf52-2d6f-460a-a99d-b889bad082b7?monitor=true&api-version=2021-04-01&t=639050597144699791&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25[...]
    - id: 7
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/4yr-bCwN2180dM1AuMP05RBSk0rZoKng7ZasoJyThQ0?api-version=2021-07-01&type=async&t=639050597140876360&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANB[...]
    - id: 8
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"aso-cs-vault-20240402","properties":{"accessPolicies":[{"applicationId":"1C793267-c310-d4ae-7BD5-5Af5BEF875D3","objectId":"1C793267-c310-d4ae-7BD5-5Af5BEF875D3","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]},"tenantId":"00000000-0000-0000-0000-000000000000"}],"createMode":"default","sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 862b50a3599d572779b737d1abe32a33288cc34d8351eb9209408d88b3feaba5
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.KeyVault/vaults/aso-cs-vault-20240402?api-version=2023-07-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.KeyVault/vaults/aso-cs-vault-20240402","name":"aso-cs-vault-20240402","type":"Microsoft.KeyVault/vaults","location":"westus3","tags":{},"systemData":{"createdBy":"matthchr@microsoft.com","createdByType":"User","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"matthchr@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2001-02-03T04:05:06Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"1C793267-c310-d4ae-7BD5-5Af5BEF875D3","applicationId":"1c793267-c310-d4ae-7bd5-5af5bef875d3","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"softDeleteRetentionInDays":90,"enableRbacAuthorization":false,"vaultUri":"https://aso-cs-vault-20240402.vault.azure.net","provisioningState":"RegisteringDns","publicNetworkAccess":"Enabled"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 4.216336347s
    - id: 9
      request:
        host: management.azure.com
        body: '{"identity":{"delegatedResources":null,"type":"SystemAssigned"},"location":"westus3","name":"sample-managedcluster-20240402preview","properties":{"addonProfiles":null,"agentPoolProfiles":[{"availabilityZones":null,"count":1,"mode":"System","name":"pool1","nodeInitializationTaints":null,"nodeLabels":{},"nodeTaints":[],"osType":"Linux","tags":{},"virtualMachineNodesStatus":null,"vmSize":"Standard_DS2_v2"}],"dnsPrefix":"aso","identityProfile":null,"privateLinkResources":null},"tags":{}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 21d31bcd0915b28248703adcdd08d19497c135a5f432e84c20b703e008264fab
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.ContainerService/managedClusters/sample-managedcluster-20240402preview?api-version=2024-04-02-preview
        method: PUT
      response:
        body: |-
            {
             "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-nwawus/providers/Microsoft.ContainerService/managedClusters/sample-managedcluster-20240402preview",
             "location": "westus3",
             "name": "sample-managedcluster-20240402preview",
             "type": "Microsoft.ContainerService/ManagedClusters",
             "kind": "Base",
             "properties": {
              "provisioningState": "Creating",
              "powerState": {
               "code": "Running"
              },
              "kubernetesVersion": "1.33",
              "currentKubernetesVersion": "1.33.5",
              "dnsPrefix": "aso",
              "fqdn": "aso-th6utdrv.hcp.westus3.azmk8s.io",
              "azurePortalFQDN": "aso-th6utdrv.portal.hcp.westus3.azmk8s.io",
              "agentPoolProfiles": [
               {
                "name": "pool1",
                "count": 1,
                "vmSize": "Standard_DS2_v2",
                "osDiskSizeGB": 128,
                "osDiskType": "Managed",
                "kubeletDiskType": "OS",
                "maxPods": 250,
                "type": "VirtualMachineScaleSets",
                "scaleDownMode": "Delete",
                "provisioningState": "Creating",
                "powerState": {
                 "code": "Running"
                },
                "orchestratorVersion": "1.33",
                "currentOrchestratorVersion": "1.33.5",
                "enableNodePublicIP": false,
                "tags": {},
                "nodeLabels": {},
                "mode": "System",
                "osType": "Linux",
                "osSKU": "Ubuntu",
                "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202601.07.0",
                "upgradeSettings": {
                 "maxSurge": "10%"
                },
                "enableFIPS": false,
                "securityProfile": {
                 "sshAccess": "LocalUser",
                 "enableVTPM": false,
                 "enableSecureBoot": false
                }
               }
              ],
              "servicePrincipalProfile": {
               "clientId": "msi"
              },
              "nodeResourceGroup": "MC_asotest-rg-nwawus_sample-managedcluster-20240402preview_westus3",
              "enableRBAC": true,
              "supportPlan": "KubernetesOfficial",
              "networkProfile": {
               "networkPlugin": "azure",
               "networkPluginMode": "overlay",
               "networkPolicy": "none",
               "networkDataplane": "azure",
               "loadBalancerSku": "standard",
               "loadBalancerProfile": {
                "managedOutboundIPs": {
                 "count": 1
                },
                "backendPoolType": "nodeIPConfiguration"
               },
               "podCidr": "10.244.0.0/16",
               "serviceCidr": "10.0.0.0/16",
               "dnsServiceIP": "10.0.0.10",
               "outboundType": "loadBalancer",
               "podCidrs": [
                "10.244.0.0/16"
               ],
               "serviceCidrs": [
                "10.0.0.0/16"
               ],
               "ipFamilies": [
                "IPv4"
               ],
               "podLinkLocalAccess": "IMDS"
              },
              "maxAgentPools": 100,
              "autoUpgradeProfile": {
               "nodeOSUpgradeChannel": "NodeImage"
              },
              "securityProfile": {},
              "storageProfile": {
               "diskCSIDriver": {
                "enabled": true,
                "version": "v1"
               },
               "fileCSIDriver": {
                "enabled": true
               },
               "snapshotController": {
                "enabled": true
               }
              },
              "oidcIssuerProfile": {
               "enabled": false
              },
              "workloadAutoScalerProfile": {},
              "metricsProfile": {
               "costAnalysis": {
                "enabled": false
               }
              },
              "resourceUID": "6977dc855b1d0c000199ebf7",
              "controlPlanePluginProfiles": {
               "azure-monitor-metrics-ccp": {
                "enableV2": true
               },
               "gpu-provisioner": {
                "enableV2": true
               },
               "karpenter": {
                "enableV2": true
               },
               "kubelet-serving-csr-approver": {
                "enableV2": true
               },
               "live-patching-controller": {
                "enableV2": true
               },
               "static-egress-controller": {
                "enableV2": true
               }
              },
              "nodeProvisioningProfile": {
               "mode": "Manual"
              },
              "bootstrapProfile": {
               "artifactSource": "Direct"
              }
             },
             "identity": {
              "type": "SystemAssigned",
              "principalId": "e7440a22-dc28-4ba9-971e-cd95292cb206",
              "tenantId": "00000000-0000-0000-0000-000000000000"
             },
             "sku": {
              "name": "Base",
              "tier": "Free"
             }
            }
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/eed5402f-4e5d-4f94-8248-a1e2db6f528d?api-version=2016[...]
[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus3/asyncoperations/b5fecf52-2d6f-460a-a99d-b889bad082b7?monitor=true&api-version=2021-04-01&t=639050597144699791&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZI[...]
[...]
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/eed5402f-4e5d-4f94-8248-a1e2db6f528d?api-version=2016-03-30&t=639050597180002208&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 18
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.MachineLearningServices/workspaces/sampleworkspaces?api-version=2021-07-01
        method: GET
      response:
        body: |-
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.MachineLearningServices/workspaces/sampleworkspaces",
              "name": "sampleworkspaces",
              "type": "Microsoft.MachineLearningServices/workspaces",
              "location": "westus3",
              "tags": {},
              "etag": null,
              "properties": {
                "friendlyName": "",
                "description": "",
                "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct",
                "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.Keyvault/vaults/aso-cs-vault-20240402",
                "applicationInsights": null,
                "hbiWorkspace": false,
                "tenantId": "00000000-0000-0000-0000-000000000000",
                "imageBuildCompute": null,
                "provisioningState": "Succeeded",
                "allowRoleAssignmentOnRG": true,
                "creationTime": "2001-02-03T04:05:06Z",
                "notebookInfo": {
                  "resourceId": "848d6e1fee7a433bb3db8c781efe360a",
                  "fqdn": "ml-sampleworkspace-westus3-19ab24db-c000-4ba1-b5d2-4bb23fbd4ec1.westus2.notebooks.azure.net",
                  "isPrivateLinkEnabled": false,
                  "notebookPreparationError": null
                },
                "storageHnsEnabled": false,
                "workspaceId": "19ab24db-c000-4ba1-b5d2-4bb23fbd4ec1",
                "linkedModelInventoryArmId": null,
                "privateLinkCount": 0,
                "allowPublicAccessWhenBehindVnet": true,
                "discoveryUrl": "https://westus3.api.azureml.ms/discovery",
                "mlFlowTrackingUri": "azureml://westus3.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.MachineLearningServices/workspaces/sampleworkspaces",
                "sdkTelemetryAppInsightsKey": "e2b2c446-95af-4564-b25f-79188b737986",
                "sasGetterUri": ""
              },
              "identity": {
                "type": "SystemAssigned",
                "principalId": "3f2d8425-af3f-477a-85cc-2c0f0f923d5c",
                "tenantId": "00000000-0000-0000-0000-000000000000"
              },
              "kind": "Default",
              "sku": {
                "name": "Basic",
                "tier": "Basic"
              },
              "systemData": {
                "createdAt": "2001-02-03T04:05:06Z",
                "createdBy": "matthchr@microsoft.com",
                "createdByType": "User",
                "lastModifiedAt": "2001-02-03T04:05:06Z",
                "lastModifiedBy": "matthchr@microsoft.com",
                "lastModifiedByType": "User"
              }
            }
        headers:
            Azureml-Served-By-Cluster:
                - vienna-westus3-02
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Response-Type:
                - standard
            X-Request-Time:
                - "0.022"
        status: 200 OK
        code: 200
        duration: 207.252526ms
[...]
    - id: 27
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct?api-version=2021-04-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"BlobStorage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct","name":"asoworkspacestorageacct","type":"Microsoft.Storage/storageAccounts","location":"westus3","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asoworkspacestorageacct.dfs.core.windows.net/","blob":"https://asoworkspacestorageacct.blob.core.windows.net/","table":"https://asoworkspacestorageacct.table.core.windows.net/"},"primaryLocation":"westus3","statusOfPrimary":"available"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 117.153968ms
[...]
    - id: 36
      request:
        host: management.azure.com
        body: '{"name":"sample-tarb","properties":{"roles":["Microsoft.MachineLearningServices/workspaces/mlworkload"],"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.MachineLearningServices/workspaces/sampleworkspaces"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7e7c8dc3f5606c2f28008c41f283949a71c77f8dbe941ea035fe7d95a2d352a2
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/pro[...]
[...]
    - id: 38
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.ContainerService/managedClusters/sample-managedcluster-20240402preview/agentPools/pool20240402?api-version=2024-04-02-preview
        method: GET
      response:
        body: |-
            {
              "code": "NotFound",
              "details": [
               {
                "code": "Unspecified",
                "message": "rpc error: code = NotFound desc = Agent Pool not found"
               }
              ],
              "message": "Could not find the agentpool: pool20240402 in subscription: 00000000-0000-0000-0000-000000000000, resourceGroup: asotest-rg-nwawus, resourceName: sample-managedcluster-20240402preview.",
              "subcode": "GetAgentPool_NotFound_HCPServerError"
             }
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 404 Not Found
        code: 404
        duration: 117.766697ms
    - id: 39
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/112946b2-c803-44d5-9582-3d44df82cd7a?api-version=2016-03-30&t=639050600752336070&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 44
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/4951c592-a177-4291-869e-2ba4c6c6f03f?api-version=2016-03-30&t=639050600838050402&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 55
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "1"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nwawus/providers/Microsoft.ContainerService/managedClusters/sample-managedcluster-20240402preview/agentPools/pool20240402?api-version=2024-04-02-preview
        method: GET
      response:
        body: |-
            {
             "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-nwawus/providers/Microsoft.ContainerService/managedClusters/sample-managedcluster-20240402preview/agentPools/pool20240402",
             "name": "pool20240402",
             "type": "Microsoft.ContainerService/managedClusters/agentPools",
             "properties": {
              "count": 1,
              "vmSize": "Standard_DS2_v2",
              "osDiskSizeGB": 128,
              "osDiskType": "Managed",
              "kubeletDiskType": "OS",
              "maxPods": 250,
              "type": "VirtualMachineScaleSets",
              "enableAutoScaling": false,
              "scaleDownMode": "Delete",
              "provisioningState": "Succeeded",
              "powerState": {
               "code": "Running"
              },
              "orchestratorVersion": "1.33",
              "currentOrchestratorVersion": "1.33.5",
              "enableNodePublicIP": false,
              "mode": "User",
              "osType": "Linux",
              "osSKU": "Ubuntu",
              "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202601.07.0",
              "upgradeSettings": {
               "maxSurge": "10%"
              },
              "enableFIPS": false,
              "securityProfile": {
               "sshAccess": "LocalUser",
               "enableVTPM": false,
               "enableSecureBoot": false
              },
              "eTag": "6adc7154-afa8-4026-bd5f-06923df62089"
             }
            }
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 584.865557ms
[...]
    - id: 58
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkROV0FXVVMtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=639050602821954642&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqh[...]
[...]
