---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-ibmocy","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy","name":"asotest-rg-ibmocy","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"asotestytehwg","sku":{"name":"Standard","tier":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy/providers/Microsoft.EventHub/namespaces/asotestytehwg?api-version=2021-11-01
    method: PUT
  response:
    body: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy/providers/Microsoft.EventHub/namespaces/asotestytehwg","name":"asotestytehwg","type":"Microsoft.EventHub/Namespaces","location":"West
      Central US","tags":{},"properties":{"disableLocalAuth":false,"zoneRedundant":false,"isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:asotestytehwg","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","serviceBusEndpoint":"https://asotestytehwg.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Server-Sb:
      - Service-Bus-Resource-Provider/SN1
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "48"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestgpziqi","properties":{"messageRetentionInDays":7,"partitionCount":1}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy/providers/Microsoft.EventHub/namespaces/asotestytehwg/eventhubs/asotestgpziqi?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy/providers/Microsoft.EventHub/namespaces/asotestytehwg/eventhubs/asotestgpziqi","name":"asotestgpziqi","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"westcentralus","properties":{"messageRetentionInDays":7,"partitionCount":1,"status":"Active","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","partitionIds":["0"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestlcbfhc","properties":{"rights":["Listen","Send"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy/providers/Microsoft.EventHub/namespaces/asotestytehwg/eventhubs/asotestgpziqi/authorizationRules/asotestlcbfhc?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy/providers/Microsoft.EventHub/namespaces/asotestytehwg/eventhubs/asotestgpziqi/authorizationRules/asotestlcbfhc","name":"asotestlcbfhc","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","properties":{"rights":["Listen","Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotesttwaxkn","properties":{"userMetadata":"Some interesting
      metadata"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy/providers/Microsoft.EventHub/namespaces/asotestytehwg/eventhubs/asotestgpziqi/consumergroups/asotesttwaxkn?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy/providers/Microsoft.EventHub/namespaces/asotestytehwg/eventhubs/asotestgpziqi/consumergroups/asotesttwaxkn","name":"asotesttwaxkn","type":"Microsoft.EventHub/Namespaces/EventHubs/ConsumerGroups","location":"westcentralus","properties":{"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","userMetadata":"Some
      interesting metadata"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotestnfueiq","properties":{"rights":["Listen","Send"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy/providers/Microsoft.EventHub/namespaces/asotestytehwg/authorizationRules/asotestnfueiq?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy/providers/Microsoft.EventHub/namespaces/asotestytehwg/authorizationRules/asotestnfueiq","name":"asotestnfueiq","type":"Microsoft.EventHub/Namespaces/AuthorizationRules","location":"West
      Central US","properties":{"rights":["Listen","Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Server-Sb:
      - Service-Bus-Resource-Provider/SN1
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRJQk1PQ1ktV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "5"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibmocy?api-version=2020-06-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-ibmocy''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
