---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-pxwcxb","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7709ff51f01dfb17f7f3567250e246203cdccb5ae9f5dfd789c647844348a2f8
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb","name":"asotest-rg-pxwcxb","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 4.165550291s
    - id: 1
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb","name":"asotest-rg-pxwcxb","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 62.918625ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"sampleuserassignedidentity"}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 62bfba04d360857b6a5bff45361762c931fe822fa039b2afad402c502be0f949
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity?api-version=2018-11-30
        method: PUT
      response:
        body: '{"location":"westcentralus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-pxwcxb/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity","name":"sampleuserassignedidentity","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"00000000-0000-0000-0000-000000000000","principalId":"c8332636-4a76-4cfe-b404-2e2903936d1a","clientId":"74ce8d7a-5fe4-45f6-b2c2-31d97734f7e3"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-pxwcxb/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity
        status: 201 Created
        code: 201
        duration: 2.230836125s
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"eastus","name":"asotesthvhseu","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"BasicV2"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 9ac447d9851a12fdf9e71bc23a6845ddbfc10cf3b2b107d83743ca143e35e2e8
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu?api-version=2023-05-01-preview
        method: PUT
      response:
        body: '{"etag":"AAAAAAEbisk=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting","notificationSenderEmail":"apimgmt-noreply@mail.windowsazure.com","provisioningState":"Created","targetProvisioningState":"","createdAtUtc":"2001-02-03T04:05:06Z","gatewayUrl":"https://asotesthvhseu.azure-api.net","gatewayRegionalUrl":null,"portalUrl":null,"developerPortalUrl":null,"dataApiUrl":null,"managementApiUrl":"https://smapi.api-blu-prod-scaleunit-002.p.azurewebsites.net/","scmUrl":null,"hostnameConfigurations":[{"type":"Proxy","hostName":"asotesthvhseu.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true,"identityClientId":null,"certificateSource":"BuiltIn","certificateStatus":null}],"publicIPAddresses":null,"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":{"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2":"False"},"virtualNetworkType":"None","certificates":null,"natGatewayState":"Enabled","outboundPublicIPAddresses":["/subscriptions/1d62a6ae-bab0-4183-8468-1ffe5622568d/resourceGroups/eastusPreProBV281a07635-B92ZOaYq6apcr4zzgeBpn0Lwm2/providers/Microsoft.Network/publicIPAddresses/publicIPv4"],"apiVersionConstraint":{"minApiVersion":null},"publicIpAddressId":null,"publicNetworkAccess":"Enabled","privateEndpointConnections":null,"platformVersion":"undetermined","configurationApi":null,"legacyPortalStatus":"Disabled","developerPortalStatus":"Disabled"},"sku":{"name":"BasicV2","capacity":1},"identity":null,"zones":null,"systemData":null,"location":"East US","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu","name":"asotesthvhseu","type":"Microsoft.ApiManagement/service"}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/operationresults/ZWFzdHVzOmFzb3Rlc3RodmhzZXVfQWN0X2Q0YTdiNDEy?api-version=2023-05-01-preview&asyncResponse&t=638488374276785033&c=MIIHADCCBeigAwIBAgITHgPrWOVrMb7qufvgEAAAA-tY5TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMDQxMjQzWhcNMjUwMTI2MDQxMjQzWjBAMT4[...]
[...]
    - id: 6
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/operationresults/ZWFzdHVzOmFzb3Rlc3RodmhzZXVfQWN0X2Q0YTdiNDEy?api-version=2023-05-01-preview&asyncResponse&t=638488374276785033&c=MIIHADCCBeigAwIBAgITHgPrWOVrMb7qufvgEAAAA-tY5TANBgkqh[...]
[...]
    - id: 10
      request:
        host: management.azure.com
        body: '{"name":"policy","properties":{"value":"\u003cpolicies\u003e \u003cinbound /\u003e \u003cbackend\u003e \u003cforward-request /\u003e \u003c/backend\u003e \u003coutbound /\u003e \u003c/policies\u003e"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7a9f87a0ceb9269b9e8c0eb0e6e31914a71c07b2b385eeecc1192260494704a3
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/policies/policy?api-version=2023-05-01-preview
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/policies/policy\",\r\n  \"type\": \"Microsoft.ApiManagement/service/policies\",\r\n  \"name\": \"policy\",\r\n  \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\": \"<policies>\\r\\n\\t<inbound />\\r\\n\\t<backend>\\r\\n\\t\\t<forward-request />\\r\\n\\t</backend>\\r\\n\\t<outbound />\\r\\n</policies>\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAARm6k="'
        status: 200 OK
        code: 200
        duration: 1.135273708s
    - id: 11
      request:
        host: management.azure.com
        body: '{"name":"asotestgnmjdw","properties":{"displayName":"My_Key","secret":false,"value":"It''s value"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 8ca861572f383c7e2569d46e20109886a65add87133e5cb4d05f279d3b570330
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/namedValues/asotestgnmjdw?api-version=2023-05-01-preview
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/namedValues/asotestgnmjdw\",\r\n  \"type\": \"Microsoft.ApiManagement/service/namedValues\",\r\n  \"name\": \"asotestgnmjdw\",\r\n  \"properties\": {\r\n    \"ProvisioningState\": \"InProgress\"\r\n  }\r\n}"
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/tenant/operationResults/661dfa6fc22a8e05dcaf4d9e?api-version=2023-05-01-preview
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/namedValues/asotestgnmjdw?api-version=2023-05-01-preview&asyncId=661dfa6fc22a8e05dcaf4d9e&asyncCode=201
        status: 201 Created
        code: 201
        duration: 1.207781292s
    - id: 12
      request:
        host: management.azure.com
        body: '{"name":"asotestpfmrbz","properties":{"description":"Sample backend","protocol":"http","url":"http://www.contoso.com"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 2d0667298b524913245248924c09651547cb36a372557b12ab852ee427715428
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/backends/asotestpfmrbz?api-version=2023-05-01-preview
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/backends/asotestpfmrbz\",\r\n  \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"asotestpfmrbz\",\r\n  \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"Sample backend\",\r\n    \"url\": \"http://www.contoso.com\",\r\n    \"protocol\": \"http\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAARm68="'
        status: 201 Created
        code: 201
        duration: 1.470100792s
    - id: 13
      request:
        host: management.azure.com
        body: '{"name":"asotesttiobmi","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"grantTypes":{"authorizationCode":{"clientId":"0","clientSecret":"####","resourceUri":"www.contoso.com"}}}}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 179563ded545ef283af89e4682df47b9a2e613d19391dae390c445f1ca85e695
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/authorizationProviders/asotesttiobmi?api-version=2023-05-01-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/authorizationProviders/asotesttiobmi","name":"asotesttiobmi","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"East US","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager.consent.azure-apim.net/redirect/apim/asotesthvhseu","grantTypes":{"authorizationCode":{"clientId":"0","scopes":null,"resourceUri":"www.contoso.com"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 2.337431208s
    - id: 14
      request:
        host: management.azure.com
        body: '{"name":"asotestitvyes","properties":{"description":"A Description about the policy fragment","value":"\u003cfragment\u003e\u003c/fragment\u003e"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 4bb106a4da72ea45d462f548246b684ed4c5602a8ac49b0d17f528bd14562407
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-0[...]
[...]
    - id: 16
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/tenant/operationResults/661dfa6fc22a8e05dcaf4d9e?api-version=2023-05-01-preview
        method: GET
      response:
        body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.086910791s
    - id: 17
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/backends/asotestpfmrbz?api-version=2023-05-01-preview
        method: GET
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/backends/asotestpfmrbz\",\r\n  \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"asotestpfmrbz\",\r\n  \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"Sample backend\",\r\n    \"url\": \"http://www.contoso.com\",\r\n    \"protocol\": \"http\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAARm68="'
        status: 200 OK
        code: 200
        duration: 554.433708ms
    - id: 18
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/authorizationProviders/asotesttiobmi?api-version=2023-05-01-preview
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/authorizationProviders/asotesttiobmi","name":"asotesttiobmi","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"East US","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager.consent.azure-apim.net/redirect/apim/asotesthvhseu","grantTypes":{"authorizationCode":{"clientId":"0","scopes":null,"resourceUri":"www.contoso.com"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 494.645166ms
[...]
    - id: 23
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/policyFragments/asotestitvyes?api-version=2023-05-01-preview
        method: GET
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/policyfragments/asotestitvyes\",\r\n  \"type\": \"Microsoft.ApiManagement/service/policyFragments\",\r\n  \"name\": \"asotestitvyes\",\r\n  \"properties\": {\r\n    \"description\": \"A Description about the policy fragment\",\r\n    \"value\": \"<fragment></fragment>\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"spsRAAAAAAA="'
        status: 200 OK
        code: 200
        duration: 1.303297416s
[...]
    - id: 25
      request:
        host: management.azure.com
        body: '{"name":"asotestktulmn","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 1bbb52649b859fc3c304e76c2def8ec9778eede1e904c089940cab9c379ab7bc
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/authorizationProviders/asotesttiobmi/authorizations/asotestktulmn?api-version=2023-05-01-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/authorizationProviders/asotesttiobmi/authorizations/asotestktulmn","name":"asotestktulmn","type":"Microsoft.ApiManagement/service/authorizationProviders/authorizations","location":"East US","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode","status":"Error","error":{"code":"Unauthenticated","message":"This connection is not authenticated."}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.905392958s
[...]
    - id: 27
      request:
        host: management.azure.com
        body: '{"name":"asotestqujzwh","properties":{"objectId":"c8332636-4a76-4cfe-b404-2e2903936d1a","tenantId":"00000000-0000-0000-0000-000000000000"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - e300dce29517a1270af0f4ad1923f58d7233f0767626ea036453381a65434416
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/authorizationProviders/asotesttiobmi/authorizations/asotestktulmn/accessPolicies/asotestqujzwh?api-version=2023-05-01-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ApiManagement/service/asotesthvhseu/authorizationProviders/asotesttiobmi/authorizations/asotestktulmn/accessPolicies/asotestqujzwh","name":"asotestqujzwh","type":"Microsoft.ApiManagement/service/authorizationProviders/authorizations/accessPolicies/","location":"East US","properties":{"objectId":"c8332636-4a76-4cfe-b404-2e2903936d1a","tenantId":"00000000-0000-0000-0000-000000000000","appIds":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.734702792s
[...]
    - id: 30
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRQWFdDWEItV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638488376007884974&c=MIIHADCCBeigAwIBAgITHgPrWOVrMb7qufvgEAAAA-tY5TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
    - id: 33
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-pxwcxb/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity?api-version=2018-11-30
        method: DELETE
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-pxwcxb'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 144.324042ms
[...]
