---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-qdlabl","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 395e4420ec45317aea37029ddcf869fb056cf3cc85a0d4a3fdde44d37abc9a8f
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl","name":"asotest-rg-qdlabl","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 4.185531304s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl","name":"asotest-rg-qdlabl","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 587.251733ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"asotesttldeoh","properties":{"zoneRedundant":false},"sku":{"name":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - d5a1c72a2279461086373bf149c26adf7c7cb05f10ba2b407da0494d4c8ab833
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh","name":"asotesttldeoh","type":"Microsoft.ServiceBus/Namespaces","location":"westcentralus","tags":{},"properties":{"geoDataReplication":{"maxReplicationLagDurationInSeconds":0,"locations":[{"locationName":"westcentralus","roleType":"Primary","replicaState":"InBuild"}]},"premiumMessagingPartitions":0,"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":false,"metricId":"00000000-0000-0000-0000-000000000000:asotesttldeoh","serviceBusEndpoint":"https://asotesttldeoh.servicebus.windows.net:443/","provisioningState":"Creating","status":"Creating","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z"},"sku":{"name":"Standard","tier":"Standard"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 4765d896-0fb5-4716-9af3-4c8becf03b9e
            X-Ms-Messaging-Routing-Id:
                - WESTCENTRALUS|WESTCENTRALUS|G0|2025-02-05T04:46:12
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "12000"
        status: 201 Created
        code: 201
        duration: 5.780733582s
[...]
    - id: 5
      request:
        host: management.azure.com
        body: '{"name":"asotestmabvje"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 51a3e65c27b07c736f2f40fe1af602ff189903dae0cc2467c900202c9fa8f757
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/queues/asotestmabvje?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/queues/asotestmabvje","name":"asotestmabvje","type":"Microsoft.ServiceBus/namespaces/queues","location":"westcentralus","properties":{"maxMessageSizeInKilobytes":256,"lockDuration":"PT1M","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"requiresSession":false,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","deadLetteringOnMessageExpiration":false,"enableBatchedOperations":true,"duplicateDetectionHistoryTimeWindow":"PT10M","maxDeliveryCount":10,"sizeInBytes":0,"messageCount":0,"status":"Active","autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0},"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","accessedAt":"0001-01-01T00:00:00"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 38848a6e-0a6a-44db-b65a-c57b0d8ac632
            X-Ms-Messaging-Routing-Id:
                - WESTCENTRALUS|WESTCENTRALUS|G3|2025-02-05T04:46:41
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.739845519s
    - id: 6
      request:
        host: management.azure.com
        body: '{"name":"asotestwsdqxg"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 58db7e328b5944ee15028d5024da90da70e4f2c8bcc593518dabf8c6d444cb9d
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/topics/asotestwsdqxg?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/topics/asotestwsdqxg","name":"asotestwsdqxg","type":"Microsoft.ServiceBus/namespaces/topics","location":"westcentralus","properties":{"maxMessageSizeInKilobytes":256,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","maxSizeInMegabytes":1024,"requiresDuplicateDetection":false,"duplicateDetectionHistoryTimeWindow":"PT10M","enableBatchedOperations":true,"sizeInBytes":0,"status":"Active","supportOrdering":true,"autoDeleteOnIdle":"P10675199DT2H48M5.4775807S","enablePartitioning":false,"enableExpress":false,"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","accessedAt":"0001-01-01T00:00:00","subscriptionCount":0,"countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 4a202970-a081-4c37-9a70-b7ffc2c1ed4d
            X-Ms-Messaging-Routing-Id:
                - WESTCENTRALUS|WESTCENTRALUS|G1|2025-02-05T04:46:42
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 3.478044903s
[...]
    - id: 8
      request:
        host: management.azure.com
        body: '{"name":"asotestebkgqc","properties":{"rights":["Listen","Send"]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7d0351fc2554258b99060c6ba65fa5c884e23d98b2dde0625f730e2a0550a1f2
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/AuthorizationRules/asotestebkgqc?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/AuthorizationRules/asotestebkgqc","name":"asotestebkgqc","type":"Microsoft.ServiceBus/Namespaces/AuthorizationRules","location":"westcentralus","properties":{"rights":["Listen","Send"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 5ccf84ff-c419-4968-9253-7ef533a4d0b0
            X-Ms-Messaging-Routing-Id:
                - WESTCENTRALUS|WESTCENTRALUS|G3|2025-02-05T04:46:47
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 7.618894102s
[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/AuthorizationRules/asotestebkgqc/listKeys?api-version=2021-11-01
        method: POST
      response:
        body: '{"primaryConnectionString":"Endpoint=sb://asotesttldeoh.servicebus.windows.net/;SharedAccessKeyName=asotestebkgqc;SharedAccessKey={KEY}","secondaryConnectionString":"Endpoint=sb://asotesttldeoh.servicebus.windows.net/;SharedAccessKeyName=asotestebkgqc;SharedAccessKey={KEY}","primaryKey":"{KEY}","secondaryKey":"{KEY}","keyName":"asotestebkgqc"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 11006571-14a0-47c4-8f87-4ce560eaecb4
            X-Ms-Messaging-Routing-Id:
                - WESTCENTRALUS|WESTCENTRALUS|G0|2025-02-05T04:46:59
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.722554898s
    - id: 12
      request:
        host: management.azure.com
        body: '{"name":"asotestnxtftv"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 9fac712bde7f8997c6f5ce372bac820c12aa132f85d520feb5c5a261f074edc6
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/topics/asotestwsdqxg/subscriptions/asotestnxtftv?api-version=2024-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/topics/asotestwsdqxg/subscriptions/asotestnxtftv","name":"asotestnxtftv","type":"Microsoft.ServiceBus/namespaces/topics/subscriptions","location":"westcentralus","properties":{"isClientAffine":false,"lockDuration":"PT1M","requiresSession":false,"defaultMessageTimeToLive":"P10675199DT2H48M5.4775807S","deadLetteringOnMessageExpiration":false,"deadLetteringOnFilterEvaluationExceptions":true,"messageCount":0,"maxDeliveryCount":10,"status":"Active","enableBatchedOperations":true,"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","accessedAt":"0001-01-01T00:00:00","countDetails":{"activeMessageCount":0,"deadLetterMessageCount":0,"scheduledMessageCount":0,"transferMessageCount":0,"transferDeadLetterMessageCount":0},"autoDeleteOnIdle":"P10675199DT2H48M5.4775807S"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - 1eae9296-5ce6-4570-a252-037444b37dd1
            X-Ms-Messaging-Routing-Id:
                - WESTCENTRALUS|WESTCENTRALUS|G3|2025-02-05T04:47:15
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.976874549s
[...]
    - id: 14
      request:
        host: management.azure.com
        body: '{"name":"asotestjrzwwf","properties":{"action":{"compatibilityLevel":20,"requiresPreprocessing":false,"sqlExpression":"SET myproperty=myvalue"},"correlationFilter":{"contentType":"text"},"filterType":"SqlFilter","sqlFilter":{"sqlExpression":"StoreId IN (''Store1'',''Store2'',''Store3'')"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 17d7df5f83f5c579a4a824012d505fb7bddd4925a48cad1c0cba54c143727350
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/topics/asotestwsdqxg/subscriptions/asote[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/topics/asotestwsdqxg/subscriptions/asotestnxtftv/rules/asotestjrzwwf?api-version=2024-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh/topics/asotestwsdqxg/subscriptions/asotestnxtftv/rules/asotestjrzwwf","name":"asotestjrzwwf","type":"Microsoft.ServiceBus/namespaces/topics/subscriptions/rules","location":"westcentralus","properties":{"action":{"sqlExpression":"SET myproperty=myvalue","compatibilityLevel":20,"parameters":{}},"filterType":"SqlFilter","sqlFilter":{"sqlExpression":"StoreId IN (''Store1'',''Store2'',''Store3'')","compatibilityLevel":20,"parameters":{}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Messaging-Activity-Id:
                - eb1dbddf-3765-459b-840f-34cd28472e5b
            X-Ms-Messaging-Routing-Id:
                - WESTCENTRALUS|WESTCENTRALUS|G0|2025-02-05T04:48:22
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 1.185784362s
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRRRExBQkwtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638743277113325438&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTI1MTUzWhcNMjUwNzI0MTI1MTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ2[...]
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRRRExBQkwtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638743277113325438&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqh[...]
[...]
    - id: 21
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qdlabl/providers/Microsoft.ServiceBus/namespaces/asotesttldeoh?api-version=2024-01-01
        method: DELETE
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-qdlabl'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 1.382175474s
[...]
