---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-qrryzq","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5bfb4657dcb1b592bfb7bcb85da5411b7885e5a08ba4670cd106fd08dc57b889
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qrryzq?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qrryzq","name":"asotest-rg-qrryzq","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.256015489s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qrryzq?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-qrryzq","name":"asotest-rg-qrryzq","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 220.986561ms
    - id: 2
      request:
        host: graph.microsoft.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://graph.microsoft.com/v1.0/groups?%24filter=displayName%20eq%20%27ASO%20Sample%20Security%20Group%27
        method: GET
      response:
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups","value":[]}'
        headers:
            Content-Type:
                - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
            Odata-Version:
                - "4.0"
            X-Ms-Ags-Diagnostic:
                - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SY1PEPF0000227B"}}'
            X-Ms-Resource-Unit:
                - "1"
        status: 200 OK
        code: 200
        duration: 509.131314ms
    - id: 3
      request:
        host: graph.microsoft.com
        body: '{"@odata.type":"#microsoft.graph.group","description":"ASO Sample Security Group for demonstration purposes","displayName":"ASO Sample Security Group","groupTypes":["Unified"],"mailEnabled":false,"mailNickname":"aso-sample-securitygroup","securityEnabled":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - b668d0ec8eb69f9ecf11fe59f879a1f8b4d50ca60541e1b9aa87bbdc51dc7645
        url: https://graph.microsoft.com/v1.0/groups
        method: POST
      response:
        body: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#groups/$entity","id":"8c9cbd10-d712-45f9-8860-1161eb4ac1cb","deletedDateTime":null,"classification":null,"createdDateTime":"2001-02-03T04:05:06Z","creationOptions":[],"description":"ASO Sample Security Group for demonstration purposes","displayName":"ASO Sample Security Group","expirationDateTime":null,"groupTypes":["Unified"],"isAssignableToRole":null,"mail":"aso-sample-securitygroup@microsoft.onmicrosoft.com","mailEnabled":true,"mailNickname":"aso-sample-securitygroup","membershipRule":null,"membershipRuleProcessingState":null,"onPremisesDomainName":null,"onPremisesLastSyncDateTime":null,"onPremisesNetBiosName":null,"onPremisesSamAccountName":null,"onPremisesSecurityIdentifier":null,"onPremisesSyncEnabled":null,"preferredDataLocation":"APC","preferredLanguage":null,"proxyAddresses":["SMTP:aso-sample-securitygroup@microsoft.onmicrosoft.com"],"renewedDateTime":"2001-02-03T04:05:06Z","resourceBehaviorOptions":[],"resourceProvisioningOptions":[],"securityEnabled":true,"securityIdentifier":"S-1-12-1-2359082256-1174001426-1628528776-3418442475","theme":null,"uniqueName":null,"visibility":"Public","onPremisesProvisioningErrors":[],"serviceProvisioningErrors":[]}'
        headers:
            Content-Type:
                - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
            Location:
                - https://graph.microsoft.com/v2/00000000-0000-0000-0000-000000000000/directoryObjects/8c9cbd10-d712-45f9-8860-1161eb4ac1cb/Microsoft.DirectoryServices.Group
            Odata-Version:
                - "4.0"
            X-Ms-Ags-Diagnostic:
                - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SY1PEPF0000227B"}}'
            X-Ms-Resource-Unit:
                - "1"
        status: 201 Created
        code: 201
        duration: 1.933852548s
[...]
    - id: 5
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRRUlJZWlEtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638852967910139426&c=MIIHpTCCBo2gAwIBAgITfwV1XFBM14xxqYIqEgAEBXVcUDANBgkqhk[...]
    - id: 6
      request:
        host: graph.microsoft.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://graph.microsoft.com/v1.0/groups/8c9cbd10-d712-45f9-8860-1161eb4ac1cb
        method: DELETE
      response:
        body: ""
        headers:
            X-Ms-Ags-Diagnostic:
                - '{"ServerInfo":{"DataCenter":"Australia East","Slice":"E","Ring":"5","ScaleUnit":"001","RoleInstance":"SY1PEPF0000227B"}}'
            X-Ms-Resource-Unit:
                - "1"
        status: 204 No Content
        code: 204
        duration: 2.377180364s
