---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-frjrtv","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frjrtv?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frjrtv","name":"asotest-rg-frjrtv","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"identity":{"type":"SystemAssigned"},"location":"eastus2","name":"asotestfehhun","properties":{"publicNetworkAccess":"Enabled"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frjrtv/providers/Microsoft.DataFactory/factories/asotestfehhun?api-version=2018-06-01
    method: PUT
  response:
    body: |-
      {
        "name": "asotestfehhun",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frjrtv/providers/Microsoft.DataFactory/factories/asotestfehhun",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2001-02-03T04:05:06Z",
          "version": "2018-06-01",
          "publicNetworkAccess": "Enabled"
        },
        "eTag": "\"050041ff-0000-0200-0000-643db9ad0000\"",
        "location": "eastus2",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "2c0493de-7187-4f97-9544-0ab7d17dbe4e",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "tags": {}
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frjrtv/providers/Microsoft.DataFactory/factories/asotestfehhun?api-version=2018-06-01
    method: GET
  response:
    body: |-
      {
        "name": "asotestfehhun",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frjrtv/providers/Microsoft.DataFactory/factories/asotestfehhun",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2001-02-03T04:05:06Z",
          "version": "2018-06-01",
          "factoryStatistics": {
            "totalResourceCount": 0,
            "maxAllowedResourceCount": 0,
            "factorySizeInGbUnits": 0,
            "maxAllowedFactorySizeInGbUnits": 0
          },
          "publicNetworkAccess": "Enabled"
        },
        "eTag": "\"050041ff-0000-0200-0000-643db9ad0000\"",
        "location": "eastus2",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "2c0493de-7187-4f97-9544-0ab7d17dbe4e",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "tags": {}
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frjrtv?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRGUkpSVFYtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRGUkpSVFYtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRGUkpSVFYtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-frjrtv/providers/Microsoft.DataFactory/factories/asotestfehhun?api-version=2018-06-01
    method: DELETE
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-frjrtv''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
