---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-dpynao","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao","name":"asotest-rg-dpynao","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"asotestanvzzc"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/networkSecurityGroups/asotestanvzzc?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotestanvzzc\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/networkSecurityGroups/asotestanvzzc\",\r\n
      \ \"etag\": \"W/\\\"d314529c-6f14-4bd2-a917-0aae307144ff\\\"\",\r\n  \"type\":
      \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"westcentralus\",\r\n
      \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
      \"544be157-0587-434d-bd56-0d179a173561\",\r\n    \"securityRules\": [],\r\n
      \   \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/networkSecurityGroups/asotestanvzzc/defaultSecurityRules/AllowVnetInBound\",\r\n
      \       \"etag\": \"W/\\\"d314529c-6f14-4bd2-a917-0aae307144ff\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Updating\",\r\n          \"description\":
      \"Allow inbound traffic from all VMs in VNET\",\r\n          \"protocol\": \"*\",\r\n
      \         \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\":
      \"*\",\r\n          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\":
      \"VirtualNetwork\",\r\n          \"access\": \"Allow\",\r\n          \"priority\":
      65000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\":
      [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\":
      [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n
      \     {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n        \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/networkSecurityGroups/asotestanvzzc/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n
      \       \"etag\": \"W/\\\"d314529c-6f14-4bd2-a917-0aae307144ff\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkSecurityGroups/defaultSecurityRul[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/50aab475-e879-4869-baa4-8695b55923d7?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"asotestpeakyl","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/publicIPAddresses/asotestpeakyl?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotestpeakyl\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/publicIPAddresses/asotestpeakyl\",\r\n
      \ \"etag\": \"W/\\\"19dc194a-1a4c-4852-8f31-7967af68e5d5\\\"\",\r\n  \"location\":
      \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
      \   \"resourceGuid\": \"108ba812-cae2-4e21-95eb-61c9731aa2c0\",\r\n    \"publicIPAddressVersion\":
      \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
      4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
      \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
      \ }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/28ff3e08-fbcb-44e6-b629-1f8dee04e3cc?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "1"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/publicIPAddresses/asotestpeakyl?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"asotestpeakyl\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/publicIPAddresses/asotestpeakyl\",\r\n
      \ \"etag\": \"W/\\\"01e0ff98-ad89-46ce-a937-5b5cf6f16f70\\\"\",\r\n  \"location\":
      \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
      \   \"resourceGuid\": \"108ba812-cae2-4e21-95eb-61c9731aa2c0\",\r\n    \"ipAddress\":
      \"52.161.65.167\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
      \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n
      \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\":
      \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"01e0ff98-ad89-46ce-a937-5b5cf6f16f70"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"asotestxgorcn","properties":{"disableBgpRoutePropagation":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/routeTables/asotestxgorcn?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotestxgorcn\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/routeTables/asotestxgorcn\",\r\n
      \ \"etag\": \"W/\\\"bafc6def-2899-4ac7-bdb7-b1d98d6ff8f1\\\"\",\r\n  \"type\":
      \"Microsoft.Network/routeTables\",\r\n  \"location\": \"westcentralus\",\r\n
      \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
      \"f1fd5521-1412-4f79-bb72-eed3d64741b7\",\r\n    \"disableBgpRoutePropagation\":
      true,\r\n    \"routes\": []\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/a9ac9165-6da3-4442-a026-93f75fa665d1?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "2"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"asotestfewoic","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/virtualNetworks/asotestfewoic?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotestfewoic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/virtualNetworks/asotestfewoic\",\r\n
      \ \"etag\": \"W/\\\"8751080a-35aa-4672-a81a-af63b50632ba\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n
      \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
      \"799d3d64-1b4f-4edf-a5bb-35c06d08f014\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
      [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
      \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
      \ }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/d947bbee-976d-486a-9ec2-148ed4dee009?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"asotestehdzot","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/virtualNetworks/asotestfewoic/subnets/asotestehdzot?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotestehdzot\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/virtualNetworks/asotestfewoic/subnets/asotestehdzot\",\r\n
      \ \"etag\": \"W/\\\"eff8f594-de4d-4fad-8225-548189af115c\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
      \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
      \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/ac0c5a47-d856-48e8-ae2b-a7d14f1913cd?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"asotestlbphjc","properties":{"access":"Allow","description":"Allow
      access to source port 23-45 and destination port 45-56","destinationAddressPrefix":"*","destinationPortRange":"46-56","direction":"Inbound","priority":123,"protocol":"Tcp","sourceAddressPrefix":"*","sourcePortRange":"23-45"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azu[...]
[...]
- request:
    body: '{"name":"asotestjszhyf","properties":{"addressPrefix":"cab:cab::/96","nextHopIpAddress":"ace:cab:deca:f00d::1","nextHopType":"VirtualAppliance"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/routeTables/asotestxgorcn/routes/asotestjszhyf?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotestjszhyf\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao/providers/Microsoft.Network/routeTables/asotestxgorcn/routes/asotestjszhyf\",\r\n
      \ \"etag\": \"W/\\\"fe2b9473-c790-4edc-8dfc-85b1d8f4f8c3\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"cab:cab::/96\",\r\n
      \   \"nextHopType\": \"VirtualAppliance\",\r\n    \"nextHopIpAddress\": \"ace:cab:deca:f00d::1\",\r\n
      \   \"hasBgpOverride\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/routeTables/routes\"\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/544134b8-c088-4bea-9118-e0104d1769f6?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "2"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkREUFlOQU8tV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "5"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-dpynao?api-version=2020-06-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-dpynao''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
