---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-jcwhqp","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 9709278d2c1bc408c6bb7dc97c6cb4fdff4a07be6c6af323627ccff0445b2a40
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp","name":"asotest-rg-jcwhqp","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11998"
        status: 200 OK
        code: 200
        duration: 1.193913539s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp","name":"asotest-rg-jcwhqp","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
        status: 200 OK
        code: 200
        duration: 322.060829ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"kind":"StorageV2","location":"westcentralus","name":"asotestldokrl","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - b22f9eab124ff361929b191162864aaa3e5e86455456cd2f3fad6d30d01020f2
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl?api-version=2023-01-01
        method: PUT
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl","name":"asotestldokrl","type":"Microsoft.Storage/storageAccounts","location":"westcentralus","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asotestldokrl.dfs.core.windows.net/","web":"https://asotestldokrl.z4.web.core.windows.net/","blob":"https://asotestldokrl.blob.core.windows.net/","queue":"https://asotestldokrl.queue.core.windows.net/","table":"https://asotestldokrl.table.core.windows.net/","file":"https://asotestldokrl.file.core.windows.net/"},"primaryLocation":"westcentralus","statusOfPrimary":"available"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 3.594547446s
[...]
    - id: 4
      request:
        host: management.azure.com
        body: '{"name":"default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/fileServices/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"name":"default"}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.364744303s
    - id: 5
      request:
        host: management.azure.com
        body: '{"name":"default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/queueServices/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"name":"default"}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.350752321s
    - id: 6
      request:
        host: management.azure.com
        body: '{"name":"default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/blobServices/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"name":"default"}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.937827633s
    - id: 7
      request:
        host: management.azure.com
        body: '{"name":"default","properties":{"policy":{"rules":[{"definition":{"actions":{"version":{"delete":{"daysAfterCreationGreaterThan":30}}},"filters":{"blobIndexMatch":null,"blobTypes":["blockBlob"],"prefixMatch":["sample-container/blob1"]}},"enabled":true,"name":"test-rule","type":"Lifecycle"}]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - d999cd6a94c74b20094b1f220109c48150d1c26baa1c2b0dbd2c0a804f485148
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/managementPolicies/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/managementPolicies/default","name":"DefaultManagementPolicy","type":"Microsoft.Storage/storageAccounts/managementPolicies","properties":{"policy":{"rules":[{"enabled":true,"name":"test-rule","type":"Lifecycle","definition":{"actions":{"version":{"delete":{"daysAfterCreationGreaterThan":30.0}}},"filters":{"blobTypes":["blockBlob"],"prefixMatch":["sample-container/blob1"]}}}]},"lastModifiedTime":"2001-02-03T04:05:06Z"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.79450526s
    - id: 8
      request:
        host: management.azure.com
        body: '{"name":"default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/tableServices/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"name":"default"}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.899846109s
    - id: 9
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/queueServices/default?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/queueServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/queueServices","properties":{"logging":{"version":"1.0","delete":false,"read":false,"write":false,"retentionPolicy":{"enabled":false}},"cors":{"corsRules":[]}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
        status: 200 OK
        code: 200
        duration: 372.19579ms
    - id: 10
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/fileServices/default?api-version=2023-01-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/fileServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/fileServices","properties":{"protocolSettings":{"smb":{}},"cors":{"corsRules":[]},"shareDeleteRetentionPolicy":{"enabled":true,"days":7}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16497"
        status: 200 OK
        code: 200
        duration: 358.756837ms
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/blobServices/default?api-version=2023-01-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16495"
        status: 200 OK
        code: 200
        duration: 339.951341ms
[...]
    - id: 14
      request:
        host: management.azure.com
        body: '{"name":"asotestfkdwgo"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - ca48a638cee979d4013785471a6624453840629fd7b67d7464ac4a56bc249fde
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/fileServices/default/shares/asotestfkdwgo?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/fileServices/default/shares/asotestfkdwgo","name":"asotestfkdwgo","type":"Microsoft.Storage/storageAccounts/fileServices/shares","properties":{}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DE27BE8E6C359B"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 857.095496ms
    - id: 15
      request:
        host: management.azure.com
        body: '{"name":"asotestezisjh"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ac2417b4722542d4c67c08c436f715b3eb32e373e7fe0dc7529a8c831090b22
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/blobServices/default/containers/asotestezisjh?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/blobServices/default/containers/asotestezisjh","name":"asotestezisjh","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DE27BE8EC03FB1"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.465154404s
    - id: 16
      request:
        host: management.azure.com
        body: '{"name":"asotestmmnsgp"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - bd320e15abc7680528fbdcc6cb840a8dfbdb305f6db04957d70e17bb46a01cfe
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/tableServices/default/tables/asotestmmnsgp?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/tableServices/default/tables/asotestmmnsgp","name":"asotestmmnsgp","type":"Microsoft.Storage/storageAccounts/tableServices/tables","properties":{"tableName":"asotestmmnsgp"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.454015549s
    - id: 17
      request:
        host: management.azure.com
        body: '{"name":"asotestydurmg"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - c3153438d04e20cd27dcb7a730f8bb234cec421e853c8377019fc320f8d2f8b3
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/queueServices/default/queues/asotestydurmg?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/queueServices/default/queues/asotestydurmg","name":"asotestydurmg","type":"Microsoft.Storage/storageAccounts/queueServices/queues","properties":{"metadata":{}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.21120231s
    - id: 18
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/fileServices/default/shares/asotestfkdwgo?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/fileServices/default/shares/asotestfkdwgo","name":"asotestfkdwgo","type":"Microsoft.Storage/storageAccounts/fileServices/shares","etag":"\"0x8DE27BE8E6C359B\"","properties":{"leaseStatus":"unlocked","leaseState":"available","signedIdentifiers":[],"accessTier":"TransactionOptimized","accessTierChangeTime":"2001-02-03T04:05:06Z","lastModifiedTime":"2001-02-03T04:05:06Z","shareQuota":102400}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DE27BE8E6C359B"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 361.676514ms
[...]
    - id: 21
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/blobServices/default/containers/asotestezisjh?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/blobServices/default/containers/asotestezisjh","name":"asotestezisjh","type":"Microsoft.Storage/storageAccounts/blobServices/containers","etag":"\"0x8DE27BE8EC03FB1\"","properties":{"deleted":false,"remainingRetentionDays":0,"defaultEncryptionScope":"$account-encryption-key","denyEncryptionScopeOverride":false,"publicAccess":"None","leaseStatus":"Unlocked","leaseState":"Available","lastModifiedTime":"2001-02-03T04:05:06Z","legalHold":{"hasLegalHold":false,"tags":[]},"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DE27BE8EC03FB1"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 591.808551ms
    - id: 22
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/queueServices/default/queues/asotestydurmg?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl/queueServices/default/queues/asotestydurmg","name":"asotestydurmg","type":"Microsoft.Storage/storageAccounts/queueServices/queues","properties":{"metadata":{},"approximateMessageCount":0}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
        status: 200 OK
        code: 200
        duration: 488.087173ms
[...]
    - id: 25
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRKQ1dIUVAtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638991896611307824&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ2[...]
    - id: 26
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRKQ1dIUVAtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638991896611307824&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqh[...]
[...]
    - id: 30
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "1"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jcwhqp/providers/Microsoft.Storage/storageAccounts/asotestldokrl?api-version=2023-01-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-jcwhqp'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 407.562406ms
[...]
