---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-ichwpb","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb","name":"asotest-rg-ichwpb","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2?api-version=2020-11-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/samplevnet2''
      under resource group ''asotest-rg-ichwpb'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"location":"westcentralus","name":"gatewaypublicip","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/gatewaypublicip?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"gatewaypublicip\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/gatewaypublicip\",\r\n
      \ \"etag\": \"W/\\\"78cd7061-68cf-4417-808a-bebb7cc825a6\\\"\",\r\n  \"location\":
      \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
      \   \"resourceGuid\": \"0737e685-fd52-4f59-89cb-f594c2cef7ed\",\r\n    \"publicIPAddressVersion\":
      \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
      4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
      \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
      \ }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/2cd13330-0764-414e-a028-0adb656de554?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "1"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"location":"westcentralus","name":"samplevnet2","properties":{"addressSpace":{"addressPrefixes":["172.16.0.0/16"]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplevnet2\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2\",\r\n
      \ \"etag\": \"W/\\\"001db4b4-865f-4495-9640-f9e44d2cfa00\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westcentralus\",\r\n
      \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
      \"921c8e45-dfe2-4007-b625-cfb9268fce79\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\":
      [\r\n        \"172.16.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n
      \   \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n
      \ }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/f3e44dc1-72e3-454e-95a7-be7cd56596cf?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/2cd13330-0764-414e-a028-0adb656de554?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/gatewaypublicip?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"gatewaypublicip\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/gatewaypublicip\",\r\n
      \ \"etag\": \"W/\\\"8a98de59-7518-4224-80f9-5534a331968d\\\"\",\r\n  \"location\":
      \"westcentralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
      \   \"resourceGuid\": \"0737e685-fd52-4f59-89cb-f594c2cef7ed\",\r\n    \"ipAddress\":
      \"4.255.237.214\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
      \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n
      \ \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\":
      \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a98de59-7518-4224-80f9-5534a331968d"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"gatewaysubnet","properties":{"addressPrefix":"172.16.0.0/16"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2/subnets/gatewaysubnet?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"gatewaysubnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2/subnets/gatewaysubnet\",\r\n
      \ \"etag\": \"W/\\\"7acd5af2-3413-4e1e-9809-e43e82bf850f\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"172.16.0.0/16\",\r\n
      \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
      \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/eb3f5515-3a20-4507-912f-d378d14cee25?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/networkSecurityGroups/samplensg?api-version=2020-11-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/networkSecurityGroups/samplensg''
      under resource group ''asotest-rg-ichwpb'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/routeTables/sampleroutetable?api-version=2020-11-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/routeTables/sampleroutetable''
      under resource group ''asotest-rg-ichwpb'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet?api-version=2020-11-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/samplevnet''
      under resource group ''asotest-rg-ichwpb'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer?api-version=2020-11-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/loadBalancers/sampleloadbalancer''
      under resource group ''asotest-rg-ichwpb'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"location":"westcentralus","name":"samplepublicip","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/samplepublicip?api-version=2020-11-01
    method: PUT
  response:
  [...]
- request:
    body: '{"location":"westcentralus","name":"samplensg"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/networkSecurityGroups/samplensg?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplensg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/networkSecurityGroups/samplensg\",\r\n
      \ \"etag\": \"W/\\\"60ca17fd-da57-4946-8c98-90cd015ed021\\\"\",\r\n  \"type\":
      \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"westcentralus\",\r\n
      \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
      \"485cffcd-0b2d-4214-8b85-39e4f29f4692\",\r\n    \"securityRules\": [],\r\n
      \   \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/networkSecurityGroups/samplensg/defaultSecurityRules/AllowVnetInBound\",\r\n
      \       \"etag\": \"W/\\\"60ca17fd-da57-4946-8c98-90cd015ed021\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Updating\",\r\n          \"description\":
      \"Allow inbound traffic from all VMs in VNET\",\r\n          \"protocol\": \"*\",\r\n
      \         \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\":
      \"*\",\r\n          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\":
      \"VirtualNetwork\",\r\n          \"access\": \"Allow\",\r\n          \"priority\":
      65000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\":
      [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\":
      [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n
      \     {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n        \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/networkSecurityGroups/samplensg/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n
      \       \"etag\": \"W/\\\"60ca17fd-da57-4946-8c98-90cd015ed021\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\"[...]
- request:
    body: '{"location":"westcentralus","name":"sampleloadbalancer","properties":{"frontendIPConfigurations":[{"name":"LoadBalancerFrontend","properties":{"publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/samplepublicip"}}}],"inboundNatPools":[{"name":"samplenatpool","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/frontendIPConfigurations/LoadBalancerFrontend"},"frontendPortRangeEnd":51000,"frontendPortRangeStart":50000,"protocol":"Tcp"}}]},"sku":{"name":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"RetryableError\",\r\n    \"message\":
      \"A retryable error occurred.\",\r\n    \"details\": [\r\n      {\r\n        \"code\":
      \"ReferencedResourceNotProvisioned\",\r\n        \"message\": \"Cannot proceed
      with operation because resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/samplepublicip
      used by resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer
      is not in Succeeded state. Resource is in Updating state and the last operation
      that updated/is updating the resource is PutPublicIpAddressOperation.\"\r\n
      \     }\r\n    ]\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 429 Too Many Requests
    code: 429
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"samplevnetgateway","properties":{"gatewayType":"Vpn","ipConfigurations":[{"name":"config1","properties":{"publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/gatewaypublicip"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2/subnets/gatewaysubnet"}}}],"sku":{"name":"VpnGw2","tier":"VpnGw2"},"vpnGatewayGeneration":"Generation2","vpnType":"RouteBased"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworkGateways/samplevnetgateway?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplevnetgateway\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworkGateways/samplevnetgateway\",\r\n
      \ \"etag\": \"W/\\\"b8015904-54e8-47a2-920f-9a2b6eab490e\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworkGateways\",\r\n  \"location\": \"westcentralus\",\r\n
      \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
      \"736158cb-11bd-4a3c-aa15-9efbbaffd06f\",\r\n    \"packetCaptureDiagnosticState\":
      \"None\",\r\n    \"enablePrivateIpAddress\": false,\r\n    \"isMigrateToCSES\":
      false,\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"config1\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworkGateways/samplevnetgateway/ipConfigurations/config1\",\r\n
      \       \"etag\": \"W/\\\"b8015904-54e8-47a2-920f-9a2b6eab490e\\\"\",\r\n        \"type\":
      \"Microsoft.Network/virtualNetworkGateways/ipConfigurations\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Updating\",\r\n          \"privateIPAllocationMethod\":
      \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/publicIPAddresses/gatewaypublicip\"\r\n
      \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2/subnets/gatewaysubnet\"\r\n
      \         }\r\n        }\r\n      }\r\n    ],\r\n    \"natRules\": [],\r\n    \"virtualNetworkGatewayPolicyGroups\":
      [],\r\n    \"enableBgpRouteTranslationForNat\": false,\r\n    \"disableIPSecReplayProtection\":
      false,\r\n    \"sku\": {\r\n      \"name\": \"VpnGw2\",\r\n      \"tier\": \"VpnGw2\",\r\n
      \     \"capacity\": 2\r\n    },\r\n    \"gatewayType\": \"Vpn\",\r\n    \"vpnType\":
      \"RouteBased\",\r\n    \"enableBgp\": false,\r\n    \"activeActive\": false,\r\n
      \   \"vpnClientConfiguration\": {\r\n      \"vpnClientProtocols\": [\r\n        \"OpenVPN\",\r\n
      \       \"IkeV2\"\r\n      ],\r\n      \"vpnAuthenticationTypes\": [],\r\n      \"vpnClientRootCertificates\":
      [],\r\n      \"vpnClientRevokedCertificates\": [],\r\n      \"vngClientConnectionConfigurations\":
      [],\r\n      \"radiusServers\": [],\r\n      \"vpnClientIpsecPolicies\": []\r\n
      \   },\r\n    \"bgpSettings\": {\r\n      \"asn\": 0,\r\n      \"peerWeight\":
      0,\r\n      \"bgpPeeringAddresses\": [\r\n        {\r\n          \"ipconfigurationId\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworkGateways/samplevnetgateway/ipConfigurations/config1\",\r\n
      \         \"defaultBgpIpAddresses\": [],\r\n          \"customBgpIpAddresses\":
      []\r\n        }\r\n      ]\r\n    },\r\n    \"vpnGatewayGeneration\": \"Generation2\"\r\n
      \ }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/d52e315d-c532-48d4-930e-95021c9fd6a7?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"location":"westcentralus","name":"sampleroutetable","properties":{"disableBgpRoutePropagation":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/routeTables/sampleroutetable?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"sampleroutetable\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/routeTables/sampleroutetable\",\r\n
      \ \"etag\": \"W/\\\"02950bb6-5605-4292-8980-e4897628d58f\\\"\",\r\n  \"type\":
      \"Microsoft.Network/routeTables\",\r\n  \"location\": \"westcentralus\",\r\n
      \ \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\":
      \"f93e890f-b045-40c4-bfa3-783a70c9bcdf\",\r\n    \"disableBgpRoutePropagation\":
      true,\r\n    \"routes\": []\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/07f3c8ab-0935-46a6-b3ad-813243e743ae?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "2"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"sampleinboundnatrule","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/frontendIPConfigurations/LoadBalancerFrontend"},"frontendPort":23}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/inboundNatRules/sampleinboundnatrule?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"sampleinboundnatrule\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/inboundNatRules/sampleinboundnatrule\",\r\n
      \ \"etag\": \"W/\\\"a6fc2ea3-9f59-4dee-be38-9c10c06d3b39\\\"\",\r\n  \"type\":
      \"Microsoft.Network/loadBalancers/inboundNatRules\",\r\n  \"properties\": {\r\n
      \   \"provisioningState\": \"Succeeded\",\r\n    \"frontendIPConfiguration\":
      {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/loadBalancers/sampleloadbalancer/frontendIPConfigurations/LoadBalancerFrontend\"\r\n
      \   },\r\n    \"frontendPort\": 23,\r\n    \"backendPort\": 22,\r\n    \"enableFloatingIP\":
      false,\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"protocol\": \"Tcp\",\r\n
      \   \"enableDestinationServiceEndpoint\": false,\r\n    \"enableTcpReset\":
      false,\r\n    \"allowBackendPortConflict\": false\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/b423f1c4-1fa3-46bd-b8d0-61a80dfa5104?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"sampleroute","properties":{"addressPrefix":"cab:cab::/96","nextHopIpAddress":"ace:cab:deca:f00d::1","nextHopType":"VirtualAppliance"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/routeTables/sampleroutetable/routes/sampleroute?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"sampleroute\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/routeTables/sampleroutetable/routes/sampleroute\",\r\n
      \ \"etag\": \"W/\\\"cbe4ac5b-7521-4860-a014-189ac2d9bf6c\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"cab:cab::/96\",\r\n
      \   \"nextHopType\": \"VirtualAppliance\",\r\n    \"nextHopIpAddress\": \"ace:cab:deca:f00d::1\",\r\n
      \   \"hasBgpOverride\": false\r\n  },\r\n  \"type\": \"Microsoft.Network/routeTables/routes\"\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westcentralus/operations/910f1625-d6b9-43c3-95c5-c57b0a032844?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "2"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"samplerule","properties":{"access":"Allow","description":"Allow
      access to source port 23-45 and destination port 45-56","destinationAddressPrefix":"*","destinationPortRange":"46-56","direction":"Inbound","priority":123,"protocol":"Tcp","sourceAddressPrefix":"*","sourcePortRange":"23-45"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-[...]
[...]
- request:
    body: '{"name":"samplesubnet","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet/subnets/samplesubnet?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"RetryableError\",\r\n    \"message\":
      \"A retryable error occurred.\",\r\n    \"details\": [\r\n      {\r\n        \"code\":
      \"RetryableErrorDueToAnotherOperation\",\r\n        \"message\": \"Operation
      PutVirtualNetworkPeeringOperation (dca9636f-2e58-4d3e-8b4c-7928c7eb0c9d) is
      updating resource /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet.
      The call can be retried in 12 seconds.\"\r\n      }\r\n    ]\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "12"
    status: 429 Too Many Requests
    code: 429
    duration: ""
- request:
    body: '{"name":"samplepeering","properties":{"remoteVirtualNetwork":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet/virtualNetworkPeerings/samplepeering?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplepeering\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet/virtualNetworkPeerings/samplepeering\",\r\n
      \ \"etag\": \"W/\\\"ae0fe7d4-5063-4545-86ae-8fec17b75f07\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"a8334ca4-df4b-0721-3519-8adcecfe7ec0\",\r\n
      \   \"peeringState\": \"Initiated\",\r\n    \"remoteVirtualNetwork\": {\r\n
      \     \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ichwpb/providers/Microsoft.Network/virtualNetworks/samplevnet2\"\r\n
      \   },\r\n    \"allowVirtualNetworkAccess\": true,\r\n    \"allowForwardedTraffic\":
      false,\r\n    \"allowGatewayTransit\": false,\r\n    \"useRemoteGateways\":
[...]
