---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-zrzgxm","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm","name":"asotest-rg-zrzgxm","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus3","name":"samplevnetvmss","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/virtualNetworks/samplevnetvmss?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplevnetvmss\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/virtualNetworks/samplevnetvmss\",\r\n
      \ \"etag\": \"W/\\\"8e7b4daa-9c2b-4ea5-9bb9-58ca009f00f9\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus3\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"5edbab53-8fe4-4e14-bf1c-e7a2b3725f0c\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\":
      [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/f16bdb5a-091e-459a-99dd-278d9e486fd7?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"location":"westus3","name":"samplepublicipvmss","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplepublicipvmss\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss\",\r\n
      \ \"etag\": \"W/\\\"6ec8a9f3-72e5-4d91-b2a7-36b72eec5826\\\"\",\r\n  \"location\":
      \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n
      \   \"resourceGuid\": \"c651ba4b-4fe6-4e0f-bb68-1f2017382958\",\r\n    \"publicIPAddressVersion\":
      \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\":
      4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n
      \ \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n
      \ }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/82d20363-7c14-4be6-a9a1-ee069b2538d9?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "1"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"location":"westus3","name":"samplevnet","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/virtualNetworks/samplevnet?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \[...]
- request:
    body: '{"location":"westus3","name":"sampleloadbalancervmss","properties":{"frontendIPConfigurations":[{"name":"LoadBalancerFrontend","properties":{"publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss"}}}],"inboundNatPools":[{"name":"samplenatpoolvmss","properties":{"backendPort":22,"frontendIPConfiguration":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss/frontendIPConfigurations/LoadBalancerFrontend"},"frontendPortRangeEnd":51000,"frontendPortRangeStart":50000,"protocol":"Tcp"}}]},"sku":{"name":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"sampleloadbalancervmss\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"sampleloadbalancervmss\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss\",\r\n
      \ \"etag\": \"W/\\\"b558d365-b132-4ca1-8d1b-dfe2c6fb936c\\\"\",\r\n  \"type\":
      \"Microsoft.Network/loadBalancers\",\r\n  \"location\": \"westus3\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"cd5494d8-57d5-42c5-841a-b56441008ad4\",\r\n
      \   \"frontendIPConfigurations\": [\r\n      {\r\n        \"name\": \"LoadBalancerFrontend\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss/frontendIPConfigurations/LoadBalancerFrontend\",\r\n
      \       \"etag\": \"W/\\\"b558d365-b132-4ca1-8d1b-dfe2c6fb936c\\\"\",\r\n        \"type\":
      \"Microsoft.Network/loadBalancers/frontendIPConfigurations\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAllocationMethod\":
      \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss\"\r\n
      \         },\r\n          \"inboundNatPools\": [\r\n            {\r\n              \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss/inboundNatPools/samplenatpoolvmss\"\r\n
      \           }\r\n          ]\r\n        }\r\n      }\r\n    ],\r\n    \"backendAddressPools\":
      [],\r\n    \"loadBalancingRules\": [],\r\n    \"probes\": [],\r\n    \"inboundNatRules\":
      [],\r\n    \"outboundRules\": [],\r\n    \"inboundNatPools\": [\r\n      {\r\n
      \       \"name\": \"samplenatpoolvmss\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss/inboundNatPools/samplenatpoolvmss\",\r\n
      \       \"etag\": \"W/\\\"b558d365-b132-4ca1-8d1b-dfe2c6fb936c\\\"\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"frontendPortRangeStart\":
      50000,\r\n          \"frontendPortRangeEnd\": 51000,\r\n          \"backendPort\":
      22,\r\n          \"protocol\": \"Tcp\",\r\n          \"idleTimeoutInMinutes\":
      4,\r\n          \"enableFloatingIP\": false,\r\n          \"enableDestinationServiceEndpoint\":
      false,\r\n          \"enableTcpReset\": false,\r\n          \"allowBackendPortConflict\":
      false,\r\n          \"frontendIPConfiguration\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss/frontendIPConfigurations/LoadBalancerFrontend\"\r\n
      \         }\r\n        },\r\n        \"type\": \"Microsoft.Network/loadBalancers/inboundNatPools\"\r\n
      \     }\r\n    ]\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n
      \   \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b558d365-b132-4ca1-8d1b-dfe2c6fb936c"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/82d20363-7c14-4be6-a9a1-ee069b2538d9?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"samplepublicipvmss\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/publicIPAddresses/samplepublicipvmss\",\r\n
      \ \"etag\": \"W/\\\"cbdccce8-89dc-4c80-bc68-d4c065bed247\\\"\",\r\n  \"location\":
      \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
      \   \"resourceGuid\": \"c651ba4b-4fe6-4e0f-bb68-1f2017382958\",\r\n    \"ipAddress\":
      \"20.171.126.100\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
      \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\":
      {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss/frontendIPConfigurations/LoadBalancerFrontend\"\r\n
      \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\":
      {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cbdccce8-89dc-4c80-bc68-d4c065bed247"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"samplesubnet","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/virtualNetworks/samplevnet/subnets/samplesubnet?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplesubnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/virtualNetworks/samplevnet/subnets/samplesubnet\",\r\n
      \ \"etag\": \"W/\\\"7cdd4a98-4ccb-4977-89c3-85b5361456fe\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
      \   \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n
      \   \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/c4655a7f-a51a-4bd5-99d5-ffc76481fab3?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"name":"samplesubnetvmss","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/virtualNetworks/samplevnetvmss/subnets/samplesubnetvmss?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"sample[...]
- request:
    body: '{"location":"westus3","name":"samplenic","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/virtualNetworks/samplevnet/subnets/samplesubnet"}}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/networkInterfaces/samplenic?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplenic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/networkInterfaces/samplenic\",\r\n
      \ \"etag\": \"W/\\\"78543086-e3b5-4447-9c58-2de4e9668bf2\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"4f72003e-4339-4cce-8786-489385adcb2b\",\r\n
      \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/networkInterfaces/samplenic/ipConfigurations/ipconfig1\",\r\n
      \       \"etag\": \"W/\\\"78543086-e3b5-4447-9c58-2de4e9668bf2\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\":
      \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"subnet\":
      {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/virtualNetworks/samplevnet/subnets/samplesubnet\"\r\n
      \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
      \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
      [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
      \"ldlvjimuadpuxm0c3tnzyira2c.phxx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\":
      false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\":
      false,\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
      \   \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n
      \ \"location\": \"westus3\"\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/d7d67539-3473-4918-9a60-90bed7c36f5b?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"location":"westus3","name":"samplenicvmss","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/virtualNetworks/samplevnetvmss/subnets/samplesubnetvmss"}}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://manage[...]
[...]
- request:
    body: '{"location":"westcentralus","name":"sampledisk","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":500},"sku":{"name":"Standard_LRS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/disks/sampledisk?api-version=2020-09-30
    method: PUT
  response:
    body: "{\r\n  \"name\": \"sampledisk\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/disks/sampledisk\",\r\n
      \ \"location\": \"westcentralus\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n
      \ },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\":
      \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 500,\r\n    \"provisioningState\":
      \"Updating\",\r\n    \"isArmResource\": true\r\n  }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/b500202a-94cf-41fc-8ab5-f13c3207a004?p=aa3c9f6f-c947-4d08-8f01-8a0785de1458&api-version=2020-09-30
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/b500202a-94cf-41fc-8ab5-f13c3207a004?p=aa3c9f6f-c947-4d08-8f01-8a0785de1458&monitor=true&api-version=2020-09-30
      Retry-After:
      - "2"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"location":"westus2","name":"aso-sample-snapshot","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":32}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/snapshots/aso-sample-snapshot?api-version=2020-09-30
    method: PUT
  response:
    body: "{[...]
- request:
    body: '{"location":"westus3","name":"samplevmss","properties":{"platformFaultDomainCount":2,"singlePlacementGroup":false,"upgradePolicy":{"mode":"Automatic"},"virtualMachineProfile":{"networkProfile":{"networkInterfaceConfigurations":[{"name":"samplenicconfig","properties":{"ipConfigurations":[{"name":"sampleipconfiguration","properties":{"loadBalancerInboundNatPools":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss/inboundNatPools/samplenatpoolvmss"}],"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/virtualNetworks/samplevnetvmss/subnets/samplesubnetvmss"}}}],"primary":true}}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"adminUser","computerNamePrefix":"computer"},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"22.04-lts","version":"latest"}}}},"sku":{"capacity":1,"name":"standard_d1_v2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/virtualMachineScaleSets/samplevmss?api-version=2020-12-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplevmss\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/virtualMachineScaleSets/samplevmss\",\r\n
      \ \"type\": \"Microsoft.Compute/virtualMachineScaleSets\",\r\n  \"location\":
      \"westus3\",\r\n  \"tags\": {\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\":
      \"true\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"standard_d1_v2\",\r\n    \"tier\":
      \"Standard\",\r\n    \"capacity\": 1\r\n  },\r\n  \"properties\": {\r\n    \"singlePlacementGroup\":
      false,\r\n    \"upgradePolicy\": {\r\n      \"mode\": \"Automatic\"\r\n    },\r\n
      \   \"virtualMachineProfile\": {\r\n      \"osProfile\": {\r\n        \"computerNamePrefix\":
      \"computer\",\r\n        \"adminUsername\": \"adminUser\",\r\n        \"linuxConfiguration\":
      {\r\n          \"disablePasswordAuthentication\": false,\r\n          \"provisionVMAgent\":
      true\r\n        },\r\n        \"secrets\": [],\r\n        \"allowExtensionOperations\":
      true,\r\n        \"requireGuestProvisionSignal\": true\r\n      },\r\n      \"storageProfile\":
      {\r\n        \"osDisk\": {\r\n          \"osType\": \"Linux\",\r\n          \"createOption\":
      \"FromImage\",\r\n          \"caching\": \"None\",\r\n          \"managedDisk\":
      {\r\n            \"storageAccountType\": \"Standard_LRS\"\r\n          },\r\n
      \         \"diskSizeGB\": 30\r\n        },\r\n        \"imageReference\": {\r\n
      \         \"publisher\": \"Canonical\",\r\n          \"offer\": \"UbuntuServer\",\r\n
      \         \"sku\": \"22.04-lts\",\r\n          \"version\": \"latest\"\r\n        }\r\n
      \     },\r\n      \"networkProfile\": {\"networkInterfaceConfigurations\":[{\"name\":\"samplenicconfig\",\"properties\":{\"primary\":true,\"enableAcceleratedNetworking\":false,\"dnsSettings\":{\"dnsServers\":[]},\"enableIPForwarding\":false,\"ipConfigurations\":[{\"name\":\"sampleipconfiguration\",\"properties\":{\"subnet\":{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/virtualNetworks/samplevnetvmss/subnets/samplesubnetvmss\"},\"privateIPAddressVersion\":\"IPv4\",\"loadBalancerInboundNatPools\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/loadBalancers/sampleloadbalancervmss/inboundNatPools/samplenatpoolvmss\"}]}}]}}]}\r\n
      \   },\r\n    \"provisioningState\": \"Creating\",\r\n    \"overprovision\":
      true,\r\n    \"doNotRunExtensionsOnOverprovisionedVMs\": false,\r\n    \"uniqueId\":
      \"609c1e4b-1b6e-4b86-a78c-5625ab83c273\",\r\n    \"platformFaultDomainCount\":
      2\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/WestUS3/operations/0815607c-ee89-4e7d-b2ce-e22972a8e79f?p=93fd77d0-b68a-4f23-9784-580125b791c6&api-version=2020-12-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/CreateVMScaleSet3Min;59,Microsoft.Compute/CreateVMScaleSet30Min;299,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1198,Microsoft.Compute/VmssQueuedVMOperations;0
      X-Ms-Request-Charge:
      - "2"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"location":"westus3","name":"samplevm","properties":{"hardwareProfile":{"vmSize":"Standard_A1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/networkInterfaces/samplenic"}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"bloom","computerName":"poppy"},"storageProfile":{"imageReference":{"offer":"UbuntuServer","publisher":"Canonical","sku":"22.04-LTS","version":"latest"}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/virtualMachines/samplevm?api-version=2020-12-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplevm\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/virtualMachines/samplevm\",\r\n
      \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus3\",\r\n
      \ \"tags\": {\r\n    \"platformsettings.host_environment.service.platform_optedin_for_rootcerts\":
      \"true\"\r\n  },\r\n  \"properties\": {\r\n    \"vmId\": \"807d63ae-5e8f-421b-8e4f-ddaae2d94c9b\",\r\n
      \   \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n    },\r\n
      \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
      \"Canonical\",\r\n        \"offer\": \"UbuntuServer\",\r\n        \"sku\": \"22.04-LTS\",\r\n
      \       \"version\": \"latest\",\r\n        \"exactVersion\": \"22.04.202209210\"\r\n
      \     },\r\n      \"osDisk\": {\r\n        \"osType\": \"Linux\",\r\n        \"createOption\":
      \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n        \"managedDisk\":
      {\r\n          \"storageAccountType\": \"Standard_LRS\"\r\n        },\r\n        \"diskSizeGB\":
      30\r\n      },\r\n      \"dataDisks\": []\r\n    },\r\n    \"osProfile\": {\r\n
      \     \"computerName\": \"poppy\",\r\n      \"adminUsername\": \"bloom\",\r\n
      \     \"linuxConfiguration\": {\r\n        \"disablePasswordAuthentication\":
      false,\r\n        \"provisionVMAgent\": true,\r\n        \"patchSettings\":
      {\r\n          \"patchMode\": \"ImageDefault\"\r\n        }\r\n      },\r\n
      \     \"secrets\": [],\r\n      \"allowExtensionOperations\": true,\r\n      \"requireGuestProvisionSignal\":
      true\r\n    },\r\n    \"networkProfile\": {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Network/networkInterfaces/samplenic\"}]},\r\n
      \   \"provisioningState\": \"Creating\"\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/WestUS3/operations/f62318c2-5aab-460c-814f-5aa3e18bd98e?p=93fd77d0-b68a-4f23-9784-580125b791c6&api-version=2020-12-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1199
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"location":"westus2","name":"aso-sample-image","properties":{"hyperVGeneration":"V2","storageProfile":{"osDisk":{"diskSizeGB":32,"osState":"Generalized","osType":"Linux","snapshot":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/snapshots/aso-sample-snapshot"}}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/images/aso-sample-image?api-version=2021-07-01
    method: PUT
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\":
      \"The entity was not found in this Azure location.\",\r\n    \"target\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zrzgxm/providers/Microsoft.Compute/snapshots/aso-sample-snapshot\"\r\n
      \ }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/CreateImages3Min;39,Microsoft.Compute/CreateImages30Min;199
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
[...]
