---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-zzrjtb","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 28e89601d0d503c0738604d27ada93199a7f24bd4fbd775af6a37366e8a36468
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb","name":"asotest-rg-zzrjtb","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 5.032811208s
    - id: 1
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb","name":"asotest-rg-zzrjtb","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 308.704167ms
    - id: 2
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/workspacescomputevnet'' under resource group ''asotest-rg-zzrjtb'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 397.180375ms
    - id: 3
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/networkSecurityGroups/workspacescomputensg'' under resource group ''asotest-rg-zzrjtb'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 483.123833ms
    - id: 4
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus3/deletedVaults/ms-ws-vault?api-version=2024-11-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus3/deletedVaults/ms-ws-vault","name":"ms-ws-vault","type":"Microsoft.KeyVault/deletedVaults","properties":{"vaultId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.KeyVault/vaults/ms-ws-vault","location":"westus3","tags":{},"deletionDate":"2001-02-03T04:05:06Z","scheduledPurgeDate":"2001-02-03T04:05:06Z"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 1.040389s
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"workspacescomputepublicip","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 2373b12e017787673a0a654bd42fe8778024c9c7aebe83593ce19d4534a4abc3
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"workspacescomputepublicip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip","etag":"W/\"8d0d58d2-2312-4746-8057-91dd28297626\"","location":"westus3","properties":{"provisioningState":"Updating","resourceGuid":"015ad1e6-2443-4dd8-860e-d4d47a102d94","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[]},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/0541d84a-bb32-429b-a439-4e331ef200fb?api-version=2020-11-01&t=638645826239821295&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQxMDAzMDg1MDA1WhcNMjUwNDAxMDg1MDA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLm[...]
    - id: 6
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"workspacescomputevnet","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - d1f289237bbb37a8a1d083755ae2e82d8a1b0358f5194c086699c57faadb999b
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"workspacescomputevnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet","etag":"W/\"a89fcf10-eb7e-4565-b9e0-5bcf83b7e47b\"","type":"Microsoft.Network/virtualNetworks","location":"westus3","properties":{"provisioningState":"Updating","resourceGuid":"ada7c450-36b9-4335-b5ef-dfa28736005e","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/50a5696b-ca2d-410b-bac0-53204396b315?api-version=2020-11-01&t=638645826245440663&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9[...]
    - id: 7
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"westus2","name":"asotestyoyuey","properties":{"publicNetworkAccess":"Disabled","regionDetails":[{"acrDetails":[{"systemCreatedAcrAccount":{"acrAccountName":"myasoamltestacr","acrAccountSku":"Premium"}}],"location":"westus2","storageAccountDetails":[{"systemCreatedStorageAccount":{"allowBlobPublicAccess":false,"storageAccountName":"myasoamltestsa","storageAccountType":"Standard_LRS"}}]}]},"sku":{"name":"P3","tier":"Free"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7054ab408a728586ddba80996299c038c7fed52818c579d68c415a3b2cf3348a
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.MachineLearningServices/registries/asotestyoyuey?api-version=2024-04-01
        method: PUT
      respons[...]
[...]
    - id: 9
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"workspacescomputensg"}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 2bed002d8f3e6492a59b93eb747976cb9e5feb6938d6aefb28193fb66e13fbe0
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"workspacescomputensg","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg","etag":"W/\"21357f56-a128-4855-b5be-84940acf6d3b\"","type":"Microsoft.Network/networkSecurityGroups","location":"westus3","properties":{"provisioningState":"Updating","resourceGuid":"58f6c467-b92a-466c-bb62-258b0f43011f","securityRules":[],"defaultSecurityRules":[{"name":"AllowVnetInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg/defaultSecurityRules/AllowVnetInBound","etag":"W/\"21357f56-a128-4855-b5be-84940acf6d3b\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow inbound traffic from all VMs in VNET","protocol":"*","sourcePortRange":"*","destinationPortRange":"*","sourceAddressPrefix":"VirtualNetwork","destinationAddressPrefix":"VirtualNetwork","access":"Allow","priority":65000,"direction":"Inbound","sourcePortRanges":[],"destinationPortRanges":[],"sourceAddressPrefixes":[],"destinationAddressPrefixes":[]}},{"name":"AllowAzureLoadBalancerInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg/defaultSecurityRules/AllowAzureLoadBalancerInBound","etag":"W/\"21357f56-a128-4855-b5be-84940acf6d3b\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow inbound traffic from azure load balancer","protocol":[...]
    - id: 10
      request:
        host: management.azure.com
        body: '{"kind":"BlobStorage","location":"westus3","name":"asoworkspacestorageacct1","properties":{"accessTier":"Hot","allowBlobPublicAccess":false},"sku":{"name":"Standard_LRS"},"tags":null}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - bf728d3dc140cc5d2c12c9a857135a048011c8f6edf1ea12c900a080f443377d
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1?api-version=2023-01-01
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus3/asyncoperations/3777111d-a648-4a55-bda0-80e21d3fb953?monitor=true&api-version=2023-01-01&t=638645826269299209&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQxMDAzMDg1MDA1WhcNMjUwNDAxMDg1MDA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25[...]
    - id: 11
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/0541d84a-bb32-429b-a439-4e331ef200fb?api-version=2020-11-01&t=638645826239821295&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
    - id: 12
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/50a5696b-ca2d-410b-bac0-53204396b315?api-version=2020-11-01&t=638645826245440663&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
    - id: 13
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"workspacescomputepublicip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip","etag":"W/\"afe95d7f-8bbe-4e53-8214-c9b2e4ba4159\"","location":"westus3","properties":{"provisioningState":"Succeeded","resourceGuid":"015ad1e6-2443-4dd8-860e-d4d47a102d94","ipAddress":"20.171.139.216","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[]},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"afe95d7f-8bbe-4e53-8214-c9b2e4ba4159"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 623.258958ms
[...]
    - id: 15
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"ms-ws-vault","properties":{"accessPolicies":[{"applicationId":"c8d42d17-0044-4119-99f9-9207b705c9df","objectId":"2735f286-1d85-49bc-bfec-c5994ede7e7f","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]},"tenantId":"00000000-0000-0000-0000-000000000000"}],"createMode":"recover","sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - be73b4f82849205120de2d322cc6c7376353891767af8e378cf69f3304883fca
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.KeyVault/vaults/ms-ws-vault?api-version=2021-04-01-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.KeyVault/vaults/ms-ws-vault","name":"ms-ws-vault","type":"Microsoft.KeyVault/vaults","location":"westus3","tags":{},"systemData":{"createdBy":"harshdsingh@microsoft.com","createdByType":"User","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"harshdsingh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2001-02-03T04:05:06Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"2735f286-1d85-49bc-bfec-c5994ede7e7f","applicationId":"c8d42d17-0044-4119-99f9-9207b705c9df","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]}},{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"4bb9bc58-c802-4ca9-8d4f-d2e49661c0ca","permissions":{"keys":["all"],"secrets":["all"],"certificates":["all"],"storage":[]}}],"enabledForDeployment":false,"enableSoftDelete":true,"vaultUri":"https://ms-ws-vault.vault.azure.net/","provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 6.770231958s
    - id: 16
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus2/registryOperationsStatus/2349c856-53c2-4e42-bab4-81d7d72d9c3d?api-version=2024-04-01&type=async&t=638645826248059713&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGR[...]
[...]
    - id: 19
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"westus3","name":"asotestqbwrzh","properties":{"allowPublicAccessWhenBehindVnet":false,"keyVault":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.KeyVault/vaults/ms-ws-vault","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1"},"sku":{"name":"Standard_S1","tier":"Basic"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 61b8f0e32ed561e418d55a08f5ed983ac425c4880c52f9ac2daf8ffd8ccca221
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGrou[...]
    - id: 20
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/8562b19c-f33e-4863-bf1b-f3bf08dd6a69?api-version=2020-11-01&t=638645826263585332&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
[...]
    - id: 22
      request:
        host: management.azure.com
        body: '{"name":"workspacescomputesubnet","properties":{"addressPrefix":"10.0.0.0/24"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 170bb6e9ee457d4b498162e2f43a60b1528dc6ff89763ba5f609297e80616010
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"workspacescomputesubnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet","etag":"W/\"cd776fba-b89b-45b9-bbf8-04530ac45cfa\"","properties":{"provisioningState":"Updating","addressPrefix":"10.0.0.0/24","delegations":[],"privateEndpointNetworkPolicies":"Disabled","privateLinkServiceNetworkPolicies":"Enabled"},"type":"Microsoft.Network/virtualNetworks/subnets"}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/07b8b42b-cb86-4037-a162-68a786ee508c?api-version=2020-11-01&t=638645826363692504&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
    - id: 24
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus3/asyncoperations/3777111d-a648-4a55-bda0-80e21d3fb953?monitor=true&api-version=2023-01-01&t=638645826269299209&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyL[...]
    - id: 25
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/07b8b42b-cb86-4037-a162-68a786ee508c?api-version=2020-11-01&t=638645826363692504&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
[...]
    - id: 27
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/W8VdU04VbpiWqBIiv55c2gTcrXBOLZ-d3WWJ05Ym6iA?api-version=2024-04-01&type=async&t=638645826332438929&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZ[...]
[...]
    - id: 32
      request:
        host: management.azure.com
        body: '{"name":"workspacescomputensgrule","properties":{"access":"Allow","description":"Allow access to any source port","destinationAddressPrefix":"*","destinationPortRange":"22","direction":"Inbound","priority":101,"protocol":"Tcp","sourceAddressPrefix":"*","sourcePortRange":"*"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 55d896d769ca1ef5e[...]
    - id: 33
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"workspacescomputenic","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet"}}}],"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg"}}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - f30fa5c217c72e386d8e97edd68507b790777db51874db561b34ed168aaf90bc
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkInterfaces/workspacescomputenic?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"workspacescomputenic","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkInterfaces/workspacescomputenic","etag":"W/\"077fbf8e-6562-4519-9188-02d4d180c315\"","properties":{"provisioningState":"Succeeded","resourceGuid":"33cdaa93-913a-4cec-be40-baddcb94895e","ipConfigurations":[{"name":"ipconfig1","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkInterfaces/workspacescomputenic/ipConfigurations/ipconfig1","etag":"W/\"077fbf8e-6562-4519-9188-02d4d180c315\"","type":"Microsoft.Network/networkInterfaces/ipConfigurations","properties":{"provisioningState":"Succeeded","privateIPAddress":"10.0.0.4","privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet"},"primary":true,"privateIPAddressVersion":"IPv4"}}],"dnsSettings":{"dnsServers":[],"appliedDnsServers":[],"internalDomainNameSuffix":"kdckplnzgy0uhnpp14rionqalg.phxx.internal.cloudapp.net"},"enableAcceleratedNetworking":false,"vnetEncryptionSupported":false,"enableIPForwarding":false,"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg"},"hostedWorkloads":[],"tapConfigurations":[],"nicType":"Standard"},"type":"Microsoft.Network/networkInterfaces","location":"westus3"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 3.570168291s
[...]
    - id: 35
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/57e13732-8810-421c-86df-8234b5c0299e?api-version=2020-11-01&t=638645826529672017&c=MIIHhzCCBm-gAwIBAgITfAWZnAKDvd4xEuvOGQAABZmcAjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgY[...]
[...]
    - id: 41
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1?api-version=2023-01-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"BlobStorage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1","name":"asoworkspacestorageacct1","type":"Microsoft.Storage/storageAccounts","location":"westus3","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asoworkspacestorageacct1.dfs.core.windows.net/","blob":"https://asoworkspacestorageacct1.blob.core.windows.net/","table":"https://asoworkspacestorageacct1.table.core.windows.net/"},"primaryLocation":"westus3","statusOfPrimary":"available"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 1.164357833s
    - id: 42
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.MachineLearningServices/workspaces/asotestqbwrzh?api-version=2024-04-01
        method: GET
      response:
        body: |-
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.MachineLearningServices/workspaces/asotestqbwrzh",
              "name": "asotestqbwrzh",
              "type": "Microsoft.MachineLearningServices/workspaces",
              "location": "westus3",
              "tags": {},
              "etag": null,
[...]
