---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-nnxzgr","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
            Test-Request-Hash:
                - 1d1f3e93c870eea52ed5e19e997aff841a38ae16fce10c550eaac6834db3fb36
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr","name":"asotest-rg-nnxzgr","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.435373958s
[...]
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"sampleuserassignedidentity"}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
            Test-Request-Hash:
                - 62bfba04d360857b6a5bff45361762c931fe822fa039b2afad402c502be0f949
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity?api-version=2018-11-30
        method: PUT
      response:
        body: '{"location":"westcentralus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-nnxzgr/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity","name":"sampleuserassignedidentity","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"00000000-0000-0000-0000-000000000000","principalId":"ee1f1747-9dae-4da8-983a-8ea978976d9b","clientId":"df651ace-6bf3-4f7a-9e57-57de7eac1c7e"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-nnxzgr/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity
        status: 201 Created
        code: 201
        duration: 2.602218666s
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"asotestifbhwl","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"Developer"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
            Test-Request-Hash:
                - 911799a217475979a6b74ea28586a639152de34d94cc7da6550a9046762bf9a7
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl?api-version=2022-08-01
        method: PUT
      response:
        body: '{"etag":"AAAAAAAnh+k=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting","notificationSenderEmail":"apimgmt-noreply@mail.windowsazure.com","provisioningState":"Activating","targetProvisioningState":"Activating","createdAtUtc":"2001-02-03T04:05:06Z","gatewayUrl":"https://asotestifbhwl.azure-api.net","gatewayRegionalUrl":null,"portalUrl":null,"developerPortalUrl":null,"managementApiUrl":null,"scmUrl":null,"hostnameConfigurations":[{"type":"Proxy","hostName":"asotestifbhwl.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true,"identityClientId":null,"certificateSource":"BuiltIn","certificateStatus":null}],"publicIPAddresses":null,"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":null,"virtualNetworkType":"None","certificates":null,"disableGateway":false,"natGatewayState":"Disabled","outboundPublicIPAddresses":null,"apiVersionConstraint":{"minApiVersion":null},"publicIpAddressId":null,"publicNetworkAccess":"Enabled","privateEndpointConnections":null,"platformVersion":"undetermined"},"sku":{"name":"Developer","capacity":1},"identity":null,"zones":null,"systemData":{"createdBy":"5fe8acba-4694-403d-8c10-581a22063ff8","createdByType":"Application","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"5fe8acba-4694-403d-8c10-581a22063ff8","lastModifiedByType":"Application","lastModifiedAt":"2001-02-03T04:05:06Z"},"location":"West Central US","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl","name":"asotestifbhwl","type":"Microsoft.ApiManagement/service"}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/operationresults/d2VzdGNlbnRyYWx1czphc290ZXN0aWZiaHdsX0FjdF9jOWQ3ZGE0YQ==?api-version=2022-08-01&asyncResponse&t=638481254503821455&c=MIIHADCCBeigAwIBAgITHgPrWOVrMb7qufvgEAAAA-tY5TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwMjAxMDQxMjQzWhcNMjUwMTI2MDQxMjQzWjB[...]
[...]
    - id: 6
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/operationresults/d2VzdGNlbnRyYWx1czphc290ZXN0aWZiaHdsX0FjdF9jOWQ3ZGE0YQ==?api-version=2022-08-01&asyncResponse&t=638481254503821455&c=MIIHADCCBeigAwIBAgITHgPrWOVrMb7qufvgEAAAA-tY5TANB[...]
[...]
    - id: 11
      request:
        host: management.azure.com
        body: '{"name":"asotestaachpc","properties":{"displayName":"My_Key","secret":false,"value":"It''s value"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
            Test-Request-Hash:
                - 6a18a69f5d967516fc290becae20fe7901685ad5aba4ea027958672cb6d8b37f
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/namedValues/asotestaachpc?api-version=2022-08-01
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/namedValues/asotestaachpc?api-version=2022-08-01&asyncId=661321ba217d201ab8ec1a1b&asyncCode=201
        status: 202 Accepted
        code: 202
        duration: 1.865332875s
    - id: 12
      request:
        host: management.azure.com
        body: '{"name":"asotestcbcchw","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"grantTypes":{"authorizationCode":{"clientId":"0","clientSecret":"####","resourceUri":"www.contoso.com"}}}}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
            Test-Request-Hash:
                - fd14c3c43d401cbcc75b2d7d3aa77162ac298f647ee24285b103e741492ff209
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/authorizationProviders/asotestcbcchw?api-version=2022-08-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/authorizationProviders/asotestcbcchw","name":"asotestcbcchw","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"West Central US","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager.consent.azure-apim.net/redirect/apim/asotestifbhwl","grantTypes":{"authorizationCode":{"clientId":"0","scopes":null,"resourceUri":"www.contoso.com"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.907671625s
    - id: 13
      request:
        host: management.azure.com
        body: '{"name":"asotestaerndr","properties":{"description":"A Description about the policy fragment","value":"\u003cfragment\u003e\u003c/fragment\u003e"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
            Test-Request-Hash:
                - 6e025dec7703b8c37b34a6ffd69df26952ccd04019e34bf724b810ca37f5b15e
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/policyFragments/asotestaerndr?api-version=2022-08-01
        method: PUT
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/policyFragments/asotestaerndr?api-version=2022-08-01&asyncId=661321b9217d201ab8ec1a19&asyncCode=201
        status: 202 Accepted
        code: 202
        duration: 2.369729708s
    - id: 14
      request:
        host: management.azure.com
        body: '{"name":"asotestdhimtd","properties":{"description":"Sample backend","protocol":"http","url":"http://www.contoso.com"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
            Test-Request-Hash:
                - 37f24c1af38b1bcc31f9d4288c418e6eb6f800913dfa63b7f63cd1a7ec125eca
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/backends/asotestdhimtd?api-version=2022-08-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/backends/asotestdhimtd\",\r\n  \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"asotestdhimtd\",\r\n  \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"Sample backend\",\r\n    \"url\": \"http://www.contoso.com\",\r\n    \"protocol\": \"http\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAAACWw="'
        status: 201 Created
        code: 201
        duration: 2.418514917s
    - id: 15
      request:
        host: management.azure.com
        body: '{"name":"policy","properties":{"value":"\u003cpolicies\u003e \u003cinbound /\u003e \u003cbackend\u003e \u003cforward-request /\u003e \u003c/backend\u003e \u003coutbound /\u003e \u003c/policies\u003e"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
            Test-Request-Hash:
                - 7a9f87a0ceb9269b9e8c0eb0e6e31914a71c07b2b385eeecc1192260494704a3
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/policies/policy?api-version=2022-08-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/policies/policy\",\r\n  \"type\": \"Microsoft.ApiManagement/service/policies\",\r\n  \"name\": \"policy\",\r\n  \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\": \"<policies>\\r\\n\\t<inbound />\\r\\n\\t<backend>\\r\\n\\t\\t<forward-request />\\r\\n\\t</backend>\\r\\n\\t<outbound />\\r\\n</policies>\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAAACXA="'
        status: 200 OK
        code: 200
        duration: 2.433315958s
    - id: 16
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/authorizationProviders/asotestcbcchw?api-version=2022-08-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/authorizationProviders/asotestcbcchw","name":"asotestcbcchw","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"West Central US","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager.consent.azure-apim.net/redirect/apim/asotestifbhwl","grantTypes":{"authorizationCode":{"clientId":"0","scopes":null,"resourceUri":"www.contoso.com"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.079477208s
[...]
    - id: 18
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/namedValues/asotestaachpc?api-version=2022-08-01&asyncId=661321ba217d201ab8ec1a1b&asyncCode=201
        method: GET
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/namedValues/asotestaachpc\",\r\n  \"type\": \"Microsoft.ApiManagement/service/namedValues\",\r\n  \"name\": \"asotestaachpc\",\r\n  \"properties\": {\r\n    \"displayName\": \"My_Key\",\r\n    \"value\": \"It's value\",\r\n    \"tags\": null,\r\n    \"secret\": false\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAAACW0="'
        status: 201 Created
        code: 201
        duration: 1.080472167s
    - id: 19
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/policyFragments/asotestaerndr?api-version=2022-08-01&asyncId=661321b9217d201ab8ec1a19&asyncCode=201
        method: GET
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/policyfragments/asotestaerndr\",\r\n  \"type\": \"Microsoft.ApiManagement/service/policyFragments\",\r\n  \"name\": \"asotestaerndr\",\r\n  \"properties\": {\r\n    \"description\": \"A Description about the policy fragment\",\r\n    \"value\": \"<fragment></fragment>\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"bQkAAAAAAAA="'
        status: 201 Created
        code: 201
        duration: 549.0925ms
    - id: 20
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/backends/asotestdhimtd?api-version=2022-08-01
        method: GET
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/backends/asotestdhimtd\",\r\n  \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"asotestdhimtd\",\r\n  \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"Sample backend\",\r\n    \"url\": \"http://www.contoso.com\",\r\n    \"protocol\": \"http\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAAACWw="'
        status: 200 OK
        code: 200
        duration: 507.740458ms
[...]
    - id: 24
      request:
        host: management.azure.com
        body: '{"name":"asotestbhkvks","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
            Test-Request-Hash:
                - e02af7e9188a998bfb92dbd7ebb6d2e1cbe9903088cad985cbf9a41b79bc1002
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/authorizationProviders/asotestcbcchw/authorizations/asotestbhkvks?api-version=2022-08-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/authorizationProviders/asotestcbcchw/authorizations/asotestbhkvks","name":"asotestbhkvks","type":"Microsoft.ApiManagement/service/authorizationProviders/authorizations","location":"West Central US","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode","status":"Error","error":{"code":"Unauthenticated","message":"This connection is not authenticated."}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.668442709s
[...]
    - id: 26
      request:
        host: management.azure.com
        body: '{"name":"asotestrupsri","properties":{"objectId":"ee1f1747-9dae-4da8-983a-8ea978976d9b","tenantId":"00000000-0000-0000-0000-000000000000"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Attempt:
                - "0"
            Test-Request-Hash:
                - 58329ae5098a1d4a0e050df609818e462772c56586935ac069752c3a1bff7023
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/authorizationProviders/asotestcbcchw/authorizations/asotestbhkvks/accessPolicies/asotestrupsri?api-version=2022-08-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl/authorizationProviders/asotestcbcchw/authorizations/asotestbhkvks/accessPolicies/asotestrupsri","name":"asotestrupsri","type":"Microsoft.ApiManagement/service/authorizationProviders/authorizations/accessPolicies/","location":"West Central US","properties":{"objectId":"ee1f1747-9dae-4da8-983a-8ea978976d9b","tenantId":"00000000-0000-0000-0000-000000000000","appIds":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.268911792s
[...]
    - id: 29
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkROTlhaR1ItV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638481267661726677&c=MIIHADCCBeigAwIBAgITHgPrWOVrMb7qufvgEAAAA-tY5TANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQ[...]
[...]
    - id: 32
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-nnxzgr/providers/Microsoft.ApiManagement/service/asotestifbhwl?api-version=2022-08-01
        method: DELETE
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-nnxzgr'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 151.368458ms
[...]
