---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-emkabl","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl","name":"asotest-rg-emkabl","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 557.606356ms
[...]
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"global","name":"aso-sample-dz.com"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl/providers/Microsoft.Network/dnsZones/aso-sample-dz.com?api-version=2018-05-01
        method: PUT
      response:
        body: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/asotest-rg-emkabl\/providers\/Microsoft.Network\/dnszones\/aso-sample-dz.com","name":"aso-sample-dz.com","type":"Microsoft.Network\/dnszones","etag":"5714f3c9-0067-482a-8e4e-5c84949c19e5","location":"global","tags":{},"properties":{"maxNumberOfRecordSets":10000,"maxNumberOfRecordsPerRecordSet":null,"nameServers":["ns1-38.azure-dns.com.","ns2-38.azure-dns.net.","ns3-38.azure-dns.org.","ns4-38.azure-dns.info."],"numberOfRecordSets":2,"zoneType":"Public"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - 5714f3c9-0067-482a-8e4e-5c84949c19e5
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "11999"
        status: 201 Created
        code: 201
        duration: 9.69631353s
[...]
    - id: 5
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-record-a","properties":{"ARecords":[{"ipv4Address":"10.0.1.9"}],"TTL":3600}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl/providers/Microsoft.Network/dnsZones/aso-sample-dz.com/A/aso-sample-record-a?api-version=2018-05-01
        method: PUT
      response:
        body: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/asotest-rg-emkabl\/providers\/Microsoft.Network\/dnszones\/aso-sample-dz.com\/A\/aso-sample-record-a","name":"aso-sample-record-a","type":"Microsoft.Network\/dnszones\/A","etag":"50ec5b8a-a3b3-4fea-9b15-cc6b2bd11e85","properties":{"fqdn":"aso-sample-record-a.aso-sample-dz.com.","TTL":3600,"ARecords":[{"ipv4Address":"10.0.1.9"}],"targetResource":{},"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - 50ec5b8a-a3b3-4fea-9b15-cc6b2bd11e85
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.794802753s
    - id: 6
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-record-srv","properties":{"SRVRecords":[{"port":80,"priority":0,"target":"target.asosample.com","weight":50}],"TTL":3600}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl/providers/Microsoft.Network/dnsZones/aso-sample-dz.com/SRV/aso-sample-record-srv?api-version=2018-05-01
        method: PUT
      response:
        body: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/asotest-rg-emkabl\/providers\/Microsoft.Network\/dnszones\/aso-sample-dz.com\/SRV\/aso-sample-record-srv","name":"aso-sample-record-srv","type":"Microsoft.Network\/dnszones\/SRV","etag":"722f65c3-3be0-4284-a92a-f360c9246ad0","properties":{"fqdn":"aso-sample-record-srv.aso-sample-dz.com.","TTL":3600,"SRVRecords":[{"port":80,"priority":0,"target":"target.asosample.com","weight":50}],"targetResource":{},"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - 722f65c3-3be0-4284-a92a-f360c9246ad0
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.813651323s
    - id: 7
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-record-mx","properties":{"MXRecords":[{"exchange":"mail.aso-sample.com","preference":0}],"TTL":3600}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl/providers/Microsoft.Network/dnsZones/aso-sample-dz.com/MX/aso-sample-record-mx?api-version=2018-05-01
        method: PUT
      response:
        body: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/asotest-rg-emkabl\/providers\/Microsoft.Network\/dnszones\/aso-sample-dz.com\/MX\/aso-sample-record-mx","name":"aso-sample-record-mx","type":"Microsoft.Network\/dnszones\/MX","etag":"e1ef0719-7b83-47c2-90df-a04c99fd7349","properties":{"fqdn":"aso-sample-record-mx.aso-sample-dz.com.","TTL":3600,"MXRecords":[{"exchange":"mail.aso-sample.com","preference":0}],"targetResource":{},"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - e1ef0719-7b83-47c2-90df-a04c99fd7349
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.826911725s
    - id: 8
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-record-aaaa","properties":{"AAAARecords":[{"ipv6Address":"2001:0db8:85a3:0000:0000:8a2e:0370:7334"}],"TTL":3600}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl/providers/Microsoft.Network/dnsZones/aso-sample-dz.com/AAAA/aso-sample-record-aaaa?api-version=2018-05-01
        method: PUT
      response:
        body: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/asotest-rg-emkabl\/providers\/Microsoft.Network\/dnszones\/aso-sample-dz.com\/AAAA\/aso-sample-record-aaaa","name":"aso-sample-record-aaaa","type":"Microsoft.Network\/dnszones\/AAAA","etag":"a2c5c062-8d45-437e-bbd1-f9e57125fbab","properties":{"fqdn":"aso-sample-record-aaaa.aso-sample-dz.com.","TTL":3600,"AAAARecords":[{"ipv6Address":"2001:0db8:85a3:0000:0000:8a2e:0370:7334"}],"targetResource":{},"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - a2c5c062-8d45-437e-bbd1-f9e57125fbab
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.011757308s
    - id: 9
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-record-caa","properties":{"caaRecords":[{"flags":0,"tag":"aso","value":"test"}],"TTL":3600}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl/providers/Microsoft.Network/dnsZones/aso-sample-dz.com/CAA/aso-sample-record-caa?api-version=2018-05-01
        method: PUT
      response:
        body: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/asotest-rg-emkabl\/providers\/Microsoft.Network\/dnszones\/aso-sample-dz.com\/CAA\/aso-sample-record-caa","name":"aso-sample-record-caa","type":"Microsoft.Network\/dnszones\/CAA","etag":"4815a2f5-3d15-4a05-802e-9f578d5a53d5","properties":{"fqdn":"aso-sample-record-caa.aso-sample-dz.com.","TTL":3600,"caaRecords":[{"flags":0,"tag":"aso","value":"test"}],"targetResource":{},"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - 4815a2f5-3d15-4a05-802e-9f578d5a53d5
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.009834203s
    - id: 10
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-record-ptr","properties":{"PTRRecords":[{"ptrdname":"asosample.com"}],"TTL":3600}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl/providers/Microsoft.Network/dnsZones/aso-sample-dz.com/PTR/aso-sample-record-ptr?api-version=2018-05-01
        method: PUT
      response:
        body: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/asotest-rg-emkabl\/providers\/Microsoft.Network\/dnszones\/aso-sample-dz.com\/PTR\/aso-sample-record-ptr","name":"aso-sample-record-ptr","type":"Microsoft.Network\/dnszones\/PTR","etag":"558cdebf-396a-44ca-99ed-5c0e6534cc21","properties":{"fqdn":"aso-sample-record-ptr.aso-sample-dz.com.","TTL":3600,"PTRRecords":[{"ptrdname":"asosample.com"}],"targetResource":{},"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - 558cdebf-396a-44ca-99ed-5c0e6534cc21
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.050888872s
    - id: 11
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-record-ns","properties":{"NSRecords":[{"nsdname":"ns.asotest.com"}],"TTL":3600}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl/providers/Microsoft.Network/dnsZones/aso-sample-dz.com/NS/aso-sample-record-ns?api-version=2018-05-01
        method: PUT
      response:
        body: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/asotest-rg-emkabl\/providers\/Microsoft.Network\/dnszones\/aso-sample-dz.com\/NS\/aso-sample-record-ns","name":"aso-sample-record-ns","type":"Microsoft.Network\/dnszones\/NS","etag":"87a74e0c-b0cf-49bd-bcbf-98f311a84c24","properties":{"fqdn":"aso-sample-record-ns.aso-sample-dz.com.","TTL":3600,"NSRecords":[{"nsdname":"ns.asotest.com"}],"targetResource":{},"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - 87a74e0c-b0cf-49bd-bcbf-98f311a84c24
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.046006531s
    - id: 12
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-record-cname","properties":{"CNAMERecord":{"cname":"asosample.com"},"TTL":3600}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl/providers/Microsoft.Network/dnsZones/aso-sample-dz.com/CNAME/aso-sample-record-cname?api-version=2018-05-01
        method: PUT
      response:
        body: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/asotest-rg-emkabl\/providers\/Microsoft.Network\/dnszones\/aso-sample-dz.com\/CNAME\/aso-sample-record-cname","name":"aso-sample-record-cname","type":"Microsoft.Network\/dnszones\/CNAME","etag":"5c86d4e6-d2b9-4f55-80ec-f2875e821de4","properties":{"fqdn":"aso-sample-record-cname.aso-sample-dz.com.","TTL":3600,"CNAMERecord":{"cname":"asosample.com"},"targetResource":{},"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - 5c86d4e6-d2b9-4f55-80ec-f2875e821de4
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.257108593s
    - id: 13
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-record-txt","properties":{"TTL":3600,"TXTRecords":[{"value":["ASO sample value"]}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl/providers/Microsoft.Network/dnsZones/aso-sample-dz.com/TXT/aso-sample-record-txt?api-version=2018-05-01
        method: PUT
      response:
        body: '{"id":"\/subscriptions\/00000000-0000-0000-0000-000000000000\/resourceGroups\/asotest-rg-emkabl\/providers\/Microsoft.Network\/dnszones\/aso-sample-dz.com\/TXT\/aso-sample-record-txt","name":"aso-sample-record-txt","type":"Microsoft.Network\/dnszones\/TXT","etag":"c7456f65-3d9a-4b78-aef9-f9f4409c07c3","properties":{"fqdn":"aso-sample-record-txt.aso-sample-dz.com.","TTL":3600,"TXTRecords":[{"value":["ASO sample value"]}],"targetResource":{},"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - c7456f65-3d9a-4b78-aef9-f9f4409c07c3
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.500587601s
[...]
    - id: 23
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRFTUtBQkwtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=2023-09-14T05%3a19%3a20&c=MIIHHjCCBgagAwIBAgITOgHdEa6m-L-OzhMS4gAEAd0RrjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjMwODAyMTQ1MzE1WhcNMjQwNzI3MTQ1MzE1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvb[...]
    - id: 24
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers: {}
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRFTUtBQkwtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=2023-09-14T05%3a19%3a20&c=MIIHHjCCBgagAwIBAgITOgHdEa6m-L-OzhMS4gAEAd0RrjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwE[...]
[...]
    - id: 28
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-emkabl/providers/Microsoft.Network/dnsZones/aso-sample-dz.com?api-version=2018-05-01
        method: DELETE
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-emkabl'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 81.84027ms
[...]
