---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-iydvms","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5aa59d09fb9427234bc80f7603244ae4913e2fc4535b78b3d1bc389b9afb8c5c
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms","name":"asotest-rg-iydvms","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.121981607s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms","name":"asotest-rg-iydvms","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 398.137757ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.ContainerService/managedClusters/aso-sample-aks?api-version=2023-10-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/aso-sample-aks'' under resource group ''asotest-rg-iydvms'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 613.717132ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"westus2","name":"aso-sample-backupvault","properties":{"securitySettings":{"softDeleteSettings":{"state":"Off"}},"storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7f7bce370f55dc80cf52de039f700f2bec720a72e023530db45de10b64f86ad2
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.DataProtection/backupVaults/aso-sample-backupvault?api-version=2023-11-01
        method: PUT
      response:
        body: '{"location":"westus2","identity":{"type":"SystemAssigned","principalId":"18b85169-427d-464c-afe9-ebe9f8ee7fba","tenantId":"00000000-0000-0000-0000-000000000000"},"properties":{"provisioningState":"Provisioning","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"securitySettings":{"softDeleteSettings":{"state":"Off","retentionDurationInDays":0.0}},"secureScore":"None","replicatedRegions":[]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.DataProtection/backupVaults/aso-sample-backupvault","name":"aso-sample-backupvault","type":"Microsoft.DataProtection/backupVaults"}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.DataProtection/backupVaults/aso-sample-backupvault/operationStatus/OTE1NmE4NzAtY2MwOS00OWRiLWJiZjYtMzVjYjg4OGU3ZGI3OzU1ZTgyZjZmLTU5OWMtNGMyZS05MWVjLWZhNGU3YzZmOWY3Zg==?api-version=2023-11-01&t=638991911818036330&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDU[...]
    - id: 4
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"aso-snapshot-rg"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 075af1e2772f060da8351749795670d7e6ef31a3cf571e3aa5d881e41b76b17b
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aso-snapshot-rg?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/aso-snapshot-rg","name":"aso-snapshot-rg","type":"Microsoft.Resources/resourceGroups","location":"westus2","properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.543402866s
    - id: 5
      request:
        host: management.azure.com
        body: '{"kind":"StorageV2","location":"westus2","name":"asodpsamplekubestorage","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 2c8ad49755f9232edf5501a6ce24f4d4e45d2c74797f2ad8a40c38cbc33e1ea7
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Storage/storageAccounts/asodpsamplekubestorage?api-version=2023-01-01
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/3359a4d5-155b-4554-a30f-3e5b9f8ec19a?monitor=true&api-version=2023-01-01&t=638991911828042426&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUxMDIxMDgxMjA1WhcNMjYwNDE5MDgxMjA1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25[...]
    - id: 6
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"westus2","name":"asotestmxyonr","properties":{"securitySettings":{"softDeleteSettings":{"state":"Off"}},"storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - b51e0ad780d31179780a7b734e203846ff1a622c75070[...]
[...]
    - id: 8
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.DataProtection/backupVaults/aso-sample-backupvault/operationStatus/OTE1NmE4NzAtY2MwOS00OWRiLWJiZjYtMzVjYjg4OGU3ZGI3OzU1ZTgyZjZmLTU5OWMtNGMyZS05MWVjLWZhNGU3YzZmOWY3Zg==?api-version=2023-[...]
[...]
    - id: 11
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/3359a4d5-155b-4554-a30f-3e5b9f8ec19a?monitor=true&api-version=2023-01-01&t=638991911828042426&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZI[...]
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.DataProtection/backupVaults/asotestmxyonr/operationStatus/MTc2ZTZmOWYtMWJjMi00NTU1LWJlZGYtY2U5MDc4M2ZjMjY5Ozk1ZjRkMzk1LTJmYjItNDIxZC1iYWFiLTY4MzIxNjFlYmNiYQ==?api-version=2023-11-01&t=[...]
    - id: 13
      request:
        host: management.azure.com
        body: '{"name":"c9786769-93a8-543b-9e8e-f0660085d901","properties":{"principalId":"18b85169-427d-464c-afe9-ebe9f8ee7fba","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - f0f123a931daa21eaadd865cb5057b2539c964a3fc524b3382f25c856d05a0b3
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Authorization/roleAssignments/c9786769-93a8-543b-9e8e-f0660085d901?api-version=2022-04-01
        method: PUT
      response:
        body: '{"error":{"code":"PrincipalNotFound","message":"Principal 18b85169427d464cafe9ebe9f8ee7fba does not exist in the directory 00000000-0000-0000-0000-000000000000. Check that you have the correct principal ID. If you are creating this principal and then immediately assigning a role, this error might be related to a replication delay. In this case, set the role assignment principalType property to a value, such as ServicePrincipal, User, or Group.  See https://aka.ms/docs-principaltype"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 400 Bad Request
        code: 400
        duration: 1.278526211s
[...]
    - id: 15
      request:
        host: management.azure.com
        body: '{"identity":{"delegatedResources":null,"type":"SystemAssigned"},"location":"westus2","name":"aso-sample-aks","properties":{"addonProfiles":{"azurepolicy":{"config":null,"enabled":true}},"agentPoolProfiles":[{"availabilityZones":null,"count":1,"mode":"System","name":"agentpool","nodeLabels":{},"nodeTaints":[],"osSKU":"AzureLinux","osType":"Linux","tags":{},"vmSize":"Standard_B4ms"}],"autoUpgradeProfile":{"upgradeChannel":"node-image"},"dnsPrefix":"aso","enableRBAC":true,"identityProfile":null,"privateLinkResources":null},"tags":{}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - b0079aed942ef1070c7915160b9beda0911acce58e8d6b1aa573f809a575e791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.ContainerService/managedClusters/aso-sample-aks?api-version=2023-10-01
        method: PUT
      response:
        body: |-
            {
             "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-iydvms/providers/Microsoft.ContainerService/managedClusters/aso-sample-aks",
             "location": "westus2",
             "name": "aso-sample-aks",
             "type": "Microsoft.ContainerService/ManagedClusters",
             "properties": {
              "provisioningState": "Creating",
              "powerState": {
               "code": "Running"
              },
              "kubernetesVersion": "1.32",
              "currentKubernetesVersion": "1.32.9",
              "dnsPrefix": "aso",
              "fqdn": "aso-v87e4ee9.hcp.westus2.azmk8s.io",
              "azurePortalFQDN": "aso-v87e4ee9.portal.hcp.westus2.azmk8s.io",
              "agentPoolProfiles": [
               {
                "name": "agentpool",
                "count": 1,
                "vmSize": "Standard_B4ms",
                "osDiskSizeGB": 128,
                "osDiskType": "Managed",
                "kubeletDiskType": "OS",
                "maxPods": 250,
                "type": "VirtualMachineScaleSets",
                "scaleDownMode": "Delete",
                "provisioningState": "Creating",
                "powerState": {
                 "code": "Running"
                },
                "orchestratorVersion": "1.32",
                "currentOrchestratorVersion": "1.32.9",
                "enableNodePublicIP": false,
                "tags": {},
                "nodeLabels": {},
                "mode": "System",
                "osType": "Linux",
                "osSKU": "AzureLinux",
                "nodeImageVersion": "AKSAzureLinux-V3gen2-202511.07.0",
                "upgradeSettings": {
                 "maxSurge": "10%"
                },
                "enableFIPS": false
               }
              ],
              "servicePrincipalProfile": {
               "clientId": "msi"
              },
              "addonProfiles": {
               "azurepolicy": {
                "enabled": true,
                "config": null
               }
              },
              "nodeResourceGroup": "MC_asotest-rg-iydvms_aso-sample-aks_westus2",
              "enableRBAC": true,
              "supportPlan": "KubernetesOfficial",
              "networkProfile": {
               "networkPlugin": "azure",
               "networkPluginMode": "overlay",
               "networkDataplane": "azure",
               "loadBalancerSku": "standard",
               "loadBalancerProfile": {
                "managedOutboundIPs": {
                 "count": 1
                },
                "backendPoolType": "nodeIPConfiguration"
               },
               "podCidr": "10.244.0.0/16",
               "serviceCidr": "10.0.0.0/16",
               "dnsServiceIP": "10.0.0.10",
               "outboundType": "loadBalancer",
               "podCidrs": [
                "10.244.0.0/16"
               ],
               "serviceCidrs": [
                "10.0.0.0/16"
               ],
               "ipFamilies": [
                "IPv4"
               ]
              },
              "maxAgentPools": 100,
              "autoUpgradeProfile": {
               "upgradeChannel": "node-image",
               "nodeOSUpgradeChannel": "NodeImage"
              },
              "securityProfile": {},
              "storageProfile": {
               "diskCSIDriver": {
                "enabled": true
               },
               "fileCSIDriver": {
                "enabled": true
               },
               "snapshotController": {
                "enabled": true
               }
              },
              "oidcIssuerProfile": {
               "enabled": false
              },
              "workloadAutoScalerProfile": {},
              "resourceUID": "691e509847b7ad00016b869a"
             },
             "identity": {
              "type": "SystemAssigned",
              "principalId": "d55f90cf-124b-4a11-a807-ee4ab6deca70",
              "tenantId": "00000000-0000-0000-0000-000000000000"
             },
             "sku": {
              "name": "Base",
              "tier": "Free"
             }
            }
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/236fbedf-c571-4197-9cd3-37f4391d0049?api-version=2016-03-30&t=638991911935777611&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNM[...]
[...]
    - id: 18
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-backuppolicy","properties":{"datasourceTypes":["Microsoft.ContainerService/managedClusters"],"objectType":"BackupPolicy","policyRules":[{"backupParameters":{"backupType":"Incremental","objectType":"AzureBackupParams"},"dataStore":{"dataStoreType":"OperationalStore","objectType":"DataStoreInfoBase"},"name":"BackupHourly","objectType":"AzureBackupRule","trigger":{"objectType":"ScheduleBasedTriggerContext","schedule":{"repeatingTimeIntervals":["R/2023-06-07T10:26:32+00:00/PT4H"],"timeZone":"UTC"},"taggingCriteria":[{"isDefault":true,"tagInfo":{"tagName":"Default"},"taggingPriority":99}]}},{"isDefault":true,"lifecycles":[{"deleteAfter":{"duration":"P9D","objectType":"AbsoluteDeleteOption"},"sourceDataStore":{"dataStoreType":"OperationalStore","objectType":"DataStoreInfoBase"}}],"name":"Default","objectType":"AzureRetentionRule"}]}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5e603e8da8f9c87aea650d99090a5100f9902a081851d989ab7b1afab662ab19
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.DataProtection/ba[...]
    - id: 19
      request:
        host: management.azure.com
        body: '{"name":"asotestjmuwhl","properties":{"datasourceTypes":["Microsoft.ContainerService/managedClusters"],"objectType":"BackupPolicy","policyRules":[{"backupParameters":{"backupType":"Incremental","objectType":"AzureBackupParams"},"dataStore":{"dataStoreType":"OperationalStore","objectType":"DataStoreInfoBase"},"name":"BackupHourly","objectType":"AzureBackupRule","trigger":{"objectType":"ScheduleBasedTriggerContext","sche[...]
[...]
    - id: 22
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus2/operations/236fbedf-c571-4197-9cd3-37f4391d0049?api-version=2016-03-30&t=638991911935777611&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQB[...]
[...]
    - id: 24
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Storage/storageAccounts/asodpsamplekubestorage?api-version=2023-01-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Storage/storageAccounts/asodpsamplekubestorage","name":"asodpsamplekubestorage","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":true,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asodpsamplekubestorage.dfs.core.windows.net/","web":"https://asodpsamplekubestorage.z5.web.core.windows.net/","blob":"https://asodpsamplekubestorage.blob.core.windows.net/","queue":"https://asodpsamplekubestorage.queue.core.windows.net/","table":"https://asodpsamplekubestorage.table.core.windows.net/","file":"https://asodpsamplekubestorage.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
        status: 200 OK
        code: 200
        duration: 571.688854ms
[...]
    - id: 26
      request:
        host: management.azure.com
        body: '{"name":"default"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 5ce56ac9ff40a1b5ecd80c5cf78ae9e29c4ad6cfc5dd91d9cb0026580cb13791
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Storage/storageAccounts/asodpsamplekubestorage/blobServices/default?api-version=2023-01-01
        method: PUT
      response:
        body: '{"name":"default"}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.051734369s
    - id: 27
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Storage/storageAccounts/asodpsamplekubestorage/blobServices/default?api-version=2023-01-01
        method: GET
      response:
        body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Storage/storageAccounts/asodpsamplekubestorage/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 789.308328ms
[...]
    - id: 29
      request:
        host: management.azure.com
        body: '{"name":"c9786769-93a8-543b-9e8e-f0660085d901","properties":{"principalId":"18b85169-427d-464c-afe9-ebe9f8ee7fba","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - f0f123a931daa21eaadd865cb5057b2539c964a3fc524b3382f25c856d05a0b3
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Authorization/roleAssignments/c9786769-93a8-543b-9e8e-f0660085d901?api-version=2022-04-01
        method: PUT
      response:
        body: '{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7","principalId":"18b85169-427d-464c-afe9-ebe9f8ee7fba","principalType":"ServicePrincipal","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms","condition":null,"conditionVersion":null,"createdOn":"2001-02-03T04:05:06Z","updatedOn":"2001-02-03T04:05:06Z","createdBy":null,"updatedBy":"1ae5915d-78fe-468d-affb-c275790fa149","delegatedManagedIdentityResourceId":null,"description":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Authorization/roleAssignments/c9786769-93a8-543b-9e8e-f0660085d901","type":"Microsoft.Authorization/roleAssignments","name":"c9786769-93a8-543b-9e8e-f0660085d901"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 3.109297592s
[...]
    - id: 33
      request:
        host: management.azure.com
        body: '{"name":"asodpsamplecontainer"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 68d05196ad59a0e9875460e8ac55099ca57f985e395c7ed3f83ebd1d6f853479
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Storage/storageAccounts/asodpsamplekubestorage/blobServices/default/containers/asodpsamplecontainer?api-version=2023-01-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Storage/storageAccounts/asodpsamplekubestorage/blobServices/default/containers/asodpsamplecontainer","name":"asodpsamplecontainer","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DE27C2469E9475"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 798.705038ms
    - id: 34
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Storage/storageAccounts/asodpsamplekubestorage/blobServices/default/containers/asodpsamplecontainer?api-version=2023-01-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.Storage/storageAccounts/asodpsamplekubestorage/blobServices/default/containers/asodpsamplecontainer","name":"asodpsamplecontainer","type":"Microsoft.Storage/storageAccounts/blobServices/containers","etag":"\"0x8DE27C2469E9475\"","properties":{"deleted":false,"remainingRetentionDays":0,"defaultEncryptionScope":"$account-encryption-key","denyEncryptionScopeOverride":false,"publicAccess":"None","leaseStatus":"Unlocked","leaseState":"Available","lastModifiedTime":"2001-02-03T04:05:06Z","legalHold":{"hasLegalHold":false,"tags":[]},"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0x8DE27C2469E9475"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 850.456834ms
[...]
    - id: 43
      request:
        host: management.azure.com
        body: '{"name":"428d4111-4693-575c-a59c-d99610f3d369","properties":{"principalId":"18b85169-427d-464c-afe9-ebe9f8ee7fba","roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/acdd72a7-3385-48ef-bd42-f606fba81ae7"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - a[...]
[...]
    - id: 48
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-tarb","properties":{"roles":["Microsoft.DataProtection/backupVaults/backup-operator"],"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/providers/Microsoft.DataProtection/backupVaults/aso-sample-backupvault"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - b56ef7b54f422552c637d31a02a15bb999d878a2c5a8e6cbd8f47b166f40643a
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-iydvms/prov[...]
    - id: 49
      request:
        host: management.azure.com
        body: '{"name":"aso-sample-extension","properties":{"configurationSettings":{"configuration.backupStorageLocation.bucket":"asodpsamplecontainer","configuration.backupStorageLocation.config.resourceGroup":"aso-sample-rg","configuration.backupStorageLocation.config.storageAccount":"asodpsamplekubestorage","configuration.backupStorageLocation.config.subscriptionId":"00000000-0000-0000-0000-000000000000","credentials.tenantId":"00000000-0000-0000-0000-000000000000"},"extensionType":"microsoft.dataprotection.kubernetes","releaseTrain":"stable","scope":{"cluster":{"releaseNamespace":"dataprotection-microsoft"}}}}'
        form: {}
        headers:
            Content-Type:
[...]
