---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-tizurw","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw","name":"asotest-rg-tizurw","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"kind":"MongoDB","location":"eastus","name":"sample-mongodb-account","properties":{"databaseAccountOfferType":"Standard","locations":[{"locationName":"eastus"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account?api-version=2021-05-15
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account","name":"sample-mongodb-account","location":"East
      US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","tags":{},"systemData":{"createdAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Creating","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"MongoDB","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"FullFidelity"},"instanceId":"9f53b9b8-febe-4a9c-afcb-6db2ebf9d9be","databaseAccountOfferType":"Standard","defaultIdentity":"","networkAclBypass":"None","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"apiProperties":{"serverVersion":"3.6"},"configurationOverrides":{},"writeLocations":[{"id":"sample-mongodb-account-eastus","locationName":"East
      US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"sample-mongodb-account-eastus","locationName":"East
      US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"sample-mongodb-account-eastus","locationName":"East
      US","provisioningState":"Creating","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"sample-mongodb-account-eastus","locationName":"East
      US","failoverPriority":0}],"cors":[],"capabilities":[{"name":"EnableMongo"}],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Invalid"}},"networkAclBypassResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/3977ae21-e760-49c4-9e65-52733ac14f5f?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/operationResults/3977ae21-e760-49c4-9e65-52733ac14f5f?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/3977ae21-e760-49c4-9e65-52733ac14f5f?api-version=2021-05-15
    method: GET
  response:
    body: '{"status":"Dequeued"}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account?api-version=2021-05-15
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account","name":"sample-mongodb-account","location":"East
      US","type":"Microsoft.DocumentDB/databaseAccounts","kind":"MongoDB","tags":{},"systemData":{"createdAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded","documentEndpoint":"https://sample-mongodb-account.documents.azure.com:443/","mongoEndpoint":"https://sample-mongodb-account.mongo.cosmos.azure.com:443/","publicNetworkAccess":"Enabled","enableAutomaticFailover":false,"enableMultipleWriteLocations":false,"enablePartitionKeyMonitor":false,"isVirtualNetworkFilterEnabled":false,"virtualNetworkRules":[],"EnabledApiTypes":"MongoDB","disableKeyBasedMetadataWriteAccess":false,"enableFreeTier":false,"enableAnalyticalStorage":false,"analyticalStorageConfiguration":{"schemaType":"FullFidelity"},"instanceId":"9f53b9b8-febe-4a9c-afcb-6db2ebf9d9be","databaseAccountOfferType":"Standard","defaultIdentity":"FirstPartyIdentity","networkAclBypass":"None","consistencyPolicy":{"defaultConsistencyLevel":"Session","maxIntervalInSeconds":5,"maxStalenessPrefix":100},"apiProperties":{"serverVersion":"3.6"},"configurationOverrides":{"EnableBsonSchema":"True"},"writeLocations":[{"id":"sample-mongodb-account-eastus","locationName":"East
      US","documentEndpoint":"https://sample-mongodb-account-eastus.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"readLocations":[{"id":"sample-mongodb-account-eastus","locationName":"East
      US","documentEndpoint":"https://sample-mongodb-account-eastus.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"locations":[{"id":"sample-mongodb-account-eastus","locationName":"East
      US","documentEndpoint":"https://sample-mongodb-account-eastus.documents.azure.com:443/","provisioningState":"Succeeded","failoverPriority":0,"isZoneRedundant":false}],"failoverPolicies":[{"id":"sample-mongodb-account-eastus","locationName":"East
      US","failoverPriority":0}],"cors":[],"capabilities":[{"name":"EnableMongo"}],"ipRules":[],"backupPolicy":{"type":"Periodic","periodicModeProperties":{"backupIntervalInMinutes":240,"backupRetentionIntervalInHours":8,"backupStorageRedundancy":"Geo"}},"networkAclBypassResourceIds":[]},"identity":{"type":"None"}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/listKeys?api-version=2021-10-15
    method: POST
  response:
    body: '{"primaryMasterKey":"{KEY}","secondaryMasterKey":"{KEY}","primaryReadonlyMasterKey":"{KEY}","secondaryReadonlyMasterKey":"{KEY}"}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"location":"eastus","name":"sample-db-mongodb","properties":{"options":{"autoscaleSettings":{"maxThroughput":4000}},"resource":{"id":"sample-db-mongodb"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/mongodbDatabases/sample-db-mongodb?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/062d2292-0112-40a0-832d-054e15117bbd?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/mongodbDatabases/sample-db-mongodb/operationResults/062d2292-0112-40a0-832d-054e15117bbd?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: '{"name":"default","properties":{"resource":{"autoscaleSettings":{"maxThroughput":4000}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/mongodbDatabases/sample-db-mongodb/throughputSettings/default?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/d2ceb3c7-0cdd-47f5-b430-a33d08fed22f?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/mongodbDatabases/sample-db-mongodb/throughputSettings/default/operationResults/d2ceb3c7-0cdd-47f5-b430-a33d08fed22f?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"location":"eastus","name":"sample-mongo-collection","properties":{"options":{"throughput":400},"resource":{"id":"sample-mongo-collection","indexes":[{"key":{"keys":["_id"]},"options":{"unique":true}},{"key":{"keys":["col1","col2"]},"options":{"unique":false}}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/mongodbDatabases/sample-db-mongodb/collections/sample-mongo-collection?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/38c6e1c4-42aa-48cc-9af9-44376fa3843a?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/mongodbDatabases/sample-db-mongodb/collections/sample-mongo-collection/operationResults/38c6e1c4-42aa-48cc-9af9-44376fa3843a?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/mongodbDatabases/sample-db-mongodb/throughputSettings/default?api-version=2021-05-15
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/mongodbDatabases/sample-db-mongodb/throughputSettings/default","type":"Microsoft.DocumentDB/databaseAccounts/mongodbDatabases/throughputSettings","name":"8rtA","properties":{"resource":{"throughput":400,"autoscaleSettings":{"maxThroughput":4000},"minimumThroughput":"1000"}}}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","properties":{"resource":{"throughput":500}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/mongodbDatabases/sample-db-mongodb/collections/sample-mongo-collection/throughputSettings/default?api-version=2021-05-15
    method: PUT
  response:
    body: '{"status":"Enqueued"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DocumentDB/locations/eastus/operationsStatus/26075396-98d0-481e-a1cc-a79ce3065430?api-version=2021-05-15
      Content-Type:
      - application/json
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw/providers/Microsoft.DocumentDB/databaseAccounts/sample-mongodb-account/mongodbDatabases/sample-db-mongodb/collections/sample-mongo-collection/throughputSettings/default/operationResults/26075396-98d0-481e-a1cc-a79ce3065430?api-version=2021-05-15
      X-Ms-Gatewayversion:
      - version=2.14.0
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRUSVpVUlctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "15"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tizurw?api-version=2020-06-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-tizurw''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
