---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-leywfp","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp","name":"asotest-rg-leywfp","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"eastus","name":"samplesqlvnet","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[{"name":"samplesqlsubnet","properties":{"addressPrefix":"10.0.0.0/24","serviceEndpoints":[{"service":"Microsoft.Sql"}]}}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Network/virtualNetworks/samplesqlvnet?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"samplesqlvnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Network/virtualNetworks/samplesqlvnet\",\r\n
      \ \"etag\": \"W/\\\"bfb14e7f-a8b1-4faf-b988-8faac481ebf2\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"eastus\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"fe2067a8-32fa-445d-a71a-95b1298978c8\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"samplesqlsubnet\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Network/virtualNetworks/samplesqlvnet/subnets/samplesqlsubnet\",\r\n
      \       \"etag\": \"W/\\\"bfb14e7f-a8b1-4faf-b988-8faac481ebf2\\\"\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Updating\",\r\n          \"addressPrefix\":
      \"10.0.0.0/24\",\r\n          \"serviceEndpoints\": [\r\n            {\r\n              \"provisioningState\":
      \"Updating\",\r\n              \"service\": \"Microsoft.Sql\",\r\n              \"locations\":
      [\r\n                \"eastus\"\r\n              ]\r\n            }\r\n          ],\r\n
      \         \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\":
      \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n
      \       },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
      \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
      false\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e3e7192a-cc1f-4367-a179-308a23281d9d?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "3"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/eastus/operations/e3e7192a-cc1f-4367-a179-308a23281d9d?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"status\": \"InProgress\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"kind":"BlobStorage","location":"eastus","name":"asotestsqlstorage","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Storage/storageAccounts/asotestsqlstorage?api-version=2021-04-01
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/85e15937-2470-4561-b1fa-86098b6d89a7?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/85e15937-2470-4561-b1fa-86098b6d89a7?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/85e15937-2470-4561-b1fa-86098b6d89a7?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: '{"name":"samplesqlsubnet","properties":{"addressPrefix":"10.0.0.0/24","serviceEndpoints":[{"service":"Microsoft.Sql"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Network/virtualNetworks/samplesqlvnet/subnets/samplesqlsubnet?api-version=2020-11-01
    method: PUT
  [...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Network/virtualNetworks/samplesqlvnet/subnets/samplesqlsubnet?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"samplesqlsubnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Network/virtualNetworks/samplesqlvnet/subnets/samplesqlsubnet\",\r\n
      \ \"etag\": \"W/\\\"93272c02-ec2e-4a11-9d74-018f7bdfc1df\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n
      \   \"serviceEndpoints\": [\r\n      {\r\n        \"provisioningState\": \"Succeeded\",\r\n
      \       \"service\": \"Microsoft.Sql\",\r\n        \"locations\": [\r\n          \"eastus\"\r\n
      \       ]\r\n      }\r\n    ],\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\":
      \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n
      \ },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93272c02-ec2e-4a11-9d74-018f7bdfc1df"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/eastus/asyncoperations/85e15937-2470-4561-b1fa-86098b6d89a7?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"BlobStorage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Storage/storageAccounts/asotestsqlstorage","name":"asotestsqlstorage","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asotestsqlstorage.dfs.core.windows.net/","blob":"https://asotestsqlstorage.blob.core.windows.net/","table":"https://asotestsqlstorage.table.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Storage/storageAccounts/asotestsqlstorage/listKeys?api-version=2021-09-01
    method: POST
  response:
    body: '{"keys":[{"creationTime":"2001-02-03T04:05:06Z","keyName":"key1","value":"{KEY}","permissions":"FULL"},{"creationTime":"2001-02-03T04:05:06Z","keyName":"key2","value":"{KEY}","permissions":"FULL"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "11999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"default"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Storage/storageAccounts/asotestsqlstorage/blobServices/default?api-version=2021-04-01
    method: PUT
  response:
    body: '{"name":"default"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Storage/storageAccounts/asotestsqlstorage/blobServices/default?api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Storage/storageAccounts/asotestsqlstorage/blobServices/default","name":"default","type":"Microsoft.Storage/storageAccounts/blobServices","properties":{"cors":{"corsRules":[]},"deleteRetentionPolicy":{"allowPermanentDelete":false,"enabled":false}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"vulnerabilityassessments"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Storage/storageAccounts/asotestsqlstorage/blobServices/default/containers/vulnerabilityassessments?api-version=2021-04-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Storage/storageAccounts/asotestsqlstorage/blobServices/default/containers/vulnerabilityassessments","name":"vulnerabilityassessments","type":"Microsoft.Storage/storageAccounts/blobServices/containers"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0x8DB736B8CAEA952"'
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Storage/storageAccounts/asotestsqlstorage/blobServices/default/containers/vulnerabilityassessments?api-version=2021-04-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Storage/storageAccounts/asotestsqlstorage/blobServices/default/containers/vulnerabilityassessments","name":"vulnerabilityassessments","type":"Microsoft.Storage/storageAccounts/blobServices/containers","etag":"\"0x8DB736B8CAEA952\"","properties":{"deleted":false,"remainingRetentionDays":0,"defaultEncryptionScope":"$account-encryption-key","denyEncryptionScopeOverride":false,"publicAccess":"None","leaseStatus":"Unlocked","leaseState":"Available","lastModifiedTime":"2001-02-03T04:05:06Z","legalHold":{"hasLegalHold":false,"tags":[]},"hasImmutabilityPolicy":false,"hasLegalHold":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"0x8DB736B8CAEA952"'
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"eastus","name":"asotestwidzfo","properties":{"administratorLogin":"myadmin","administratorLoginPassword":"{PASSWORD}","version":"12.0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertLogicalServer","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/249f4b5c-ed43-4130-98a5-25e6e442eadb?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/serverOperationResults/249f4b5c-ed43-4130-98a5-25e6e442eadb?api-version=2021-11-01
      Retry-After:
      - "1"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/249f4b5c-ed43-4130-98a5-25e6e442eadb?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"249f4b5c-ed43-4130-98a5-25e6e442eadb","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "20"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo?api-version=2021-11-01
    method: GET
  response:
    body: '{"kind":"v12.0","properties":{"administratorLogin":"myadmin","version":"12.0","state":"Ready","fullyQualifiedDomainName":"asotestwidzfo.database.windows.net","privateEndpointConnections":[],"minimalTlsVersion":"None","publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled"},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo","name":"asotestwidzfo","type":"Microsoft.Sql/servers"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","properties":{"recurringScans":{"isEnabled":false},"storageAccountAccessKey":"{KEY}","storageContainerPath":"https://asotestsqlstorage.blob.core.windows.net/vulnerabilityassessments"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/vulnerabilityAssessments/default?api-version=2021-11-01
    method: PUT
  response:
    body: '{"error":{"code":"VulnerabilityAssessmentADSIsDisabled","message":"Advanced
      Data Security should be enabled in order to use Vulnerability Assessment."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 400 Bad Request
    code: 400
    duration: ""
- request:
    body: '{"name":"default","properties":{"state":"Enabled","storageAccountAccessKey":"{KEY}","storageAccountSubscriptionId":"00000000-0000-0000-0000-000000000000","storageEndpoint":"https://asotestsqlstorage.blob.core.windows.net/"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/auditingSettings/default?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertServerEngineAuditingPolicy","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/auditingSettingsAzureAsyncOperation/17c7234c-dec2-4ac7-908e-9f7f5a3b3741?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/auditingSettingsOperationResults/17c7234c-dec2-4ac7-908e-9f7f5a3b3741?api-version=2021-11-01
      Retry-After:
      - "60"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"Default","properties":{"state":"Enabled"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/securityAlertPolicies/Default?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertServerThreatDetectionPolicy","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/securityAlertPoliciesAzureAsyncOperation/bea9b1b0-9278-4008-9845-0f46e8a5eca7?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/securityAlertPoliciesOperationResults/bea9b1b0-9278-4008-9845-0f46e8a5eca7?api-version=2021-11-01
      Retry-After:
      - "3"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"location":"eastus","name":"asotestkekpcm","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/databases/asotestkekpcm?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"CreateLogicalDatabase","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/a19b10f2-6c34-400d-9463-cbb94e185068?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/databaseOperationResults/a19b10f2-6c34-400d-9463-cbb94e185068?api-version=2021-11-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"default","properties":{"connectionType":"Default"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/connectionPolicies/default?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpdateServerConnectionPolicy","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/connectionPoliciesAzureAsyncOperation/c6a7ef28-aaf8-4893-9052-263cebe9b5c8?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/connectionPoliciesOperationResults/c6a7ef28-aaf8-4893-9052-263cebe9b5c8?api-version=2021-11-01
      Retry-After:
      - "10"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"server.database.windows.net"}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/outboundFirewallRules/server.database.windows.net?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"CreateLogicalServerOutboundFirewallRule","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/outboundFirewallRulesAzureAsyncOperation/c946a58d-ccfd-4858-9f61-b23bdbfa562a?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/outboundFirewallRulesOperationResults/c946a58d-ccfd-4858-9f61-b23bdbfa562a?api-version=2021-11-01
      Retry-After:
      - "5"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"asotestulcgqg","properties":{"virtualNetworkSubnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Network/virtualNetworks/samplesqlvnet/subnets/samplesqlsubnet"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/virtualNetworkRules/asotestulcgqg?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertVnetFirewallRule","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/virtualNetworkRulesAzureAsyncOperation/3c78c587-4f5d-41f4-823e-3ab9114583c9?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/virtualNetworkRulesOperationResults/3c78c587-4f5d-41f4-823e-3ab9114583c9?api-version=2021-11-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"Default","properties":{"state":"Enabled"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/advancedThreatProtectionSettings/Default?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertServerThreatDetectionPolicy","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/advancedThreatProtectionAzureAsyncOperation/9e4038f1-11bb-4708-bba5-0284924c57c4?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/advancedThreatProtectionOperationResults/9e4038f1-11bb-4708-bba5-0284924c57c4?api-version=2021-11-01
      Retry-After:
      - "3"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"location":"eastus","name":"asotesttcwsht","properties":{"perDatabaseSettings":{"maxCapacity":100,"minCapacity":0}},"sku":{"capacity":100,"name":"StandardPool","tier":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/elasticPools/asotesttcwsht?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"CreateLogicalElasticPool","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/elasticPoolAzureAsyncOperation/b15ed722-1cc5-4200-84e8-18445b4a7ffe?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/locations/eastus/elasticPoolOperationResults/b15ed722-1cc5-4200-84e8-18445b4a7ffe?api-version=2021-11-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"name":"asotesthozjgi","properties":{"endIpAddress":"0.0.0.0","startIpAddress":"0.0.0.0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/firewallRules/asotesthozjgi?api-version=2021-11-01
    method: PUT
  response:
    body: '{"properties":{"startIpAddress":"0.0.0.0","endIpAddress":"0.0.0.0"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/firewallRules/asotesthozjgi","name":"asotesthozjgi","type":"Microsoft.Sql/servers/firewallRules"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotestggernv","properties":{"endIPv6Address":"2001:db8:0000:0000:0000:0000:00ff:ffff","startIPv6Address":"2001:db8::"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/ipv6FirewallRules/asotestggernv?api-version=2021-11-01
    method: PUT
  response:
    body: '{"properties":{"startIPv6Address":"2001:db8::","endIPv6Address":"2001:db8:0000:0000:0000:0000:00ff:ffff"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-leywfp/providers/Microsoft.Sql/servers/asotestwidzfo/ipv6FirewallRules/asotestggernv","name":"asotestggernv","type":"Microsoft.Sql/servers/ipv6FirewallRules"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
[...]
