---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-xwmrli","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 657cbb3e3883ec0b759865bba1be2e6c799fb8928b26b3b34e0931d9f7343b82
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli","name":"asotest-rg-xwmrli","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.412284685s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli","name":"asotest-rg-xwmrli","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 316.550688ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"sampleuserassignedidentity"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 62bfba04d360857b6a5bff45361762c931fe822fa039b2afad402c502be0f949
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity?api-version=2023-01-31
        method: PUT
      response:
        body: '{"location":"westcentralus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-xwmrli/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity","name":"sampleuserassignedidentity","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"00000000-0000-0000-0000-000000000000","principalId":"1a36b014-3846-464f-b358-7d75ec63b3f9","clientId":"99bc78db-f0e7-4a9d-8980-1233d7971ab0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-xwmrli/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 4.083805982s
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"eastus","name":"asotestyvmjqn","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"BasicV2"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 4bc88c0e250596cb029e7730e42e80f2fb9163c03347f404be17b5f989ba09d9
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn?api-version=2024-05-01
        method: PUT
      response:
        body: '{"etag":"AAAAAALBPsI=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting","notificationSenderEmail":"apimgmt-noreply@mail.windowsazure.com","provisioningState":"Created","targetProvisioningState":"","createdAtUtc":"2001-02-03T04:05:06Z","gatewayUrl":"https://asotestyvmjqn.azure-api.net","gatewayRegionalUrl":null,"portalUrl":null,"developerPortalUrl":null,"dataApiUrl":null,"managementApiUrl":"https://smapi.api-blu-prod-scaleunit-001.p.azurewebsites.net/","scmUrl":null,"hostnameConfigurations":[{"type":"Proxy","hostName":"asotestyvmjqn.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true,"identityClientId":null,"certificateSource":"BuiltIn","certificateStatus":null}],"publicIPAddresses":null,"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":{"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2":"False"},"virtualNetworkType":"None","certificates":null,"natGatewayState":"Enabled","outboundPublicIPAddresses":null,"apiVersionConstraint":{"minApiVersion":null},"publicIpAddressId":null,"publicNetworkAccess":"Enabled","privateEndpointConnections":null,"platformVersion":"undetermined","configurationApi":null,"legacyPortalStatus":"Disabled","developerPortalStatus":"Disabled"},"sku":{"name":"BasicV2","capacity":1},"identity":null,"zones":null,"systemData":null,"location":"East US","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn","name":"asotestyvmjqn","type":"Microsoft.ApiManagement/service"}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/locations/eastus/operationsStatuses/ZWFzdHVzOmFzb3Rlc3R5dm1qcW5fQWN0X2JjMDk0ODJlOmFwaXJwc2YxZDU3ZDU3MTFkMA==?api-version=2024-05-01&t=638991918473275197&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUxMDIyMTAyMjQ3WhcNMjYwNDIwMTAyMjQ3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvb[...]
[...]
    - id: 6
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/locations/eastus/operationsStatuses/ZWFzdHVzOmFzb3Rlc3R5dm1qcW5fQWN0X2JjMDk0ODJlOmFwaXJwc2YxZDU3ZDU3MTFkMA==?api-version=2024-05-01&t=638991918473275197&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANB[...]
[...]
    - id: 10
      request:
        host: management.azure.com
        body: '{"name":"test_namedvalue","properties":{"displayName":"My_Key","secret":false,"value":"It''s value"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 973f0be49a22f7412b660b27185cd2ed840110913388cf4611e043950b7be786
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/namedValues/test_namedvalue?api-version=2024-05-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/namedValues/test_namedvalue\",\r\n  \"type\": \"Microsoft.ApiManagement/service/namedValues\",\r\n  \"name\": \"test_namedvalue\",\r\n  \"properties\": {\r\n    \"ProvisioningState\": \"InProgress\"\r\n  }\r\n}"
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/tenant/operationResults/691e53649d3dbd23687448bb?api-version=2024-05-01
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/namedValues/test_namedvalue?api-version=2024-05-01&asyncId=691e53649d3dbd23687448bb&asyncCode=201
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.638092423s
    - id: 11
      request:
        host: management.azure.com
        body: '{"name":"asotestldcyrw","properties":{"description":"A sample policy fragment","value":"\u003cfragment\u003e\u003c/fragment\u003e"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 35d2d7ced6cd42903f1a9bed80a71c39e146ca85b8995a84dfbfd10d56405b37
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/policyFragments/asotestldcy[...]
    - id: 12
      request:
        host: management.azure.com
        body: '{"name":"test_backend","properties":{"description":"A sample backend configuration","protocol":"http","url":"https://www.bing.com"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - ef936fc9ef4250e3fb7bab66b05320295133036b64953db0e3b0341a0649ad35
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/backends/test_backend?api-version=2024-05-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/backends/test_backend\",\r\n  \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n  \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A sample backend configuration\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\": \"http\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAih6XE="'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.917134061s
    - id: 13
      request:
        host: management.azure.com
        body: '{"name":"asotesteftbxx","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"grantTypes":{"authorizationCode":{"clientId":"0","clientSecret":"####","resourceUri":"www.contoso.com"}}}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 1434d2821f80885adafb096f1c0334c1d52855d6280ef509cf2f1c4b9139805b
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/authorizationProviders/asotesteftbxx?api-version=2024-05-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/authorizationProviders/asotesteftbxx","name":"asotesteftbxx","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"East US","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager.consent.azure-apim.net/redirect/apim/asotestyvmjqn","grantTypes":{"authorizationCode":{"clientId":"0","scopes":null,"resourceUri":"www.contoso.com"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.499740384s
    - id: 14
      request:
        host: management.azure.com
        body: '{"name":"policy","properties":{"value":"\u003cpolicies\u003e\u003cinbound /\u003e\u003cbackend\u003e\u003cforward-request /\u003e\u003c/backend\u003e\u003coutbound /\u003e\u003c/policies\u003e"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - a2d80894765a5d3ffe30c936bb0097bb9e449bcb91c3830c181def5a3a8e3d9b
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/policies/policy?api-version=2024-05-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/policies/policy\",\r\n  \"type\": \"Microsoft.ApiManagement/service/policies\",\r\n  \"name\": \"policy\",\r\n  \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\": \"<policies>\\r\\n\\t<inbound />\\r\\n\\t<backend>\\r\\n\\t\\t<forward-request />\\r\\n\\t</backend>\\r\\n\\t<outbound />\\r\\n</policies>\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAih6Wc="'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.602030339s
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/tenant/operationResults/691e53649d3dbd23687448bb?api-version=2024-05-01
        method: GET
      response:
        body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 751.211806ms
[...]
    - id: 18
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/backends/test_backend?api-version=2024-05-01
        method: GET
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/backends/test_backend\",\r\n  \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n  \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A sample backend configuration\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\": \"http\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAih6XE="'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 1.202520826s
    - id: 19
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/authorizationProviders/asotesteftbxx?api-version=2024-05-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/authorizationProviders/asotesteftbxx","name":"asotesteftbxx","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"East US","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager.consent.azure-apim.net/redirect/apim/asotestyvmjqn","grantTypes":{"authorizationCode":{"clientId":"0","scopes":null,"resourceUri":"www.contoso.com"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 1.252171379s
[...]
    - id: 23
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/policyFragments/asotestldcyrw?api-version=2024-05-01
        method: GET
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/policyfragments/asotestldcyrw\",\r\n  \"type\": \"Microsoft.ApiManagement/service/policyFragments\",\r\n  \"name\": \"asotestldcyrw\",\r\n  \"properties\": {\r\n    \"description\": \"A sample policy fragment\",\r\n    \"value\": \"<fragment></fragment>\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"fOmhCAAAAAA="'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 689.752094ms
[...]
    - id: 25
      request:
        host: management.azure.com
        body: '{"name":"asotestneabtp","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - b1ee83b6289f9384d453621c49de187544c07a74cf423b55f9af64cc3f2432c9
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/authorizationProviders/asotesteftbxx/authorizations/asotestneabtp?api-version=2024-05-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/authorizationProviders/asotesteftbxx/authorizations/asotestneabtp","name":"asotestneabtp","type":"Microsoft.ApiManagement/service/authorizationProviders/authorizations","location":"East US","properties":{"authorizationType":"OAuth2","oauth2grantType":"AuthorizationCode","status":"Error","error":{"code":"Unauthenticated","message":"This connection is not authenticated."}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.868835553s
[...]
    - id: 27
      request:
        host: management.azure.com
        body: '{"name":"asotesttdcvtw","properties":{"objectId":"1a36b014-3846-464f-b358-7d75ec63b3f9","tenantId":"00000000-0000-0000-0000-000000000000"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - bf12a477b54f85e6995fdb9ec063192663f9e1fd7a50e7bb98e388f77d3b4d79
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/authorizationProviders/asotesteftbxx/authorizations/asotestneabtp/accessPolicies/asotesttdcvtw?api-version=2024-05-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn/authorizationProviders/asotesteftbxx/authorizations/asotestneabtp/accessPolicies/asotesttdcvtw","name":"asotesttdcvtw","type":"Microsoft.ApiManagement/service/authorizationProviders/authorizations/accessPolicies/","location":"East US","properties":{"objectId":"1a36b014-3846-464f-b358-7d75ec63b3f9","tenantId":"00000000-0000-0000-0000-000000000000","appIds":null}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.113702403s
[...]
    - id: 31
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRYV01STEktV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=638991920294001264&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqh[...]
[...]
    - id: 38
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "2"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-xwmrli/providers/Microsoft.ApiManagement/service/asotestyvmjqn?api-version=2024-05-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ApiManagement/service/asotestyvmjqn'' under resource group ''asotest-rg-xwmrli'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 370.989438ms
[...]
