---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-zzrjtb","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 28e89601d0d503c0738604d27ada93199a7f24bd4fbd775af6a37366e8a36468
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb","name":"asotest-rg-zzrjtb","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 2.247505442s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb","name":"asotest-rg-zzrjtb","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 423.959637ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/workspacescomputevnet'' under resource group ''asotest-rg-zzrjtb'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 314.02656ms
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/networkSecurityGroups/workspacescomputensg'' under resource group ''asotest-rg-zzrjtb'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 356.651287ms
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus3/deletedVaults/ms-ws-vault?api-version=2024-11-01
        method: GET
      response:
        body: '{"error":{"code":"DeletedVaultNotFound","message":"The specified deleted vault ''ms-ws-vault'' does not exist. Ensure that the vault was indeed deleted and that it is in recoverable state. If soft delete was not enabled then the vault is permanently deleted. Follow this link for more information: https://go.microsoft.com/fwlink/?linkid=2149745"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 404 Not Found
        code: 404
        duration: 437.066906ms
[...]
    - id: 6
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"workspacescomputensg"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 2bed002d8f3e6492a59b93eb747976cb9e5feb6938d6aefb28193fb66e13fbe0
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"workspacescomputensg","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg","etag":"W/\"478950f5-c2df-4556-a1b8-ec178f41a8d4\"","type":"Microsoft.Network/networkSecurityGroups","location":"westus3","properties":{"provisioningState":"Updating","resourceGuid":"a88b8342-6c05-40f2-873c-869411950db0","securityRules":[],"defaultSecurityRules":[{"name":"AllowVnetInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg/defaultSecurityRules/AllowVnetInBound","etag":"W/\"478950f5-c2df-4556-a1b8-ec178f41a8d4\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow inbound traffic from all VMs in VNET","protocol":"*","sourcePortRange":"*","destinationPortRange":"*","sourceAddressPrefix":"VirtualNetwork","destinationAddressPrefix":"VirtualNetwork","access":"Allow","priority":65000,"direction":"Inbound","sourcePortRanges":[],"destinationPortRanges":[],"sourceAddressPrefixes":[],"destinationAddressPrefixes":[]}},{"name":"AllowAzureLoadBalancerInBound","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg/defaultSecurityRules/AllowAzureLoadBalancerInBound","etag":"W/\"478950f5-c2df-4556-a1b8-ec178f41a8d4\"","type":"Microsoft.Network/networkSecurityGroups/defaultSecurityRules","properties":{"provisioningState":"Updating","description":"Allow inbound traffic from azure load balancer","protocol":[...]
    - id: 7
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"workspacescomputepublicip","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 2373b12e017787673a0a654bd42fe8778024c9c7aebe83593ce19d4534a4abc3
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"workspacescomputepublicip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip","etag":"W/\"dc7ee59d-77aa-43be-a182-003ff76b5d66\"","location":"westus3","properties":{"provisioningState":"Updating","resourceGuid":"547176d5-ac8d-4614-96ea-b37f519b0697","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[]},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/97c3c5de-4fa1-4f58-8487-86b81c6bf76b?api-version=2020-11-01&t=638991899618654796&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUxMDIyMTAyMjQ3WhcNMjYwNDIwMTAyMjQ3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLm[...]
    - id: 8
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"westus2","name":"asotestyoyuey","properties":{"publicNetworkAccess":"Disabled","regionDetails":[{"acrDetails":[{"systemCreatedAcrAccount":{"acrAccountName":"myasoamltestacr","acrAccountSku":"Premium"}}],"location":"westus2","storageAccountDetails":[{"systemCreatedStorageAccount":{"allowBlobPublicAccess":false,"storageAccountName":"myasoamltestsa","storageAccountType":"Standard_LRS"}}]}]},"sku":{"name":"P3","tier":"Free"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 7054ab408a728586ddba80996299c038c7fed52818c579d68c415a3b2cf3348a
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.MachineLearningServices/registries/asotestyoyuey?api-version=2024-04-01
        method: [...]
    - id: 9
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"westus3","name":"asotestqbwrzh","properties":{"allowPublicAccessWhenBehindVnet":false,"keyVault":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.KeyVault/vaults/ms-ws-vault","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1"},"sku":{"name":"Standard_S1","tier":"Basic"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 61b8f0e32ed561e418d55a08f5ed983ac425c4880c52f9ac2daf8ffd8ccca221
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-00000000[...]
    - id: 10
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"workspacescomputevnet","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - d1f289237bbb37a8a1d083755ae2e82d8a1b0358f5194c086699c57faadb999b
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet?api-version=2020-11-01
        method: PUT
      response:
        body: '{"name":"workspacescomputevnet","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet","etag":"W/\"d9ffb98e-5481-471c-8cdb-8702b9c08169\"","type":"Microsoft.Network/virtualNetworks","location":"westus3","properties":{"provisioningState":"Updating","resourceGuid":"3bfba673-cc50-4d00-bd7a-755d33b816a3","addressSpace":{"addressPrefixes":["10.0.0.0/16"]},"subnets":[],"virtualNetworkPeerings":[],"enableDdosProtection":false}}'
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/c512f36d-1ba3-4d0e-a2d2-77c16bc8fee7?api-version=2020-11-01&t=638991899641249511&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9[...]
    - id: 11
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"ms-ws-vault","properties":{"accessPolicies":[{"applicationId":"c8d42d17-0044-4119-99f9-9207b705c9df","objectId":"2735f286-1d85-49bc-bfec-c5994ede7e7f","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]},"tenantId":"00000000-0000-0000-0000-000000000000"}],"createMode":"default","sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 6bdcb215ae3a2047e8a68bf6046dd6b7741abceadedff79f7cd659569936ecdc
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.KeyVault/vaults/ms-ws-vault?api-version=2021-04-01-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.KeyVault/vaults/ms-ws-vault","name":"ms-ws-vault","type":"Microsoft.KeyVault/vaults","location":"westus3","tags":{},"systemData":{"createdBy":"bearps@microsoft.com","createdByType":"User","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"bearps@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2001-02-03T04:05:06Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"2735f286-1d85-49bc-bfec-c5994ede7e7f","applicationId":"c8d42d17-0044-4119-99f9-9207b705c9df","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"vaultUri":"https://ms-ws-vault.vault.azure.net","provisioningState":"RegisteringDns"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.298075276s
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/048cfe30-fa5a-4aba-bc1a-7371c1e45e07?api-version=2020-11-01&t=638991899612429613&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/W8VdU04VbpiWqBIiv55c2gTcrXBOLZ-d3WWJ05Ym6iA?api-version=2024-04-01&type=async&t=638991899639149991&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zAN[...]
    - id: 15
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/97c3c5de-4fa1-4f58-8487-86b81c6bf76b?api-version=2020-11-01&t=638991899618654796&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip?api-version=2020-11-01
        method: GET
      response:
        body: '{"name":"workspacescomputepublicip","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip","etag":"W/\"1cd79718-50a5-4e3b-b0ea-83f81a345ca8\"","location":"westus3","properties":{"provisioningState":"Succeeded","resourceGuid":"547176d5-ac8d-4614-96ea-b37f519b0697","ipAddress":"20.171.119.183","publicIPAddressVersion":"IPv4","publicIPAllocationMethod":"Static","idleTimeoutInMinutes":4,"ipTags":[]},"type":"Microsoft.Network/publicIPAddresses","sku":{"name":"Standard","tier":"Regional"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"1cd79718-50a5-4e3b-b0ea-83f81a345ca8"
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
        status: 200 OK
        code: 200
        duration: 400.770229ms
[...]
    - id: 20
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus2/registryOperationsStatus/2e29e219-e319-45dc-80bd-1ebafa86c80a?api-version=2024-04-01&type=async&t=638991899633773069&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG[...]
    - id: 21
      request:
        host: management.azure.com
        body: '{"kind":"BlobStorage","location":"westus3","name":"asoworkspacestorageacct1","properties":{"accessTier":"Hot","allowBlobPublicAccess":false},"sku":{"name":"Standard_LRS"},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - bf728d3dc140cc5d2c12c9a857135a048011c8f6edf1ea12c900a080f443377d
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1?api-version=2023-01-01
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus3/asyncoperations/c5b990a7-724e-4a6c-b6de-66a3d53c0a27?monitor=true&api-version=2023-01-01&t=638991899709189144&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUxMDIyMTAyMjQ3WhcNMjYwNDIwMTAyMjQ3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25[...]
[...]
    - id: 23
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/c512f36d-1ba3-4d0e-a2d2-77c16bc8fee7?api-version=2020-11-01&t=638991899641249511&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 27
      request:
        host: management.azure.com
        body: '{"name":"workspacescomputensgrule","properties":{"access":"Allow","description":"Allow access to any source port","destinationAddressPrefix":"*","destinationPortRange":"22","direction":"Inbound","priority":101,"protocol":"Tcp","sourceAddressPrefix":"*","sourcePortRange":"*"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - [...]
[...]
    - id: 30
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/9473b071-8782-42dd-86b8-1b8224c6f336?api-version=2020-11-01&t=638991899753308319&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
    - id: 31
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.MachineLearningServices/workspaces/asotestqbwrzh?api-version=2024-04-01
        method: GET
      response:
        body: |-
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.MachineLearningServices/workspaces/asotestqbwrzh",
              "name": "asotestqbwrzh",
              "type": "Microsoft.MachineLearningServices/workspaces",
              "location": "westus3",
              "tags": {},
              "etag": null,
              "properties": {
                "friendlyName": "",
                "description": "",
                "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1",
                "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Keyvault/vaults/ms-ws-vault",
                "applicationInsights": null,
                "hbiWorkspace": false,
                "tenantId": "00000000-0000-0000-0000-000000000000",
                "imageBuildCompute": null,
                "provisioningState": "Succeeded",
                "managedNetwork": {
                  "changeableIsolationModes": [
                    "AllowInternetOutbound",
                    "AllowOnlyApprovedOutbound"
                  ],
                  "isolationMode": "Disabled",
                  "enableNetworkMonitor": false,
                  "enableFirewallLog": false
                },
                "allowRoleAssignmentOnRG": true,
                "v1LegacyMode": false,
                "softDeleteEnabled": false,
                "creationTime": "2001-02-03T04:05:06Z",
                "notebookInfo": {
                  "resourceId": "469fb14cd57741c1b37ce98f1f4a1c8e",
                  "fqdn": "ml-asotestqbwrzh-westus3-ea7a067d-8ad0-4d59-b1d4-f523c1e65fa2.westus2.notebooks.azure.net",
                  "isPrivateLinkEnabled": false,
                  "notebookPreparationError": null
                },
                "storageHnsEnabled": false,
                "workspaceId": "ea7a067d-8ad0-4d59-b1d4-f523c1e65fa2",
                "linkedModelInventoryArmId": null,
                "privateLinkCount": 0,
                "publicNetworkAccess": "Enabled",
                "ipAllowlist": [],
                "networkAcls": {
                  "defaultAction": "Allow",
                  "bypass": "",
                  "ipRules": [],
                  "resourceAccessRules": []
                },
                "discoveryUrl": "https://westus3.api.azureml.ms/discovery",
                "mlFlowTrackingUri": "azureml://westus3.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.MachineLearningServices/workspaces/asotestqbwrzh",
                "serverlessComputeSettings": null,
                "EnableSoftwareBillOfMaterials": false,
                "sdkTelemetryAppInsightsKey": "e2b2c446-95af-4564-b25f-79188b737986",
                "sasGetterUri": "",
                "enableDataIsolation": false
              },
              "identity": {
                "type": "SystemAssigned",
                "principalId": "6ceff972-4b18-4cbf-8853-4736a9a7d58e",
                "tenantId": "00000000-0000-0000-0000-000000000000"
              },
              "kind": "Default",
              "sku": {
                "name": "Basic",
                "tier": "Basic"
              },
              "systemData": {
                "createdAt": "2001-02-03T04:05:06Z",
                "createdBy": "bearps@microsoft.com",
                "createdByType": "User",
                "lastModifiedAt": "2001-02-03T04:05:06Z",
                "lastModifiedBy": "bearps@microsoft.com",
                "lastModifiedByType": "User"
              }
            }
        headers:
            Azureml-Served-By-Cluster:
                - vienna-westus3-02
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
            X-Ms-Response-Type:
                - standard
            X-Request-Time:
                - "0.022"
        status: 200 OK
        code: 200
        duration: 1.030430141s
[...]
    - id: 35
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.MachineLearningServices/workspaces/asotestqbwrzh/listKeys?api-version=2021-07-01
        method: POST
      response:
        body: |-
            {
              "error": {
                "code": "ValidationError",
                "severity": null,
                "message": "Conflict response body: {\"error\":{\"code\":\"StorageAccountIsNotProvisioned\",\"message\":\"The storage account provisioning state must be 'Succeeded' before executing the operation.\"}}",
                "messageFormat": null,
                "messageParameters": null,
                "referenceCode": null,
                "detailsUri": null,
                "target": "s2s",
                "details": [
                  {
                    "code": "Invalid",
                    "severity": null,
                    "message": "Conflict response body: {\"error\":{\"code\":\"StorageAccountIsNotProvisioned\",\"message\":\"The storage account provisioning state must be 'Succeeded' before executing the operation.\"}}",
                    "messageFormat": null,
                    "messageParameters": {},
                    "referenceCode": null,
                    "detailsUri": null,
                    "target": "s2s",
                    "details": [],
                    "innerError": null,
                    "debugInfo": null,
                    "additionalInfo": null
                  }
                ],
                "innerError": null,
                "debugInfo": null,
                "additionalInfo": null
              },
              "correlation": {
                "operation": "3540d92ace20fe5f566cf433c7449c45",
                "request": "16a2ab86142c4d0a"
              },
              "environment": "westus3",
              "location": "westus3",
              "time": "2025-11-19T22:59:42.9425344+00:00",
              "componentName": "account-rp",
              "statusCode": 400
            }
        headers:
            Azureml-Served-By-Cluster:
                - vienna-westus3-01
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
            X-Ms-Response-Type:
                - error
            X-Request-Time:
                - "0.274"
        status: 400 Bad Request
        code: 400
        duration: 1.289961276s
[...]
    - id: 37
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus3/asyncoperations/c5b990a7-724e-4a6c-b6de-66a3d53c0a27?monitor=true&api-version=2023-01-01&t=638991899709189144&c=MIIHhzCCBm-gAwIBAgITHgePNrHnjd12qB0bIgAAB482sTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZI[...]
[...]
    - id: 44
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-zzrjtb/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1?api-version=2023-01-01
        method: GET
      response:
[...]
