---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-tspxpw","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw","name":"asotest-rg-tspxpw","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"workspacescomputensg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg\",\r\n
      \ \"etag\": \"W/\\\"a9f7faf3-0a2f-4490-9d34-2e087778154f\\\"\",\r\n  \"type\":
      \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"westus3\",\r\n
      \ \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\":
      \"08b7d08d-b98f-4920-8dbf-76724e4dad1a\",\r\n    \"securityRules\": [\r\n      {\r\n
      \       \"name\": \"workspacescomputensgrule\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg/securityRules/workspacescomputensgrule\",\r\n
      \       \"etag\": \"W/\\\"a9f7faf3-0a2f-4490-9d34-2e087778154f\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkSecurityGroups/securityRules\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"description\":
      \"Allow access to any source port\",\r\n          \"protocol\": \"Tcp\",\r\n
      \         \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\":
      \"22\",\r\n          \"sourceAddressPrefix\": \"*\",\r\n          \"destinationAddressPrefix\":
      \"*\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 101,\r\n
      \         \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n
      \         \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\":
      [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      }\r\n
      \   ],\r\n    \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg/defaultSecurityRules/AllowVnetInBound\",\r\n
      \       \"etag\": \"W/\\\"a9f7faf3-0a2f-4490-9d34-2e087778154f\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\":
      {\r\n       [...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"workspacescomputevnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet\",\r\n
      \ \"etag\": \"W/\\\"0996648c-a673-4a19-89d4-8ee377c7de49\\\"\",\r\n  \"type\":
      \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus3\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"037cef68-d4a4-4746-944c-4b1bb1367046\",\r\n
      \   \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n
      \     ]\r\n    },\r\n    \"subnets\": [\r\n      {\r\n        \"name\": \"workspacescomputesubnet\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet\",\r\n
      \       \"etag\": \"W/\\\"0996648c-a673-4a19-89d4-8ee377c7de49\\\"\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"addressPrefix\":
      \"10.0.0.0/24\",\r\n          \"ipConfigurations\": [\r\n            {\r\n              \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ASOTEST-RG-TSPXPW/providers/Microsoft.Network/networkInterfaces/WORKSPACESCOMPUTENIC/ipConfigurations/IPCONFIG1\"\r\n
      \           }\r\n          ],\r\n          \"delegations\": [],\r\n          \"privateEndpointNetworkPolicies\":
      \"Disabled\",\r\n          \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n
      \       },\r\n        \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n
      \     }\r\n    ],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\":
      false\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0996648c-a673-4a19-89d4-8ee377c7de49"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus3/deletedVaults/ms-ws-vault?api-version=2021-04-01-preview
    method: GET
  response:
    body: '{"error":{"code":"DeletedVaultNotFound","message":"The specified deleted
      vault ''ms-ws-vault'' does not exist. Ensure that the vault was indeed deleted
      and that it is in recoverable state. If soft delete was not enabled then the
      vault is permanently deleted. Follow this link for more information: https://go.microsoft.com/fwlink/?linkid=2149745"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"kind":"BlobStorage","location":"westus3","name":"asoworkspacestorageacct1","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1?api-version=2021-04-01
    method: PUT
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"BlobStorage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1","name":"asoworkspacestorageacct1","type":"Microsoft.Storage/storageAccounts","location":"westus3","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asoworkspacestorageacct1.dfs.core.windows.net/","blob":"https://asoworkspacestorageacct1.blob.core.windows.net/","table":"https://asoworkspacestorageacct1.table.core.windows.net/"},"primaryLocation":"westus3","statusOfPrimary":"available"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1/listKeys?api-version=2021-09-01
    method: POST
  response:
    body: '{"keys":[{"creationTime":"2001-02-03T04:05:06Z","keyName":"key1","value":"{KEY}","permissions":"FULL"},{"creationTime":"2001-02-03T04:05:06Z","keyName":"key2","value":"{KEY}","permissions":"FULL"}]}'
    headers:
      Content-Type:
      - application/json
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "11998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"workspacescomputensgrule","properties":{"access":"Allow","description":"Allow
      access to any source port","destinationAddressPrefix":"*","destinationPortRange":"22","direction":"Inbound","priority":101,"protocol":"Tcp","sourceAddressPrefix":"*","sourcePortRange":"*"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-0000000[...]
- request:
    body: '{"location":"westus3","name":"workspacescomputepublicip","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"workspacescomputepublicip\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip\",\r\n
      \ \"etag\": \"W/\\\"54bab476-83ca-4881-84e6-5cd45d673484\\\"\",\r\n  \"location\":
      \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n
      \   \"resourceGuid\": \"0d0c2769-8772-4b4c-90a3-488736ba7f4d\",\r\n    \"ipAddress\":
      \"20.125.127.249\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\":
      \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": [],\r\n    \"ipConfiguration\":
      {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkInterfaces/workspacescomputenic/ipConfigurations/ipconfig1\"\r\n
      \   }\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\":
      {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
    headers:
      Azure-Asyncnotification:
      - Enabled
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/b72c50dd-4bb2-4561-9d5b-9a99f895d0fe?api-version=2020-11-01
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus3","name":"ms-ws-vault","properties":{"accessPolicies":[{"applicationId":"c8d42d17-0044-4119-99f9-9207b705c9df","objectId":"2735f286-1d85-49bc-bfec-c5994ede7e7f","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]},"tenantId":"00000000-0000-0000-0000-000000000000"}],"createMode":"default","sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.KeyVault/vaults/ms-ws-vault?api-version=2021-04-01-preview
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.KeyVault/vaults/ms-ws-vault","name":"ms-ws-vault","type":"Microsoft.KeyVault/vaults","location":"westus3","tags":{},"systemData":{"createdBy":"e5d772d8-b77f-4ed1-8dbb-3e8d433cbf46","createdByType":"Application","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"e5d772d8-b77f-4ed1-8dbb-3e8d433cbf46","lastModifiedByType":"Application","lastModifiedAt":"2001-02-03T04:05:06Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"2735f286-1d85-49bc-bfec-c5994ede7e7f","applicationId":"c8d42d17-0044-4119-99f9-9207b705c9df","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"vaultUri":"https://ms-ws-vault.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"workspacescomputesubnet","properties":{"addressPrefix":"10.0.0.0/24"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet?api-version=2020-11-01
    method: PUT
  response:
    body: "{\r\[...]
[...]
- request:
    body: '{"location":"westus3","name":"workspacescomputevm","properties":{"hardwareProfile":{"vmSize":"Standard_A1_v2"},"networkProfile":{"networkInterfaces":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkInterfaces/workspacescomputenic"}]},"osProfile":{"adminPassword":"{PASSWORD}","adminUsername":"adminUser","computerName":"poppy"},"storageProfile":{"imageReference":{"offer":"0001-com-ubuntu-server-jammy","publisher":"Canonical","sku":"22_04-lts","version":"latest"}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Compute/virtualMachines/workspacescomputevm?api-version=2020-12-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"workspacescomputevm\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Compute/virtualMachines/workspacescomputevm\",\r\n
      \ \"type\": \"Microsoft.Compute/virtualMachines\",\r\n  \"location\": \"westus3\",\r\n
      \ \"properties\": {\r\n    \"hardwareProfile\": {\r\n      \"vmSize\": \"Standard_A1_v2\"\r\n
      \   },\r\n    \"provisioningState\": \"Updating\",\r\n    \"vmId\": \"b3b3a185-cb7f-4e7a-8974-1a6c4ea82669\",\r\n
      \   \"storageProfile\": {\r\n      \"imageReference\": {\r\n        \"publisher\":
      \"Canonical\",\r\n        \"offer\": \"0001-com-ubuntu-server-jammy\",\r\n        \"sku\":
      \"22_04-lts\",\r\n        \"version\": \"latest\",\r\n        \"exactVersion\":
      \"22.04.202309190\"\r\n      },\r\n      \"osDisk\": {\r\n        \"osType\":
      \"Linux\",\r\n        \"name\": \"workspacescomputevm_OsDisk_1_95ffbd7aa90a4a78b4b5d68e03973027\",\r\n
      \       \"createOption\": \"FromImage\",\r\n        \"caching\": \"ReadWrite\",\r\n
      \       \"managedDisk\": {\r\n          \"storageAccountType\": \"Standard_LRS\",\r\n
      \         \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Compute/disks/workspacescomputevm_OsDisk_1_95ffbd7aa90a4a78b4b5d68e03973027\"\r\n
      \       },\r\n        \"diskSizeGB\": 30\r\n      },\r\n      \"dataDisks\":
      []\r\n    },\r\n    \"osProfile\": {\r\n      \"computerName\": \"poppy\",\r\n
      \     \"adminUsername\": \"adminUser\",\r\n      \"linuxConfiguration\": {\r\n
      \       \"disablePasswordAuthentication\": false,\r\n        \"provisionVMAgent\":
      true,\r\n        \"patchSettings\": {\r\n          \"patchMode\": \"ImageDefault\"\r\n
      \       }\r\n      },\r\n      \"secrets\": [],\r\n      \"allowExtensionOperations\":
      true,\r\n      \"requireGuestProvisionSignal\": true\r\n    },\r\n    \"networkProfile\":
      {\"networkInterfaces\":[{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkInterfaces/workspacescomputenic\"}]}\r\n
      \ }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/PutVMSubscriptionMaximum;1499,Microsoft.Compute/PutVMResource;11
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"location":"westus3","name":"workspacescomputenic","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet"}}}],"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkInterfaces/workspacescomputenic?api-version=2020-11-01
    metho[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkInterfaces/workspacescomputenic?api-version=2020-11-01
    method: GET
  response:
    body: "{\r\n  \"name\": \"workspacescomputenic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkInterfaces/workspacescomputenic\",\r\n
      \ \"etag\": \"W/\\\"9b9ea509-bc5f-4bca-82ae-d2dd0bf13db5\\\"\",\r\n  \"properties\":
      {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"2422bc01-d0b6-4fd5-96f5-f72599e4ccec\",\r\n
      \   \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n
      \       \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkInterfaces/workspacescomputenic/ipConfigurations/ipconfig1\",\r\n
      \       \"etag\": \"W/\\\"9b9ea509-bc5f-4bca-82ae-d2dd0bf13db5\\\"\",\r\n        \"type\":
      \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\":
      {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\":
      \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\":
      {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip\"\r\n
      \         },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet\"\r\n
      \         },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\":
      \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\":
      [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\":
      \"ndxxya3e0rdepfcmjmn1cntqig.phxx.internal.cloudapp.net\"\r\n    },\r\n    \"macAddress\":
      \"60-45-BD-C7-C3-C5\",\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"vnetEncryptionSupported\":
      false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\":
      {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg\"\r\n
      \   },\r\n    \"primary\": true,\r\n    \"virtualMachine\": {\r\n      \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Compute/virtualMachines/workspacescomputevm\"\r\n
      \   },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n
      \   \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n
      \ \"location\": \"westus3\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b9ea509-bc5f-4bca-82ae-d2dd0bf13db5"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"identity":{"type":"SystemAssigned"},"location":"westus3","name":"asotestbovcwg","properties":{"allowPublicAccessWhenBehindVnet":false,"keyVault":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.KeyVault/vaults/ms-ws-vault","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1"},"sku":{"name":"Standard_S1","tier":"Basic"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.MachineLearningServices/workspaces/asotestbovcwg?api-version=2021-07-01
    method: PUT
  response:
    body: ""
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/43YI3hdXutRlJqcyU8E7Yqa8JHQ0dHkgYnaLmmhHDFc?api-version=2021-07-01&type=async
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/43YI3hdXutRlJqcyU8E7Yqa8JHQ0dHkgYnaLmmhHDFc?api-version=2021-07-01&type=location
      X-Aml-Cluster:
      - vienna-westus3-01
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.147"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/43YI3hdXutRlJqcyU8E7Yqa8JHQ0dHkgYnaLmmhHDFc?api-version=2021-07-01&type=async
    method: GET
  response:
    body: |-
      {
        "status": "InProgress"
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus3-01
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.039"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "3"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/43YI3hdXutRlJqcyU8E7Yqa8JHQ0dHkgYnaLmmhHDFc?api-version=2021-07-01&type=async
    method: GET
  response:
    body: |-
      {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus3-01
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.034"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.MachineLearningServices/workspaces/asotestbovcwg?api-version=2021-07-01
    method: GET
  response:
    body: |-
      {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.MachineLearningServices/workspaces/asotestbovcwg",
        "name": "asotestbovcwg",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus3",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Keyvault/vaults/ms-ws-vault",
          "applicationInsights": null,
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "creationTime": "2001-02-03T04:05:06Z",
          "notebookInfo": {
            "resourceId": "da60c8246dbf4a109e442828811b959f",
            "fqdn": "ml-asotestbovcwg-westus3-7206716c-ee26-4e86-b911-ef8d06a7a749.westus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "7206716c-ee26-4e86-b911-ef8d06a7a749",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "allowPublicAccessWhenBehindVnet": true,
          "discoveryUrl": "https://westus3.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus3.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.MachineLearningServices/workspaces/asotestbovcwg",
          "sdkTelemetryAppInsightsKey": "3c3a4870-ec7e-4790-8faa-fa109dddf062",
          "sasGetterUri": ""
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "c10bad29-86f3-434d-975c-a0926dcdfefb",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2001-02-03T04:05:06Z",
          "createdBy": "e5d772d8-b77f-4ed1-8dbb-3e8d433cbf46",
          "createdByType": "Application",
          "lastModifiedAt": "2001-02-03T04:05:06Z",
          "lastModifiedBy": "e5d772d8-b77f-4ed1-8dbb-3e8d433cbf46",
          "lastModifiedByType": "Application"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus3-01
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.020"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.MachineLearningServices/workspaces/asotestbovcwg/listKeys?api-version=2021-07-01
    method: POST
  response:
    body: |-
      {
        "userStorageKey": "{KEY}",
        "userStorageArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-tspxpw/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1",
        "appInsightsInstrumentationKey": null,
        "containerRegistryCredentials": null,
        "notebookAccessKeys": {
          "primaryAccessKey": "d82eac09c2c94c88a162286c69f7742f5d1d0cfc932b4351b881057adc824778",
          "secondaryAccessKey": "882f599b84004e27b0d8485978fd2c6c163794f42d1145bf8797a3cf54accc0c"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus3-01
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.705"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotestxmfumn","properties":{"authType":"PAT","category":"ACR","target":"www.sample.com","value":"{}","valueFormat":"JSON"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
[...]
