---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-ilxitc","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ilxitc?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ilxitc","name":"asotest-rg-ilxitc","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westcentralus","name":"asotestnilneg","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":500},"sku":{"name":"Standard_LRS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ilxitc/providers/Microsoft.Compute/disks/asotestnilneg?api-version=2020-09-30
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotestnilneg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ilxitc/providers/Microsoft.Compute/disks/asotestnilneg\",\r\n
      \ \"location\": \"westcentralus\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\"\r\n
      \ },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\":
      \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 500,\r\n    \"provisioningState\":
      \"Updating\",\r\n    \"isArmResource\": true\r\n  }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/ce250641-3137-4ff5-b9c0-d25b98821ec7?p=c66aad91-36f1-4d8c-abdf-b6a9f70ea9a3&api-version=2020-09-30
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/ce250641-3137-4ff5-b9c0-d25b98821ec7?p=c66aad91-36f1-4d8c-abdf-b6a9f70ea9a3&monitor=true&api-version=2020-09-30
      Retry-After:
      - "2"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/CreateUpdateDisks3Min;999,Microsoft.Compute/CreateUpdateDisks30Min;7999
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: '{"location":"westcentralus","name":"asotestcyfork","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":64}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ilxitc/providers/Microsoft.Compute/snapshots/asotestcyfork?api-version=2020-09-30
    method: PUT
  response:
    body: "{\r\n  [...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/ce250641-3137-4ff5-b9c0-d25b98821ec7?p=c66aad91-36f1-4d8c-abdf-b6a9f70ea9a3&api-version=2020-09-30
    method: GET
  response:
    body: "{\r\n  \"startTime\": \"2022-08-17T21:19:30.947255+00:00\",\r\n  \"endTime\":
      \"2022-08-17T21:19:31.0566237+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\":
      {\r\n    \"output\": {\r\n  \"name\": \"asotestnilneg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ilxitc/providers/Microsoft.Compute/disks/asotestnilneg\",\r\n
      \ \"type\": \"Microsoft.Compute/disks\",\r\n  \"location\": \"westcentralus\",\r\n
      \ \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n
      \ },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\":
      \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 500,\r\n    \"diskIOPSReadWrite\":
      500,\r\n    \"diskMBpsReadWrite\": 60,\r\n    \"encryption\": {\r\n      \"type\":
      \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"networkAccessPolicy\":
      \"AllowAll\",\r\n    \"timeCreated\": \"2022-08-17T21:19:30.962872+00:00\",\r\n
      \   \"provisioningState\": \"Succeeded\",\r\n    \"diskState\": \"Unattached\",\r\n
      \   \"diskSizeBytes\": 536870912000,\r\n    \"uniqueId\": \"e33c888d-b95a-4aeb-a921-12c2b6390265\"\r\n
      \ }\r\n}\r\n  },\r\n  \"name\": \"ce250641-3137-4ff5-b9c0-d25b98821ec7\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399999
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westcentralus/DiskOperations/f8357e78-23e1-4f66-bfc5-8f7caa6961f7?p=c66aad91-36f1-4d8c-abdf-b6a9f70ea9a3&api-version=2020-09-30
    method: GET
  response:
    body: "{\r\n  \"startTime\": \"2022-08-17T21:19:31.2284881+00:00\",\r\n  \"endTime\":
      \"2022-08-17T21:19:31.5253725+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\":
      {\r\n    \"output\": {\"name\":\"asotestcyfork\",\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ilxitc/providers/Microsoft.Compute/snapshots/asotestcyfork\",\"type\":\"Microsoft.Compute/snapshots\",\"location\":\"westcentralus\",\"sku\":{\"name\":\"Standard_LRS\",\"tier\":\"Standard\"},\"properties\":{\"creationData\":{\"createOption\":\"Empty\"},\"diskSizeGB\":64,\"encryption\":{\"type\":\"EncryptionAtRestWithPlatformKey\"},\"incremental\":false,\"networkAccessPolicy\":\"AllowAll\",\"timeCreated\":\"2022-08-17T21:19:31.2284881+00:00\",\"provisioningState\":\"Succeeded\",\"diskState\":\"Unattached\",\"diskSizeBytes\":68719476736,\"uniqueId\":\"a651793c-f4df-4200-ae8e-784b16d0ec5d\"}}\r\n
      \ },\r\n  \"name\": \"f8357e78-23e1-4f66-bfc5-8f7caa6961f7\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetOperation3Min;49996,Microsoft.Compute/GetOperation30Min;399996
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRJTFhJVEMtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRJTFhJVEMtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
