apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    app: azure-service-operator-v2
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        aadpodidbinding: aso-manager-binding
        control-plane: controller-manager
    spec:
      containers:
      - args:
        - --enable-leader-election
        - --v=2
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
        image: controller:latest
        name: manager
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 200m
            memory: 256Mi
      terminationGracePeriodSeconds: 10
