---
version: 1
interactions:
- request:
    body: '{"location":"eastus","name":"asotest-rg-azqkky","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky","name":"asotest-rg-azqkky","type":"Microsoft.Resources/resourceGroups","location":"eastus","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"eastus","name":"asotest-sqlserverprimary-aetshk","properties":{"administratorLogin":"myadmin","administratorLoginPassword":"{PASSWORD}","version":"12.0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserverprimary-aetshk?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertLogicalServer","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/83580ef0-437d-41be-85a7-ff9c35833652?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/locations/eastus/serverOperationResults/83580ef0-437d-41be-85a7-ff9c35833652?api-version=2021-11-01
      Retry-After:
      - "1"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/locations/eastus/serverAzureAsyncOperation/83580ef0-437d-41be-85a7-ff9c35833652?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"83580ef0-437d-41be-85a7-ff9c35833652","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"eastus2","name":"asotest-sqlserversecondary-bhvpcy","properties":{"administratorLogin":"myadmin","administratorLoginPassword":"{PASSWORD}","version":"12.0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserversecondary-bhvpcy?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"UpsertLogicalServer","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/91155539-f4fd-41e7-af4b-1809710afa13?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/locations/eastus2/serverOperationResults/91155539-f4fd-41e7-af4b-1809710afa13?api-version=2021-11-01
      Retry-After:
      - "1"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/locations/eastus2/serverAzureAsyncOperation/91155539-f4fd-41e7-af4b-1809710afa13?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"91155539-f4fd-41e7-af4b-1809710afa13","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserversecondary-bhvpcy?api-version=2021-11-01
    method: GET
  response:
    body: '{"kind":"v12.0","properties":{"administratorLogin":"myadmin","version":"12.0","state":"Ready","fullyQualifiedDomainName":"asotest-sqlserversecondary-bhvpcy.database.windows.net","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","restrictOutboundNetworkAccess":"Disabled"},"location":"eastus2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserversecondary-bhvpcy","name":"asotest-sqlserversecondary-bhvpcy","type":"Microsoft.Sql/servers"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"eastus","name":"asotest-db-xvdcal","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserverprimary-aetshk/databases/asotest-db-xvdcal?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"CreateLogicalDatabase","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/cb536335-3803-4c8f-ad6d-42e7607f530d?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/locations/eastus/databaseOperationResults/cb536335-3803-4c8f-ad6d-42e7607f530d?api-version=2021-11-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/locations/eastus/databaseAzureAsyncOperation/cb536335-3803-4c8f-ad6d-42e7607f530d?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"cb536335-3803-4c8f-ad6d-42e7607f530d","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "15"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserverprimary-aetshk/databases/asotest-db-xvdcal?api-version=2021-11-01
    method: GET
  response:
    body: '{"sku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"kind":"v12.0,user,vcore","properties":{"collation":"SQL_Latin1_General_CP1_CI_AS","maxSizeBytes":34359738368,"status":"Online","databaseId":"264645c3-f5b5-4c8a-bd69-3fec782dc9cf","creationDate":"2001-02-03T04:05:06Z","currentServiceObjectiveName":"GP_Gen5_2","requestedServiceObjectiveName":"GP_Gen5_2","defaultSecondaryLocation":"westus","catalogCollation":"SQL_Latin1_General_CP1_CI_AS","zoneRedundant":false,"licenseType":"LicenseIncluded","maxLogSizeBytes":193273528320,"readScale":"Disabled","currentSku":{"name":"GP_Gen5","tier":"GeneralPurpose","family":"Gen5","capacity":2},"currentBackupStorageRedundancy":"Geo","requestedBackupStorageRedundancy":"Geo","maintenanceConfigurationId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default","isLedgerOn":false,"isInfraEncryptionEnabled":false},"location":"eastus","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserverprimary-aetshk/databases/asotest-db-xvdcal","name":"asotest-db-xvdcal","type":"Microsoft.Sql/servers/databases"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-failovergroup-qtvone","properties":{"databases":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserverprimary-aetshk/databases/asotest-db-xvdcal"],"partnerServers":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserversecondary-bhvpcy"}],"readWriteEndpoint":{"failoverPolicy":"Automatic","failoverWithDataLossGracePeriodMinutes":60}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserverprimary-aetshk/failoverGroups/asotest-failovergroup-qtvone?api-version=2021-11-01
    method: PUT
  response:
    body: '{"operation":"CreateFailoverGroup","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/failoverGroupAzureAsyncOperation/42290cc0-b491-4ef0-be2c-ada96a7a6769?api-version=2021-11-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/failoverGroupOperationResults/42290cc0-b491-4ef0-be2c-ada96a7a6769?api-version=2021-11-01
      Retry-After:
      - "10"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/eastus/failoverGroupAzureAsyncOperation/42290cc0-b491-4ef0-be2c-ada96a7a6769?api-version=2021-11-01
    method: GET
  response:
    body: '{"name":"42290cc0-b491-4ef0-be2c-ada96a7a6769","status":"InProgress","startTime":"2001-02-03T04:05:06Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Retry-After:
      - "10"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserverprimary-aetshk/failoverGroups/asotest-failovergroup-qtvone?api-version=2021-11-01
    method: GET
  response:
    body: '{"location":"East US","properties":{"readWriteEndpoint":{"failoverPolicy":"Automatic","failoverWithDataLossGracePeriodMinutes":60},"readOnlyEndpoint":{"failoverPolicy":"Disabled"},"replicationRole":"Primary","replicationState":"CATCH_UP","partnerServers":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserversecondary-bhvpcy","location":"East
      US 2","replicationRole":"Secondary"}],"databases":["/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserverprimary-aetshk/databases/asotest-db-xvdcal"]},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserverprimary-aetshk/failoverGroups/asotest-failovergroup-qtvone","name":"asotest-failovergroup-qtvone","type":"Microsoft.Sql/servers/failoverGroups"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "2"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserverprimary-aetshk/failoverGroups/asotest-failovergroup-qtvone?api-version=2021-11-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The requested resource of
      type ''Microsoft.Sql/servers/failoverGroups'' with name ''asotest-failovergroup-qtvone''
      was not found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRBWlFLS1ktRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRBWlFLS1ktRUFTVFVTIiwiam9iTG9jYXRpb24iOiJlYXN0dXMifQ?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-azqkky/providers/Microsoft.Sql/servers/asotest-sqlserversecondary-bhvpcy?api-version=2021-11-01
    method: DELETE
  response:
    body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-azqkky''
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
