---
version: 1
interactions:
- request:
    body: '{"location":"westus2","name":"asotest-rg-kfdsdw","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw","name":"asotest-rg-kfdsdw","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla?api-version=2023-02-02-preview
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/asotest-mc-sgohla''
      under resource group ''asotest-rg-kfdsdw'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"identity":{"type":"SystemAssigned"},"location":"westus3","name":"asotest-mc-sgohla","properties":{"agentPoolProfiles":[{"count":1,"mode":"System","name":"ap1","osType":"Linux","vmSize":"Standard_DS2_v2"}],"dnsPrefix":"aso","linuxProfile":{"adminUsername":"adminUser","ssh":{"publicKeys":[{"keyData":"ssh-rsa
      {KEY}\n"}]}},"oidcIssuerProfile":{"enabled":true}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla?api-version=2023-02-02-preview
    method: PUT
  response:
    body: |-
      {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla",
        "location": "westus3",
        "name": "asotest-mc-sgohla",
        "type": "Microsoft.ContainerService/ManagedClusters",
        "properties": {
         "provisioningState": "Creating",
         "powerState": {
          "code": "Running"
         },
         "kubernetesVersion": "1.25.6",
         "currentKubernetesVersion": "1.25.6",
         "dnsPrefix": "aso",
         "fqdn": "aso-4c8hsc2p.hcp.westus3.azmk8s.io",
         "azurePortalFQDN": "aso-4c8hsc2p.portal.hcp.westus3.azmk8s.io",
         "agentPoolProfiles": [
          {
           "name": "ap1",
           "count": 1,
           "vmSize": "Standard_DS2_v2",
           "osDiskSizeGB": 128,
           "osDiskType": "Managed",
           "kubeletDiskType": "OS",
           "maxPods": 110,
           "type": "VirtualMachineScaleSets",
           "provisioningState": "Creating",
           "powerState": {
            "code": "Running"
           },
           "orchestratorVersion": "1.25.6",
           "currentOrchestratorVersion": "1.25.6",
           "mode": "System",
           "osType": "Linux",
           "osSKU": "Ubuntu",
           "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202306.26.0",
           "enableFIPS": false
          }
         ],
         "linuxProfile": {
          "adminUsername": "adminUser",
          "ssh": {
           "publicKeys": [
            {
             "keyData": "ssh-rsa {KEY}\n"
            }
           ]
          }
         },
         "servicePrincipalProfile": {
          "clientId": "msi"
         },
         "nodeResourceGroup": "MC_asotest-rg-kfdsdw_asotest-mc-sgohla_westus3",
         "enableRBAC": true,
         "networkProfile": {
          "networkPlugin": "kubenet",
          "loadBalancerSku": "standard",
          "loadBalancerProfile": {
           "managedOutboundIPs": {
            "count": 1
           },
           "backendPoolType": "nodeIPConfiguration"
          },
          "podCidr": "10.244.0.0/16",
          "serviceCidr": "10.0.0.0/16",
          "dnsServiceIP": "10.0.0.10",
          "dockerBridgeCidr": "172.17.0.1/16",
          "outboundType": "loadBalancer",
          "podCidrs": [
           "10.244.0.0/16"
          ],
          "serviceCidrs": [
           "10.0.0.0/16"
          ],
          "ipFamilies": [
           "IPv4"
          ]
         },
         "maxAgentPools": 100,
         "securityProfile": {},
         "storageProfile": {
          "diskCSIDriver": {
           "enabled": true,
           "version": "v1"
          },
          "fileCSIDriver": {
           "enabled": true
          },
          "snapshotController": {
           "enabled": true
          }
         },
         "oidcIssuerProfile": {
          "enabled": true,
          "issuerURL": "https://westus3.oic.prod-aks.azure.com/00000000-0000-0000-0000-000000000000/c843b126-f5a1-4d66-9bee-0c165b279f94/"
         },
         "workloadAutoScalerProfile": {}
        },
        "identity": {
         "type": "SystemAssigned",
         "principalId": "1234a0c0-8548-462b-9afc-424b4186709d",
         "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "sku": {
         "name": "Base",
         "tier": "Free"
        }
       }
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/3770ad28-14ae-4b12-b46b-a61e565339c9?api-version=2016-03-30
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/3770ad28-14ae-4b12-b46b-a61e565339c9?api-version=2016-03-30
    method: GET
  response:
    body: |-
      {
        "name": "28ad7037-ae14-124b-b46b-a61e565339c9",
        "status": "InProgress",
        "startTime": "2001-02-03T04:05:06Z"
       }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "8"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/3770ad28-14ae-4b12-b46b-a61e565339c9?api-version=2016-03-30
    method: GET
  response:
    body: |-
      {
        "name": "28ad7037-ae14-124b-b46b-a61e565339c9",
        "status": "Succeeded",
        "startTime": "2001-02-03T04:05:06Z",
        "endTime": "2001-02-03T04:05:06Z"
       }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla/listClusterAdminCredential?api-version=2022-04-01
    method: POST
  response:
    body: |-
      {
        "kubeconfigs": [
         {
          "name": "clusterAdmin",
          "value": "IA=="
         }
        ]
       }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla/listClusterUserCredential?api-version=2022-04-01
    method: POST
  response:
    body: |-
      {
        "kubeconfigs": [
         {
          "name": "clusterUser",
          "value": "IA=="
         }
        ]
       }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"kind":"StorageV2","location":"westus2","name":"asoteststorpxftks","properties":{"accessTier":"Hot"},"sku":{"name":"Standard_LRS"},"tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.Storage/storageAccounts/asoteststorpxftks?api-version=2021-04-01
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/9d0984c8-bebe-453e-afd3-0a4de6216fbe?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/9d0984c8-bebe-453e-afd3-0a4de6216fbe?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/9d0984c8-bebe-453e-afd3-0a4de6216fbe?monitor=true&api-version=2021-04-01
      Retry-After:
      - "17"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "2"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus2/asyncoperations/9d0984c8-bebe-453e-afd3-0a4de6216fbe?monitor=true&api-version=2021-04-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.Storage/storageAccounts/asoteststorpxftks","name":"asoteststorpxftks","type":"Microsoft.Storage/storageAccounts","location":"westus2","tags":{},"properties":{"keyCreationTime":{"key1":"2001-02-03T04:05:06Z","key2":"2001-02-03T04:05:06Z"},"privateEndpointConnections":[],"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2001-02-03T04:05:06Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2001-02-03T04:05:06Z","primaryEndpoints":{"dfs":"https://asoteststorpxftks.dfs.core.windows.net/","web":"https://asoteststorpxftks.z5.web.core.windows.net/","blob":"https://asoteststorpxftks.blob.core.windows.net/","queue":"https://asoteststorpxftks.queue.core.windows.net/","table":"https://asoteststorpxftks.table.core.windows.net/","file":"https://asoteststorpxftks.file.core.windows.net/"},"primaryLocation":"westus2","statusOfPrimary":"available"}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-kv-msimpt","properties":{"accessPolicies":[{"applicationId":"00000000-0000-0000-0000-000000000000","objectId":"00000000-0000-0000-0000-000000000000","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]},"tenantId":"00000000-0000-0000-0000-000000000000"}],"enableSoftDelete":false,"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.KeyVault/vaults/asotest-kv-msimpt?api-version=2021-04-01-preview
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.KeyVault/vaults/asotest-kv-msimpt","name":"asotest-kv-msimpt","type":"Microsoft.KeyVault/vaults","location":"westus2","tags":{},"systemData":{"createdBy":"e5d772d8-b77f-4ed1-8dbb-3e8d433cbf46","createdByType":"Application","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"e5d772d8-b77f-4ed1-8dbb-3e8d433cbf46","lastModifiedByType":"Application","lastModifiedAt":"2001-02-03T04:05:06Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"00000000-0000-0000-0000-000000000000","applicationId":"00000000-0000-0000-0000-000000000000","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"vaultUri":"https://asotest-kv-msimpt.vault.azure.net","provisioningState":"RegisteringDns"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"identity":{"type":"SystemAssigned"},"location":"westus2","name":"asotestworkrgnasr","properties":{"allowPublicAccessWhenBehindVnet":false,"keyVault":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.KeyVault/vaults/asotest-kv-msimpt","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.Storage/storageAccounts/asoteststorpxftks"},"sku":{"name":"Standard_S1","tier":"Basic"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.MachineLearningServices/workspaces/asotestworkrgnasr?api-version=2021-07-01
    method: PUT
  response:
    body: ""
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus2/workspaceOperationsStatus/gvSf96U0tWSR0yryeW06bRNFQUxTskEuFvyM-g9t2Jc?api-version=2021-07-01&type=async
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus2/workspaceOperationsStatus/gvSf96U0tWSR0yryeW06bRNFQUxTskEuFvyM-g9t2Jc?api-version=2021-07-01&type=location
      X-Aml-Cluster:
      - vienna-westus2-01
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.104"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus2/workspaceOperationsStatus/gvSf96U0tWSR0yryeW06bRNFQUxTskEuFvyM-g9t2Jc?api-version=2021-07-01&type=async
    method: GET
  response:
    body: |-
      {
        "status": "InProgress"
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus2-01
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.015"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "3"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus2/workspaceOperationsStatus/gvSf96U0tWSR0yryeW06bRNFQUxTskEuFvyM-g9t2Jc?api-version=2021-07-01&type=async
    method: GET
  response:
    body: |-
      {
        "status": "Succeeded",
        "percentComplete": 100.0
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus2-01
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.016"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.MachineLearningServices/workspaces/asotestworkrgnasr?api-version=2021-07-01
    method: GET
  response:
    body: |-
      {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.MachineLearningServices/workspaces/asotestworkrgnasr",
        "name": "asotestworkrgnasr",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "",
          "description": "",
          "storageAccount": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.Storage/storageAccounts/asoteststorpxftks",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.Keyvault/vaults/asotest-kv-msimpt",
          "applicationInsights": null,
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "creationTime": "2001-02-03T04:05:06Z",
          "notebookInfo": {
            "resourceId": "a3ee3fd3aaca437dbeec2d54f0383698",
            "fqdn": "ml-asotestworkrgna-westus2-789615f5-95f2-48f7-acbd-cd91c6ea511e.westus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "789615f5-95f2-48f7-acbd-cd91c6ea511e",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "allowPublicAccessWhenBehindVnet": true,
          "discoveryUrl": "https://westus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.MachineLearningServices/workspaces/asotestworkrgnasr",
          "sdkTelemetryAppInsightsKey": "73498d6d-b9a0-4d3b-9a6c-84285b86bea8",
          "sasGetterUri": ""
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "ca43d312-d032-4df4-b6e9-4767762cf688",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2001-02-03T04:05:06Z",
          "createdBy": "e5d772d8-b77f-4ed1-8dbb-3e8d433cbf46",
          "createdByType": "Application",
          "lastModifiedAt": "2001-02-03T04:05:06Z",
          "lastModifiedBy": "e5d772d8-b77f-4ed1-8dbb-3e8d433cbf46",
          "lastModifiedByType": "Application"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus2-01
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.030"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"tarb","properties":{"roles":["Microsoft.MachineLearningServices/workspaces/mlworkload"],"sourceResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.MachineLearningServices/workspaces/asotestworkrgnasr"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla/trustedAccessRoleBindings/tarb?api-version=2023-02-02-preview
    method: PUT
  response:
    body: |-
      {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla/trustedAccessRoleBindings/tarb",
        "name": "tarb",
        "type": "Microsoft.ContainerService/managedClusters/trustedAccessRoleBindings",
        "properties": {
         "provisioningState": "Updating",
         "sourceResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.MachineLearningServices/workspaces/asotestworkrgnasr",
         "roles": [
          "Microsoft.MachineLearningServices/workspaces/mlworkload"
         ]
        }
       }
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus2/workspaceOperationsStatus/a4191caa-6a81-49e7-a2f8-390916cb12fd?api-version=2021-07-01&type=async
    method: GET
  response:
    body: |-
      {
        "status": "InProgress"
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Aml-Cluster:
      - vienna-westus2-01
      X-Ms-Response-Type:
      - standard
      X-Request-Time:
      - "0.013"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla/agentPools/ap2?api-version=2023-02-02-preview
    method: GET
  response:
    body: |-
      {
        "code": "NotFound",
        "details": [
         {
          "code": "Unspecified",
          "message": "rpc error: code = NotFound desc = Agent Pool not found"
         }
        ],
        "message": "Could not find the agentpool: ap2 in subscription: 00000000-0000-0000-0000-000000000000, resourceGroup: asotest-rg-kfdsdw, resourceName: asotest-mc-sgohla.",
        "subcode": "GetAgentPool_NotFound"
       }
    headers:
      Content-Type:
      - application/json
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"name":"ap2","properties":{"count":1,"mode":"System","osType":"Linux","vmSize":"Standard_DS2_v2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla/agentPools/ap2?api-version=2023-02-02-preview
    method: PUT
  response:
    body: |-
      {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla/agentPools/ap2",
        "name": "ap2",
        "type": "Microsoft.ContainerService/managedClusters/agentPools",
        "properties": {
         "count": 1,
         "vmSize": "Standard_DS2_v2",
         "osDiskSizeGB": 128,
         "osDiskType": "Managed",
         "kubeletDiskType": "OS",
         "maxPods": 110,
         "type": "VirtualMachineScaleSets",
         "scaleDownMode": "Delete",
         "provisioningState": "Creating",
         "powerState": {
          "code": "Running"
         },
         "orchestratorVersion": "1.25.6",
         "currentOrchestratorVersion": "1.25.6",
         "mode": "System",
         "osType": "Linux",
         "osSKU": "Ubuntu",
         "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202306.26.0",
         "enableFIPS": false
        }
       }
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/8278c4f7-f1f3-4896-a8c5-06c45a5247cc?api-version=2016-03-30
      Content-Type:
      - application/json
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"name":"ap2","properties":{"count":1,"mode":"System","nodeLabels":{"mylabel":"label"},"osType":"Linux","vmSize":"Standard_DS2_v2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla/agentPools/ap2?api-version=2023-02-02-preview
    method: PUT
  response:
    body: |-
      {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla/agentPools/ap2",
        "name": "ap2",
        "type": "Microsoft.ContainerService/managedClusters/agentPools",
        "properties": {
         "count": 1,
         "vmSize": "Standard_DS2_v2",
         "osDiskSizeGB": 128,
         "osDiskType": "Managed",
         "kubeletDiskType": "OS",
         "maxPods": 110,
         "type": "VirtualMachineScaleSets",
         "scaleDownMode": "Delete",
         "provisioningState": "Updating",
         "powerState": {
          "code": "Running"
         },
         "orchestratorVersion": "1.25.6",
         "currentOrchestratorVersion": "1.25.6",
         "enableCustomCATrust": false,
         "nodeLabels": {
          "mylabel": "label"
         },
         "mode": "System",
         "osType": "Linux",
         "osSKU": "Ubuntu",
         "nodeImageVersion": "AKSUbuntu-2204gen2containerd-202306.26.0",
         "enableFIPS": false
        }
       }
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerService/locations/westus3/operations/d6a805e9-1dac-429b-9122-028c6af0c527?api-version=2016-03-30
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-kfdsdw/providers/Microsoft.ContainerService/managedClusters/asotest-mc-sgohla?api-version=2023-02-02-preview
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.ContainerService/managedClusters/asotest-mc-sgohla''
      under resource group ''asotest-rg-kfdsdw'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRLRkRTRFctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRLRkRTRFctV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
