apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: azureoperator-manager-role-{{ .Release.Namespace }}
rules:
- apiGroups:
  - aadpodidentity.k8s.io
  resources:
  - azureassignedidentities
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - aadpodidentity.k8s.io
  resources:
  - azureassignedidentities/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - aadpodidentity.k8s.io
  resources:
  - azureidentities
  - azureidentities/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - aadpodidentity.k8s.io
  resources:
  - azureidentitybindings
  - azureidentitybindings/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - apimgmtapis
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - apimgmtapis/finalizers
  - apimgmtapis/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - apimservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - apimservices/finalizers
  - apimservices/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - appinsights
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - appinsights/finalizers
  - appinsights/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - appinsightsapikeys
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - appinsightsapikeys/finalizers
  - appinsightsapikeys/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azureloadbalancers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azureloadbalancers/finalizers
  - azureloadbalancers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azurenetworkinterfaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azurenetworkinterfaces/finalizers
  - azurenetworkinterfaces/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azurepublicipaddresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azurepublicipaddresses/finalizers
  - azurepublicipaddresses/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlactions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlactions/finalizers
  - azuresqlactions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqldatabases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqldatabases/finalizers
  - azuresqldatabases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlfailovergroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlfailovergroups/finalizers
  - azuresqlfailovergroups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlfirewallrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlfirewallrules/finalizers
  - azuresqlfirewallrules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlmanagedusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlmanagedusers/finalizers
  - azuresqlmanagedusers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlservers/finalizers
  - azuresqlservers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlusers/finalizers
  - azuresqlusers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlvnetrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azuresqlvnetrules/finalizers
  - azuresqlvnetrules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azurevirtualmachineextensions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azurevirtualmachineextensions/finalizers
  - azurevirtualmachineextensions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azurevirtualmachines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azurevirtualmachines/finalizers
  - azurevirtualmachines/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - azurevmscalesets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - azurevmscalesets/finalizers
  - azurevmscalesets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - blobcontainers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - blobcontainers/finalizers
  - blobcontainers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - consumergroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - consumergroups/finalizers
  - consumergroups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - cosmosdbs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - cosmosdbs/finalizers
  - cosmosdbs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - cosmosdbsqldatabases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - cosmosdbsqldatabases/finalizers
  - cosmosdbsqldatabases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - eventhubnamespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - eventhubnamespaces/finalizers
  - eventhubnamespaces/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - eventhubs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - eventhubs/finalizers
  - eventhubs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - keyvaultkeys
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - keyvaultkeys/finalizers
  - keyvaultkeys/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - keyvaults
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - keyvaults/finalizers
  - keyvaults/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlaadusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlaadusers/finalizers
  - mysqlaadusers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqldatabases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqldatabases/finalizers
  - mysqldatabases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlfirewallrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlfirewallrules/finalizers
  - mysqlfirewallrules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlserveradministrators
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlserveradministrators/finalizers
  - mysqlserveradministrators/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlservers/finalizers
  - mysqlservers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlusers/finalizers
  - mysqlusers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlvnetrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - mysqlvnetrules/finalizers
  - mysqlvnetrules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - postgresqldatabases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - postgresqldatabases/finalizers
  - postgresqldatabases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - postgresqlfirewallrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - postgresqlfirewallrules/finalizers
  - postgresqlfirewallrules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - postgresqlservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - postgresqlservers/finalizers
  - postgresqlservers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - postgresqlusers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - postgresqlusers/finalizers
  - postgresqlusers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - postgresqlvnetrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - postgresqlvnetrules/finalizers
  - postgresqlvnetrules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - rediscacheactions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - rediscacheactions/finalizers
  - rediscacheactions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - rediscachefirewallrules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - rediscachefirewallrules/finalizers
  - rediscachefirewallrules/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - rediscaches
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - rediscaches/finalizers
  - rediscaches/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - resourcegroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - resourcegroups/finalizers
  - resourcegroups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - storageaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - storageaccounts/finalizers
  - storageaccounts/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - azure.microsoft.com
  resources:
  - virtualnetworks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - azure.microsoft.com
  resources:
  - virtualnetworks/finalizers
  - virtualnetworks/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
