---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-ibxhle","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - c2f3858c09835b7f57bc86965a4dd61658527656a5fdb362d3d1d9fe2e70dfb5
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle","name":"asotest-rg-ibxhle","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 726.680699ms
    - id: 1
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle","name":"asotest-rg-ibxhle","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 64.089891ms
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"aso-sample-function-site","properties":{"enabled":true,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/serverfarms/aso-sample-appservice"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 9c95806d1e8f52446cbd79b9ae366cc17686b6be6e601521151ad2e9bedb8faa
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/sites/aso-sample-function-site?api-version=2022-03-01
        method: PUT
      response:
        body: '{"Code":"NotFound","Message":"Cannot find serverFarm with name aso-sample-appservice.","Target":null,"Details":[{"Message":"Cannot find serverFarm with name aso-sample-appservice."},{"Code":"NotFound"},{"ErrorEntity":{"ExtendedCode":"51004","MessageTemplate":"Cannot find {0} with name {1}.","Parameters":["serverFarm","aso-sample-appservice"],"Code":"NotFound","Message":"Cannot find serverFarm with name aso-sample-appservice."}}],"Innererror":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "799"
        status: 404 Not Found
        code: 404
        duration: 585.683691ms
    - id: 3
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"aso-sample-appservice","sku":{"name":"F1","tier":"Free"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 2e29b6773abaafeb66a45ff1f1294a83ccda90cb6a9cca20ff05078dafc87e0d
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/serverfarms/aso-sample-appservice?api-version=2022-03-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/serverfarms/aso-sample-appservice","name":"aso-sample-appservice","type":"Microsoft.Web/serverfarms","kind":"app","location":"westus3","properties":{"serverFarmId":31846,"name":"aso-sample-appservice","sku":{"name":"F1","tier":"Free","size":"F1","family":"F","capacity":0},"workerSize":"Small","workerSizeId":0,"workerTierName":null,"numberOfWorkers":0,"currentWorkerSize":"Small","currentWorkerSizeId":0,"currentNumberOfWorkers":0,"status":"Ready","webSpace":"asotest-rg-ibxhle-WestUS3webspace","subscription":"00000000-0000-0000-0000-000000000000","adminSiteName":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"maximumNumberOfWorkers":0,"planName":"VirtualDedicatedPlan","adminRuntimeSiteName":null,"computeMode":"Shared","siteMode":"Limited","geoRegion":"West US 3","perSiteScaling":false,"elasticScaleEnabled":false,"maximumElasticWorkerCount":1,"numberOfSites":0,"hostingEnvironmentId":null,"isSpot":false,"spotExpirationTime":null,"freeOfferExpirationTime":null,"tags":null,"kind":"app","resourceGroup":"asotest-rg-ibxhle","reserved":false,"isXenon":false,"hyperV":false,"mdmId":"waws-prod-usw3-009_31846","targetWorkerCount":0,"targetWorkerSizeId":0,"targetWorkerSku":null,"provisioningState":"Succeeded","webSiteId":null,"existingServerFarmIds":null,"kubeEnvironmentProfile":null,"zoneRedundant":false,"maximumNumberOfZones":3,"currentNumberOfZonesUtilized":0,"migrateToVMSS":null,"vnetConnectionsUsed":null,"vnetConnectionsMax":null,"createdTime":"2026-03-24T19:43:55.8366667","asyncScalingEnabled":false,"isCustomMode":false,"powerState":"Running","eligibleLogCategories":""},"sku":{"name":"F1","tier":"Free","size":"F1","family":"F","capacity":0}}'
        headers:
            Content-Type:
                - application/json
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 2.573315641s
[...]
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"aso-sample-function-site","properties":{"enabled":true,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/serverfarms/aso-sample-appservice"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 9c95806d1e8f52446cbd79b9ae366cc17686b6be6e601521151ad2e9bedb8faa
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/sites/aso-sample-function-site?api-version=2022-03-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/sites/aso-sample-function-site","name":"aso-sample-function-site","type":"Microsoft.Web/sites","kind":"app","location":"westus3","properties":{"name":"aso-sample-function-site","state":"Running","hostNames":["aso-sample-function-site.azurewebsites.net"],"webSpace":"asotest-rg-ibxhle-WestUS3webspace","selfLink":"https://waws-prod-usw3-009.api.azurewebsites.windows.net:454/subscriptions/00000000-0000-0000-0000-000000000000/webspaces/asotest-rg-ibxhle-WestUS3webspace/sites/aso-sample-function-site","repositorySiteName":"aso-sample-function-site","owner":null,"usageState":"Normal","enabled":true,"adminEnabled":true,"siteScopedCertificatesEnabled":false,"afdEnabled":false,"enabledHostNames":["aso-sample-function-site.azurewebsites.net","aso-sample-function-site.scm.azurewebsites.net"],"siteProperties":{"metadata":null,"properties":[{"name":"LinuxFxVersion","value":""},{"name":"WindowsFxVersion","value":null}],"appSettings":null},"availabilityState":"Normal","sslCertificates":null,"csrs":[],"cers":null,"siteMode":null,"hostNameSslStates":[{"name":"aso-sample-function-site.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Standard"},{"name":"aso-sample-function-site.scm.azurewebsites.net","sslState":"Disabled","ipBasedSslResult":null,"virtualIP":null,"virtualIPv6":null,"thumbprint":null,"certificateResourceId":null,"toUpdate":null,"toUpdateIpBasedSsl":null,"ipBasedSslState":"NotConfigured","hostType":"Repository"}],"hostNamePrivateStates":[],"computeMode":null,"serverFarm":null,"serverFarmId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/serverfarms/aso-sample-appservice","reserved":false,"isXenon":false,"hyperV":false,"sandboxType":null,"lastModifiedTimeUtc":"2026-03-24T19:43:59.1166667","storageRecoveryDefaultState":"Running","contentAvailabilityState":"Normal","runtimeAvailabilityState":"Normal","dnsConfiguration":{},"vnetRouteAllEnabled":false,"containerAllocationSubnet":null,"useContainerLocalhostBindings":null,"vnetImagePullEnabled":false,"vnetContentShareEnabled":false,"legacyServiceEndpointTrafficEvaluation":null,"siteConfig":{"numberOfWorkers":1,"defaultDocuments":null,"netFrameworkVersion":null,"phpVersion":null,"pythonVersion":null,"nodeVersion":null,"powerShellVersion":null,"linuxFxVersion":"","windowsFxVersion":null,"sandboxType":null,"windowsConfiguredStacks":null,"requestTracingEnabled":null,"remoteDebuggingEnabled":null,"remoteDebuggingVersion":null,"httpLoggingEnabled":null,"azureMonitorLogCategories":null,"acrUseManagedIdentityCreds":false,"acrUserManagedIdentityID":null,"logsDirectorySizeLimit":null,"detailedErrorLoggingEnabled":null,"publishingUsername":null,"publishingPassword":null,"appSettings":null,"metadata":null,"connectionStrings":null,"machineKey":null,"handlerMappings":null,"documentRoot":null,"scmType":null,"use32BitWorkerProcess":null,"webSocketsEnabled":null,"alwaysOn":false,"javaVersion":null,"javaContainer":null,"javaContainerVersion":null,"appCommandLine":null,"managedPipelineMode":null,"virtualApplications":null,"winAuthAdminState":null,"winAuthTenantState":null,"customAppPoolIdentityAdminState":null,"customAppPoolIdentityTenantState":null,"runtimeADUser":null,"runtimeADUserPassword":null,"loadBalancing":null,"routingRules":null,"experiments":null,"limits":null,"autoHealEnabled":null,"autoHealRules":null,"tracingOptions":null,"vnetName":null,"vnetRouteAllEnabled":null,"vnetPrivatePortsCount":null,"publicNetworkAccess":null,"cors":null,"push":null,"apiDefinition":null,"apiManagementConfig":null,"autoSwapSlotName":null,"localMySqlEnabled":null,"managedServiceIdentityId":null,"xManagedServiceIdentityId":null,"keyVaultReferenceIdentity":null,"ipSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow all","description":"Allow all access"}],"ipSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictions":[{"ipAddress":"Any","action":"Allow","priority":2147483647,"name":"Allow all","description":"Allow all access"}],"scmIpSecurityRestrictionsDefaultAction":null,"scmIpSecurityRestrictionsUseMain":null,"http20Enabled":false,"minTlsVersion":null,"minTlsCipherSuite":null,"scmMinTlsCipherSuite":null,"supportedTlsCipherSuites":null,"scmSupportedTlsCipherSuites":null,"scmMinTlsVersion":null,"ftpsState":null,"preWarmedInstanceCount":null,"functionAppScaleLimit":null,"elasticWebAppScaleLimit":0,"healthCheckPath":null,"fileChangeAuditEnabled":null,"functionsRuntimeScaleMonitoringEnabled":null,"websiteTimeZone":null,"minimumElasticInstanceCount":0,"azureStorageAccounts":null,"http20ProxyFlag":null,"sitePort":null,"antivirusScanEnabled":null,"storageType":null,"sitePrivateLinkHostEnabled":null,"clusteringEnabled":false,"webJobsEnabled":false},"functionAppConfig":null,"daprConfig":null,"deploymentId":"aso-sample-function-site","slotName":null,"trafficManagerHostNames":null,"sku":"Free","scmSiteAlsoStopped":false,"targetSwapSlot":null,"hostingEnvironment":null,"hostingEnvironmentProfile":null,"clientAffinityEnabled":true,"clientAffinityProxyEnabled":false,"useQueryStringAffinity":false,"blockPathTraversal":false,"clientCertEnabled":false,"clientCertMode":"Required","clientCertExclusionPaths":null,"clientCertExclusionEndPoints":null,"hostNamesDisabled":false,"ipMode":"IPv4","vnetBackupRestoreEnabled":false,"domainVerificationIdentifiers":null,"customDomainVerificationId":"D75F6A26BF768430F1101BCA50DCDA98D6BC7038EE0BEC81098E0102BE82AD25","kind":"app","managedEnvironmentId":null,"workloadProfileName":null,"resourceConfig":null,"inboundIpAddress":"20.118.138.131","possibleInboundIpAddresses":"20.118.138.131","inboundIpv6Address":"2603:1030:504:3::7","possibleInboundIpv6Addresses":"2603:1030:504:3::7","ftpUsername":"aso-sample-function-site\\$aso-sample-function-site","ftpsHostName":"ftps://waws-prod-usw3-009.ftp.azurewebsites.windows.net/site/wwwroot","outboundIpAddresses":"4.236.44.87,20.118.138.131","possibleOutboundIpAddresses":"20.14.114.8,20.14.114.65,20.14.114.106,20.14.116.47,20.14.116.68,20.14.116.142,4.236.44.87,20.14.116.204,20.14.116.231,20.14.116.252,20.14.115.100,20.14.117.99,20.14.117.250,20.14.118.41,20.14.118.88,20.14.118.116,20.14.118.126,20.14.118.164,20.14.118.180,20.125.107.218,20.14.118.241,20.14.119.33,20.14.119.110,20.14.119.135,20.14.1.124,20.125.108.210,20.14.113.229,20.14.114.7,20.14.114.69,20.14.117.236,20.14.117.237,20.118.138.131","outboundIpv6Addresses":"2603:1030:504:3::7,2603:10e1:100:2::1476:8a83","possibleOutboundIpv6Addresses":"2603:1030:501:16::222,2603:1030:501::477,2603:1030:501:16::223,2603:1030:501::219,2603:1030:501::21a,2603:1030:501:10::109,2603:1030:501:10::10b,2603:1030:501::21c,2603:1030:501:16::225,2603:1030:501:16::227,2603:1030:501:16::229,2603:1030:501::21f,2603:1030:501:10::10c,2603:1030:501:16::22b,2603:1030:501::2e1,2603:1030:501::2e2,2603:1030:501:16::22c,2603:1030:501::2e3,2603:1030:501:10::111,2603:1030:501:10::113,2603:1030:501::2e5,2603:1030:501:16::22e,2603:1030:501:10::115,2603:1030:501::2e7,2603:1030:501:16::230,2603:1030:501:10::116,2603:1030:501::402,2603:1030:501:16::231,2603:1030:501:16::232,2603:1030:501:10::118,2603:1030:504:3::7,2603:10e1:100:2::1476:8a83","containerSize":0,"dailyMemoryTimeQuota":0,"suspendedTill":null,"siteDisabledReason":0,"functionExecutionUnitsCache":null,"maxNumberOfWorkers":null,"homeStamp":"waws-prod-usw3-009","cloningInfo":null,"hostingEnvironmentId":null,"tags":null,"resourceGroup":"asotest-rg-ibxhle","defaultHostName":"aso-sample-function-site.azurewebsites.net","slotSwapStatus":null,"httpsOnly":true,"endToEndEncryptionEnabled":false,"functionsRuntimeAdminIsolationEnabled":false,"redundancyMode":"None","inProgressOperationId":null,"geoDistributions":null,"privateEndpointConnections":null,"publicNetworkAccess":null,"buildVersion":null,"targetBuildVersion":null,"migrationState":null,"eligibleLogCategories":"AppServiceAppLogs,AppServiceConsoleLogs,AppServiceHTTPLogs,AppServicePlatformLogs,ScanLogs,AppServiceAuthenticationLogs,AppServiceAuditLogs,AppServiceIPSecAuditLogs","inFlightFeatures":null,"storageAccountRequired":false,"virtualNetworkSubnetId":null,"keyVaultReferenceIdentity":"SystemAssigned","autoGeneratedDomainNameLabelScope":null,"privateLinkIdentifiers":null,"sshEnabled":null}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"1DCBBC68F0B326B"'
            X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
                - "800"
        status: 200 OK
        code: 200
        duration: 23.77999878s
[...]
    - id: 7
      request:
        host: management.azure.com
        body: '{"name":"web","properties":{"branch":"master","isManualIntegration":true,"repoUrl":"https://github.com/splunk/azure-functions-splunk.git"}}'
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 896cca1063b0d29fa79dfa5ab715acb4b335ea22e01674053133e06b3c587fb1
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/sites/aso-sample-function-site/sourcecontrols/web?api-version=2022-03-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/sites/aso-sample-function-site/sourcecontrols/web","name":"aso-sample-function-site","type":"Microsoft.Web/sites/sourcecontrols","location":"West US 3","properties":{"repoUrl":"https://github.com/splunk/azure-functions-splunk.git","branch":"master","isManualIntegration":true,"isGitHubAction":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress","gitHubActionConfiguration":null}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"1DCBBC6B4E27E55"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 5.905298794s
    - id: 8
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/sites/aso-sample-function-site/sourcecontrols/web?api-version=2022-03-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/sites/aso-sample-function-site/sourcecontrols/web","name":"aso-sample-function-site","type":"Microsoft.Web/sites/sourcecontrols","location":"West US 3","properties":{"repoUrl":"https://github.com/splunk/azure-functions-splunk.git","branch":"master","isManualIntegration":true,"isGitHubAction":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"InProgress","provisioningDetails":"2026-03-24T19:45:08.4490599 https://aso-sample-function-site.scm.azurewebsites.net/api/deployments/latest?deployer=GitHub&time=2026-03-24_19-45-08Z","gitHubActionConfiguration":null}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"1DCBBC6B4E27E55"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 338.906089ms
[...]
    - id: 11
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "3"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/sites/aso-sample-function-site/sourcecontrols/web?api-version=2022-03-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/sites/aso-sample-function-site/sourcecontrols/web","name":"aso-sample-function-site","type":"Microsoft.Web/sites/sourcecontrols","location":"West US 3","properties":{"repoUrl":"https://github.com/splunk/azure-functions-splunk.git","branch":"master","isManualIntegration":true,"isGitHubAction":false,"deploymentRollbackEnabled":false,"isMercurial":false,"provisioningState":"Failed","provisioningDetails":"System.InvalidOperationException: Deployment 78cf29eb2f1cdfa6fe3a7b57fc48e36c7254fc60 unsuccessful, status: 3\r\n   at Microsoft.Web.Hosting.Administration.SiteRepositoryProvider.<CheckDeploymentStatus>d__28.MoveNext() in /_/src/Hosting/AdministrationService/Microsoft.Web.Hosting.Administration.WebCommon/Providers/SiteRepositoryProvider.cs:line 291\r\n--- End of stack trace from previous location where exception was thrown ---\r\n   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()\r\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)\r\n   at Microsoft.Web.Hosting.Administration.WebCloudController.<CheckDeploymentStatus>d__397.MoveNext() in /_/src/Hosting/AdministrationService/Microsoft.Web.Hosting.Administration.WebCommon/Controllers/WebCloudController.cs:line 11282","gitHubActionConfiguration":null}}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"1DCBBC6B4E27E55"'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 300.996274ms
[...]
    - id: 14
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle?api-version=2020-06-01
        method: DELETE
      response:
        body: ""
        headers:
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRJQlhITEUtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=639099783331672931&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDIyNDE4NDcwN1oXDTI2MDgyMDAwNDcwN1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubW[...]
    - id: 15
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRJQlhITEUtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01&t=639099783331672931&c=MIIHlDCCBnygAwIBAgIQbRZBCnyTTrdKyx3sn6-cIjANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEc[...]
[...]
    - id: 18
      request:
        host: management.azure.com
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ibxhle/providers/Microsoft.Web/sites/aso-sample-function-site?api-version=2022-03-01
        method: DELETE
      response:
        body: '{"error":{"code":"ResourceGroupNotFound","message":"Resource group ''asotest-rg-ibxhle'' could not be found."}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 140.222217ms
[...]
