---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-cgiyol","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 6aec521f5799f5e9132d772cc5396aa1ecaa5a108c6c85a2ea8c0069653bdb97
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol","name":"asotest-rg-cgiyol","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.596331s
    - id: 1
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol?api-version=2020-06-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol","name":"asotest-rg-cgiyol","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 967.122209ms
    - id: 2
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/virtualNetworks/workspacescomputevnet'' under resource group ''asotest-rg-cgiyol'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 466.408542ms
    - id: 3
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg?api-version=2020-11-01
        method: GET
      response:
        body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Network/networkSecurityGroups/workspacescomputensg'' under resource group ''asotest-rg-cgiyol'' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Failure-Cause:
                - gateway
        status: 404 Not Found
        code: 404
        duration: 564.682375ms
    - id: 4
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus3/deletedVaults/ms-ws-vault?api-version=2024-11-01
        method: GET
      response:
        body: '{"error":{"code":"DeletedVaultNotFound","message":"The specified deleted vault ''ms-ws-vault'' does not exist. Ensure that the vault was indeed deleted and that it is in recoverable state. If soft delete was not enabled then the vault is permanently deleted. Follow this link for more information: https://go.microsoft.com/fwlink/?linkid=2149745"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 576.438917ms
[...]
    - id: 6
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"workspacescomputepublicip","properties":{"publicIPAllocationMethod":"Static"},"sku":{"name":"Standard"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 2373b12e017787673a0a654bd42fe8778024c9c7aebe83593ce19d4534a4abc3
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"workspacescomputepublicip\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip\",\r\n  \"etag\": \"W/\\\"d5101a6c-aa8c-4319-90d7-f388b092e302\\\"\",\r\n  \"location\": \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"d6003941-5d42-46cd-818e-f9fe0e3e601f\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/a6735153-0c0f-477c-b74a-565130b24e89?api-version=2020-11-01&t=638608539118401523&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTU1NTQ0WhcNMjUwNjIyMTU1NTQ0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50LmF6dXJlLm[...]
    - id: 7
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"workspacescomputensg"}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 2bed002d8f3e6492a59b93eb747976cb9e5feb6938d6aefb28193fb66e13fbe0
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"workspacescomputensg\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg\",\r\n  \"etag\": \"W/\\\"40348884-6eb4-459c-bc85-1c66e5067517\\\"\",\r\n  \"type\": \"Microsoft.Network/networkSecurityGroups\",\r\n  \"location\": \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"8ea15934-5137-488d-88b9-9e4ae079386e\",\r\n    \"securityRules\": [],\r\n    \"defaultSecurityRules\": [\r\n      {\r\n        \"name\": \"AllowVnetInBound\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg/defaultSecurityRules/AllowVnetInBound\",\r\n        \"etag\": \"W/\\\"40348884-6eb4-459c-bc85-1c66e5067517\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Updating\",\r\n          \"description\": \"Allow inbound traffic from all VMs in VNET\",\r\n          \"protocol\": \"*\",\r\n          \"sourcePortRange\": \"*\",\r\n          \"destinationPortRange\": \"*\",\r\n          \"sourceAddressPrefix\": \"VirtualNetwork\",\r\n          \"destinationAddressPrefix\": \"VirtualNetwork\",\r\n          \"access\": \"Allow\",\r\n          \"priority\": 65000,\r\n          \"direction\": \"Inbound\",\r\n          \"sourcePortRanges\": [],\r\n          \"destinationPortRanges\": [],\r\n          \"sourceAddressPrefixes\": [],\r\n          \"destinationAddressPrefixes\": []\r\n        }\r\n      },\r\n      {\r\n        \"name\": \"AllowAzureLoadBalancerInBound\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg/defaultSecurityRules/AllowAzureLoadBalancerInBound\",\r\n        \"etag\": \"W/\\\"40348884-6eb4-459c-bc85-1c66e5067517\\\"\",\r\n        \"type\": \"Microsoft.Network/networkSecurityGroups/defaultSecurityRules\",\r\n        \"[...]
    - id: 8
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"workspacescomputevnet","properties":{"addressSpace":{"addressPrefixes":["10.0.0.0/16"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - d1f289237bbb37a8a1d083755ae2e82d8a1b0358f5194c086699c57faadb999b
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"workspacescomputevnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet\",\r\n  \"etag\": \"W/\\\"19994847-a330-401e-a013-3d4117fa36ed\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"resourceGuid\": \"dc90e7b6-9dbe-4085-89b5-ba3434ef8bab\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/10db2e62-ba73-4a55-ba0d-e0dd486cd716?api-version=2020-11-01&t=638608539128696403&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgw[...]
    - id: 9
      request:
        host: management.azure.com
        body: '{"kind":"BlobStorage","location":"westus3","name":"asoworkspacestorageacct1","properties":{"accessTier":"Hot","allowBlobPublicAccess":false},"sku":{"name":"Standard_LRS"},"tags":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - bf728d3dc140cc5d2c12c9a857135a048011c8f6edf1ea12c900a080f443377d
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1?api-version=2023-01-01
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus3/asyncoperations/7126b248-9b80-45a8-bb16-2173d11de60f?monitor=true&api-version=2023-01-01&t=638608539142008445&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNjI3MTU1NTQ0WhcNMjUwNjIyMTU1NTQ0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25[...]
    - id: 10
      request:
        host: management.azure.com
        body: '{"identity":{"type":"SystemAssigned"},"location":"westus3","name":"asotestxqmqnk","properties":{"allowPublicAccessWhenBehindVnet":false,"keyVault":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.KeyVault/vaults/ms-ws-vault","storageAccount":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1"},"sku":{"name":"Standard_S1","tier":"Basic"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - dd6b16172cad234627476996e19591de049335d832fcaab6ebcb76b5c6314604
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-00000000[...]
    - id: 11
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"ms-ws-vault","properties":{"accessPolicies":[{"applicationId":"c8d42d17-0044-4119-99f9-9207b705c9df","objectId":"2735f286-1d85-49bc-bfec-c5994ede7e7f","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]},"tenantId":"00000000-0000-0000-0000-000000000000"}],"createMode":"default","sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 6bdcb215ae3a2047e8a68bf6046dd6b7741abceadedff79f7cd659569936ecdc
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.KeyVault/vaults/ms-ws-vault?api-version=2021-04-01-preview
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.KeyVault/vaults/ms-ws-vault","name":"ms-ws-vault","type":"Microsoft.KeyVault/vaults","location":"westus3","tags":{},"systemData":{"createdBy":"harshdsingh@microsoft.com","createdByType":"User","createdAt":"2001-02-03T04:05:06Z","lastModifiedBy":"harshdsingh@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2001-02-03T04:05:06Z"},"properties":{"sku":{"family":"A","name":"standard"},"tenantId":"00000000-0000-0000-0000-000000000000","accessPolicies":[{"tenantId":"00000000-0000-0000-0000-000000000000","objectId":"2735f286-1d85-49bc-bfec-c5994ede7e7f","applicationId":"c8d42d17-0044-4119-99f9-9207b705c9df","permissions":{"certificates":["get"],"keys":["get"],"secrets":["get"],"storage":["get"]}}],"enabledForDeployment":false,"enableSoftDelete":true,"vaultUri":"https://ms-ws-vault.vault.azure.net","provisioningState":"RegisteringDns"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 5.231914375s
    - id: 12
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/a6735153-0c0f-477c-b74a-565130b24e89?api-version=2020-11-01&t=638608539118401523&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
    - id: 13
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/afbba775-801c-4331-8b70-7646f98b23e4?api-version=2020-11-01&t=638608539128405924&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
    - id: 14
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/10db2e62-ba73-4a55-ba0d-e0dd486cd716?api-version=2020-11-01&t=638608539128696403&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 16
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "1"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet?api-version=2020-11-01
        method: GET
      response:
        body: "{\r\n  \"name\": \"workspacescomputevnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet\",\r\n  \"etag\": \"W/\\\"2f2f9b54-b154-4afa-99cf-922751a6c171\\\"\",\r\n  \"type\": \"Microsoft.Network/virtualNetworks\",\r\n  \"location\": \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"dc90e7b6-9dbe-4085-89b5-ba3434ef8bab\",\r\n    \"addressSpace\": {\r\n      \"addressPrefixes\": [\r\n        \"10.0.0.0/16\"\r\n      ]\r\n    },\r\n    \"subnets\": [],\r\n    \"virtualNetworkPeerings\": [],\r\n    \"enableDdosProtection\": false\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"2f2f9b54-b154-4afa-99cf-922751a6c171"
        status: 200 OK
        code: 200
        duration: 470.333208ms
    - id: 17
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip?api-version=2020-11-01
        method: GET
      response:
        body: "{\r\n  \"name\": \"workspacescomputepublicip\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip\",\r\n  \"etag\": \"W/\\\"435a5dad-05ee-4435-a550-1519fd8d1e4e\\\"\",\r\n  \"location\": \"westus3\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"d6003941-5d42-46cd-818e-f9fe0e3e601f\",\r\n    \"ipAddress\": \"20.172.9.0\",\r\n    \"publicIPAddressVersion\": \"IPv4\",\r\n    \"publicIPAllocationMethod\": \"Static\",\r\n    \"idleTimeoutInMinutes\": 4,\r\n    \"ipTags\": []\r\n  },\r\n  \"type\": \"Microsoft.Network/publicIPAddresses\",\r\n  \"sku\": {\r\n    \"name\": \"Standard\",\r\n    \"tier\": \"Regional\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"435a5dad-05ee-4435-a550-1519fd8d1e4e"
        status: 200 OK
        code: 200
        duration: 1.033665542s
[...]
    - id: 21
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/locations/westus3/asyncoperations/7126b248-9b80-45a8-bb16-2173d11de60f?monitor=true&api-version=2023-01-01&t=638608539142008445&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZI[...]
    - id: 22
      request:
        host: management.azure.com
        body: '{"name":"workspacescomputesubnet","properties":{"addressPrefix":"10.0.0.0/24"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - 170bb6e9ee457d4b498162e2f43a60b1528dc6ff89763ba5f609297e80616010
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet?api-version=2020-11-01
        method: PUT
      response:
        body: "{\r\n  \"name\": \"workspacescomputesubnet\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet\",\r\n  \"etag\": \"W/\\\"e04d069d-1f3d-462a-bbfe-d813a72ac928\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Updating\",\r\n    \"addressPrefix\": \"10.0.0.0/24\",\r\n    \"delegations\": [],\r\n    \"privateEndpointNetworkPolicies\": \"Disabled\",\r\n    \"privateLinkServiceNetworkPolicies\": \"Enabled\"\r\n  },\r\n  \"type\": \"Microsoft.Network/virtualNetworks/subnets\"\r\n}"
        headers:
            Azure-Asyncnotification:
                - Enabled
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/cda18149-3c90-48b7-841d-0c3eca318239?api-version=2020-11-01&t=638608539242881799&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0B[...]
    - id: 23
      request:
        host: management.azure.com
        body: '{"name":"workspacescomputensgrule","properties":{"access":"Allow","description":"Allow access to any source port","destinationAddressPrefix":"*","destinationPortRange":"22","direction":"Inbound","priority":101,"protocol":"Tcp","sourceAddressPrefix":"*","sourcePortRange":"*"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - [...]
    - id: 24
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.MachineLearningServices/locations/westus3/workspaceOperationsStatus/xqjaBBbQrFhmk4ClnB13UrBLNUvAs1c01Mo9OCTS8qg?api-version=2021-07-01&type=async&t=638608539167978944&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjAN[...]
[...]
    - id: 26
      request:
        host: management.azure.com
        body: '{"location":"westus3","name":"workspacescomputenic","properties":{"ipConfigurations":[{"name":"ipconfig1","properties":{"privateIPAllocationMethod":"Dynamic","publicIPAddress":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip"},"subnet":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet"}}}],"networkSecurityGroup":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
            Test-Request-Hash:
                - fa028fff31d9bb894469d13f8ec760f8084ef54436efeaaaa000286df977c3a9
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiy[...]
    - id: 27
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/cda18149-3c90-48b7-841d-0c3eca318239?api-version=2020-11-01&t=638608539242881799&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
    - id: 28
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Network/locations/westus3/operations/58562c29-71a0-442d-828f-d07df2c124b8?api-version=2020-11-01&t=638608539243156705&c=MIIHhzCCBm-gAwIBAgITHgTSDjrf4K90EFuz2QAABNIOOjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMM[...]
[...]
    - id: 32
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/networkInterfaces/workspacescomputenic?api-version=2020-11-01
        method: GET
      response:
        body: "{\r\n  \"name\": \"workspacescomputenic\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/networkInterfaces/workspacescomputenic\",\r\n  \"etag\": \"W/\\\"5743950b-d253-4cc9-a441-1f4c478e0d06\\\"\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"resourceGuid\": \"85ef2b43-a0fa-4c4a-aeb2-0ca88807c2f4\",\r\n    \"ipConfigurations\": [\r\n      {\r\n        \"name\": \"ipconfig1\",\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/networkInterfaces/workspacescomputenic/ipConfigurations/ipconfig1\",\r\n        \"etag\": \"W/\\\"5743950b-d253-4cc9-a441-1f4c478e0d06\\\"\",\r\n        \"type\": \"Microsoft.Network/networkInterfaces/ipConfigurations\",\r\n        \"properties\": {\r\n          \"provisioningState\": \"Succeeded\",\r\n          \"privateIPAddress\": \"10.0.0.4\",\r\n          \"privateIPAllocationMethod\": \"Dynamic\",\r\n          \"publicIPAddress\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/publicIPAddresses/workspacescomputepublicip\"\r\n          },\r\n          \"subnet\": {\r\n            \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/virtualNetworks/workspacescomputevnet/subnets/workspacescomputesubnet\"\r\n          },\r\n          \"primary\": true,\r\n          \"privateIPAddressVersion\": \"IPv4\"\r\n        }\r\n      }\r\n    ],\r\n    \"dnsSettings\": {\r\n      \"dnsServers\": [],\r\n      \"appliedDnsServers\": [],\r\n      \"internalDomainNameSuffix\": \"w1tzbxf4twcubcnvxi0dj12lvd.phxx.internal.cloudapp.net\"\r\n    },\r\n    \"enableAcceleratedNetworking\": false,\r\n    \"vnetEncryptionSupported\": false,\r\n    \"enableIPForwarding\": false,\r\n    \"networkSecurityGroup\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Network/networkSecurityGroups/workspacescomputensg\"\r\n    },\r\n    \"hostedWorkloads\": [],\r\n    \"tapConfigurations\": [],\r\n    \"nicType\": \"Standard\"\r\n  },\r\n  \"type\": \"Microsoft.Network/networkInterfaces\",\r\n  \"location\": \"westus3\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"5743950b-d253-4cc9-a441-1f4c478e0d06"
        status: 200 OK
        code: 200
        duration: 1.045136041s
[...]
    - id: 41
      request:
        host: management.azure.com
        body: ""
        form: {}
        headers:
            Test-Request-Attempt:
                - "0"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-cgiyol/providers/Microsoft.Storage/storageAccounts/asoworkspacestorageacct1?api-version=2023-01-01
        method: GET
      response:
[...]
