name: Merge Queue license/cla
on:
  merge_group:

# This workflow is used to bypass the required license/cla check in merge queue.
jobs:
  cla:
    runs-on: ubuntu-latest
    steps:
      # Update check run called "license/cla"
      - name: update-license-cla
        uses: actions/github-script@v6
        id: update-license-cla-run
        if: ${{ always() }}
        env:
          number: ${{ github.event.client_payload.pull_request.number }}
          job: ${{ github.job }}
          server_url: ${{ github.server_url }}
          repo: ${{ github.repository }}
          run_id: ${{ github.run_id }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const url = `${process.env.server_url}/${process.env.repo}/actions/runs/${process.env.run_id}`
            const { data: pull } = await github.rest.pulls.get({
              ...context.repo,
              pull_number: process.env.number
            });
            const ref = pull.head.sha;
            const { data: checks } = await github.rest.checks.listForRef({
              ...context.repo,
              ref
            });
            const forkCheck = checks.check_runs.filter(c => c.name === process.env.job);
            await github.rest.checks.update({
              ...context.repo,
              check_run_id: forkCheck[0].id,
              status: 'completed',
              conclusion: "success",
              details_url: url,
            });
            return result;
