name: Validate Pull Request
on:
  # runs on pushes to main in order to update the baseline code coverage
  # so that PRs have something to compare against
  push:
    branches:
    - main

  pull_request: 
    branches:
      - main

jobs:
  test-go-get:
    runs-on: ubuntu-latest
    steps:
      - name: '`go get` code'
        run: |
          # placeholder module so we can invoke go get
          go mod init example.com/m

          # note: cannot use github.sha here since that commit doesn't really exist
          # however, since we require branches to always be up-to-date (GitHub setting),
          # using the head of the PR branch should provide equivalent behaviour
          sha='${{ github.event.pull_request.head.sha }}'
          repo='${{ github.event.pull_request.head.repo.html_url}}'
          repo=${repo#"https://"} # trim prefix

          if [ "$repo" != "github.com/Azure/azure-service-operator" ]; then
            echo "Skipping 'go get' check for fork…" 
            exit 0
          fi

          if [ -z "$sha" ]; then 
            # this means we were triggered by push to 'main', 
            # not a PR, so use the sha that triggered this
            sha='${{ github.sha }}'
          fi

          go get "$repo/v2@$sha"

  test-generator:
    runs-on: ubuntu-latest
    permissions:
      packages: read

    env:
      # use a folder for GOMODCACHE
      # this is the path for inside the devcontainer
      GOMODCACHE: /workspace/.cache/gomod

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # required to access tags
          submodules: 'true'

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com # ghcr.io not yet enabled for Azure org
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache GOMODCACHE
        uses: actions/cache@v3
        with:
          path: .cache/gomod
          key: gomodcache-${{hashFiles('v2/**/go.sum')}}

      # Note: Changes to this step must also be mirrored into pr-validation-with-secrets.yaml
      - name: Build devcontainer image
        # We must issue a manual pull before the build so the image gets copied locally, because
        # docker.pkg.github.com is not a valid Docker registry and doesn't work with --cache-from,
        # however, `docker pull` will fall back to other methods that do work and get the image loaded.
        #
        # This message comes from "docker pull":
        #
        # Run docker pull docker.pkg.github.com/azure/azure-service-operator/aso-devcontainer:latest
        # WARNING: ⚠️ Failed to pull manifest by the resolved digest. This registry does not
        #  appear to conform to the distribution registry specification; falling back to
        #  pull by tag.  This fallback is DEPRECATED, and will be removed in a future
        #  release.  Please contact admins of https://docker.pkg.github.com. ⚠️
        #
        # See: https://github.com/moby/moby/issues/41687#issuecomment-733826074 and related issues
        run: |
          docker pull docker.pkg.github.com/azure/azure-service-operator/aso-devcontainer:latest
          docker build --cache-from docker.pkg.github.com/azure/azure-service-operator/aso-devcontainer:latest --tag devcontainer:latest .devcontainer
        env:
          DOCKER_BUILDKIT: 1

      - name: Run devcontainer image
        id: devcontainer
        run: |
          container_id=$(docker create -w /workspace -v $GITHUB_WORKSPACE:/workspace -v /var/run/docker.sock:/var/run/docker.sock --network=host devcontainer:latest)
          docker start "$container_id"
          echo "::set-output name=id::$container_id"

      - name: Build & validate docs site
        run: | 
          container_id=${{steps.devcontainer.outputs.id}}
          docker exec -e GOMODCACHE "$container_id" task build-docs-site
        
      - name: Run CI tasks
        run: |
          container_id=${{steps.devcontainer.outputs.id}}
          docker exec -e GOMODCACHE "$container_id" task ci

      - name: Build docker image & build configuration YAML
        run: |
          container_id=${{steps.devcontainer.outputs.id}}
          docker exec -e GOMODCACHE "$container_id" task controller:docker-build-and-save
          docker exec -e GOMODCACHE "$container_id" task controller:run-kustomize-for-envtest

      - name: Archive outputs
        uses: actions/upload-artifact@v2
        with:
          name: output
          path: v2/bin/*
          if-no-files-found: error

      - name: Upload code coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)

  # TODO: Changing this name requires changing the github API calls in pr-validation-fork.yml
  integration-tests:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository
    permissions:
      packages: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # required to access tags
          submodules: 'true'

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com # ghcr.io not yet enabled for Azure org
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Note: Changes to this step must also be mirror into pr-validation.yaml
      - name: Build devcontainer image
        # We must issue a manual pull before the build so the image gets copied locally, because
        # docker.pkg.github.com is not a valid Docker registry and doesn't work with --cache-from,
        # however, `docker pull` will fall back to other methods that do work and get the image loaded.
        #
        # This message comes from "docker pull":
        #
        # Run docker pull docker.pkg.github.com/azure/azure-service-operator/aso-devcontainer:latest
        # WARNING: ⚠️ Failed to pull manifest by the resolved digest. This registry does not
        #  appear to conform to the distribution registry specification; falling back to
        #  pull by tag.  This fallback is DEPRECATED, and will be removed in a future
        #  release.  Please contact admins of https://docker.pkg.github.com. ⚠️
        #
        # See: https://github.com/moby/moby/issues/41687#issuecomment-733826074 and related issues
        run: |
          docker pull docker.pkg.github.com/azure/azure-service-operator/aso-devcontainer:latest
          docker build --cache-from docker.pkg.github.com/azure/azure-service-operator/aso-devcontainer:latest --tag devcontainer:latest .devcontainer
        env:
          DOCKER_BUILDKIT: 1

      - name: Run devcontainer image
        id: devcontainer
        run: |
          container_id=$(docker create -w /workspace -v $GITHUB_WORKSPACE:/workspace -v /var/run/docker.sock:/var/run/docker.sock --network=host devcontainer:latest)
          docker start "$container_id"
          echo "::set-output name=id::$container_id"

      - name: Run integration tests
        run: |
          container_id=${{steps.devcontainer.outputs.id}}
          docker exec -e AZURE_TENANT_ID -e AZURE_CLIENT_ID -e AZURE_CLIENT_SECRET -e AZURE_SUBSCRIPTION_ID "$container_id" task controller:ci-integration-tests
        env:
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
