---
version: 2
interactions:
    - id: 0
      request:
        host: management.azure.com
        body: '{"location":"westus2","name":"asotest-rg-ncoodr","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
        form:
            api-version:
                - "2020-06-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - ecacc742a9f22d8097fbb8aa06b57a0c0a81ec08c21f0719a2352ca60533178e
            Test-Request-Hash:
                - ecacc742a9f22d8097fbb8aa06b57a0c0a81ec08c21f0719a2352ca60533178e
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr?api-version=2020-06-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr","name":"asotest-rg-ncoodr","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 607.554551ms
[...]
    - id: 2
      request:
        host: management.azure.com
        body: '{"location":"westcentralus","name":"sampleuserassignedidentity"}'
        form:
            api-version:
                - "2023-01-31"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 62bfba04d360857b6a5bff45361762c931fe822fa039b2afad402c502be0f949
            Test-Request-Hash:
                - 62bfba04d360857b6a5bff45361762c931fe822fa039b2afad402c502be0f949
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity?api-version=2023-01-31
        method: PUT
      response:
        body: '{"location":"westcentralus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-ncoodr/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity","name":"sampleuserassignedidentity","type":"Microsoft.ManagedIdentity/userAssignedIdentities","properties":{"tenantId":"00000000-0000-0000-0000-000000000000","principalId":"67b8dbf3-b5d2-44ac-b420-e5973bc48c33","clientId":"7f638774-52ec-430d-87cc-6af0470220cd"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/asotest-rg-ncoodr/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sampleuserassignedidentity
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 1.322647132s
[...]
    - id: 5
      request:
        host: management.azure.com
        body: '{"location":"eastus","name":"asotestcixyal","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting"},"sku":{"capacity":1,"name":"BasicV2"}}'
        form:
            api-version:
                - "2024-05-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 4cb497fbe1a9c4895976067b3ab28bec5806992566f048f8e1e17fe45b45cc6c
            Test-Request-Hash:
                - 4cb497fbe1a9c4895976067b3ab28bec5806992566f048f8e1e17fe45b45cc6c
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal?api-version=2024-05-01
        method: PUT
      response:
        body: '{"etag":"AAAAAKVVXKY=","properties":{"publisherEmail":"ASO@testing.com","publisherName":"ASOTesting","notificationSenderEmail":"apimgmt-noreply@mail.windowsazure.com","provisioningState":"Created","targetProvisioningState":"","createdAtUtc":"2001-02-03T04:05:06Z","gatewayUrl":"https://asotestcixyal.azure-api.net","gatewayRegionalUrl":null,"portalUrl":null,"developerPortalUrl":null,"dataApiUrl":null,"managementApiUrl":"https://smapi.api-blu-prod-scaleunit-005.p.azurewebsites.net/","scmUrl":null,"hostnameConfigurations":[{"type":"Proxy","hostName":"asotestcixyal.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true,"identityClientId":null,"certificateSource":"BuiltIn","certificateStatus":null}],"publicIPAddresses":null,"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":{"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2":"False"},"virtualNetworkType":"None","certificates":null,"natGatewayState":"Enabled","outboundPublicIPAddresses":null,"apiVersionConstraint":{"minApiVersion":null},"publicIpAddressId":null,"publicNetworkAccess":"Enabled","privateEndpointConnections":null,"platformVersion":"undetermined","configurationApi":null,"legacyPortalStatus":"Disabled","developerPortalStatus":"Disabled"},"sku":{"name":"BasicV2","capacity":1},"identity":null,"zones":null,"systemData":null,"location":"East US","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal","name":"asotestcixyal","type":"Microsoft.ApiManagement/service"}'
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/locations/eastus/operationsStatuses/ZWFzdHVzOmFzb3Rlc3RjaXh5YWxfQWN0XzgwNTY1NzNmOmFwaXJwc2YxZDU5ZDY0NzRkMA==?api-version=2024-05-01&t=639116499190817334&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhd[...]
    - id: 6
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-05-01"
            c:
                - MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC9nzXnnnT0V5cDY5fHgY6fvt0[...]
[...]
    - id: 10
      request:
        host: management.azure.com
        body: '{"name":"policy","properties":{"value":"\u003cpolicies\u003e\u003cinbound /\u003e\u003cbackend\u003e\u003cforward-request /\u003e\u003c/backend\u003e\u003coutbound /\u003e\u003c/policies\u003e"}}'
        form:
            api-version:
                - "2024-05-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - f4adcd151c11302f31628764b85e7f2f55dc6b5fefa4d1b4a8f35754c690027f
            Test-Request-Hash:
                - a2d80894765a5d3ffe30c936bb0097bb9e449bcb91c3830c181def5a3a8e3d9b
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/policies/policy?api-version=2024-05-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/policies/policy\",\r\n  \"type\": \"Microsoft.ApiManagement/service/policies\",\r\n  \"name\": \"policy\",\r\n  \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\": \"<policies>\\r\\n\\t<inbound />\\r\\n\\t<backend>\\r\\n\\t\\t<forward-request />\\r\\n\\t</backend>\\r\\n\\t<outbound />\\r\\n</policies>\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAA0VYg="'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 334.20242ms
    - id: 11
      request:
        host: management.azure.com
        body: '{"name":"asotestkxziue","properties":{"displayName":"Subscription for all APIs","scope":"/apis"}}'
        form:
            api-version:
                - "2024-05-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - fcb3e682ef13af35a279d6d5aeb02f7039d4d0d6e24671a38916c98f0c8dc745
            Test-Request-Hash:
                - fcb3e682ef13af35a279d6d5aeb02f7039d4d0d6e24671a38916c98f0c8dc745
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/subscriptions/asotestkxziue?api-version=2024-05-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/subscriptions/asotestkxziue\",\r\n  \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n  \"name\": \"asotestkxziue\",\r\n  \"properties\": {\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/apis\",\r\n    \"displayName\": \"Subscription for all APIs\",\r\n    \"state\": \"active\",\r\n    \"createdDate\": \"2001-02-03T04:05:06Z\",\r\n    \"startDate\": null,\r\n    \"expirationDate\": null,\r\n    \"endDate\": null,\r\n    \"notificationDate\": null,\r\n    \"primaryKey\": \"b33918303d834151bd9b506d999ed649\",\r\n    \"secondaryKey\": \"90833f96d1b641dcaaf1777d1bbf75a2\",\r\n    \"stateComment\": null,\r\n    \"allowTracing\": false\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAA0VYw="'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 383.403416ms
    - id: 12
      request:
        host: management.azure.com
        body: '{"name":"asotestkcgyxx","properties":{"description":"A version set for the account api","displayName":"account-api","versioningScheme":"Segment"}}'
        form:
            api-version:
                - "2024-05-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 9fc6f7424a64fb7c32f089ca0484f356a7a9d1005a5261ce25458bbac7fd38a1
            Test-Request-Hash:
                - 9fc6f7424a64fb7c32f089ca0484f356a7a9d1005a5261ce25458bbac7fd38a1
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/apiVersionSets/asotestkcgyxx?api-version=2024-05-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/apiVersionSets/asotestkcgyxx\",\r\n  \"type\": \"Microsoft.ApiManagement/service/apiVersionSets\",\r\n  \"name\": \"asotestkcgyxx\",\r\n  \"properties\": {\r\n    \"displayName\": \"account-api\",\r\n    \"description\": \"A version set for the account api\",\r\n    \"versioningScheme\": \"Segment\",\r\n    \"versionQueryName\": null,\r\n    \"versionHeaderName\": null\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAA0VZA="'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 547.70411ms
    - id: 13
      request:
        host: management.azure.com
        body: '{"name":"asotestzinlrm","properties":{"description":"A sample product for demonstration","displayName":"Sample Product","subscriptionRequired":false}}'
        form:
            api-version:
                - "2024-05-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - f588f3e159a63b37e6ca7916bdf0db89471dbda5b5b17558d290042c13a13d68
            Test-Request-Hash:
                - f588f3e159a63b37e6ca7916bdf0db89471dbda5b5b17558d290042c13a13d68
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/products/asotestzinlrm?api-version=2024-05-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/products/asotestzinlrm\",\r\n  \"type\": \"Microsoft.ApiManagement/service/products\",\r\n  \"name\": \"asotestzinlrm\",\r\n  \"properties\": {\r\n    \"displayName\": \"Sample Product\",\r\n    \"description\": \"A sample product for demonstration\",\r\n    \"terms\": null,\r\n    \"subscriptionRequired\": false,\r\n    \"approvalRequired\": null,\r\n    \"subscriptionsLimit\": null,\r\n    \"state\": \"notPublished\",\r\n    \"groups\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/groups/administrators\",\r\n        \"name\": \"Administrators\",\r\n        \"description\": \"Administrators is a built-in group containing the admin email account provided at the time of service creation. Its membership is managed by the system.\",\r\n        \"builtIn\": true,\r\n        \"type\": \"system\",\r\n        \"externalId\": null\r\n      }\r\n    ]\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAA0VZY="'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 583.088724ms
    - id: 14
      request:
        host: management.azure.com
        body: '{"name":"test_namedvalue","properties":{"displayName":"My_Key","secret":false,"value":"It''s value"}}'
        form:
            api-version:
                - "2024-05-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 973f0be49a22f7412b660b27185cd2ed840110913388cf4611e043950b7be786
            Test-Request-Hash:
                - 973f0be49a22f7412b660b27185cd2ed840110913388cf4611e043950b7be786
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/namedValues/test_namedvalue?api-version=2024-05-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/namedValues/test_namedvalue\",\r\n  \"type\": \"Microsoft.ApiManagement/service/namedValues\",\r\n  \"name\": \"test_namedvalue\",\r\n  \"properties\": {\r\n    \"ProvisioningState\": \"InProgress\"\r\n  }\r\n}"
        headers:
            Azure-Asyncoperation:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/namedValues/test_namedvalue?api-version=2024-05-01&azure-asyncId=69dc6be1c3c8a823d8fc8ff5
            Content-Type:
                - application/json; charset=utf-8
            Location:
                - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/namedValues/test_namedvalue?api-version=2024-05-01&asyncId=69dc6be1c3c8a823d8fc8ff5&asyncCode=201
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 564.955714ms
    - id: 15
      request:
        host: management.azure.com
        body: '{"name":"test_backend","properties":{"description":"A sample backend configuration","protocol":"http","url":"https://www.bing.com"}}'
        form:
            api-version:
                - "2024-05-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - ef936fc9ef4250e3fb7bab66b05320295133036b64953db0e3b0341a0649ad35
            Test-Request-Hash:
                - ef936fc9ef4250e3fb7bab66b05320295133036b64953db0e3b0341a0649ad35
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/backends/test_backend?api-version=2024-05-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/backends/test_backend\",\r\n  \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n  \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A sample backend configuration\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\": \"http\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAA0VZs="'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 201 Created
        code: 201
        duration: 591.925977ms
    - id: 16
      request:
        host: management.azure.com
        body: '{"name":"asotestheesys","properties":{"description":"A sample policy fragment","value":"\u003cfragment\u003e\u003c/fragment\u003e"}}'
        form:
            api-version:
                - "2024-05-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - cf048f2ce7255f9224c85896b2c42b14d46b6f148f7c96d614c7e2135e385b9c
            Test[...]
[...]
    - id: 18
      request:
        host: management.azure.com
        body: '{"name":"asotestvhnhoh","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"grantTypes":{"authorizationCode":{"clientId":"0","clientSecret":"####","resourceUri":"www.contoso.com"}}}}}'
        form:
            api-version:
                - "2024-05-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 5e8853df4b61f3b00ded5f1ea74477de15ebd7bccdf7552339918c9c3ae52b8a
            Test-Request-Hash:
                - 5e8853df4b61f3b00ded5f1ea74477de15ebd7bccdf7552339918c9c3ae52b8a
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/authorizationProviders/asotestvhnhoh?api-version=2024-05-01
        method: PUT
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/authorizationProviders/asotestvhnhoh","name":"asotestvhnhoh","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"East US","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager.consent.azure-apim.net/redirect/apim/asotestcixyal","grantTypes":{"authorizationCode":{"clientId":"0","scopes":null,"resourceUri":"www.contoso.com"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Writes:
                - "11999"
        status: 200 OK
        code: 200
        duration: 1.287568077s
[...]
    - id: 22
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-05-01"
            azure-asyncId:
                - 69dc6be1c3c8a823d8fc8ff5
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/namedValues/test_namedvalue?api-version=2024-05-01&azure-asyncId=69dc6be1c3c8a823d8fc8ff5
        method: GET
      response:
        body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 208.345757ms
[...]
    - id: 24
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-05-01"
            azure-asyncId:
                - 69dc6be1f3cf8d1dc02c3a79
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/policyFragments/asotestheesys?api-version=2024-05-01&azure-asyncId=69dc6be1f3cf8d1dc02c3a79
        method: GET
      response:
        body: "{\r\n  \"status\": \"Succeeded\"\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 193.250566ms
    - id: 25
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-05-01"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/backends/test_backend?api-version=2024-05-01
        method: GET
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/backends/test_backend\",\r\n  \"type\": \"Microsoft.ApiManagement/service/backends\",\r\n  \"name\": \"test_backend\",\r\n  \"properties\": {\r\n    \"title\": null,\r\n    \"description\": \"A sample backend configuration\",\r\n    \"url\": \"https://www.bing.com\",\r\n    \"protocol\": \"http\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"AAAAAAA0VZs="'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 413.434442ms
    - id: 26
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-05-01"
        headers:
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/authorizationProviders/asotestvhnhoh?api-version=2024-05-01
        method: GET
      response:
        body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/authorizationProviders/asotestvhnhoh","name":"asotestvhnhoh","type":"Microsoft.ApiManagement/service/authorizationProviders","location":"East US","properties":{"displayName":"sampleauthcode","identityProvider":"aad","oauth2":{"redirectUrl":"https://authorization-manager.consent.azure-apim.net/redirect/apim/asotestcixyal","grantTypes":{"authorizationCode":{"clientId":"0","scopes":null,"resourceUri":"www.contoso.com"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16499"
        status: 200 OK
        code: 200
        duration: 157.383544ms
[...]
    - id: 28
      request:
        host: management.azure.com
        form:
            api-version:
                - "2024-05-01"
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/policyFragments/asotestheesys?api-version=2024-05-01
        method: GET
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/policyfragments/asotestheesys\",\r\n  \"type\": \"Microsoft.ApiManagement/service/policyFragments\",\r\n  \"name\": \"asotestheesys\",\r\n  \"properties\": {\r\n    \"description\": \"A sample policy fragment\",\r\n    \"value\": \"<fragment></fragment>\",\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"oFU0AAAAAAA="'
            X-Ms-Ratelimit-Remaining-Subscription-Global-Reads:
                - "16498"
        status: 200 OK
        code: 200
        duration: 162.964279ms
[...]
    - id: 34
      request:
        host: management.azure.com
        body: '{"name":"sampleapi","properties":{"apiVersion":"1.0.0","apiRevision":"v1","apiRevisionDescription":"First Revision","apiVersionDescription":"First Version","apiVersionSetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/apiVersionSets/asotestkcgyxx","contact":{"email":"test@test.com","name":"Test","url":"https://www.bing.com"},"description":"A sample API","displayName":"account-api","isCurrent":true,"path":"/account-api","protocols":["https"],"subscriptionRequired":false,"termsOfServiceUrl":"https://www.bing.com/tos","type":"http"}}'
        form:
            api-version:
                - "2024-05-01"
        headers:
            Content-Type:
                - application/json
            Test-Request-Canonical-Hash:
                - 83bfa9b93f53fbc5475af6bf1a995ab5366cc387bec2af74715ca61fcc9f03db
            Test-Request-Hash:
                - 0456832122a54d25076a99aae91eabae84bac9de649fb26b13950a0fe5467b34
        url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/apis/sampleapi?api-version=2024-05-01
        method: PUT
      response:
        body: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/apis/sampleapi\",\r\n  \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"sampleapi\",\r\n  \"properties\": {\r\n    \"displayName\": \"account-api\",\r\n    \"apiRevision\": \"1\",\r\n    \"description\": \"A sample API\",\r\n    \"subscriptionRequired\": false,\r\n    \"serviceUrl\": null,\r\n    \"backendId\": null,\r\n    \"path\": \"account-api\",\r\n    \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"mcpProperties\": null,\r\n    \"a2aProperties\": null,\r\n    \"isAgent\": false,\r\n    \"agent\": null,\r\n    \"jsonRpcProperties\": null,\r\n    \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n      \"openid\": null,\r\n      \"oAuth2AuthenticationSettings\": [],\r\n      \"openidAuthenticationSettings\": [],\r\n      \"returnProtectedResourceMetadata\": false\r\n    },\r\n    \"subscriptionKeyParameterNames\": {\r\n      \"header\": \"Ocp-Apim-Subscription-Key\",\r\n      \"query\": \"subscription-key\"\r\n    },\r\n    \"termsOfServiceUrl\": \"https://www.bing.com/tos\",\r\n    \"contact\": {\r\n      \"name\": \"Test\",\r\n      \"url\": \"https://www.bing.com\",\r\n      \"email\": \"test@test.com\"\r\n    },\r\n    \"isCurrent\": true,\r\n    \"apiRevisionDescription\": \"First Revision\",\r\n    \"apiVersion\": \"1.0.0\",\r\n    \"apiVersionDescription\": \"First Version\",\r\n    \"apiVersionSetId\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/apiVersionSets/asotestkcgyxx\",\r\n    \"apiVersionSet\": {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-ncoodr/providers/Microsoft.ApiManagement/service/asotestcixyal/apiVersionSets/asotestkcgyxx\",\r\n      \"name\": \"account-api\",\r\n      \"description\": \"A version set for the account api\",\r\n      \"versioningScheme\": \"
[...]
