---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-jrrrwl","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl","name":"asotest-rg-jrrrwl","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-namespace-omtjob","properties":{"isAutoInflateEnabled":true,"maximumThroughputUnits":1},"sku":{"name":"Standard","tier":"Standard"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob?api-version=2021-11-01
    method: PUT
  response:
    body: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob","name":"asotest-namespace-omtjob","type":"Microsoft.EventHub/Namespaces","location":"West
      US 2","tags":{},"properties":{"disableLocalAuth":false,"zoneRedundant":false,"isAutoInflateEnabled":true,"maximumThroughputUnits":1,"kafkaEnabled":true,"provisioningState":"Created","metricId":"00000000-0000-0000-0000-000000000000:asotest-namespace-omtjob","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","serviceBusEndpoint":"https://asotest-namespace-omtjob.servicebus.windows.net:443/","status":"Activating"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Server-Sb:
      - Service-Bus-Resource-Provider/SN1
      X-Ms-Ratelimit-Remaining-Subscription-Resource-Requests:
      - "49"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-eventhub-gdwlpt","properties":{"messageRetentionInDays":7,"partitionCount":1}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob/eventhubs/asotest-eventhub-gdwlpt?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob/eventhubs/asotest-eventhub-gdwlpt","name":"asotest-eventhub-gdwlpt","type":"Microsoft.EventHub/Namespaces/EventHubs","location":"westus2","properties":{"messageRetentionInDays":7,"partitionCount":1,"status":"Active","createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","partitionIds":["0"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-eventhub-vprwhz","properties":{"rights":["Listen","Send"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob/eventhubs/asotest-eventhub-gdwlpt/authorizationRules/asotest-eventhub-vprwhz?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob/eventhubs/asotest-eventhub-gdwlpt/authorizationRules/asotest-eventhub-vprwhz","name":"asotest-eventhub-vprwhz","type":"Microsoft.EventHub/Namespaces/EventHubs/AuthorizationRules","properties":{"rights":["Listen","Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"asotest-eventhub-xcskfl","properties":{"userMetadata":"This is
      some fun metadata"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob/eventhubs/asotest-eventhub-gdwlpt/consumergroups/asotest-eventhub-xcskfl?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob/eventhubs/asotest-eventhub-gdwlpt/consumergroups/asotest-eventhub-xcskfl","name":"asotest-eventhub-xcskfl","type":"Microsoft.EventHub/Namespaces/EventHubs/ConsumerGroups","location":"westus2","properties":{"createdAt":"2001-02-03T04:05:06Z","updatedAt":"2001-02-03T04:05:06Z","userMetadata":"This
      is some fun metadata"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"asotest-eventhub-ehitov","properties":{"rights":["Listen","Send"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob/authorizationRules/asotest-eventhub-ehitov?api-version=2021-11-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob/authorizationRules/asotest-eventhub-ehitov","name":"asotest-eventhub-ehitov","type":"Microsoft.EventHub/Namespaces/AuthorizationRules","location":"West
      US 2","properties":{"rights":["Listen","Send"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Server-Sb:
      - Service-Bus-Resource-Provider/SN1
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob/eventhubs/asotest-eventhub-gdwlpt/consumergroups/asotest-eventhub-xcskfl?api-version=2021-11-01
    method: DELETE
  response:
    body: '{"error":{"code":"MessagingGatewayTooManyRequests","message":"<Error><Code>409</Code><Detail>Resource
      Conflict Occurred. Another conflicting operation may be in progress. If this
      is a retry for failed operation, background clean up is still pending. Try again
      later. To know more visit https://aka.ms/sbResourceMgrExceptions. . TrackingId:30ecc974-5f8d-4088-ace7-aa7ef437e6c5_G4,
      SystemTracker:asotest-namespace-omtjob:EventHub:asotest-eventhub-gdwlpt, Timestamp:2022-08-16T22:10:29</Detail></Error>"}}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "206"
    status: 429 Too Many Requests
    code: 429
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob?api-version=2021-11-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob/operationresults/asotest-namespace-omtjob?api-version=2021-11-01
      Server-Sb:
      - Service-Bus-Resource-Provider/CH3
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-jrrrwl/providers/Microsoft.EventHub/namespaces/asotest-namespace-omtjob/operationresults/asotest-namespace-omtjob?api-version=2021-11-01
    method: GET
  response:
    body: '{"sku":{"name":"Standard","tier":"Standard","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/res[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRKUlJSV0wtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRKUlJSV0wtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
