---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-owoazy","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-owoazy?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-owoazy","name":"asotest-rg-owoazy","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-snapshot-xsdrzf","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":32}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-owoazy/providers/Microsoft.Compute/snapshots/asotest-snapshot-xsdrzf?api-version=2020-09-30
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-snapshot-xsdrzf\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-owoazy/providers/Microsoft.Compute/snapshots/asotest-snapshot-xsdrzf\",\r\n
      \ \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"creationData\":
      {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 32,\r\n
      \   \"provisioningState\": \"Updating\",\r\n    \"isArmResource\": true\r\n
      \ }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/DiskOperations/041cb4d9-1179-48a4-b598-9183afea02c2?p=44bc44cc-a60e-4a56-99da-4d4b35541eb8&api-version=2020-09-30
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/DiskOperations/041cb4d9-1179-48a4-b598-9183afea02c2?p=44bc44cc-a60e-4a56-99da-4d4b35541eb8&monitor=true&api-version=2020-09-30
      Retry-After:
      - "2"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/HighCostSnapshotCreateHydrate3Min;999,Microsoft.Compute/HighCostSnapshotCreateHydrate30Min;7999
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/DiskOperations/041cb4d9-1179-48a4-b598-9183afea02c2?p=44bc44cc-a60e-4a56-99da-4d4b35541eb8&api-version=2020-09-30
    method: GET
  response:
    body: "{\r\n  \"startTime\": \"2022-10-13T22:24:33.9437481+00:00\",\r\n  \"endTime\":
      \"2022-10-13T22:24:34.2406176+00:00\",\r\n  \"status\": \"Succeeded\",\r\n  \"properties\":
      {\r\n    \"output\": {\r\n  \"name\": \"asotest-snapshot-xsdrzf\",\r\n  \"id\":
      \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-owoazy/providers/Microsoft.Compute/snapshots/asotest-snapshot-xsdrzf\",\r\n
      \ \"type\": \"Microsoft.Compute/snapshots\",\r\n  \"location\": \"westus2\",\r\n
      \ \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n    \"tier\": \"Standard\"\r\n
      \ },\r\n  \"properties\": {\r\n    \"creationData\": {\r\n      \"createOption\":
      \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 32,\r\n    \"encryption\": {\r\n
      \     \"type\": \"EncryptionAtRestWithPlatformKey\"\r\n    },\r\n    \"incremental\":
      false,\r\n    \"networkAccessPolicy\": \"AllowAll\",\r\n    \"timeCreated\":
      \"2022-10-13T22:24:33.9437481+00:00\",\r\n    \"provisioningState\": \"Succeeded\",\r\n
      \   \"diskState\": \"Unattached\",\r\n    \"diskSizeBytes\": 34359738368,\r\n
      \   \"uniqueId\": \"f0186828-7827-438b-bf51-2110302c7c0f\"\r\n  }\r\n}\r\n  },\r\n
      \ \"name\": \"041cb4d9-1179-48a4-b598-9183afea02c2\"\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/GetOperation3Min;49999,Microsoft.Compute/GetOperation30Min;399999
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-snapshot-xsdrzf","properties":{"creationData":{"createOption":"Empty"},"diskSizeGB":64}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "1"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-owoazy/providers/Microsoft.Compute/snapshots/asotest-snapshot-xsdrzf?api-version=2020-09-30
    method: PUT
  response:
    body: "{\r\n  \"name\": \"asotest-snapshot-xsdrzf\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-owoazy/providers/Microsoft.Compute/snapshots/asotest-snapshot-xsdrzf\",\r\n
      \ \"location\": \"westus2\",\r\n  \"sku\": {\r\n    \"name\": \"Standard_LRS\",\r\n
      \   \"tier\": \"Standard\"\r\n  },\r\n  \"properties\": {\r\n    \"creationData\":
      {\r\n      \"createOption\": \"Empty\"\r\n    },\r\n    \"diskSizeGB\": 64,\r\n
      \   \"provisioningState\": \"Updating\",\r\n    \"isArmResource\": true,\r\n
      \   \"colocationConstraints\": {},\r\n    \"faultDomain\": 0\r\n  }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/DiskOperations/41c00141-da8d-499f-9ed1-d8893b7092df?p=44bc44cc-a60e-4a56-99da-4d4b35541eb8&api-version=2020-09-30
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Compute/locations/westus2/DiskOperations/41c00141-da8d-499f-9ed1-d8893b7092df?p=44bc44cc-a60e-4a56-99da-4d4b35541eb8&monitor=true&api-version=2020-09-30
      Retry-After:
      - "2"
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/HighCostSnapshotCreateHydrate3Min;998,Microsoft.Compute/HighCostSnapshotCreateHydrate30Min;7998
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "4"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-owoazy/providers/Microsoft.Compute/snapshots/asotest-snapshot-xsdrzf?api-version=2020-09-30
    method: GET
  response:
    body: "{\r\n  \"error\": {\r\n    \"code\": \"NotFound\",\r\n    \"message\":
      \"Snapshot asotest-snapshot-xsdrzf is not found.\"\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Ratelimit-Remaining-Resource:
      - Microsoft.Compute/LowCostGet3Min;14986,Microsoft.Compute/LowCostGet30Min;119986
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRPV09BWlktV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRPV09BWlktV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
[...]
