---
version: 1
interactions:
- request:
    body: '{"name":"asotest-rg-btcvma","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma?api-version=2020-06-01
    method: PUT
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma","name":"asotest-rg-btcvma","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"CreatedAt":"2001-02-03T04:05:06Z"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"location":"westus2","name":"asotest-redisent-znrvjr","properties":{"minimumTlsVersion":"1.2"},"sku":{"capacity":2,"name":"Enterprise_E10"},"tags":{"elks":"stranger"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr?api-version=2021-03-01
    method: PUT
  response:
    body: "{\r\n  \"location\": \"West US 2\",\r\n  \"name\": \"asotest-redisent-znrvjr\",\r\n
      \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr\",\r\n
      \ \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": {\r\n    \"elks\":
      \"stranger\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Enterprise_E10\",\r\n
      \   \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"minimumTlsVersion\":
      \"1.2\",\r\n    \"hostName\": \"asotest-redisent-znrvjr.westus2.redisenterprise.cache.azure.net\",\r\n
      \   \"provisioningState\": \"Creating\",\r\n    \"resourceState\": \"Creating\"\r\n
      \ }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationsStatus/a816fcab-700f-4b6f-972f-db26315afafb?api-version=2021-03-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr?api-version=2021-03-01
      X-Rp-Server-Mvid:
      - 6bb897ef-a414-45bf-96c4-0e81d02eab6c
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationsStatus/a816fcab-700f-4b6f-972f-db26315afafb?api-version=2021-03-01
    method: GET
  response:
    body: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West
      US 2/operationsStatus/a816fcab-700f-4b6f-972f-db26315afafb","name":"a816fcab-700f-4b6f-972f-db26315afafb","status":"InProgress","startTime":"2022-08-16T20:57:23.5651207+00:00","endTime":"2022-08-16T20:57:26.3571813+00:00"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 6bb897ef-a414-45bf-96c4-0e81d02eab6c
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr?api-version=2021-03-01
    method: GET
  response:
    body: "{\r\n  \"location\": \"West US 2\",\r\n  \"name\": \"asotest-redisent-znrvjr\",\r\n
      \ \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr\",\r\n
      \ \"type\": \"Microsoft.Cache/redisEnterprise\",\r\n  \"tags\": {\r\n    \"elks\":
      \"stranger\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"Enterprise_E10\",\r\n
      \   \"capacity\": 2\r\n  },\r\n  \"properties\": {\r\n    \"minimumTlsVersion\":
      \"1.2\",\r\n    \"hostName\": \"asotest-redisent-znrvjr.westus2.redisenterprise.cache.azure.net\",\r\n
      \   \"provisioningState\": \"Succeeded\",\r\n    \"resourceState\": \"Running\",\r\n
      \   \"privateEndpointConnections\": []\r\n  }\r\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rp-Server-Mvid:
      - 6bb897ef-a414-45bf-96c4-0e81d02eab6c
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"name":"default","properties":{"clientProtocol":"Encrypted","clusteringPolicy":"EnterpriseCluster","evictionPolicy":"AllKeysLRU","modules":[{"args":"ERROR_RATE
      0.1 INITIAL_SIZE 400","name":"RedisBloom"}],"persistence":{"aofEnabled":true,"aofFrequency":"always","rdbEnabled":false},"port":10000}}'
    form: {}
    headers:
      Content-Type:
      - application/json
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr/databases/default?api-version=2021-03-01
    method: PUT
  response:
    body: "{\r\n  \"name\": \"default\",\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr/databases/default\",\r\n
      \ \"type\": \"Microsoft.Cache/redisEnterprise/databases\",\r\n  \"properties\":
      {\r\n    \"clientProtocol\": \"Encrypted\",\r\n    \"port\": 10000,\r\n    \"provisioningState\":
      \"Creating\",\r\n    \"resourceState\": \"Creating\",\r\n    \"clusteringPolicy\":
      \"EnterpriseCluster\",\r\n    \"evictionPolicy\": \"AllKeysLRU\",\r\n    \"modules\":
      [\r\n      {\r\n        \"name\": \"RedisBloom\",\r\n        \"args\": \"ERROR_RATE
      0.1 INITIAL_SIZE 400\",\r\n        \"version\": \"2.2.4\"\r\n      }\r\n    ],\r\n
      \   \"persistence\": {\r\n      \"aofEnabled\": true,\r\n      \"rdbEnabled\":
      false,\r\n      \"aofFrequency\": \"always\",\r\n      \"rdbFrequency\": null\r\n
      \   }\r\n  }\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationsStatus/56725391-5060-4d66-922d-98c39f514721?api-version=2021-03-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr/databases/default?api-version=2021-03-01
      X-Rp-Server-Mvid:
      - 6bb897ef-a414-45bf-96c4-0e81d02eab6c
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr/databases/default?api-version=2021-03-01
    method: DELETE
  response:
    body: "{\r\n  \"StatusCode\": 202\r\n}"
    headers:
      Azure-Asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Cache/locations/West%20US%202/operationsStatus/a94dde93-e24c-46b1-84fd-75d31ffed19b?api-version=2021-03-01
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr/databases/default/operationresults/a94dde93-e24c-46b1-84fd-75d31ffed19b?api-version=2021-03-01
      X-Rp-Server-Mvid:
      - 6bb897ef-a414-45bf-96c4-0e81d02eab6c
    status: 202 Accepted
    code: 202
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "2"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma/providers/Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr?api-version=2021-03-01
    method: GET
  response:
    body: '{"error":{"code":"ResourceNotFound","message":"The Resource ''Microsoft.Cache/redisEnterprise/asotest-redisent-znrvjr''
      under resource group ''asotest-rg-btcvma'' was not found. For more details please
      go to https://aka.ms/ARMResourceNotFoundFix"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ms-Failure-Cause:
      - gateway
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/asotest-rg-btcvma?api-version=2020-06-01
    method: DELETE
  response:
    body: ""
    headers:
      Location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRCVENWTUEtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
      Retry-After:
      - "15"
    status: 202 Accepted
    code: 202
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Test-Request-Attempt:
      - "0"
    url: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BU09URVNUOjJEUkc6MkRCVENWTUEtV0VTVFVTMiIsImpvYkxvY2F0aW9uIjoid2VzdHVzMiJ9?api-version=2020-06-01
    method: GET
  response:
    body: ""
    headers:
    status: 200 OK
    code: 200
    duration: ""
